#set($title = "Stammdaten - Farben")
#parse("inc/header.vm")	

<form id="formlist" name="formlist" action="Color" method="POST">

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabactiv"><span class="tabactiv">Farben</span></td>
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()
#openContentSection()

#if($errors.size() > 0)
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
	#foreach($error in $errors)
		$error<br>
	#end
</div>
#end

<input type="hidden" name="color1-id" value="$!color1.id">
<input type="hidden" name="color2-id" value="$!color2.id">
<input type="hidden" name="color3-id" value="$!color3.id">
<input type="hidden" name="color4-id" value="$!color4.id">
<input type="hidden" name="color1-addresstype" value="2">
<input type="hidden" name="color2-addresstype" value="2">
<input type="hidden" name="color3-addresstype" value="2">
<input type="hidden" name="color4-addresstype" value="2">
<input type="hidden" name="color1-locale" value="1">
<input type="hidden" name="color2-locale" value="1">
<input type="hidden" name="color3-locale" value="1">
<input type="hidden" name="color4-locale" value="1">
<input type="hidden" id="color1-modified" name="color1-modified" value="false">
<input type="hidden" id="color2-modified" name="color2-modified" value="false">
<input type="hidden" id="color3-modified" name="color3-modified" value="false">
<input type="hidden" id="color4-modified" name="color4-modified" value="false">

<table class="list">
	<tr class="list1" style="height: 20px;">
		<th class="list">Bezeichnung</th>
		<th class="list" style="width: 20%;">Farbwert (R G B)</th>
	</tr>

	<tr class="list2" style="height: 20px;">
		<td class="list" colspan="2">Inland: Ja - Geschlecht: Weiblich</td>
	</tr>
	## RGB teilen
	#if($color1)
	#set($rgb = $color1.rgb)
	#set($r = $rgb / 65536)
	#set($rgb = $rgb - ($r * 65536))
	#set($g = $rgb / 256)
	#set($rgb = $rgb - ($g * 256))
	#set($b = $rgb)
	<tr class="list2">
		<td class="list"><input type="text" name="color1-name" value="$!message.text($color1.name)" class="text" style="width: 98%;" onchange="setModified('color1')"></td>
		<td class="list"><input type="text" name="color1-rgb" value="$!r $!g $!b" class="text" style="width: 96%;" onchange="setModified('color1')"></td>
	</tr>
	#else
	<tr class="list2">
		<td class="list"><input type="text" name="color1-name" value="" class="text" style="width: 98%;" onchange="setModified('color1')"></td>
		<td class="list"><input type="text" name="color1-rgb" value="" class="text" style="width: 96%;" onchange="setModified('color1')"></td>
	</tr>
	#end

	<tr class="list2" style="height: 20px;">
		<td class="list" colspan="2">Inland: Ja - Geschlecht: M&auml;nnlich</td>
	</tr>
	## RGB teilen
	#if($color2)
	#set($rgb = $color2.rgb)
	#set($r = $rgb / 65536)
	#set($rgb = $rgb - ($r * 65536))
	#set($g = $rgb / 256)
	#set($rgb = $rgb - ($g * 256))
	#set($b = $rgb)
	<tr class="list2">
		<td class="list"><input type="text" name="color2-name" value="$!message.text($color2.name)" class="text" style="width: 98%;" onchange="setModified('color2')"></td>
		<td class="list"><input type="text" name="color2-rgb" value="$!r $!g $!b" class="text" style="width: 96%;" onchange="setModified('color2')"></td>
	</tr>
	#else
	<tr class="list2">
		<td class="list"><input type="text" name="color2-name" value="" class="text" style="width: 98%;" onchange="setModified('color2')"></td>
		<td class="list"><input type="text" name="color2-rgb" value="" class="text" style="width: 96%;" onchange="setModified('color2')"></td>
	</tr>
	#end

	<tr class="list2" style="height: 20px;">
		<td class="list" colspan="2">Inland: Nein - Geschlecht: Weiblich</td>
	</tr>
	## RGB teilen
	#if($color3)
	#set($rgb = $color3.rgb)
	#set($r = $rgb / 65536)
	#set($rgb = $rgb - ($r * 65536))
	#set($g = $rgb / 256)
	#set($rgb = $rgb - ($g * 256))
	#set($b = $rgb)
	<tr class="list2">
		<td class="list"><input type="text" name="color3-name" value="$!message.text($color3.name)" class="text" style="width: 98%;" onchange="setModified('color3')"></td>
		<td class="list"><input type="text" name="color3-rgb" value="$!r $!g $!b" class="text" style="width: 96%;" onchange="setModified('color3')"></td>
	</tr>
	#else
	<tr class="list2">
		<td class="list"><input type="text" name="color3-name" value="" class="text" style="width: 98%;" onchange="setModified('color3')"></td>
		<td class="list"><input type="text" name="color3-rgb" value="" class="text" style="width: 96%;" onchange="setModified('color3')"></td>
	</tr>
	#end

	<tr class="list2" style="height: 20px;">
		<td class="list" colspan="2">Inland: Nein - Geschlecht: M&auml;nnlich</td>
	</tr>
	## RGB teilen
	#if($color4)
	#set($rgb = $color4.rgb)
	#set($r = $rgb / 65536)
	#set($rgb = $rgb - ($r * 65536))
	#set($g = $rgb / 256)
	#set($rgb = $rgb - ($g * 256))
	#set($b = $rgb)
	<tr class="list2">
		<td class="list"><input type="text" name="color4-name" value="$!message.text($color4.name)" class="text" style="width: 98%;" onchange="setModified('color4')"></td>
		<td class="list"><input type="text" name="color4-rgb" value="$!r $!g $!b" class="text" style="width: 96%;" onchange="setModified('color4')"></td>
	</tr>
	#else
	<tr class="list2">
		<td class="list"><input type="text" name="color4-name" value="" class="text" style="width: 98%;" onchange="setModified('color4')"></td>
		<td class="list"><input type="text" name="color4-rgb" value="" class="text" style="width: 96%;" onchange="setModified('color4')"></td>
	</tr>
	#end

</table>

<div id="fixme" class="fixme1"><div class="fixme2"><div class="fixme3">

			<input type="submit" name="save" value="Speichern" #if($grants.isAdmin()) class="submit" #else class="buttondisabled" disabled #end> &nbsp;

</div></div></div>

#closeContentSection()
#closeContent()

</form>

<script type="text/javascript">
#if(!$grants.isAdmin())
	disableForm(document.getElementById('formlist'));
#end
</script>

#parse("inc/footer.vm")