<?xml version="1.0" encoding="ISO-8859-1"?>


<tcModuleConfig>

	<description>
		Test Config 1
	</description>

	<!-- Parameters ======================================================================= -->

	

	<include file="./config2.xml"/>

	<params>
		<param name="TestParameter1" value="1"/>
	</params>

	
	<!-- ================================================================================== -->

	<!-- Tasks configuration ============================================================== -->
  
	<tasks>


    
  	</tasks>
	
	<!-- ================================================================================== -->
	
</tcModuleConfig>
 
