/*
*
* Content
*
* 1. HTML-Elements
* 2. Container
* 3. CSS-Statements in Classes
* 4. Custom button style
* 5. Login
* 6. Navigation bar
* 7. Other
* 8. Reset password
* 9. Table
* 10. Datepicker
*
*/

/************* 1. HTML-Elements *************/
body {
    margin-top: 100px;
    background: #e9e9e9;
    min-height: 100%;
}

/************* 2. Container *************/
.container {
    width: auto;
}

.maincontainer {
    background: #ffffff;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
}

/************* 3. CSS-Statements in Classes *************/
.floatRight {
	float: right;
}

.fontWeight0 {
	font-weight: normal !important;
}

.marginT10 {
    margin-top: 10px;
}

.marginB10 {
    margin-bottom: 10px;
}

.marginL25 {
    margin-left: 25px;
}

.paddingL0 {
    padding-left: 0px;
}

.paddingR0 {
    padding-right: 0px;
}

.paddingLR0 {
    padding-left: 0px;
    padding-right: 0px;
}

.nopadding {
    padding: 0 !important;
}

/************* 4. Custom button style *************/

.button_column {
    text-align: center;
}

.btn-custom {
    background-color: hsl(0, 0%, 45%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#727272");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#afafaf));
    background-image: -moz-linear-gradient(top, #fcfcfc, #afafaf);
    background-image: -ms-linear-gradient(top, #fcfcfc, #afafaf);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #afafaf));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #afafaf);
    background-image: -o-linear-gradient(top, #fcfcfc, #afafaf);
    background-image: linear-gradient(#fcfcfc, #afafaf);
    border-color: #727272 #727272 hsl(0, 0%, 31.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.89);
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
}

/************* 5. Login *************/

.login-container {
    width: 330px;
    padding: 0px 15px;
    margin: 0 auto;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin-heading {
    text-align: left;
    padding: 3px;
    border-bottom: 1px solid gray;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/************* 6. Navigation bar *************/
.divide-nav {
    height: 100px;
    background-color: #428bca;
}

.navbar-collapse {
    padding-left: 0;
}

.navbar-custom {
    background-color: hsl(0, 0%, 29%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#727272");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dddddd));
    background-image: -moz-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: -ms-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: -o-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: linear-gradient(#fcfcfc, #dddddd);
    border-color: #727272 #727272 hsl(0, 0%, 29%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.89);
    -webkit-font-smoothing: antialiased;
    color: #8B0F0F;
    border-radius: 0;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #8B0F0F;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-nav > li > a {
    color: #8B0F0F;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-fixed-top {
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-form {
    padding-left: 0;
}

/************* 7. Others *************/
.affix {
    top: 50px;
    width: 100%;
}

.divide-text {
    color: #fff;
    line-height: 20px;
    font-size: 20px;
    padding: 15px 0;
}

.filler {
    min-height: 2000px;
}

/************* 8. Reset login/password *************/
.form-rest-login-password-heading {
    text-align: left;
    padding: 3px;
    border-bottom: 1px solid gray;
}

/************* 9. Table *************/
.table tr#delegation:hover {
    cursor:pointer;
}

/************* 10. Datepicker *************/
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #FF0000;
}

.md-datepicker-calendar-icon {
    fill: #FF0000;
}

.md-datepicker-open .md-datepicker-calendar-icon {
    fill: #FF0000;
}

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #FF0000;
}

.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
    background-color: hsl(0, 0%, 29%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#727272");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dddddd));
    background-image: -moz-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: -ms-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: -o-linear-gradient(top, #fcfcfc, #dddddd);
    background-image: linear-gradient(#fcfcfc, #dddddd);
    border-color: #727272 #727272 hsl(0, 0%, 29%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.89);
    -webkit-font-smoothing: antialiased;
    color: #8B0F0F;
    border-radius: 0;
}
