<!DOCTYPE html>
<html lang="en" ng-app="onlineRegApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>verA.web Online-Registrierung</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/validator/css/bootstrapValidator.min.css"/>
    <link href="style.css" rel="stylesheet">
</head>

<body>
<div class="maincontainer"  ng-controller="DirectLoginController">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"> <img src="/images/veraweb_logo.png"></a>
            </div>            
            <div >
				<div ng-switch on="loginData">
					<div ng-switch-when="false">
						<div class="col-lg-5 col-lg-offset-7">
						    <form class="form-inline" role="form" >
						    	<div class="form-group">
						    		<input id="directusername" name="directusername" type="text" class="form-control" placeholder="Anmeldename" ng-model="$parent.directusername" />
						    	</div>
						    	<div class="form-group">
						    		<input id="directpassword" name="directpassword" type="password" class="form-control" placeholder="Passwort" ng-model="$parent.directpassword" />
						    	</div>
						    	<div class="form-group">
						    		<button ng-disabled="button" class="btn btn-custom" ng-click="direct_login()">Anmelden</button>
						    	</div>
						    </form>
				 		</div>
			 		</div>
			 		<div ng-switch-when="true">
			 			<div class="col-lg-3 col-lg-offset-9">
						    <form class="form-inline" role="form" >
						        <div class="form-group">
						    		Angemeldet als: {{directusername}}
						    	</div>
						    	<div class="form-group">
									<button class="btn btn-custom" ng-click="logout()">Abmelden</button>
								</div>
						    </form>
						</div>
			 		</div>
				</div>
		   </div>
        </div>
    </nav>
    <nav class="navbar navbar-custom navbar-lower btn-custom" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse ">
                <ul class="nav navbar-nav">
                	<li class="active"><a href="#" ng-click="no_error()">Veranstaltungen</a></li>
                	<li class="active"><a href="#/login" ng-click="no_error()">Meine Veranstaltungen</a></li>
                	<li class="active"><a href="#/login" ng-click="no_error()">Meine Kontaktdaten</a></li>
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container">
	    <div ng-if="direct_login_error" class="alert alert-danger" role="alert">{{direct_login_error}}</div>
	    <div ng-view></div>
    </div>

</div>

<script src="jquery-1.10.2.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="angular-route.min.js"></script>
<script src="ui-bootstrap-tpls.min.js"></script>
<script src="moment.min.js"></script>
<script src="bootstrap/validator/js/bootstrapValidator.min.js"></script>
<script src="onlinereg.js"></script>

<script>
    $(document).ready(function () {
        // verA.web brand logo bar
        $('.navbar-lower').affix({
            offset: {top: 100}
        });

    });
</script>
</body>
</html>