<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>veraweb</display-name>
	<description>veraweb</description>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>de.tarent.octopus.request.servlet.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>OctopusServlet</servlet-name>
		<servlet-class>
			de.tarent.octopus.request.servlet.OctopusServlet
		</servlet-class>
		<!-- config directory -->
		<init-param>
			<param-name>paths.configRoot</param-name>
			<param-value>octopus-config/</param-value>
		</init-param>
		<!-- relativ zum Config-Root aus 'paths.configRoot' -->
		<init-param>
			<param-name>paths.configFile</param-name>
			<param-value>octopus-server.xml</param-value>
		</init-param>
		<!-- ignoriere Logins via HTTP Auth, mach eigene -->
		<init-param>
			<param-name>omitHttpAuth</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- systemweites Logging -->
		<!-- init-param>
			<param-name>paths.logfile</param-name>
			<param-value>/var/log/tomcat7/veraweb.%u.log</param-value>
		</init-param -->
		<!-- Logging parameter for OCTOPUS
		     Allowed parameters are logging.level (see java.util.logging.Level),
		     logging.pattern, logging.limit and logging.count (see java.util.logging.FileHandler).
		     logging.count additional support disabled.
		-->
		<init-param>
			<param-name>logging.level</param-name>
			<param-value>INFO</param-value>
		</init-param>
		<init-param>
			<param-name>logging.pattern</param-name>
			<param-value>octopus-%g_%u.log</param-value>
		</init-param>
		<init-param>
			<param-name>logging.limit</param-name>
			<param-value>default</param-value>
		</init-param>
		<init-param>
			<param-name>logging.count</param-name>
			<param-value>default</param-value>
		</init-param>
		<!-- path is relativ to '/WEB-INF/' directory and must terminate with a '/' -->
		<init-param>
			<param-name>paths.logPath</param-name>
			<param-value>log</param-value>
		</init-param>
		<!-- response error level "development" or "release" -->
		<init-param>
			<param-name>response.errorLevel</param-name>
			<param-value>development</param-value>
		</init-param>
		<!-- allowed request types: ANY, WEB, SOAP, XMLRPC or DIRECTCALL -->
		<init-param>
			<param-name>request.allowedTypes</param-name>
			<param-value>SOAP, WEB</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DirectoryListing</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Forwarder</servlet-name>
		<servlet-class>
			de.tarent.octopus.request.servlet.Forward
		</servlet-class>
		<!-- Parameter zum Weiterleiten an eine OCTOPUS-Instanz:
		     Wenn der OCTOPUS in der gleichen Webanwendung liegt,
		     am besten auskommentiert lassen, damit die Defaults
		     (/<aktuellesModul>/octopus) verwendet werden. -->
		<!-- init-param>
			<param-name>targetContext</param-name>
			<param-value>/octopus</param-value>
		</init-param>
		<init-param>
			<param-name>targetPath</param-name>
			<param-value/>
		</init-param -->
		<load-on-startup>20</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Mail</servlet-name>
		<servlet-class>de.tarent.veraweb.proxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetPath</param-name>
			<param-value>/rest/mailing</param-value>
		</init-param>
		<init-param>
			<param-name>requiredGroup</param-name>
			<param-value>StandardFieldsReader</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CsvExport</servlet-name>
		<servlet-class>de.tarent.veraweb.proxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetPath</param-name>
			<param-value>/rest/export/guestList</param-value>
		</init-param>
		<init-param>
			<param-name>requiredGroup</param-name>
			<param-value>StandardFieldsReader,Exporter</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PdfTemplate</servlet-name>
		<servlet-class>de.tarent.veraweb.proxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetPath</param-name>
			<param-value>/rest/pdftemplate</param-value>
		</init-param>
		<init-param>
			<param-name>requiredGroup</param-name>
			<param-value>StandardFieldsReader,Writer</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MailTemplate</servlet-name>
		<servlet-class>de.tarent.veraweb.proxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetPath</param-name>
			<param-value>/rest/mailtemplate</param-value>
		</init-param>
		<init-param>
			<param-name>requiredGroup</param-name>
			<param-value>StandardFieldsReader,Writer</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Salutation</servlet-name>
		<servlet-class>de.tarent.veraweb.proxy.ProxyServlet</servlet-class>
		<init-param>
			<param-name>targetPath</param-name>
			<param-value>/rest/salutation</param-value>
		</init-param>
		<init-param>
			<param-name>requiredGroup</param-name>
			<param-value>StandardFieldsReader,Writer</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forwarder</servlet-name>
		<url-pattern>/do/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DirectoryListing</servlet-name>
		<url-pattern>/doc/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mail</servlet-name>
		<url-pattern>/mailing/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Salutation</servlet-name>
		<url-pattern>/salutation/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PdfTemplate</servlet-name>
		<url-pattern>/pdftemplate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailTemplate</servlet-name>
		<url-pattern>/mailtemplate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CsvExport</servlet-name>
		<url-pattern>/csvexport/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forwarder</servlet-name>
		<url-pattern>/OCTOPUS/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OctopusServlet</servlet-name>
		<url-pattern>/octopus/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain; charset="UTF-8"</mime-type>
	</mime-mapping>
</web-app>
