**/*.iml
*.iml
*.log
*~
.classpath
.factorypath
.idea/
.project
.settings
config.json
config.yaml
pom.xml.releaseBackup
pom.xml.versionsBackup
*.iml
/.apt_generated/
.factorypath
src/main/resources/webroot/
nave.sh
release.properties
target/
*.orig
