#banner {
	height: 90px;
	background: none;
	border-bottom: 5px solid #cc0000;
}

#bannerLeft {
	display: block;
	margin-left: 20px;
	margin-top: 50px;
	color: #cc0000;
	font-size: 16px;
	font-weight: bold;
}

a {
	color: #cc0000;
	text-decoration: none;
}

a:link {
	color: #cc0000;
}

a:visited  {
	color: #cc0000;
}

a:active, a:hover {
	color: #cc0000;
	text-decoration: underline;
}

#bodyColumn a {
	color: #cc0000;
	font-weight: bold;
}

#breadcrumbs a {
	color: 5px solid #cc0000;
}

#breadcrumbs {
	color: #a0a0a0;
}

#navcolumn h5 {
	padding-left: 0px;
}

#navcolumn li, #navcolumn li.expanded, #navcolumn li.collapsed {
	list-style-type: disc;
	margin-left: 20px;
	padding-left: 0px;
	background-image: none;
}

#navcolumn strong {
}

#navcolumn a {
	color: #cc0000;
}

#navcolumn a:link {
	color: #cc0000;
}

#navcolumn a:visited  {
	color: #cc0000;
}

#navcolumn a:active, #navcolumn a:hover {
	color: #cc0000;
}
