**/*.iml
*.iml
*.log
*.orig
*~
.checkstyle
.classpath
.externalToolBuilders
.factorypath
.idea/
.project
.settings
/.apt_generated/
bin
config.json
config.yaml
dependency-reduced-pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
release/ckdep.tmp
target/
