**/*.iml
*.iml
*.log
*~
.checkstyle
.classpath
.externalToolBuilders
.idea/
.project
.settings
bin
mem.h2.db
mem.lock.db
mem.trace.db
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
src/main/webapp/OCTOPUS/config_ldap_access.xml
src/main/webapp/OCTOPUS/module.wsdl
src/main/webapp/WEB-INF/*.lck
target/
