<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>&lt;p&gt;Dieser Job ist Teil einer Serie von vier Jobs, die in Reihe (sequenziell) bauen:&lt;/p&gt;&#xd;
&#xd;
&lt;div&gt;⒈ rest-common (&lt;a&#xd;
 href=&quot;https://ci-evolvis.lan.tarent.de/view/Vera.Web/job/veraweb-common/&quot;&gt;Job&lt;/a&gt;, &lt;a&#xd;
 href=&quot;https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=veraweb/common.git;a=summary&quot;&gt;gitweb&lt;/a&gt;, &lt;a&#xd;
 href=&quot;http://maven-repo.evolvis.org/releases/org/evolvis/veraweb/rest-api-common/&quot;&gt;Release-Artefakte&lt;/a&gt;)&lt;/div&gt;&#xd;
&lt;div&gt;⒉ rest-api (&lt;a&#xd;
 href=&quot;https://ci-evolvis.lan.tarent.de/view/Vera.Web/job/veraweb-rest-api/&quot;&gt;Job&lt;/a&gt;, &lt;a&#xd;
 href=&quot;https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=veraweb/rest-api.git;a=summary&quot;&gt;gitweb&lt;/a&gt;, &lt;a&#xd;
 href=&quot;http://maven-repo.evolvis.org/releases/org/evolvis/veraweb/rest-api/&quot;&gt;Release-Artefakte&lt;/a&gt;)&lt;/div&gt;&#xd;
&lt;div&gt;⒊ online-anmeldung (&lt;a&#xd;
 href=&quot;https://ci-evolvis.lan.tarent.de/view/Vera.Web/job/veraweb-online-anmeldung/&quot;&gt;Job&lt;/a&gt;, &lt;a&#xd;
 href=&quot;https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=veraweb/online-anmeldung.git;a=summary&quot;&gt;gitweb&lt;/a&gt;, &lt;a&#xd;
 href=&quot;http://maven-repo.evolvis.org/releases/org/evolvis/veraweb/online-anmeldung/&quot;&gt;Release-Artefakte&lt;/a&gt;)&lt;/div&gt;&#xd;
&lt;div&gt;⒋ veraweb-core (&lt;a&#xd;
 href=&quot;https://ci-evolvis.lan.tarent.de/view/Vera.Web/job/veraweb_nightly_install/&quot;&gt;Job&lt;/a&gt;, &lt;a&#xd;
 href=&quot;https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=veraweb/veraweb.git;a=summary&quot;&gt;gitweb&lt;/a&gt;, &lt;a&#xd;
 href=&quot;http://maven-repo.evolvis.org/releases/org/evolvis/veraweb/veraweb-core/&quot;&gt;Release-Artefakte&lt;/a&gt;)&lt;/div&gt;&#xd;
&#xd;
&lt;p&gt;Das Bauen &lt;em&gt;oder&lt;/em&gt; Releasen eines dieser Jobs stößt immer automatisch&#xd;
 das Bauen des nächsten in der Kette an. Bei einem Release möchte™ man daher&#xd;
 so vorgehen: zuerst alle vier Workspaces löschen, dann rest-common manuell&#xd;
 bauen und warten, bis alle vier Jobs durchgelaufen sind, danach die Jobs&#xd;
 einzeln releasen und jeweils den Trigger des Folgejobs in der Queue (oder&#xd;
 den Job früh beim Bauen) abbrechen.&lt;br /&gt;&#xd;
 Die Jobs rest-api und online-anmeldung &lt;em&gt;müssen&lt;/em&gt; immer mit derselben&#xd;
 Version wie rest-common entwickelt (1.2.3-SNAPSHOT) und releast (1.2.3)&#xd;
 werden – nur veraweb-common ist unabhängig. Beim Release muß „Specify custom&#xd;
 SCM tag“ ausgewählt werden; wir verwenden die Version, also den Inhalt von&#xd;
 „Release Version“ weiter oben im Formular, als Tagnamen in allen diesen Projekten.&lt;/p&gt;&#xd;
</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Delete:veraweb</permission>
      <permission>hudson.model.Item.Delete:dgeorg</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:veraweb</permission>
      <permission>hudson.model.Item.Read:dgeorg</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:veraweb</permission>
      <permission>hudson.model.Item.Workspace:dgeorg</permission>
      <permission>hudson.model.Run.Update:veraweb</permission>
      <permission>hudson.scm.SCM.Tag:veraweb</permission>
      <permission>hudson.model.Run.Delete:veraweb</permission>
      <permission>hudson.model.Item.Configure:veraweb</permission>
      <permission>hudson.model.Item.Configure:dgeorg</permission>
      <permission>hudson.model.Item.Build:veraweb</permission>
      <permission>hudson.model.Item.Build:dgeorg</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git+ssh://maven@evolvis.org/scmrepos/git/veraweb/veraweb.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <localBranch>master</localBranch>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GitWeb">
      <url>https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=veraweb/veraweb.git</url>
    </browser>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>org.evolvis.veraweb</groupId>
    <artifactId>veraweb-core</artifactId>
  </rootModule>
  <goals>clean install -Platex</goals>
  <mavenName>Maven2.2.1</mavenName>
  <mavenOpts>-Xmx3072m</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <perModuleEmail>true</perModuleEmail>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <settingConfigId></settingConfigId>
  <globalSettingConfigId></globalSettingConfigId>
  <reporters/>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder>
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.plugins.sonar.SonarPublisher>
      <configVersion>1</configVersion>
      <branch></branch>
      <language></language>
      <mavenOpts></mavenOpts>
      <jobAdditionalProperties>-e</jobAdditionalProperties>
    </hudson.plugins.sonar.SonarPublisher>
    <org.jenkinsci.plugins.emotional__jenkins.EmotionalJenkinsPublisher/>
    <hudson.plugins.jabber.im.transport.JabberPublisher>
      <targets>
        <hudson.plugins.im.DefaultIMMessageTarget>
          <value>aalexa@info.tarent.de,</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
        <hudson.plugins.im.DefaultIMMessageTarget>
          <value>csalib@info.tarent.de,</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
        <hudson.plugins.im.DefaultIMMessageTarget>
          <value>jnunez@info.tarent.de,</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
        <hudson.plugins.im.DefaultIMMessageTarget>
          <value>sweiz@info.tarent.de</value>
        </hudson.plugins.im.DefaultIMMessageTarget>
      </targets>
      <strategy>ALL</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>false</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.DefaultBuildToChatNotifier"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
    </hudson.plugins.jabber.im.transport.JabberPublisher>
  </publishers>
  <buildWrappers>
    <org.jvnet.hudson.plugins.m2release.M2ReleaseBuildWrapper>
      <releaseGoals>-Dresume=false release:prepare release:perform -DpreparationGoals=&quot;clean install&quot; -e</releaseGoals>
      <selectCustomScmCommentPrefix>false</selectCustomScmCommentPrefix>
      <selectAppendHudsonUsername>false</selectAppendHudsonUsername>
    </org.jvnet.hudson.plugins.m2release.M2ReleaseBuildWrapper>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Shell>
      <command># this needs /root/.pgpass (chmod 0600) set up
# 127.0.0.1:5432:veraweb:veraweb:password

set -e
ssh root@veraweb-mit.lan.tarent.de &apos;service tomcat7 stop&apos;
ssh root@veraweb-ohne.lan.tarent.de &apos;service tomcat7 stop&apos;
sleep 10
ssh root@veraweb-mit.lan.tarent.de &apos;psql -U veraweb -h 127.0.0.1 veraweb&apos; &lt;files/upgrade.sql
ssh root@veraweb-ohne.lan.tarent.de &apos;psql -U veraweb -h 127.0.0.1 veraweb&apos; &lt;files/upgrade.sql
scp files/l10n/*.resource root@veraweb-mit.lan.tarent.de:/etc/veraweb/l10n/
scp files/l10n/*.resource root@veraweb-ohne.lan.tarent.de:/etc/veraweb/l10n/
ssh root@veraweb-mit.lan.tarent.de &apos;rm -rf /var/lib/tomcat7/webapps/veraweb*&apos;
ssh root@veraweb-ohne.lan.tarent.de &apos;rm -rf /var/lib/tomcat7/webapps/veraweb*&apos;
scp target/veraweb.war root@veraweb-mit.lan.tarent.de:/var/lib/tomcat7/webapps/veraweb.war
scp target/veraweb.war root@veraweb-ohne.lan.tarent.de:/var/lib/tomcat7/webapps/veraweb.war
ssh root@veraweb-mit.lan.tarent.de &apos;service tomcat7 start&apos;
ssh root@veraweb-ohne.lan.tarent.de &apos;service tomcat7 start&apos;
sleep 10
</command>
    </hudson.tasks.Shell>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
  </runPostStepsIfResult>
</maven2-moduleset>
