<!-- TODO: add back span from commit bb9506ee5237889ac34f10bf42fbf36820b25804 once we actually generate that file -->
	    <footer id="footer" style="position:relative;"><img
	     src="${paths.staticWeb}images/tarent_logo.png"
	     alt="tarent Logo" title="tarent AG"
	    /></footer>
	</div>
	</body>
</html>
