	    <footer id="footer" style="position:relative;"><img
	     src="${paths.staticWeb}images/tarent_logo.png"
	     alt="tarent Logo" title="tarent AG"
	    /><span style="position:absolute; right:1ex; font-size:8px;"><a
	     style="border:0px; color:#000080;"
	     href="${paths.staticWeb}doc/lic-info.htm"
	     rel="jslicense">Lizenzbestimmungen</a></span></footer>
	</div>
	</body>
</html>
