<script type="text/javascript"><!--//--><![CDATA[//><!--
        function readImage(input) {
                if ( input.files && input.files[0] ) {
                        var FR= new FileReader();
                        FR.onload = function(e) {
                                if ($('#tab').val() == 'detail-3') {
                                        $('#contactPhotoPartner').attr( "src", e.target.result );
                                        $('#basePartner').val(e.target.result);
                                }
                                else {
                                        $('#contactPhoto').attr( "src", e.target.result );
                                        $('#baseGuest').val(e.target.result);
                                }
                        };
                        FR.readAsDataURL( input.files[0] );
                }
        }

        $(function(){
                $("#asd").change(function() {
                        readImage( this );
                });

                $("#asdp").change(function(){
                        readImage( this );
                });
        });

        function upload(){
                if ($('#tab').val() == 'detail-3') {
                        document.getElementById('asdp').click();
                }
                else {
                        document.getElementById('asd').click();
                }
        }

        function checkPictureSize() {
                if ((!isPartner && $('#contactPhoto').attr("src") != '/veraweb/images/boy-silhouette.jpg')||(isPartner && $('#contactPhotoPartner').attr("src") != '/veraweb/images/boy-silhouette.jpg')) {
                        var img = null;
                        var isPartner = ($('#tab').val() == 'detail-3');
                        if ($('#tab').val() == 'detail-3') {
                                img =  document.getElementById('contactPhotoPartner');
                        }
                        else {
                                img =  document.getElementById('contactPhoto');
                        }
                        var width = img.naturalWidth;
                        var height = img.naturalHeight;
                        var imageSource = null;
                        if (isPartner) {
                                imageSource = $('#contactPhotoPartner').attr("src");
                        }
                        else {
                                imageSource = $('#contactPhoto').attr("src");
                        }

                        if ($('#contactPhoto').attr("src") != '/veraweb/images/boy-silhouette.jpg') {
                                imageSourceGuest = $('#contactPhoto').attr("src");
                                $('#fakeGuestButton').text('${placeholderWithTranslation.CONTACT_PICTURE_CHANGE}');
                        }
                        if ($('#contactPhotoPartner').attr("src") != '/veraweb/images/boy-silhouette.jpg') {
                                imageSourcePartner = $('#contactPhotoPartner').attr("src");
                                $('#fakePartnerButton').text('${placeholderWithTranslation.CONTACT_PICTURE_CHANGE}');
                        }

                        if(isPartner) {
                                if ((width > 0 && width != 186) || (height > 0 && height != 245)) {
                                        $('#detail-3-data-block').prepend("<div class=\"msg errormsg\">${placeholderWithTranslation.CONTACT_PICTURE_WRONG_SIZE}</div>");
                                        $('#contactPhotoPartner').attr("src", "/veraweb/images/boy-silhouette.jpg");
                                        $('#basePartner').val(null);
                                }
                        } else {
                                if ((width > 0 && width != 186) || (height > 0 && height != 245)) {
                                        $('#detail-2-data-block').prepend("<div class=\"msg errormsg\">${placeholderWithTranslation.CONTACT_PICTURE_WRONG_SIZE}</div>");
                                        $('#contactPhoto').attr("src", "/veraweb/images/boy-silhouette.jpg");
                                        $('#baseGuest').val(null);
                                }
                        }
                }
        }
//--><!]]></script>

<div class="table width100">
        <div>
                <div class="tableCell width20">

                        #if(!$isPartner && $guestImage)
                                <img id="contactPhoto" src="$guestImage" style="border: 1px solid #000; width: 186px;" onload="checkPictureSize()" /><br/>
                        #elseif ($isPartner && $guestPartnerImage)
                                <img id="contactPhotoPartner" src="$guestPartnerImage" style="border: 1px solid #000; width: 186px;" onload="checkPictureSize()" /><br/>
                        #elseif (!$isPartner)
                                <img id="contactPhoto" src="/veraweb/images/boy-silhouette.jpg" style="border: 1px solid #000; width: 186px;" onload="checkPictureSize()" /><br/>
                        #else
                                <img id="contactPhotoPartner" src="/veraweb/images/boy-silhouette.jpg" style="border: 1px solid #000; width: 186px;" onload="checkPictureSize()" /><br/>
                        #end

                        #if(!$isPartner)
                                <div id="input_container" style="width: 0px; height: 0px;">
                                        <input name="asd" id="asd" type="file" size="30" maxlength="100000" accept="image/png,image/jpg,image/jpeg"/>
                                </div>
                                <a href="#">
                                        <div id="fakeGuestButton" class="button fakeButton" title="${placeholderWithTranslation.GENERIC_UPLOAD_BUTTON}(${placeholderWithTranslation.PICTURE_SIZE}: 186*245 ${placeholderWithTranslation.PIXELS})" style="width: 174px;" onclick="upload();">
                                                ${placeholderWithTranslation.CONTACT_PICTURE_UPLOAD}
                                        </div>
                                </a>
                        #else
                                <div id="input_container" style="width: 0px; height: 0px;">
                                        <input name="asdp" id="asdp" type="file" size="30" maxlength="100000" accept="image/png,image/jpg,image/jpeg"/>
                                </div>
                                <div id="fakePartnerButton" class="button fakeButton" title="${placeholderWithTranslation.GENERIC_UPLOAD_BUTTON}(${placeholderWithTranslation.PICTURE_SIZE}: 186*245 ${placeholderWithTranslation.PIXELS})" style="width: 174px;" onclick="upload();">
                                        ${placeholderWithTranslation.CONTACT_PICTURE_UPLOAD}
                                </div>
                        #end
                        <input id="baseGuest" type="hidden" name="baseInfoImage" />
                        <input id="basePartner" type="hidden" name="baseInfoImagePartner" />
                </div>

                <div class="tableCell width80">
                        <div class="tableRow">
                        <div class="tableCell width50">
                                <label for="guest-invitationstatus$ext">${placeholderWithTranslation.GUEST_DETAIL_INVITATION_STATUS}</label>
                                <select id="guest-invitationstatus$ext" name="guest-invitationstatus$ext" >
                                        <option value="0" #if(0 == $facade.InvitationStatus) selected#end>${placeholderWithTranslation.GENERIC_STATUS_OPEN}</option>
                                        <option value="1" #if(1 == $facade.InvitationStatus) selected#end>${placeholderWithTranslation.GENERIC_STATUS_ACCEPT}</option>
                                        <option value="2" #if(2 == $facade.InvitationStatus) selected#end>${placeholderWithTranslation.GENERIC_STATUS_DECLINE}</option>
                                        <option value="3" #if(3 == $facade.InvitationStatus) selected#end>${placeholderWithTranslation.GENERIC_STATUS_PARTICIPATED}</option>
                                </select>
                        </div>
                        <div class="tableCell width50">
                                <div style="display: inline-block; width: 49%;">
                                        <label for="guest-tableno$ext">${placeholderWithTranslation.GUEST_DETAIL_TABLE_NUMBER}</label>
                                        <input type="text" id="guest-tableno$ext" name="guest-tableno$ext" value="$!message.text($facade.TableNo)" />
                                </div>
                                <div style="width: 49%; float: right;">
                                        <label for="guest-seatno$ext">${placeholderWithTranslation.GUEST_DETAIL_SEAT_NUMBER}</label>
                                        <input type="text" id="guest-seatno$ext" name="guest-seatno$ext" value="$!message.text($facade.SeatNo)" />
                                </div>
                        </div>
                </div>
                <div class="tableRow">
                        <div class="tableCell width50 inlineLabel">
                                <strong>${placeholderWithTranslation.GENERIC_IN_COUNTRY}</strong><br />
                                #if ($facade.Domestic && $facade.Domestic == "f")
                                        <input type="radio" name="guest-domestic$ext" value="t" id="guest-domestic${ext}-t"><label for="guest-domestic${ext}-t">
                        ${placeholderWithTranslation.GENERIC_YES}</label>
                                        <input type="radio" name="guest-domestic$ext" value="f" id="guest-domestic${ext}-f" checked><label for="guest-domestic${ext}-f">
                        ${placeholderWithTranslation.GENERIC_NO}</label>
                                #else
                                        <input type="radio" name="guest-domestic$ext" value="t" id="guest-domestic${ext}-t" checked><label for="guest-domestic${ext}-t">
                        ${placeholderWithTranslation.GENERIC_YES}</label>
                                        <input type="radio" name="guest-domestic$ext" value="f" id="guest-domestic${ext}-f"><label for="guest-domestic${ext}-f">
                        ${placeholderWithTranslation.GENERIC_NO}</label>
                                #end
                        </div>
                        <div class="tableCell width50">
                                <label for="guest-language$ext">${placeholderWithTranslation.GENERIC_LANGUAGES}</label>
                                <input type="text" id="guest-language$ext" name="guest-language$ext" value="$!message.text($facade.Languages)" />
                        </div>
                </div>
                <div class="tableRow">
                        <div class="tableCell width50 inlineLabel">
                                <strong>${placeholderWithTranslation.GENERIC_GENDER}</strong><br />
                                #if ($facade.Sex && $facade.Sex == "f")
                                        <input type="radio" name="guest-sex$ext" value="m" id="guest-sex${ext}-m"><label for="guest-sex${ext}-m">
                        ${placeholderWithTranslation.GENERIC_GENDER_MALE}</label>
                                        <input type="radio" name="guest-sex$ext" value="f" id="guest-sex${ext}-f" checked><label for="guest-sex${ext}-f">
                        ${placeholderWithTranslation.GENERIC_GENDER_FEMALE}</label>
                                #else
                                        <input type="radio" name="guest-sex$ext" value="m" id="guest-sex${ext}-m" checked><label for="guest-sex${ext}-m">
                        ${placeholderWithTranslation.GENERIC_GENDER_MALE}</label>
                                        <input type="radio" name="guest-sex$ext" value="f" id="guest-sex${ext}-f"><label for="guest-sex${ext}-f">
                        ${placeholderWithTranslation.GENERIC_GENDER_FEMALE}</label>
                                #end
                        </div>
                        <div class="tableCell width50">
                                <label for="guest-nationality$ext">${placeholderWithTranslation.GENERIC_NATIONALITY_CITIZENSHIP}</label>
                                <input type="text" id="guest-nationality$ext" name="guest-nationality$ext" value="$!message.text($facade.Nationality)" >
                        </div>
                </div>
                <div class="tableRow">
                        <div class="tableCell width50">
                                <label for="guest-notehost$ext">${placeholderWithTranslation.GUEST_DETAIL_HINT_GUEST_HOST}</label>
                                <textarea id="guest-notehost$ext" name="guest-notehost$ext" #if($grants.mayReadRemarkFields())>$!message.textarea($facade.NoteHost)#else vera-disabled class="textdisabled">#end</textarea>
                        </div>
                        <div class="tableCell width50">
                                <label for="guest-noteorga$ext">${placeholderWithTranslation.GUEST_DETAIL_HINT_ORGANISATION_TEAM}</label>
                                <textarea id="guest-noteorga$ext" name="guest-noteorga$ext" #if($grants.mayReadRemarkFields())>$!message.textarea($facade.NoteOrga)#else vera-disabled class="textdisabled">#end</textarea>
                        </div>
                </div>
                </div>
        </div>

</div>
