#if($listparam.count > 0 && $liststarts && $jumpOffsets)
	<tr class="colspan">
		<td colspan="99" class="textCenter">${placeholderWithTranslation.GENERIC_PAGING}:
			<ul class="inline alphabet">
				#foreach($jumpOffset in $jumpOffsets)

					<li>
					  <a
					    data-offset="$jumpOffset.offset"
					    data-pageoffset="$jumpOffset.targetPageOffset"
					    class="jump #if($jumpOffset.targetOnCurrentPage)same-page #else different-page #end"
					    href="#row-${jumpOffset.offset}"
					    >
					    #if($jumpOffset.letter)
					    	${jumpOffset.letter}
				    	#else
				    		${placeholderWithTranslation.GENERIC_NONE}
			    		#end
					  </a>
					</li>
				#end
			</ul>
			<script type="text/javascript">
				// magic for jumping to results on different pages
				$("a.jump.different-page").click(function(ev){

					ev.preventDefault();

					var offset = $(this).data("offset");
					var pageOffset = $(this).data("pageoffset");
					var form = document.getElementById("formlist")

					// manipulate the form action with a fragment identifier so that it scrolls to the target row
					form.action+="#row-"+offset;

					// manipulute the 'start' field to navigate to the right page
					form.elements.start.value=pageOffset;

					form.submit();
				});
				var highlightRow = function(){
					$(".highlight").removeClass("highlight");
					var hash = window.location.hash;
					if(hash.match(/^#row-\d+$/)){
						$(hash).addClass("highlight");
					}
				}
				$(window).on('hashchange', highlightRow);
				highlightRow();


			</script>
		</td>
	</tr>
#end
