<table class="kategorie">
	<tr>
		<td class="kategorieName" style="width: 55%;">
            <nobr>
                <strong>${placeholderWithTranslation.GENERIC_EVENT_SINGULAR}</strong>
            </nobr>
        </td>
		<td class="kategorieName" style="width: 15%;">
            <nobr>
                <strong>${placeholderWithTranslation.GENERIC_BEGIN}</strong>
            </nobr>
        </td>
		<td class="kategorieName" style="width: 15%;">
            <nobr>
                <strong>${placeholderWithTranslation.GENERIC_STATUS}</strong>
            </nobr>
        </td>
		<td class="kategorieName" style="width: 15%;">
            <nobr>
                <strong>${placeholderWithTranslation.STATS_COLUMN_INVITATION_STATUS_PARTNER}</strong>
            </nobr>
        </td>
	</tr>
</table>

#set($count = 0)
#set($subhead = -1)
#foreach($bean in $result)
	#if((!$bean.subhead && $subhead != 0) || ($bean.subhead && $bean.subhead != $subhead) || $subhead == -1)
		#if(!$bean.subhead)
			#if($count > 0)
				<table style="width: 100%;">
					<tr>
						<td style="text-align: right;">
                            <h2>${placeholderWithTranslation.GENERIC_COUNT}:</h2>
                        </td>
						<td style="width: 20px;">
                            &nbsp;
                        </td>
						<td style="width: 100px">
                            <h3>$count</h3>
                        </td>
					</tr>
				</table><br>
			#end
			#set($count = 0)
			#set($subhead = 0)
			<div class="kategorie">
                <em>${placeholderWithTranslation.GENERIC_NO_GUEST_FOUND}</em>
            </div>
		#elseif($bean.subhead)
			#if($count > 0)
				<table style="width: 100%;">
					<tr>
						<td style="text-align: right;">
                            <h2>${placeholderWithTranslation.GENERIC_COUNT}:</h2>
                        </td>
						<td style="width: 20px;">
                            &nbsp;
                        </td>
						<td style="width: 100px">
                            <h3>$count</h3>
                        </td>
					</tr>
				</table><br>
			#end
			#set($count = 0)
			#set($subhead = $bean.subhead)
			#if(!$person)
			<div class="kategorie">
				$bean.lastname#if($bean.lastname.length() > 0 && $bean.firstname.length() > 0), #end$bean.firstname
				#if($bean.function.length() > 0)
					($bean.function)
				#end
			</div>
			#end
		#end
	#end

    #set($count = $count + 1)
    <table class="kategorie">
        <tr>
            <td class="kategorieName" style="width: 55%;">
                $!message.plain($bean.shortname)
            </td>
            <td class="kategorieName" style="width: 15%;">
                $!message.date("DATE", $bean.datebegin)
            </td>
            ##<td class="kategorieName" style="width: 15%;">
                ##if ($bean.invitationtype == 2)
                    ##Ohne Partner
                ##elseif ($bean.invitationtype == 3)
                    ##Nur Partner
                ##else
                    ##Mit Partner
                ##end
            ##</td>
            <td class="kategorieName" style="width: 15%;">
                #if($bean.invitationtype != 3)
                    #if(!$bean.invitationstatus || $bean.invitationstatus == 0)
                        Offen
                    #end
                    #if($bean.invitationstatus && $bean.invitationstatus == 1)
                        Zusage
                    #end
                    #if($bean.invitationstatus && $bean.invitationstatus == 2)
                        Absage
                    #end
                    #if($bean.invitationstatus && $bean.invitationstatus == 3)
                        Teilnahme
                    #end
                #else
                    nicht eingeladen
                #end
            </td>
            <td class="kategorieName" style="width: 15%;">
                #if($bean.invitationtype != 2)
                    #if(!$bean.invitationstatus_p || $bean.invitationstatus_p == 0)
                        Offen
                    #end
                    #if($bean.invitationstatus_p && $bean.invitationstatus_p == 1)
                        Zusage
                    #end
                    #if($bean.invitationstatus_p && $bean.invitationstatus_p == 2)
                        Absage
                    #end
                    #if($bean.invitationstatus_p && $bean.invitationstatus_p == 3)
                        Teilnahme
                    #end
                #else
                    nicht eingeladen
                #end
            </td>
        </tr>
    </table>
#end

#if($count > 0)
	<table style="width: 100%;">
		<tr>
			<td style="text-align: right;">
                <h2>${placeholderWithTranslation.GENERIC_COUNT}:</h2>
            </td>
			<td style="width: 20px;">
                &nbsp;
            </td>
			<td style="width: 100px">
                <h3>$count</h3>
            </td>
		</tr>
	</table>
#end
