<div id="table-pagination" class="notBold">
    #if ($listparam.count > 0)

        #set($start = $listparam.start + 1)
        #set($stop = $listparam.start + $list.size())

        <span class="amount" id="listnavitext">
				$start - $stop ${placeholderWithTranslation.GENERIC_OF} $listparam.count
            #if(${language} == "de_DE")
                $itemName
            #else
                #if($itemName != ${placeholderWithTranslation.GENERIC_DISTRIBUTOR_PLURAL})
                    #set($itemNameLowerCase=${helper.makeFirstLetterLowerCase($itemName)})
                    $itemNameLowerCase
                #else
                    $itemName
                #end
            #end
            ${placeholderWithTranslation.GENERIC_NUMBER_PER_PAGE}
	<input type="button" #if($listparam.limit== 10) class="active" #end value="10"
           title="${placeholderWithTranslation.SHOW_RECORDS_1} 10 ${placeholderWithTranslation.SHOW_RECORDS_2}"
           onclick="navigateLimit(10);"/>
	<input type="button" #if($listparam.limit== 25) class="active" #end value="25"
           title="${placeholderWithTranslation.SHOW_RECORDS_1} 25 ${placeholderWithTranslation.SHOW_RECORDS_2}"
           onclick="navigateLimit(25);"/>
	<input type="button" #if($listparam.limit== 50) class="active" #end value="50"
           title="${placeholderWithTranslation.SHOW_RECORDS_1} 50 ${placeholderWithTranslation.SHOW_RECORDS_2}"
           onclick="navigateLimit(50);"/>
	<input type="button" #if($listparam.limit == 100) class="active"#end value="100"
           title="${placeholderWithTranslation.SHOW_RECORDS_1} 100 ${placeholderWithTranslation.SHOW_RECORDS_2}"
           onclick="navigateLimit(100);"/>
	<input type="button" #if($listparam.limit == 1000) class="active"#end value="1000"
           title="${placeholderWithTranslation.SHOW_RECORDS_1} 1000 ${placeholderWithTranslation.SHOW_RECORDS_2}"
           onclick="navigateLimit(1000);"/>
	</span>

        #set($pageNumber = $listparam.start / $listparam.limit + 1)

        <span class="paging floatRight textRight">
        ${placeholderWithTranslation.GENERIC_PAGE} $pageNumber ${placeholderWithTranslation.GENERIC_OF} $listparam.pages
					<ul>
						#if($listparam.start == $listparam.first)
                            <li class="img" id="page-first"><img
                                    src="${paths.staticWeb}images/paging_arrow_left_last.png"
                                    title="${placeholderWithTranslation.GENERIC_FIRST_PAGE}" style="cursor: pointer;">
							</li>
                        #else
                            <li class="img" id="page-first"><img
                                    src="${paths.staticWeb}images/paging_arrow_left_last_active.png"
                                    onclick="filterList(#if($filterLetter) '$filterLetter' #else null#end , $listparam.first);"
                                    title="${placeholderWithTranslation.GENERIC_FIRST_PAGE}" style="cursor: pointer;">
							</li>
                        #end
                        #if($listparam.start == $listparam.prev)
                            <li class="img" id="page-previous"><img src="${paths.staticWeb}images/paging_arrow_left.png"
                                                                    title="${placeholderWithTranslation.GENERIC_PREVIOUS_PAGE}"
                                                                    style="cursor: pointer;">
							</li>
                        #else
                            <li class="img" id="page-previous"><img
                                    src="${paths.staticWeb}images/paging_arrow_left_active.png"
                                    onclick="filterList(#if($filterLetter) '$filterLetter' #else null#end , $listparam.prev);"
                                    title="${placeholderWithTranslation.GENERIC_PREVIOUS_PAGE}"
                                    style="cursor: pointer;">
							</li>
                        #end

                        #set($ol = $listparam.start + ($listparam.limit * -5))
                        #set($or = $listparam.start + ($listparam.limit *  5))
                        #if($ol < 0)
                            #set($or = $or - $ol - $listparam.limit)
                            #set($ol = 0)
                        #elseif($or > $listparam.last)
                            #set($ol = $ol - ($or - $listparam.last) + $listparam.limit)
                            #set($or = $listparam.last)
                        #end

                        #foreach($p in [1..$listparam.pages])
                            #set($s = ($p - 1) * $listparam.limit)
                            #if($listparam.pages < 10 || ($s >= $ol && $s <= $or))
                                #if ($s == $listparam.start)
                                    <li id="page-$p">$p</li>
                                #else
                                    <li><a id="page-$p"
                                           href="javascript:filterList(#if($filterLetter) '$filterLetter' #else null#end , $s);">$p</a></li>
                                #end
                            #end
                        #end

                        #if($listparam.start == $listparam.next)
                            <li class="img" id="page-next"><img src="${paths.staticWeb}images/paging_arrow_right.png"
                                                                title="${placeholderWithTranslation.GENERIC_NEXT_PAGE}"
                                                                style="cursor: pointer;"/></li>
                        #else
                            <li class="img" id="page-next"><img
                                    src="${paths.staticWeb}images/paging_arrow_right_active.png"
                                    onclick="filterList(#if($filterLetter) '$filterLetter' #else null#end , $listparam.next);"
                                    title="${placeholderWithTranslation.GENERIC_NEXT_PAGE}"
                                    style="cursor: pointer;"/></li>
                        #end
                        #if($listparam.start == $listparam.last)
                            <li class="img" id="page-last"><img
                                    src="${paths.staticWeb}images/paging_arrow_right_last.png"
                                    title="${placeholderWithTranslation.GENERIC_LAST_PAGE}"
                                    style="cursor: pointer;"/></li>
                        #else
                            <li class="img" id="page-last"><img
                                    src="${paths.staticWeb}images/paging_arrow_right_last_active.png"
                                    onclick="filterList(#if($filterLetter) '$filterLetter' #else null#end , $listparam.last);"
                                    title="${placeholderWithTranslation.GENERIC_LAST_PAGE}"
                                    style="cursor: pointer;"/></li>
                        #end
					</ul>
				</span>
    #end
</div>
