<h3>${placeholderWithTranslation.GENERIC_LIST_OF_GUESTS}</h3>
<fieldset>
    <div class="table width100 inlineLabel">
        <div class="tableRow">
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestListFunction" id="guestListFunction" value="true" #if($userConfig.guestListFunction == 'true') checked #end> <label for="guestListFunction">&nbsp;${placeholderWithTranslation.GENERIC_FUNCTION_SINGULAR}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestInternalId" id="guestInternalId" value="true" #if($userConfig.guestInternalId == 'true') checked #end> <label for="guestInternalId">${placeholderWithTranslation.GENERIC_INTERNAL_ID}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestListCity" id="guestListCity" value="true" #if($userConfig.guestListCity == 'true') checked #end> <label for="guestListCity">&nbsp;${placeholderWithTranslation.GENERIC_POSTNUMBER_AND_CITY}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestListPhone" id="guestListPhone" value="true" #if($userConfig.guestListPhone == 'true') checked #end> <label for="guestListPhone">&nbsp;${placeholderWithTranslation.GENERIC_TELEFON}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestCategory" id="guestCategory" value="true" #if($userConfig.guestCategory == 'true') checked #end> <label for="guestCategory">&nbsp;${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestLfdNr" id="guestLfdNr" value="true" #if($userConfig.guestLfdNr == 'true') checked #end> <label for="guestLfdNr">${placeholderWithTranslation.lfdnr}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestReserve" id="guestReserve" value="true" #if($userConfig.guestReserve == 'true') checked #end> <label for="guestReserve">${placeholderWithTranslation.GUEST_LIST_RESERVE}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestCompany" id="guestCompany" value="true" #if($userConfig.guestCompany == 'true') checked #end> <label for="guestCompany">${placeholderWithTranslation.GENERIC_COMPANY_SINGULAR}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestFirstname" id="guestFirstname" value="true" #if($userConfig.guestFirstname == 'true') checked #end> <label for="guestFirstname">${placeholderWithTranslation.GENERIC_FIRSTNAME}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestLastname" id="guestLastname" value="true" #if($userConfig.guestLastname == 'true') checked #end> <label for="guestLastname">${placeholderWithTranslation.GENERIC_NAME}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestEmail" id="guestEmail" value="true" #if($userConfig.guestEmail == 'true') checked #end> <label for="guestEmail">${placeholderWithTranslation.GENERIC_EMAIL_SINGULAR}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestMainPerson" id="guestMainPerson" value="true" #if($userConfig.guestMainPerson == 'true') checked #end> <label for="guestMainPerson">${placeholderWithTranslation.GENERIC_MAIN_PERSON}</label></div><br>
            <div class="tableCellMarginBottom"><input type="checkbox" name="guestPartner" id="guestPartner" value="true" #if($userConfig.guestPartner == 'true') checked #end> <label for="guestPartner">${placeholderWithTranslation.GENERIC_PARTNER}</label></div>
        </div>
    </div>

</fieldset>

    #if($activeMenu == "Verwaltung")
    #else
        <div class="textRight marginTop10" id="buttonPanel-bottom">
            ## Bug 5
            <input type="submit" class="mainButton" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" name="save-columns" />
        </div>
    #end