#set($activeMenu = "Veranstaltungen")

#if($task && $task.id)
        #set($title = "${placeholderWithTranslation.BROWSER_TITLE_TASKS_EDIT}: $!message.text($task.title)")
#else
        #set($title = "${placeholderWithTranslation.BROWSER_TITLE_TASKS_CREATE}")
#end

#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_TASK}")
#set($entity="TASK")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_TASK_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_TASK_PLURAL}")
#parse("inc/header.vm")

#if(!$eventId)
        #set($eventId = $task.eventId)
#end

<div id="content_container">

    #if($task && $task.id)
    <div id="breadcrumb" class="textRight marginBottom10">
                <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_EVENTS_PP} > ${placeholderWithTranslation.GENERIC_EDIT_EVENT}</span>
    </div>
    #else
    <div id="breadcrumb" class="textRight marginBottom10">
                <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_EVENTS_PP} > ${placeholderWithTranslation.GENERIC_EDIT_EVENT}</span>
    </div>
    #end

        <h1>${placeholderWithTranslation.GENERIC_EDIT_EVENT}: $!message.plain($event.shortname)</h1>

    <form id="formlist" name="formlist" action="SaveEventTask?id=$!eventId" method="POST">
        <input type="hidden" id="a" name="a" value="taskReferencePerson" />
        <input type="hidden" id="modified" name="task-modified" value= #if (($refPerson.id && !$task.personId) || $refPerson.id != $task.personId) "true" #else "false" #end />
        <input type="hidden" name="savetask" value="true" />
        <input type="hidden" name="search" value="clear" />
        <input type="hidden" name="task-eventId" value="$!eventId" />
        <input type="hidden" name="eventId" value="$!eventId" />
        <input type="hidden" name="task-personId" value="$!refPerson.id" />




        #if($task.errors.size() > 0)

            <vera-warn>
                $!message.plain($task.errors.get(0))<br>
                ##      #foreach($error in $task.errors)
                ##              $error<br>
                ##      #end
            </vera-warn>

        #elseif($listquestions && $listquestions.size() > 0)
        <div style="width: 99%; background-color: #ffffff;">
            <div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #00ff00;">
                <strong>${placeholderWithTranslation.bittebestatigensiedasspeicherndieseraufgabe}</strong><br>
                <table class="form" style="margin: 5px 0px 0px 0px;">
                    #foreach($quest in $listquestions.entrySet())
                    <tr>
                        <td><input type="hidden" name="$quest.key" value="true">$!message.plain($quest.value)</td>
                    </tr>
                    #set($save = true)
                    #end
                </table><br>

                #if($save)
                <input type="submit" class="button" name="remove" value="${placeholderWithTranslation.GENERIC_YES}" title="${placeholderWithTranslation.speichern}">
                #end
                <input type="button" class="cancel" name="cancel" value="${placeholderWithTranslation.GENERIC_NO}" goto="ShowEvent?id=$!eventId">
            </div>
        </div>
        #end

        <input type="hidden" name="task-id" value="$!task.id">
        <input type="hidden" name="event-id" value="$!eventId">

                #set($completeEventHeader = false)
        #parse("inc/event-header.vm")

                <div class="textRight marginBottom10 marginTop20" id="buttonPanel-top">
            <input type="button" class="mainButton" value="${placeholderWithTranslation.GENERIC_TO_GUEST_MANAGEMENT}" title="${placeholderWithTranslation.GENERIC_TO_GUEST_MANAGEMENT}" name="guestlist" goto="ShowGuestList?search-event=$!event.id&start=0&selectNone=true">
        </div>

        <div id="main_content" class="tabs contentBox grayBorder marginBottom10 event">


            <div id="tabsMain">
                <ul class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                    <li class="inactive" id="showEvent" goto="ShowEvent?id=$!eventId" class="noBorder">
                        <div>${placeholderWithTranslation.GENERIC_GENERAL}</div></a>
                    </li>
                    <li id="showEventTasks" class="active" goto="${paths.staticWeb}do/ShowEventTasks?id=$!eventId&selectNone=true">
                        <div>${placeholderWithTranslation.GENERIC_TASK_PLURAL}</div>
                    </li>
                    #if($online-registration.activated)
                        <li class="inactive" onclick="window.location.href='${paths.staticWeb}do/ShowDelegationFields?eventId=$eventId'">
                            <div>${placeholderWithTranslation.GENERIC_ADDITIONAL_PERSONS_DATA}</div>
                        </li>
                    #end
                </ul>
            </div>

            <div class="contentBoxColored tabsContent">

                                <div class="textRight mandatoryText">* = ${placeholderWithTranslation.pflichtfelder}</div>

                <div class="table width100">
                    <div class="tableRow">
                        <div class="tableCell width40">
                            <strong>${placeholderWithTranslation.GENERIC_TASKS_ID}</strong><br /> $!message.text($task.id)</div>
                        <div class="tableCell width30">
                            <label for="task-startdate">${placeholderWithTranslation.GENERIC_BEGIN}</label>
                            <input tabindex="2" type="text" name="task-startdate" id="task-startdate" value="$!message.date("DATE", $task.startdate)" class="date" style="width: 80px;" onchange="setModified();">
                            #if($grants.mayWrite())
                            <span id="show-begin" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswahlen}" title="${placeholderWithTranslation.datumauswahlen}"></span> um
                                                                <script type="text/javascript">
                                function changeDateStart(calendar, date) {
                                }

                                Calendar.setup({
                                    inputField     :    "task-startdate",
                                    button         :    "show-begin",
                                    ifFormat       :    "%d.%m.%Y",
                                    showsTime      :    false,
                                    onUpdate       :    changeDateStart
                                });
                            </script>
                            #end
                            <input type="text" tabindex="3" name="task-starttime" id="task-starttime" #if($task-starthastime) value="$!message.date("TIME", $task.startdate)" #else value="$!message.plain($task.starttime)" #end class="date" style="width: 45px;" onchange="setModified();"> <label class="inline" for="task-starttime">${placeholderWithTranslation.GENERIC_OCLOCK}</label></div>
                        <div class="tableCell width30">
                            <label for="task-degreeofcompletion">${placeholderWithTranslation.GENERIC_COMPLETION}</label>
                            <select tabindex="6" name="task-degreeofcompletion" id="task-degreeofcompletion" class="width20" onchange="setModified();">
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 0) selected #end value="0">0%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 10) selected #end value="10">10%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 20) selected #end value="20">20%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 30) selected #end value="30">30%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 40) selected #end value="40">40%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 50) selected #end value="50">50%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 60) selected #end value="60">60%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 70) selected #end value="70">70%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 80) selected #end value="80">80%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 90) selected #end value="90">90%</option>
                                <option #if($task.degreeofcompletion && $task.degreeofcompletion == 100) selected #end value="100">100%</option>
                            </select>
                        </div>
                    </div>
                    <div class="tableRow">
                        <div class="tableCell">
                            <label for="task-title">${placeholderWithTranslation.kurzbezeichnung}*</label>
                            <input tabindex="1" type="text" name="task-title" value="$!message.text($task.title)" id="task-title" maxlength="100" onchange="setModified();"></div>
                        <div class="tableCell">
                            <label for="task-enddate">${placeholderWithTranslation.GENERIC_END}</label>
                            <input tabindex="4" type="text" name="task-enddate" id="task-enddate" value="$!message.date("DATE", $task.enddate)" class="date" style="width: 80px;" onchange="setModified();">
                            #if($grants.mayWrite())
                            <span id="show-end" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswahlen}" title="${placeholderWithTranslation.datumauswahlen}"></span> um
                                                        <script type="text/javascript">
                                Calendar.setup({
                                    inputField     :    "task-enddate",
                                    button         :    "show-end",
                                    ifFormat       :    "%d.%m.%Y",
                                    showsTime      :    false
                                });
                            </script>
                            #end
                            <input type="text" tabindex="5" name="task-endtime" id="task-endtime" #if($task-endhastime) value="$!message.date("TIME", $task.enddate)" #else value="$!message.plain($task.endtime)" #end class="date" style="width: 45px;" onchange="setModified();"> <label class="inline" for="task-endtime">${placeholderWithTranslation.GENERIC_OCLOCK}</label>
                        </div>
                        <div class="tableCell">
                            <label for="task-priority">${placeholderWithTranslation.GENERIC_PRIORITY}</label>
                            <select  tabindex="7" name="task-priority" id="task-priority" class="width20" onchange="setModified();">
                                <option #if($task.priority && $task.priority == 1) selected #end value="1">1</option>
                                <option #if($task.priority && $task.priority == 2) selected #end value="2">2</option>
                                <option #if($task.priority && $task.priority == 3) selected #end value="3">3</option>
                                <option #if($task.priority && $task.priority == 4) selected #end value="4">4</option>
                                <option #if($task.priority && $task.priority == 5) selected #end value="5">5</option>
                                <option #if($task.priority && $task.priority == 6) selected #end value="6">6</option>
                            </select>
                        </div>
                    </div>
                </div>

                 <div class="table width100">
                    <div class="tableRow">
                        <div class="tableCell">
                            <label for="task-description">${placeholderWithTranslation.GENERIC_DESCRIPTION}</label>
                            <textarea tabindex="8" rows="4" cols="20" name="task-description" id="task-description" onchange="setModified();">$!message.textarea($task.description)</textarea>
                        </div>
                    </div>
                    <div class="tableRow">
                        <div class="tableCell">
                            <input type="hidden" id="task-reference-person" value="$!message.text($refPerson.firstname_a_e1) $!message.text($refPerson.lastname_a_e1)">
                            <strong>${placeholderWithTranslation.GENERIC_RESPONSIBLE}</strong>
                            <div id="task-reference-person-text" class="marginBottom5">$!message.text($refPerson.firstname_a_e1) $!message.text($refPerson.lastname_a_e1)</div>
                                        #if($grants.mayWrite())
                                <div>
                                   <input type="button" id="addRemoveRefPerson" tabindex="9" class="autoWidth" value="${placeholderWithTranslation.verantworlichenhinzufugen}" title="${placeholderWithTranslation.verantworlichenhinzufugen}"
                                    onclick="document.getElementById('formlist').action='SetReferencePersonToEventTask';
                                    document.getElementById('a').value='taskReferencePerson';  document.getElementById('formlist').submit();" />
                                    <input type="button" tabindex="10" class="autoWidth" value="${placeholderWithTranslation.verantworlichenentfernen}" title="${placeholderWithTranslation.verantworlichenentfernen}" id="linkRemoveRefPerson">
                             </div>
                            #end
                        </div>
                    </div>
                 </div>

                <div class="textRight" id="buttonPanel-bottom">
                    #if($event && $event.id)
                                        #if($grants.mayWrite())
                                                <input id="button.save" tabindex="11" type="submit" name="save" value="${placeholderWithTranslation.GENERIC_SAVE_TASK}" title="${placeholderWithTranslation.GENERIC_SAVE_TASK}" onclick="document.getElementById('formlist').action='SaveEventTask?id=$!event.id';" class="mainButton" />
                                        #end
                        <input id="button.back" tabindex="12" type="button" name="cancel" class="mainButton" value="${placeholderWithTranslation.GENERIC_BACK_TO_TASKS_VIEW}" title="${placeholderWithTranslation.GENERIC_BACK_TO_TASKS_VIEW}" goto="${paths.staticWeb}do/ShowEventTasks?id=$!event.id&selectNone=true">
                    #else
                                        #if($grants.mayWrite())
                                                <input id="button.save" tabindex="11" type="submit" name="save" value="${placeholderWithTranslation.GENERIC_SAVE_TASK}" title="${placeholderWithTranslation.GENERIC_SAVE_TASK}" onclick="document.getElementById('formlist').action='SaveEventTask?id=$!event.id';" class="mainButton" />
                                        #end
                        <input id="button.back" tabindex="12" type="button" name="cancel" class="mainButton" value="${placeholderWithTranslation.GENERIC_BACK_TO_TASKS_VIEW}" title="${placeholderWithTranslation.GENERIC_BACK_TO_TASKS_VIEW}" goto="${paths.staticWeb}do/ShowEventTasks?id=$!event.id&selectNone=true">
                    #end
                </div>
                        </div>

        </div>

                <span id="buttonPanel-bottom" class="floatRight">
            #if($grants.mayWrite())
                            <input type="submit" name="save" value="${placeholderWithTranslation.GENERIC_SAVE_EVENT}" title="${placeholderWithTranslation.GENERIC_SAVE_EVENT}" class="mainButton" onclick="document.getElementById('formlist').action='SaveEventTask';">
            #end
                        <input type="reset" name="cancel" value="${placeholderWithTranslation.GENERIC_TO_EVENT_VIEW}" class="mainButton" onclick="window.location.href='SearchEvent?action=event&search=reset&selectNone=true';">
        </span>

    </form>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $(function () { // on dom ready
        $("a").click(function (e) {
            if (!checkModified(null, '${placeholderWithTranslation.GENERIC_DISCARD_CHANGES}')) {
                e.preventDefault(); // do not follow link
            }
        });
        $("#showEvent, #showEventDoctype, #showEventTasks, input[type=button]").not("#addRemoveRefPerson, #linkRemoveRefPerson").click(function (e) {
           if (checkModified(null, '${placeholderWithTranslation.GENERIC_DISCARD_CHANGES}')) {
                window.location.href = $(this).attr('goto');
           }
        });
        $("#linkRemoveRefPerson").click(function () {
            $("#task-reference-person").val("");
            $("#task-reference-person-text").text("");
            $("input[name='task-personId']").val("");
            $("input[name='task-modified']").val("true");
        });

        #if(!$grants.mayWrite())
        disableForm($('#formlist')[0]);
        #end
    });
</script>

#parse("inc/footer.vm")
