#macro(openContent)
<div class="content">
#end

#macro(closeContent)
</div>
#end

#macro(openContentSection)
<div class="contentsection">
	<!-- <table class="form" cellpadding="0" cellspacing="0" border="0">
	<tr><td style="width: 10px;">&nbsp;</td><td> -->
#end

#macro(closeContentSection)
	<!-- </td><td style="width: 10px;">&nbsp;</td></tr>
	</table> -->
</div>
#end

#macro(openContentBlock $id)
<div class="contentsection" id="$id" style="display: none;">
#end

#macro(closeContentBlock)
</div>
#end

#macro(comboAddresstype $name $current $style)
	<select name="$name" #if($style) style="$style"#end>
		<option value="1"#if($current == 1) selected#end>${placeholderWithTranslation.GENERIC_BUSINESS}</option>
		<option value="2"#if($current == 2) selected#end>${placeholderWithTranslation.privat}</option>
		<option value="3"#if($current == 3) selected#end>${placeholderWithTranslation.GENERIC_MORE}</option>
	</select>
#end

#macro(comboLocale $name $current $style)
	<select name="$name" #if($style) style="$style"#end>
		<option value="1"#if($current == 1) selected#end>${placeholderWithTranslation.GENERIC_LATIN}</option>
		<option value="2"#if($current == 2) selected#end>${placeholderWithTranslation.GENERIC_CHARSET} 1</option>
		<option value="3"#if($current == 3) selected#end>${placeholderWithTranslation.GENERIC_CHARSET} 2</option>
	</select>
#end

#macro(textAddresstype $current)
	#if($current == 1) ${placeholderWithTranslation.GENERIC_BUSINESS}
	#elseif($current == 2) ${placeholderWithTranslation.privat}
	#elseif($current == 3) ${placeholderWithTranslation.GENERIC_MORE}
	#else ${placeholderWithTranslation.GENERIC_ERROR}
	#end
#end

#macro(textLocale)
	#if($current == 1) ${placeholderWithTranslation.GENERIC_LATIN}
	#elseif($current == 2) ${placeholderWithTranslation.GENERIC_CHARSET} 1
	#elseif($current == 3) ${placeholderWithTranslation.GENERIC_CHARSET} 2
	#else ${placeholderWithTranslation.GENERIC_ERROR}
	#end
#end

#macro(showSortArrows $direction)
	#if ($direction == 'ASC')
		<span class="floatRight"><img border="0" alt="ASC" src="${paths.staticWeb}images/sort_up.gif"></img></span>
	#elseif ($direction == 'DESC')
		<span class="floatRight"><img border="0" alt="DESC" src="${paths.staticWeb}images/sort_down.gif"></img></span>
	#end
#end
