#set($activeMenu = "Veranstaltungen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_GUESTLIST}: $!message.plain($event.shortname)")
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_GUEST}")
#set($entity="GUEST")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_GUEST_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_GUEST_PLURAL}")

##Values in per cent for table columns width
## select-field
#set($column0 = '1%')
## laufende Nummer
#set($column1_minwidth = '5%')
## interne Id
#set($column2_minwidth = '5%')
## Reserve (R)
#set($column3_width = '1%')
## company
#set($column4_minwidth = '15%')
## lastname
#set($column5_minwidth = '15%')
## firstname
#set($column6_minwidth = '15%')
## email
#set($column7_minwidth = '15%')
## function
#set($column8_minwidth = '10%')
## postcode/city
#set($column9_minwidth = '5%')
## phone
#set($column10_minwidth = '5%')
## category
#set($column11_minwidth = '5%')
## main person
#set($column12_minwidth = '70px')
#set($column12_maxwidth = '13%')
## partner
#set($column13_minwidth = '70px')
#set($column13_maxwidth = '13%')

#parse("inc/header.vm")
#set($basicEventLinkSuffix = '')
#if($basicEventId && $basicEventId != 'noBasicEvent')
    #set($basicEventLinkSuffix = "?basicEvent=${basicEventId}")
#end

<div id="content_container">
    <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/popup.css" media="all" />
    <script src="${paths.staticWeb}js/vera/veraweb-back-to-top.js"></script>
    <script src="${paths.staticWeb}js/vera/veraweb-popup.js"></script>
    <script src="${paths.staticWeb}js/ext/Scroll-to-Top/jquery.gotop.js"></script>

    </script>
        <div id="breadcrumb" class="textRight marginBottom10">
                <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_EVENT_PLURAL} > ${placeholderWithTranslation.GENERIC_EDIT_EVENT}</span>
        </div>
        #if ($basicEventId == 'noBasicEvent')
            <h1>${placeholderWithTranslation.gasteverwaltungderveranstaltung}: $!message.plain($event.shortname)</h1>
        #else
            <h1>${placeholderWithTranslation.GUEST_LIST_ADD_GUEST_FROM_EVENT}: $!message.plain($event.shortname)</h1>
        #end

        #if(!$isNewEvent)
                #set($completeEventHeader = true)
                #parse("inc/event-header.vm")
        #end

        #set($isUser = false)
        #set($isAdmin = false)
        #foreach($group in $octopusConfig.personalConfig.UserGroups)
                #if($group == "Writer")
                        #set($isUser = true)
                #elseif($group == "PartialAdmin")
                        #set($isAdmin = true)
                #elseif($group == "Administrator")
                        #set($isAdmin = true)
                #end
        #end

        #if($saveSuccess)
            <vera-success>${placeholderWithTranslation.MESSAGE_OPTIONS_WERE_SUCCESSFULLY_SAVED}</vera-success>
        #end

        #if($duplicateGuest == "isDuplicate")
            <vera-warn> ${placeholderWithTranslation.GUEST_LIST_DUPLICATE_ERR} </vera-warn>
        #end

        ##IMPLEMENTNEWMESSAGEMETHOD
        #if($invited)
                <vera-success>
                        #if($invited == 0)
                ${placeholderWithTranslation.GUEST_LIST_DIDNT_CHANGE}.
                        #elseif($invited == 1)
                ${placeholderWithTranslation.GUEST_LIST_EXPAND_ONE}.
                        #else
                ${placeholderWithTranslation.GUEST_LIST_EXPAND_MULTIPLE_PART_ONE} $invited ${placeholderWithTranslation.GUEST_LIST_EXPAND_MULTIPLE_PART_TWO}.
                        #end
                </vera-success>
        #end
        #if($mailinglistParams && $mailinglistParams.count)
                <vera-success>
                        #if($mailinglistParams.count == 0)
             ${placeholderWithTranslation.GENERIC_DISTRIBUTOR_SINGULAR} &quot;$!message.plain($mailinglist.name)&quot; ${placeholderWithTranslation.GUEST_LIST_CREATED_NO_PERSON}.
                        #elseif($mailinglistParams.count == 1)
                ${placeholderWithTranslation.GENERIC_DISTRIBUTOR_SINGULAR} &quot;$!message.plain($mailinglist.name)&quot; ${placeholderWithTranslation.GUEST_LIST_CREATED_ONE_PERSON}.
                        #else
                ${placeholderWithTranslation.GENERIC_DISTRIBUTOR_SINGULAR} &quot;$!message.plain($mailinglist.name)&quot; ${placeholderWithTranslation.GUEST_LIST_CREATED_MULTIPLE_PERSON_PART_ONE} $!mailinglistParams.count ${placeholderWithTranslation.GUEST_LIST_CREATED_MULTIPLE_PERSON_PART_TWO}.
                        #end
                </vera-success>
        #end

        #if($octopusRequest.task == "CalcSerialNumber" && (!$listquestions || $listquestions.size() == 0))
                <vera-success>
            ${placeholderWithTranslation.GUEST_LIST_NUMBER_CALCULATED_SAVED}.
                </vera-success>
        #end

        <div id="main_content" class="tabs contentBox marginBottom10 marginTop20 grayBorder" style="border-bottom:0">

                <div id="tabsMain">
                        <ul vera-tab-group="" class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                                <li id="gaesteliste" vera-tab class="active posRel" style="z-index:2">
                    <div>${placeholderWithTranslation.GENERIC_LIST_OF_GUESTS}</div>
                                </li>
                                #if($list.size() > 0)
                                    <li id="gastdetails" class="inactive">
                                        <div>${placeholderWithTranslation.gastedetails}</div>
                                    </li>
                                    #if($basicEventId == 'noBasicEvent')
                                        <li id="export" class="inactive">
                                                <div>${placeholderWithTranslation.GENERIC_EXPORT}</div>
                                        </li>
                                    #end
                                #end
                        </ul>
                </div>
                <script type="text/javascript"><!--//--><![CDATA[//><!--
                $(function () {
                    $('li#gastdetails').click(function () {
                        window.location.href = '${paths.staticWeb}do/ShowGuestDetail${basicEventLinkSuffix}';
                    });
                    $('li#export').click(function () {
                        window.location.href = '${paths.staticWeb}do/ShowExportGuest';
                    });
                });
                //--><!]]></script>

                <div style="border-bottom:1px solid #BDBDBD;" class="contentBoxColored tabsContent notBold posRel marginBottom40" vera-content="">
                        #if($basicEventId == 'noBasicEvent')
                        <div id="guestSummary" class="table posAb hinweis grayBorder" style="padding-bottom: 5px;">
                                <div class="tableRow">
                                        <div class="tableCell"><strong>${placeholderWithTranslation.GENERIC_STATUS_OPEN}:</strong> $!guestlist-sums.offen</div>
                                        <div class="tableCell"><strong>${placeholderWithTranslation.GENERIC_STATUS_ACCEPT}:</strong> $!guestlist-sums.zusagen</div>
                                        <div class="tableCell"><strong>${placeholderWithTranslation.GENERIC_STATUS_DECLINE}:</strong> $!guestlist-sums.absagen</div>
                                        <div class="tableCell"><strong>${placeholderWithTranslation.teilnahmen}:</strong> $!guestlist-sums.teilnahmen</div>
                                        <div class="tableCell"><strong>${placeholderWithTranslation.GENERIC_ON}&nbsp;${placeholderWithTranslation.GENERIC_PLACE}:</strong> $!guestlist-sums.platz</div>
                                        <div class="tableCell"><strong>${placeholderWithTranslation.GENERIC_ON}&nbsp;${placeholderWithTranslation.reserve}:</strong> $!guestlist-sums.reserve</div>
                                </div>
                        </div>
                        #end
                        <form id="guestListFilter" name="guestListFilter" action="ShowGuestList" method="POST" class="marginTop25">
                                <input type="hidden" name="start" value="0">
                                <input type="hidden" name="limit" value="" />
                                <input type="hidden" name="selectAll" value="false">
                                <input type="hidden" name="selectNone" value="true">
                                <input type="hidden" name="sortList" value="true" />
                                <input type="hidden" name="search-event" value="$search.event">
                                <input type="hidden" id="search-listorder" name="search-listorder" value="$!search.listorder"/>
                                <input type="hidden" name="basicEvent" value="$basicEventId">
                                <h3 class="marginBottom0">${placeholderWithTranslation.filter}</h3>

                                <div class="table">
                                        <div class="tableRow">
                                                <div class="tableCell width25">
                                                        <label for="search-reserve">${placeholderWithTranslation.platzwahl}</label>
                                                        <select name="search-reserve" id="search-reserve" onchange="submit();">
                                                                                <option value="">${placeholderWithTranslation.GUEST_LIST_ALL_GUEST}</option>
                                                                                <option #if($search.reserve && $search.reserve == 1) selected#end value="1">${placeholderWithTranslation.GUEST_LIST_ALL_GUEST_ON_PLACE}</option>
                                                                                <option #if($search.reserve && $search.reserve == 2) selected#end value="2">${placeholderWithTranslation.GUEST_LIST_ALL_GUEST_ON_RESERVE}</option>
                                                        </select>
                                                </div>
                                                <div class="tableCell width25">
                                                        <label for="search-invitationstatus">${placeholderWithTranslation.GENERIC_STATUS}</label>
                                                        <select name="search-invitationstatus" id="search-invitationstatus" onchange="submit();">
                                                                <option value="">${placeholderWithTranslation.GENERIC_ALL}</option>
                                                                <option #if($search.invitationstatus && $search.invitationstatus == 1) selected#end value="1">${placeholderWithTranslation.GUEST_LIST_ONLY_OPEN}</option>
                                                                <option #if($search.invitationstatus && $search.invitationstatus == 2) selected#end value="2">${placeholderWithTranslation.GUEST_LIST_ONLY_ACCEPT}</option>
                                                                <option #if($search.invitationstatus && $search.invitationstatus == 3) selected#end value="3">${placeholderWithTranslation.GUEST_LIST_ONLY_DECLINED}</option>
                                                                <option #if($search.invitationstatus && $search.invitationstatus == 4) selected#end value="4">${placeholderWithTranslation.GUEST_LIST_ONLY_PARTICIPATE}</option>
                                                        </select>
                                                </div>
                                                <div class="tableCell width25">
                                                        <label for="search-category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</label>
                                                        <select name="search-category" id="search-category" onchange="submit();">
                                                                <option value="">${placeholderWithTranslation.GENERIC_ALL}</option>
                                                                #foreach($category in $allCategorie)
                                                                        <option #if($search.category && $search.category == $category.name) selected#end value="$category.name">$category.name</option>
                                                                #end
                                                        </select>
                                                </div>
                                                <div class="tableCell width25">
                                                        <label for="search-keywords">${placeholderWithTranslation.GENERIC_KEYWORDS}</label>
                                                        <input type="text" id="search-keywords" name="search-keywords" #if($search.keywords) value="${search.keywords}" #end />
                                                </div>
                                        </div>
                                </div>

                        </form>

                        #if($listerrors && $listerrors.size() > 0)
                                <vera-warn>
                                        #foreach($error in $listerrors)
                                                $error<br>
                                        #end
                                </vera-warn>
                        #elseif($listquestions && $listquestions.size() > 0)
                                <form action="" method="POST">
                                <div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #00ff00;">
                                        <strong>${placeholderWithTranslation.GUEST_LIST_CONFIRM_ACTION}</strong><br>
                                        <table class="form" style="margin: 5px 0px 0px 0px;">
                                        #foreach($quest in $listquestions.entrySet())
                                                <tr>
                                                        <td><input type="hidden" name="$quest.key" value="true">$quest.value</td>
                                                </tr>
                                                #set($save = true)
                                        #end
                                        </table><br>

                                        #if($save)
                                                <input type="submit" name="remove" value="${placeholderWithTranslation.GENERIC_YES}" title="${placeholderWithTranslation.speichern}" />
                                        #end

                                        <input type="button" name="cancel" value="${placeholderWithTranslation.GENERIC_NO}" title="${placeholderWithTranslation.abbrechen}" onclick="window.location.href='ShowGuestList?selectNone=true';"> &nbsp;
                                </div>
                                </form>
                        #end

                        <form id="formlist" name="formlist" action="ShowGuestList" method="POST">
                            <input type="hidden" name="start" value="">
                            <input type="hidden" name="limit" value="" />
                            <input type="hidden" name="filter" value="" />

                            <input type="hidden" name="selectNone" id="selectNone" value="true">
                            <input type="hidden" name="doInsert" value="false">
                            <input type="hidden" name="doUpdate" value="true">
                            <input type="hidden" name="doRemove" value="true">
                            <input type="hidden" name="categoryAssignmentAction" value="">
                            <input type="hidden" name="categoryAssignmentId" value="">
                            <input type="hidden" name="categoryAssigned" value="">
                            <input type="hidden" name="workareaAssignmentAction" value="">
                            <input type="hidden" name="workareaAssignmentId" value="">
                            <input type="hidden" name="basicEvent" value="$basicEventId">

                        #foreach($bean in $list)
                                <input type="hidden" name="list" value="$bean.id">
                        #end

                        <div class="flexContainer marginTop30">
                                #if ($basicEventId == 'noBasicEvent')
                                <div style="" class="flexItem inlineInput">
                                        <label><input type="checkbox" title="${placeholderWithTranslation.alledemarkieren}" id="select-all" name="select-all" style="vertical-align: baseline;" onclick="toggleSelectAll()"> ${placeholderWithTranslation.GENERIC_SELECT_ALL} <span id="guestsOnPages">
                                                #if($listparam.count == 1)
                                                        ($listparam.count ${placeholderWithTranslation.GENERIC_GUEST_SINGULAR}
                                                #elseif($listparam.count > 1)
                                                        ($listparam.count ${placeholderWithTranslation.GENERIC_GUEST_PLURAL}
                                                #else
                                                        (${placeholderWithTranslation.GENERIC_GUEST_NONE})
                                                #end
                                                #set($currentNumberOfPages = $listparam.count / $listparam.limit)
                                                #if( $currentNumberOfPages > 1 )
                                                        ${placeholderWithTranslation.GENERIC_ON_LOWERCASE} $listparam.pages ${placeholderWithTranslation.GENERIC_PAGES})
                                                #elseif( $currentNumberOfPages == 1 )
                                                        ${placeholderWithTranslation.GENERIC_ON_LOWERCASE} $listparam.pages ${placeholderWithTranslation.GENERIC_PAGE})
                                                #elseif(  $currentNumberOfPages == 0 && $listparam.count > 0 )
                                                        ${placeholderWithTranslation.GENERIC_ON_LOWERCASE} $listparam.pages ${placeholderWithTranslation.GENERIC_PAGE})
                                                #end
                                                </span>
                                        </label>
                                </div>
                                #end

                                #if ($basicEventId == 'noBasicEvent')
                                <div class="flexItem inlineInput" style="">
                                        <label for="actionSelection">${placeholderWithTranslation.GENERIC_MARKED_PERSONS_PP}</label>
                                                <select id="actionSelection" class="autoWidth">
                                                        <option value="0">${placeholderWithTranslation.GENERIC_DELETE}</option>
                                                        <option value="1">${placeholderWithTranslation.GUEST_LIST_CATEGORY_ASSIGN}</option>
                                                        <option value="2">${placeholderWithTranslation.GUEST_LIST_CATEGORY_REMOVE}</option>
                                                        <option value="3">${placeholderWithTranslation.GUEST_LIST_DISTRIBUTOR_CREATE}</option>
                                                        <option value="4">${placeholderWithTranslation.MAIN_PERSON_STATUS_ACCEPT}</option>
                                                        <option value="5">${placeholderWithTranslation.MAIN_PERSON_STATUS_DECLINE}</option>
                                                        <option value="6">${placeholderWithTranslation.MAIN_PERSON_STATUS_PARTICIPATED}</option>
                                                        <option value="7">${placeholderWithTranslation.MAIN_PERSON_STATUS_OPEN}</option>
                                                        <option value="8">${placeholderWithTranslation.PARTNER_STATUS_ACCEPT}</option>
                                                        <option value="9">${placeholderWithTranslation.PARTNER_STATUS_DECLINE}</option>
                                                        <option value="10">${placeholderWithTranslation.PARTNER_STATUS_PARTICIPATED}</option>
                                                        <option value="11">${placeholderWithTranslation.PARTNER_STATUS_OPEN}</option>
                                                </select>
                                                <input type="button" name="button.execute" id="button.execute" value="${placeholderWithTranslation.GENERIC_EXECUTE}" title="${placeholderWithTranslation.GENERIC_EXECUTE}" class="autoWidth">
                                </div>
                                #end

                                        <div class="flexItem textRight alignBottom" style="flex-grow: 2; margin-right: 0px;">
                                                #if($grants.mayWrite())
                                                    <a data-popup-open="popup-1" href="#" style="text-decoration: none"><img src=" ${paths.staticWeb}images/columnsConfig.png" alt="bearbeiten" title="bearbeiten" /></a>
                                                    <div class="popup" data-popup="popup-1">
                                                            <div class="popup-inner">
                                                                <div style="text-align: left;">
                                                                        #parse("inc/userConfigGuestColumns.vm")
                                                                </div>
                                                                <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                                                            </div>
                                                    </div>
                                                #if($basicEventId == 'noBasicEvent')
                                                    <input type="button" class="mainButton inlineInput autoWidth" name="createGuestList" value="${placeholderWithTranslation.GUEST_LIST_CREATE}" title="${placeholderWithTranslation.GUEST_LIST_CREATE}" onclick="submitFormWithGivenAction('ShowReportGuestList', $grants.mayWrite());" />
                                                    <input type="button" class="mainButton inlineInput autoWidth" name="addGuestsFromEvent" value="${placeholderWithTranslation.GUEST_LIST_APPLY_GUEST_FROM_EVENT}" title="${placeholderWithTranslation.GUEST_LIST_APPLY_GUEST_FROM_EVENT}" onclick="window.location.href='AddEventToEventSearch?action=guest';" />
                                                    <input type="button" class="mainButton inlineInput autoWidth" name="add" value="${placeholderWithTranslation.gasthinzufuegen}" title="${placeholderWithTranslation.GUEST_LIST_SEARCH_PERSON_ADD}" onclick="window.location.href='AddPersonToEventSearch?action=guest&search=clear';" />
                                                #else
                                                    <input type="button" class="mainButton inlineInput autoWidth" name="AddPersonEventBasicEvent" value="${placeholderWithTranslation.GENERIC_ADD_SELECTION}" title="${placeholderWithTranslation.gasthinzufuegen}" onclick="submitFormWithGivenAction('AddPersonEventBasicEvent', $grants.mayWrite());" />
                                                    <input type="button" class="mainButton inlineInput autoWidth" name="getAll" value="${placeholderWithTranslation.GUEST_LIST_APPLY_GUEST_FROM_EVENT}" title="${placeholderWithTranslation.GUEST_LIST_APPLY_GUEST_FROM_EVENT}" onclick="window.location.href='AddEventToEventGuestList?id=$event.id&selectNone=true&basicEvent=$basicEventId';" />
                                                #end

                                                #end
                                        </div>
                                </div>

                        ## Handler für selektierte Aktion
			<script type="text/javascript"><!--//--><![CDATA[//><!--
                                var removeGuestabfrage = function () {
                                                #if(!$grants.mayWrite())
                                                        showWarning('${placeholderWithTranslation.siehabenkeineausreichendeberechtigungumdiegastelistezuentfernen}.');
                                                        return;
                                                #end
                                                var checkBoxes = $('input:checkbox[name$="-select"]:checked');
                                                if (checkBoxes.length === 0 && !document.getElementById('select-all').checked) {
                                                        $(".errormsg").remove();
                                                        $(".successmsg").remove();
                                                        showWarning('${placeholderWithTranslation.wahlensiebittezunachsteinenodermehreregasteaus}.');
                                                } else {
                                                        $(".errormsg").remove();
                                                        $(".successmsg").remove();
                                                        var msg = '';
                                                        msg += '<br><span class="notBold">${placeholderWithTranslation.wennsieihreauswahlanpassenwollenbrechensiebittedasloeschenab}</span><br>'+ '${placeholderWithTranslation.sollenallemarkiertenpersonengeloeschtwerden} ' +
                                                        '${placeholderWithTranslation.dieseaktionkannnichtrueckgaungiggemachtwerden}<br>';
                                                        // disable all checkboxes while confirmation is visible
                                                        $('input:checkbox').prop('disabled', true);
                                                        showConfirmYesNo('${placeholderWithTranslation.bittebestatigensiedasloschendermarkiertengasteliste}',
                                                                msg,
                                                                function () { // Ja
                                                                        $('<input>').attr({ type: 'hidden', id: 'remove', name: 'remove' }).appendTo($('#formlist'));
                                                                        $('input:checkbox').prop('disabled', false);
                                                                        document.formlist.submit();

                                                                }, function () { // Nein
                                                                        $(".errormsg").remove();
                                                                        $(".successmsg").remove();
                                                                        ## Bug 1
                                                                        showSuccess('${placeholderWithTranslation.GENERIC_NO_GUESTLIST_DELETED}');
                                                                        $('input:checkbox').prop('disabled', false);

                                                                },
                                                                '${placeholderWithTranslation.GENERIC_DELETE}',
                                                                '${placeholderWithTranslation.abbrechen}'
                                                                );
                                                }
                                }

                                $(function () {
                                        $('#button\\.execute').click(function (e) {
                                                var selectValue = $('#actionSelection option:selected').val();

                                                if(hasSelection() || document.getElementById('select-all').checked){
                                                        if (selectValue == "0") {
                                                                removeGuestabfrage();
                                                        } else if (selectValue == "1") {
                                                                assignCategories();
                                                        } else if (selectValue == "2") {
                                                                unassignCategories();
                                                        } else if (selectValue == "3") {
                                                                $('#selectNone').val('false');
                                                                submitFormWithGivenAction('CreateMailinglistFromGuest', $grants.mayWrite());
                                                        }
                                                        switch(selectValue) {
                                                            case "4":
                                                                setInvitationstatus(1, true); break;
                                                            case "5":
                                                                setInvitationstatus(2, true); break;
                                                            case "6":
                                                                setInvitationstatus(3, true); break;
                                                            case "7":
                                                                setInvitationstatus(0, true); break;
                                                            case "8":
                                                                setInvitationstatus(1, false); break;
                                                            case "9":
                                                                setInvitationstatus(2, false); break;
                                                            case "10":
                                                                setInvitationstatus(3, false); break;
                                                            case "11":
                                                                setInvitationstatus(0, false); break;
                                                        }
                                                } else {
                                                        $(".errormsg").remove();
                                                        $(".successmsg").remove();
                                                        showWarning( "${placeholderWithTranslation.wahlensiebittezunachsteinenodermehreregasteaus}." );
                                                }
                                        });
                                });

                                var isSelectAllChecked = function(){
                                        return $("#select-all").get(0).checked;
                                };

                                var selectAllValue = function(){
                                        if(isSelectAllChecked()){
                                                return $("#select-all").val();
                                        }
                                        return "";
                                };

                                var selectedCount = function(){
                                        if(isSelectAllChecked()){
                                                return ${listparam.count};
                                }
                                        return $('input:checkbox[name$="-select"]:checked').length;
                                };

                                function hasSelection() {
                                        return selectedCount() > 0;
                                }

                                function selectedActionRemoveGuest() {
                                        $('<input>').attr({ type: 'hidden', id: 'remove', name: 'remove' }).appendTo($('#formlist'));
                                        document.formlist.submit();
                                }

                                function unassignCategories() {
                                        selectPersonCategory( "${paths.staticWeb}do/popupUnassignGuestCategory?count=" + selectedCount() + "&eventId=" + ${event.id}+"&select-all="+selectAllValue() );
                                }

                                function assignCategories() {
                                        selectPersonCategory( "${paths.staticWeb}do/popupAssignGuestCategory?count=" + selectedCount() + "&eventId=" + ${event.id}+"&select-all="+selectAllValue() );
                                }

                                function submitFormWithGivenAction(action, permission) {
                                                htmlWait('${placeholderWithTranslation.GENERIC_PLEASE_WAIT_HEADER}','${placeholderWithTranslation.GENERIC_PLEASE_WAIT_MESSAGE}');
                                                document.getElementById('formlist').action = action;
                                                document.formlist.submit();
                                }

                                function setInvitationstatus(invitationstatus, mainPerson) {
                                    var checkBoxes = $('input:checkbox[name$="-select"]:checked');
                                    if(document.getElementById('select-all').checked) {
                                        checkBoxes = $('input:checkbox[name$="-select"]');
                                    }
                                    if(checkBoxes.length > 0) {
                                        $(".errormsg").remove();
                                        $(".successmsg").remove();
                                        for (var i = 0; i < checkBoxes.length; i++) {
                                            var beanId = parseInt(checkBoxes[i].name.split("-")[0]);
                                            var selectedField_a = $('select[name="' + beanId + '-invitationstatus_a"')[0];
                                            var selectedField_b = $('select[name="' + beanId + '-invitationstatus_b"')[0];
                                            var modified = false;
                                            if(selectedField_a != null && mainPerson) {
                                                var oldValue = selectedField_a.options[selectedField_a.options.selectedIndex].value;
                                                if(oldValue != invitationstatus) {
                                                    selectedField_a.options[invitationstatus].selected = true;
                                                    setModified(beanId);
                                                }
                                            }
                                            if(selectedField_b != null && !mainPerson) {
                                                var oldValue = selectedField_b.options[selectedField_b.options.selectedIndex].value;
                                                if(oldValue != invitationstatus) {
                                                    selectedField_b.options[invitationstatus].selected = true;
                                                    setModified(beanId);
                                                }
                                            }
                                            checkBoxes[i].checked = false;
                                        }
                                        $('<input>').attr({ type: 'hidden', id: 'save', name: 'save' }).appendTo($('#formlist'));
                                        document.formlist.submit();
                                    } else {
                                        $(".errormsg").remove();
                                        $(".successmsg").remove();
                                        showWarning('${placeholderWithTranslation.wahlensiebittezunachsteinenodermehreregasteaus}.');
                                    }
                                }
			//--><!]]></script>
                                <div id="guestListWrapper">
                                        <div class="table_border">
                                        <table class="sortable scrollable-table">
                                                ##Set column size

                                                <tr >
                                                        <!-- BEGIN OF COLUMNS TO ORDER -->
                                                                <th class="textCenter smallCell" style="width: $column0">
                                                                    #if($basicEventId != 'noBasicEvent')
                                                                       <input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="${placeholderWithTranslation.alledemarkieren}" #if($listselection.size() == $list.size()) checked#end/>
                                                                    #end
                                                                 </th>

                                                                #if($userConfig.guestLfdNr == 'true')
                                                                <th class="textCenter smallCell"><a href="javascript:orderGuestList('orderno');"
                                                                        #if($search.listorder && $search.listorder == "orderno")
                                                                                style="color: #000000;"
                                                                        #end
                                                                ><nobr>${placeholderWithTranslation.lfdnr}</nobr>
                                                                        #if($search.listorder && $search.listorder == 'orderno')
                                                                                #showSortArrows($search.sortDirection)
                                                                        #else
                                                                                <span class="floatRight"><img border="0" alt="none" src="${paths.staticWeb}images/sort_none.gif"></img></span>
                                                                        #end
                                                                </a></th>
                                                                #end

                                                                #if($userConfig.guestInternalId == 'true')
                                                                        <th><a href="javascript:orderGuestList('internal_id');"
                                                                                #if($search.listorder && $search.listorder == "internal_id")
                                                                               style="color: #000000;"
                                                                                #end
                                                                        ><nobr>${placeholderWithTranslation.GENERIC_INTERNAL_ID}</nobr>
                                                                                #if($search.listorder && $search.listorder == 'internal_id')
                                                                                        #showSortArrows($search.sortDirection)
                                                                                #else
                                                                                    <span class="floatRight"><img border="0" alt="none" src="${paths.staticWeb}images/sort_none.gif"></img></span>
                                                                                #end
                                                                        </a></th>
                                                                #end

                                                                #if($userConfig.guestReserve == 'true')
                                                                <th class="textCenter smallCell" title="${placeholderWithTranslation.aufreservesetzen} / ${placeholderWithTranslation.EXPORT_HEADER_SEAT}"><span style="display: inline-block; padding: 10px;color: #1B1B1B;">${placeholderWithTranslation.GUEST_LIST_RESERVE}</span></th>
                                                                #end

                                                                #if($userConfig.guestCompany == 'true')
                                                                <th><a href="javascript:orderGuestList('companyname');"
                                                                        #if($search.listorder && $search.listorder == "companyname")
                                                                                style="color: #000000;"
                                                                        #end
                                                                ><nobr>${placeholderWithTranslation.GENERIC_COMPANY_SINGULAR}</nobr>
                                                                        #if($search.listorder && $search.listorder == 'companyname')
                                                                                #showSortArrows($search.sortDirection)
                                                                        #else
                                                                                <span class="floatRight"><img border="0" alt="none" src="${paths.staticWeb}images/sort_none.gif"></img></span>
                                                                        #end
                                                                </a></th>
                                                                #end

                                                                #if($userConfig.guestLastname == 'true')
                                                                <th><a href="javascript:orderGuestList('lastname_a_e1');"
                                                                        #if($search.listorder && $search.listorder == "lastname_a_e1")
                                                                                style="color: #000000;"
                                                                        #end
                                                                >${placeholderWithTranslation.GENERIC_NAME}
                                                                        #if($search.listorder && $search.listorder == 'lastname_a_e1')
                                                                                #showSortArrows($search.sortDirection)
                                                                        #else
                                                                                <span class="floatRight"><img border="0" alt="none" src="${paths.staticWeb}images/sort_none.gif"></img></span>
                                                                        #end
                                                                </a></th>
                                                                #end

                                                                #if($userConfig.guestFirstname == 'true')
                                                                <th><a href="javascript:orderGuestList('firstname_a_e1');"
                                                                        #if($search.listorder && $search.listorder == "firstname_a_e1")
                                                                                style="color: #000000;"
                                                                        #end
                                                                >${placeholderWithTranslation.GENERIC_FIRSTNAME}
                                                                        #if($search.listorder && $search.listorder == 'firstname_a_e1')
                                                                                #showSortArrows($search.sortDirection)
                                                                        #else
                                                                                <span class="floatRight"><img border="0" alt="none" src="${paths.staticWeb}images/sort_none.gif"></img></span>
                                                                        #end
                                                                </a></th>
                                                                #end

                                                                #if($userConfig.guestEmail == 'true')
                                                                <th class="textCenter smallCell" style="width:10%"><a href="javascript:orderGuestList('mail_a_e1');"
                                                                        #if($search.listorder && $search.listorder == "mail_a_e1")
                                                                                style="color: #000000;"
                                                                        #end
                                                                >${placeholderWithTranslation.GENERIC_EMAIL_SINGULAR}
                                                                #if($search.listorder && $search.listorder == 'mail_a_e1')
                                                                        #showSortArrows($search.sortDirection)
                                                                #else
                                                                        <span class="floatRight"><img border="0" alt="none" src="${paths.staticWeb}images/sort_none.gif"></img></span>
                                                                #end

                                                                </a></th>
                                                                #end
                                                        <!-- END OF COLUMNS TO ORDER -->

                                                        #if($userConfig.guestListFunction == 'true')
                                                                        <th style="padding: 10px">${placeholderWithTranslation.GENERIC_FUNCTION_SINGULAR}</th>
                                                        #end

                                                        #if($userConfig.guestListCity == 'true')
                                                                        <th style="padding: 10px">${placeholderWithTranslation.GENERIC_POST_NUMBER} / ${placeholderWithTranslation.GENERIC_CITY}</th>
                                                        #end

                                                        #if($userConfig.guestListPhone == 'true')
                                                                        <th style="padding: 10px">${placeholderWithTranslation.GENERIC_TELEFON}</th>
                                                        #end
                                                        #if($userConfig.guestCategory == 'true')
                                                            <th style="padding: 10px">${placeholderWithTranslation.GENERIC_GUEST_CATEGORY_SINGULAR}</th>
                                                        #end
                                                        #if($userConfig.guestPersonCategory == 'true')
                                                            <th style="padding: 10px">${placeholderWithTranslation.GENERIC_PERSON_CATEGORY_SINGULAR}</th>
                                                        #end

                                                #if($userConfig.guestMainPerson == 'true')
                                                <th style="width: 100px; text-align: center;"><span style="display: inline-block; padding: 10px;color: #1B1B1B;">${placeholderWithTranslation.GENERIC_MAIN_PERSON}</span></th>
                                                #end

                                                #if($userConfig.guestPartner == 'true')
                                                <th style="width: 100px; text-align: center;"><span style="display: inline-block; padding: 10px;color: #1B1B1B;">${placeholderWithTranslation.GENERIC_PARTNER}</span></th>
                                                #end
                                                </tr>

                                                #set($deletedperson = false)

                                                #foreach($bean in $list)
                                                        #if ($bean.deleted == "t")
                                                                #set($deletedperson = true)
                                                        #end

                                                #set($offset = $listparam.start + $velocityCount)
                                                ## We want zero-indexed offset to create jump marks. I don't understand how the other "offset" is
                                                ## used, and I don't want to break anything...
                                                #set($offset0 = $offset - 1)

                                                <tr id="row-${offset0}">
                                                        <td class="textCenter smallCell" style="width: $column0">
                                                                <input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false">
                                                                <input type="hidden" id="${bean.id}-invitationtype" name="${bean.id}-invitationtype" value="${bean.invitationtype}">
                                                                <img title="ich bin eine tolle Überschrift" src="${paths.staticWeb}images/checked_disabled.png" class="invisible invisibleselector"/>
                                                                <input type="checkbox" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end/>
                                                        </td>
                                                        <input type="hidden" name="${bean.id}-id" value="$bean.id">

                                                        #if($userConfig.guestLfdNr == 'true')
                                                        <td style="min-width:$column1_minwidth; max-width: 15%; cursor: pointer;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';">
                                                                #if($bean.ishost && $bean.ishost == 1)
                                                                        <em>${placeholderWithTranslation.GENERIC_HOST}</em>
                                                                #elseif($bean.someorderno)
                                                                        $bean.someorderno
                                                                #else
                                                                        <em>${placeholderWithTranslation.keine}</em>
                                                                #end
                                                        </td>
                                                        #end

                                                        #if($userConfig.guestInternalId == 'true')
                                                                #if($bean.internal_id != "")
                                                                    <td  onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.GENERIC_INTERNAL_ID}">$bean.internal_id</td>
                                                                #else
                                                                    <td style="min-width: $column2_minwidth; max-width: 10%" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.GENERIC_INTERNAL_ID}">&nbsp;</td>
                                                                #end
                                                        #end

                                                        #if($userConfig.guestReserve == 'true')
                                                                #if($bean.reserve == 1)
                                                                        <td style="width: $column3_width" class="textCenter" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.aufreserve}"><strong>${placeholderWithTranslation.GUEST_LIST_RESERVE}</strong></td>
                                                                #else
                                                                        <td style="width: $column3_width" class="textCenter" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.aufplatz}">&nbsp;</td>
                                                                #end
                                                        #end

                                                        #if($userConfig.guestCompany == 'true')
                                                                #if($bean.company_a_e1 != "")
                                                                        <td style="min-width: $column4_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.GENERIC_COMPANY_SINGULAR}/${placeholderWithTranslation.GENERIC_INSTITUTION_SINGULAR}">$bean.company_a_e1</td>
                                                                #else
                                                                        <td style="min-width: $column4_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.GENERIC_COMPANY_SINGULAR}/${placeholderWithTranslation.GENERIC_INSTITUTION_SINGULAR}">&nbsp;</td>
                                                                #end
                                                        #end

                                                        #if($bean.iscompany == "t" && $bean.delegation != "" && $bean.invitationtype != 4)
                                                                #if($userConfig.guestLastname == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestFirstname == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestEmail == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestListFunction == 'true')
                                                                    <td></td>
                                                                #end

                                                                #if($userConfig.guestListCity == 'true')
                                                                    <td></td>
                                                                #end

                                                                #if($userConfig.guestListPhone == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestCategory == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestPersonCategory == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestMainPerson == 'true')
                                                                    <td></td>
                                                                #end
                                                                #if($userConfig.guestPartner == 'true')
                                                                    <td></td>
                                                                #end
                                                        #else
                                                                #if($userConfig.guestLastname == 'true')
                                                                <td style="min-width: $column5_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';">
                                                                        #if($bean.invitationtype != 3)
                                                                                #if($bean.showdoctype)
                                                                                        $!message.plain($bean.lastname_a_gd)
                                                                                #else
                                                                                        $!message.plain($bean.lastname_a_e1)
                                                                                #end
                                                                        #else
                                                                                #if($bean.showdoctype)
                                                                                        $!message.plain($bean.lastname_b_gd)
                                                                                #else
                                                                                        $!message.plain($bean.lastname_b_e1)
                                                                                #end
                                                                        #end
                                                                </td>
                                                                #end

                                                                #if($userConfig.guestFirstname == 'true')
                                                                <td style="min-width: $column6_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';">
                                                                        #if($bean.invitationtype != 3)
                                                                                #if($bean.showdoctype)$!message.plain($bean.firstname_a_gd)#else$!message.plain($bean.firstname_a_e1)#end
                                                                        #else
                                                                                #if($bean.showdoctype)$!message.plain($bean.firstname_b_gd)#else$!message.plain($bean.firstname_b_e1)#end
                                                                        #end
                                                                </td>
                                                                #end

                                                                #if($userConfig.guestEmail == 'true')
                                                                <td style="min-width: $column7_minwidth;" class="textCenter">
                                                                         #if($bean.showdoctype)
                                                                                 #if($bean.mail_a_gd.length() > 0)
                                                                                         <a href="mailto:$!message.plain($bean.mail_a_gd)" title="$!message.plain($bean.mail_a_gd)">$!message.plain($bean.mail_a_gd)</a>
                                                                                 #end
                                                                         #else
                                                                                 #if($bean.mail_a_e1.length() > 0)
                                                                                         <a href="mailto:$!message.plain($bean.mail_a_e1)" title="$!message.plain($bean.mail_a_e1)">$!message.plain($bean.mail_a_e1)</a>&nbsp;
                                                                                 #end
                                                                         #end
                                                                </td>
                                                                #end

                                                                #if($userConfig.guestListFunction == 'true')
                                                                        <td style="min-width: $column8_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';">#if($bean.showdoctype)$!message.plain($bean.function_a_gd)#else$!message.plain($bean.function_a_e1)#end</td>
                                                                #end
                                                                #if($userConfig.guestListCity == 'true')
                                                                        <td style="min-width: $column9_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';">#if($bean.showdoctype)$!message.plain($bean.zipcode_a_gd) $!message.plain($bean.city_a_gd)#else$!message.plain($bean.zipcode_a_e1) $!message.plain($bean.city_a_e1)#end</td>
                                                                #end
                                                                #if($userConfig.guestListPhone == 'true')
                                                                        <td style="min-width: $column10_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';">#if($bean.showdoctype)$!message.plain($bean.fon_a_gd)#else$!message.plain($bean.fon_a_e1)#end</td>
                                                                #end
                                                                #if($userConfig.guestCategory == 'true')
                                                                    <td style="min-width: $column11_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.GENERIC_GUEST_CATEGORY_SINGULAR}">$!message.plain($!bean.categoryName)</td>
                                                                #end
                                                                #if($userConfig.guestPersonCategory == 'true')
                                                                    <td style="min-width: $column11_minwidth;" onclick="window.location.href='ShowGuestDetail?id=$!{bean.id}&eventId=${event.id}&offset=$offset';" title="${placeholderWithTranslation.GENERIC_PERSON_CATEGORY_SINGULAR}">$!message.plain($!bean.pcatname)</td>
                                                                #end
                                                                #if($userConfig.guestMainPerson == 'true')
                                                                <td style="min-width: $column12_minwidth; max-width: $column12_maxwidth;" class="textCenter">
                                                                        #if($bean.invitationtype != 3)
                                                                                #if($grants.mayWrite() && $basicEventId == 'noBasicEvent')
                                                                                <select name="${bean.id}-invitationstatus_a" onchange="setModified('${bean.id}')">
                                                                                        <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 0) selected#end value="0">${placeholderWithTranslation.GENERIC_STATUS_OPEN}</option>
                                                                                        <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 1) selected#end value="1">${placeholderWithTranslation.GENERIC_STATUS_ACCEPT}</option>
                                                                                        <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 2) selected#end value="2">${placeholderWithTranslation.GENERIC_STATUS_DECLINE}</option>
                                                                                        <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 3) selected#end value="3">${placeholderWithTranslation.GENERIC_STATUS_PARTICIPATED}</option>
                                                                                </select>
                                                                                #else
                                                                                        #if($bean.invitationstatus_a && $bean.invitationstatus_a == 0)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_OPEN}
                                                                                        #elseif($bean.invitationstatus_a && $bean.invitationstatus_a == 1)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_ACCEPT}
                                                                                        #elseif($bean.invitationstatus_a && $bean.invitationstatus_a == 2)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_DECLINE}
                                                                                        #elseif($bean.invitationstatus_a && $bean.invitationstatus_a == 3)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_PARTICIPATED}
                                                                                        #end
                                                                                #end
                                                                        #else
                                                                                <input type="hidden" name="${bean.id}-invitationstatus_a" value="$!bean.invitationstatus_a">${placeholderWithTranslation.nichteingeladen}</input>
                                                                        #end
                                                                </td>
                                                                #end

                                                                #if($userConfig.guestPartner == 'true')
                                                                <td style="min-width: $column13_minwidth; max-width: $column13_maxwidth;" class="textCenter">
                                                                        #if($bean.invitationtype != 2)
                                                                                #if($grants.mayWrite())
                                                                                        <select name="${bean.id}-invitationstatus_b" onchange="setModified('${bean.id}')">
                                                                                                <option #if($bean.invitationstatus_b && $bean.invitationstatus_b == 0) selected#end value="0">${placeholderWithTranslation.GENERIC_STATUS_OPEN}</option>
                                                                                                <option #if($bean.invitationstatus_b && $bean.invitationstatus_b == 1) selected#end value="1">${placeholderWithTranslation.GENERIC_STATUS_ACCEPT}</option>
                                                                                                <option #if($bean.invitationstatus_b && $bean.invitationstatus_b == 2) selected#end value="2">${placeholderWithTranslation.GENERIC_STATUS_DECLINE}</option>
                                                                                                <option #if($bean.invitationstatus_a && $bean.invitationstatus_b == 3) selected#end value="3">${placeholderWithTranslation.GENERIC_STATUS_PARTICIPATED}</option>
                                                                                        </select>
                                                                                #else
                                                                                        #if($bean.invitationstatus_b && $bean.invitationstatus_b == 0)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_OPEN}
                                                                                        #elseif($bean.invitationstatus_b && $bean.invitationstatus_b == 1)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_ACCEPT}
                                                                                        #elseif($bean.invitationstatus_b && $bean.invitationstatus_b == 2)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_DECLINE}
                                                                                        #elseif($bean.invitationstatus_b && $bean.invitationstatus_b == 3)
                                                                                                ${placeholderWithTranslation.GENERIC_STATUS_PARTICIPATED}
                                                                                        #end
                                                                                #end
                                                                        #else
                                                                                <input type="hidden" name="${bean.id}-invitationstatus_b" value="$!bean.invitationstatus_b">${placeholderWithTranslation.nichteingeladen}</input>
                                                                        #end
                                                                </td>
                                                                #end
                                                        #end
                                                </tr>
                                                #end

                                                #if ($listparam.count == 0)
                                                        <tr class="colspan"><td colspan="99">${placeholderWithTranslation.GUEST_LIST_NO_GUEST_INVITED}</td></tr>
                                                #end

                                                #set($itemName = "${placeholderWithTranslation.GENERIC_GUEST_PLURAL}")

                                                #if($search.listorder && $jumpOffsets)
                                                        #parse("inc/list-direct-even-newer.vm")
                                                #else
                                                        <tr class="colspan">
                                                                <td colspan="99" class="textCenter">
                                                                        <strong>${placeholderWithTranslation.GENERIC_TOOLTIP}:</strong> ${placeholderWithTranslation.HINT_ENTRY_POINT}
                                                                </td>
                                                        </tr>
                                                #end

                                        </table>
                                    </div>
                                    #parse("inc/table-pagination-footer.vm")
                                </div>
                        <div class="textRight marginTop10 marginBottom20">
                            #if($grants.mayWrite() && $basicEventId == 'noBasicEvent')
                                <input type="button" name="calcSerialNumber" value="${placeholderWithTranslation.GUEST_LIST_NUMBER_CALCULATE}" title="${placeholderWithTranslation.GUEST_LIST_NUMBER_CALCULATE}" onclick="htmlWait('${placeholderWithTranslation.GENERIC_PLEASE_WAIT_HEADER}','${placeholderWithTranslation.GENERIC_PLEASE_WAIT_MESSAGE}'); window.location.href='CalcSerialNumber';" class="mainButton" />
                                <input type="button" name="reloadAllGuestData" value="${placeholderWithTranslation.GUEST_LIST_PERSON_DATA_RELOAD}" title="${placeholderWithTranslation.GUEST_LIST_PERSON_DATA_RELOAD}" onclick="submitFormWithGivenAction('ReloadAllGuestData', $grants.mayWrite());" class="mainButton" />
                                <input type="submit" name="save" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" class="mainButton" />
                            #end
                        </div>
                        #if($basicEventId == 'noBasicEvent')
                            <vera-info vera-stay>
                    ${placeholderWithTranslation.GUEST_LIST_HINT_FILTER}.<br>
                    ${placeholderWithTranslation.GUEST_LIST_HINT_EXPORT_GUEST}.
                    <img src="../images/dialog_close.png" id="close-info" style="top:-28px;" onclick="$(this).parent().get(0).remove()" />
                            </vera-info>
                        #end
                        #if($deletedperson)
                                <table>
                                        <tr style="height: 20px;">
                                                <td class="list2error" style="width: 20px;">&nbsp;</td>
                                                <td class="list1error">
                            ${placeholderWithTranslation.GUEST_LIST_HINT_RED_PERSON}.
                                                </td>
                                        </tr>
                                </table>
                                <br>
                        #end

                        <div>

                        #set($isUser = false)
                        #set($isAdmin = false)

                        #foreach($group in $octopusConfig.personalConfig.UserGroups)
                                #if($group == "Writer")
                                        #set($isUser = true)
                                #elseif($group == "PartialAdmin")
                                        #set($isAdmin = true)
                                #elseif($group == "Administrator")
                                        #set($isAdmin = true)
                                #end
                        #end

                        </div>
                        <div style="bottom: -40px; right: -1px;" class="textRight posAb" id="buttonPanel-bottom">
                            #if($basicEventId == 'noBasicEvent')
                                <input type="button" name="cancel" value="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" title="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" class="mainButton" onclick="window.location.href='ShowEvent?id=$!event.id&action=event';" />
                            #else
                                <input type="button" name="cancel" value="${placeholderWithTranslation.zuruck}" class="mainButton" onclick="window.location.href='ShowGuestList?search-event=$!basicEventId';" />
                            #end
                        </div>

                        </form>
                </div>
        </div>

</div>

<script type="text/javascript"><!--//--><![CDATA[//><!--
        function orderGuestList(column) {
                document.getElementById('search-listorder').value = column;
                document.getElementById('guestListFilter').submit();
        }

        #if($invited && $invited == 0 && $notInvited && $notInvited == 0 && ! $doNotAlert)
                showWarning('Sie haben keine Person ausgewählt.');
        #elseif($notInvited)
                #if($notInvited == 1)
                        showWarning('${placeholderWithTranslation.HINT_GUEST_ALREADY_INVITED_SINGULAR}');
                #elseif($notInvited > 1)
                        showWarning('$!notInvited' + ' ' + '${placeholderWithTranslation.HINT_GUEST_ALREADY_INVITED_PLURAL}');
                #end
        #end

        var toggleSelectAll = function() {
                var guestsTable = $("table.sortable");
                var checkboxes = guestsTable.find('input[type="checkbox"]');
                var icons = guestsTable.find('img[class*="invisibleselector"]');
                if (document.getElementById('select-all').checked) {
                        checkboxes.prop('checked', false);
                        checkboxes.prop('disabled', true);
                        checkboxes.addClass( "invisible" );
                        icons.removeClass( "invisible" );
                } else {
                        checkboxes.prop('disabled', false);
                        checkboxes.removeClass( "invisible" );
                        icons.addClass( "invisible" );
                }
        };
//--><!]]></script>

#parse("inc/footer.vm")
