#set($activeMenu = "Veranstaltungen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_GUESTLIST}: $!message.plain($event.shortname)")
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_GUEST}")
#set($entity="GUEST")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_GUEST_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_GUEST_PLURAL}")

#parse("inc/header.vm")

<div data-pdfexport="${paths.staticWeb}pdftemplate/list" id="pdfetemplate-list"></div>
<div data-orgunit="$!octopusConfig.personalConfig.orgUnitId" id="pdfetemplate-orgunit"></div>
<div data-errormsg="${placeholderWithTranslation.PDF_TEMPLATE_LIST_NOT_LOAD}" id="pdfetemplate-list-errormsg"></div>
<div data-csvexport="${paths.staticWeb}csvexport/$event.id" id="csv-export"></div>
<script type="text/javascript" src="${paths.staticWeb}js/vera/veraweb-pdfexport.js"></script>
<style type="text/css"><!--/*--><![CDATA[/*><!--*/
    .column {
        box-sizing: border-box;
        float: left;
        width: 33.33%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        box-sizing: border-box;
        content: "";
        display: table;
        clear: both;
    }

    .checkbox-margin {
        margin: 9px 5px 9px 0;
    }
    .mainButtonCheck,
    input.active {
        color: #8b0f08 !important;
        margin-left:5px;
    }
/*]]>*/--></style>

<div id="content_container">

    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}: </strong><span><a href="${paths.staticWeb}do/"
                                                                                      title="Zur Startseite">${placeholderWithTranslation.GENERIC_HOME}</a> &gt; ${placeholderWithTranslation.GENERIC_EVENT_PLURAL} &gt; ${placeholderWithTranslation.GENERIC_EDIT_EVENT}</span>
    </div> <!--breadcrumb-->

    <h1>
        ${placeholderWithTranslation.gasteverwaltungderveranstaltung}: $!message.plain($event.shortname)
    </h1>

    #if(!$isNewEvent)
        #set($completeEventHeader = true)
        #parse("inc/event-header.vm")
    #end

    <div style="visibility:hidden" class="exportErr msg errormsg">
        ${placeholderWithTranslation.SALUTATION_ERROR_LOAD}
    </div>

    <div id="main_content" class="tabs contentBox marginBottom10 marginTop20 grayBorder" style="border-bottom:0">

        <div id="tabsMain">
            <ul vera-tab-group="" class="gray-gradient">
                <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                <li id="gaesteliste" class="inactive">
                    <div>${placeholderWithTranslation.GENERIC_LIST_OF_GUESTS}</div>
                </li>
                <li id="gastdetails" class="inactive">
                    <div>${placeholderWithTranslation.gastedetails}</div>
                </li>
                <li id="export" class="active">
                    <div>${placeholderWithTranslation.GENERIC_EXPORT}</div>
                </li>
            </ul>
        </div> <!--tabsMain-->

        <div style="border-bottom:1px solid #BDBDBD;" class="contentBoxColored tabsContent notBold posRel marginBottom40">
            <div class="notBold grayBorder contentBox marginBottom20 bgWhite clear">
                <h3>${placeholderWithTranslation.EXPORT_TITLE_CSV}-${placeholderWithTranslation.GENERIC_EXPORT}</h3>
                <input type="button" class="check mainButton autoWidth" value="${placeholderWithTranslation.SELECTION_CSV}"/>
                <form id="ExportGuestlistShot">
                    <div class="row">
                        <div class="column">
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_H_PARTNER}</strong>
                                <input type="button" class="partnerHCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_iscompany"/>${placeholderWithTranslation.CSV_IS_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_salutation_a_e1"/>${placeholderWithTranslation.CSV_SALUTATION}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_title_a_e1"/>${placeholderWithTranslation.CSV_ACADEMIC_TITLE}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_firstname_a_e1"/>${placeholderWithTranslation.CSV_FIRSTNAME}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_lastname_a_e1"/>${placeholderWithTranslation.CSV_NAME}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_domestic_a_e1"/>${placeholderWithTranslation.CSV_INLAND}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_sex_a_e1"/>${placeholderWithTranslation.CSV_GENDER}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_birthday_a_e1"/>${placeholderWithTranslation.CSV_BIRTHDAY}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_birthplace_a_e1"/>${placeholderWithTranslation.CSV_PLACE_OF_BIRTH}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_diplodate_a_e1"/>${placeholderWithTranslation.CSV_ACC_DATE}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_languages_a_e1"/>${placeholderWithTranslation.CSV_LANGUAGES}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_nationality_a_e1"/>${placeholderWithTranslation.CSV_NATIONALITY}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_note_a_e1"/>${placeholderWithTranslation.CSV_COMMENT}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_noteorga_a_e1"/>${placeholderWithTranslation.CSV_HINT_ORGA}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_notehost_a_e1"/>${placeholderWithTranslation.CSV_HINT_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin partnerH" value="p_internal_id"/>${placeholderWithTranslation.CSV_INTERNAL_ID}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_PARTNER}</strong>
                                <input type="button" class="partnerCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin partner" value="p_salutation_b_e1"/>${placeholderWithTranslation.CSV_SALUTATION}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_title_b_e1"/>${placeholderWithTranslation.CSV_ACADEMIC_TITLE}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_firstname_b_e1"/>${placeholderWithTranslation.CSV_FIRSTNAME}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_lastname_b_e1"/>${placeholderWithTranslation.CSV_NAME}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_domestic_b_e1"/>${placeholderWithTranslation.CSV_INLAND}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_sex_b_e1"/>${placeholderWithTranslation.CSV_GENDER}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_birthday_b_e1"/>${placeholderWithTranslation.CSV_BIRTHDAY}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_diplodate_b_e1"/>${placeholderWithTranslation.CSV_ACC_DATE}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_languages_b_e1"/>${placeholderWithTranslation.CSV_LANGUAGES}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_nationality_b_e1"/>${placeholderWithTranslation.CSV_NATIONALITY}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_note_b_e1"/>${placeholderWithTranslation.CSV_COMMENT}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_noteorga_b_e1"/>${placeholderWithTranslation.CSV_HINT_ORGA}<br>
                            <input type="checkbox" class="checkbox-margin partner" value="p_notehost_b_e1"/>${placeholderWithTranslation.CSV_HINT_GUEST}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_GUEST_DATA}</strong>
                                <input type="button" class="guestPCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_changed"/>${placeholderWithTranslation.CSV_CHANGE}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_changedby"/>${placeholderWithTranslation.CSV_CHANGE_BY}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_created"/>${placeholderWithTranslation.CSV_CREATE}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_createdby"/>${placeholderWithTranslation.CSV_CREATE_BY}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_delegation"/>${placeholderWithTranslation.CSV_DELEGATE}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_diplodate"/>${placeholderWithTranslation.CSV_DIPLO}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_domestic_a"/>${placeholderWithTranslation.CSV_INLAND_ONE}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_domestic_b"/>${placeholderWithTranslation.CSV_INLAND_TWO}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_gender"/>${placeholderWithTranslation.CSV_GENDER_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_gender_p"/>${placeholderWithTranslation.CSV_GENDER_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_image_uuid"/>${placeholderWithTranslation.CSV_PICTURE_GAST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_image_uuid_p"/>${placeholderWithTranslation.CSV_PICTURE_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_invitationstatus"/>${placeholderWithTranslation.CSV_INVITE_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_invitationstatus_p"/>${placeholderWithTranslation.CSV_INVITE_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_invitationtype"/>${placeholderWithTranslation.CSV_INVITE_TYPE}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_ishost"/>${placeholderWithTranslation.CSV_HOST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_keywords"/>${placeholderWithTranslation.CSV_KEY_WORD}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_language">${placeholderWithTranslation.CSV_SPEAK_GAST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_language_p"/>${placeholderWithTranslation.CSV_SPEAK_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_login_required_uuid"/>${placeholderWithTranslation.CSV_LOGIN_NES}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_nationality"/>${placeholderWithTranslation.CSV_STATE_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_nationality_p"/>${placeholderWithTranslation.CSV_STATE_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_notehost"/>${placeholderWithTranslation.CSV_NOTE_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_notehost_p"/>${placeholderWithTranslation.CSV_NOTE_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_noteorga"/>${placeholderWithTranslation.CSV_NOTE_ORGA_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_noteorga_p"/>${placeholderWithTranslation.CSV_NOTE_ORGA_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_orderno"/>${placeholderWithTranslation.CSV_ORDER_NR_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_orderno_p"/>${placeholderWithTranslation.CSV_ORDER_NR_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_osiam_login"/>${placeholderWithTranslation.CSV_OSIAM_LOGIN}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_rank"/>${placeholderWithTranslation.CSV_RANK}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_reserve"/>${placeholderWithTranslation.CSV_RESERVE}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_seatno"/>${placeholderWithTranslation.CSV_SEAT_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_seatno_p"/>${placeholderWithTranslation.CSV_SEAT_PERSON}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_tableno"/>${placeholderWithTranslation.CSV_TABLE_NR_GUEST}<br>
                            <input type="checkbox" class="checkbox-margin guestP" value="g_tableno_p"/>${placeholderWithTranslation.CSV_TABLE_NR_PERSON}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_FUTHER_ADDRESSES_BUISNESS}</strong>
                                <input type="button" class="geschaeftCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_function_a_e1"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_company_a_e1"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_street_a_e1"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_zipcode_a_e1"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_city_a_e1"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_state_a_e1"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_country_a_e1"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_pobox_a_e1"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_poboxzipcode_a_e1"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_suffix1_a_e1"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_suffix2_a_e1"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_fon_a_e1"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_fax_a_e1"/>${placeholderWithTranslation.CSV_FAX}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_mobil_a_e1"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_mail_a_e1"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin geschaeft" value="p_url_a_e1"/>${placeholderWithTranslation.CSV_WWW}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_FUTHER_ADDRESSES_PRIVAT}</strong>
                                <input type="button" class="privCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin priv" value="p_function_b_e1"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_company_b_e1"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_street_b_e1"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_zipcode_b_e1"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_state_b_e1"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_city_b_e1"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_country_b_e1"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_pobox_b_e1"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_poboxzipcode_b_e1"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_suffix1_b_e1"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_suffix2_b_e1"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_fon_b_e1"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_fax_b_e1"/>${placeholderWithTranslation.CSV_FAX}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_mobil_b_e1"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_mail_b_e1"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin priv" value="p_url_b_e1"/>${placeholderWithTranslation.CSV_WWW}<br>
                        </div>
                        <div class="column">
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_H_E2}</strong>
                                <input type="button" class="personHE2Check autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_salutation_a_e2"/>${placeholderWithTranslation.CSV_SALUTATION}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_birthplace_a_e2"/>${placeholderWithTranslation.CSV_PLACE_OF_BIRTH}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_title_a_e2"/>${placeholderWithTranslation.CSV_ACADEMIC_TITLE}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_firstname_a_e2"/>${placeholderWithTranslation.CSV_FIRSTNAME}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_lastname_a_e2"/>${placeholderWithTranslation.CSV_NAME}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_function_a_e2"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_company_a_e2"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_street_a_e2"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_zipcode_a_e2"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_state_a_e2"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_city_a_e2"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_country_a_e2"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_pobox_a_e2"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_poboxzipcode_a_e2"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_suffix1_a_e2"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_suffix2_a_e2"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_fon_a_e2"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_fax_a_e2"/>${placeholderWithTranslation.CSV_FAX}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_mobil_a_e2"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_mail_a_e2"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin personHE2" value="p_url_a_e2"/>${placeholderWithTranslation.CSV_WWW}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_H_E3}</strong>
                                <input type="button" class="personHE3Check autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_function_a_e3"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_company_a_e3"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_street_a_e3"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_zipcode_a_e3"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_state_a_e3"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_city_a_e3"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_country_a_e3"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_pobox_a_e3"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_poboxzipcode_a_e3"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_suffix1_a_e3"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_suffix2_a_e3"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_fon_a_e3"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_fax_a_e3"/>${placeholderWithTranslation.CSV_FAX}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_mobil_a_e3"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_mail_a_e3"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin personHE3" value="p_url_a_e3"/>${placeholderWithTranslation.CSV_WWW}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_H_E2}</strong>
                                <input type="button" class="personBE2Check autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_function_b_e2"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_company_b_e2"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_salutation_b_e2"/>${placeholderWithTranslation.CSV_SALUTATION}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_title_b_e2"/>${placeholderWithTranslation.CSV_ACADEMIC_TITLE}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_firstname_b_e2"/>${placeholderWithTranslation.CSV_FIRSTNAME}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_lastname_b_e2"/>${placeholderWithTranslation.CSV_NAME}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_street_b_e2"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_zipcode_b_e2"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_state_b_e2"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_city_b_e2"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_country_b_e2"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_pobox_b_e2"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_poboxzipcode_b_e2"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_suffix1_b_e2"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_suffix2_b_e2"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_fon_b_e2"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_mobil_b_e2"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_mail_b_e2"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin personBE2" value="p_url_b_e2"/>${placeholderWithTranslation.CSV_WWW}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_PERSON_B_E3}</strong>
                                <input type="button" class="personBE3Check autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br>
                            </div>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_function_b_e3"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_company_b_e3"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_street_b_e3"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_zipcode_b_e3"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_state_b_e3"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_city_b_e3"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_country_b_e3"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_pobox_b_e3"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_poboxzipcode_b_e3"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_suffix1_b_e3"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_suffix2_b_e3"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_fon_b_e3"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_fax_b_e3"/>${placeholderWithTranslation.CSV_FAX}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_mobil_b_e3"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_mail_b_e3"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin personBE3" value="p_url_b_e3"/>${placeholderWithTranslation.CSV_WWW}<br>
                        </div>
                        <div class="column">
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_FUTHER_ADDRESSES}</strong><input type="button" class="anschriftWeitereCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br></div>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_function_c_e1"/>${placeholderWithTranslation.CSV_FUNCTION}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_company_c_e1"/>${placeholderWithTranslation.CSV_COMPANY}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_street_c_e1"/>${placeholderWithTranslation.CSV_STREET}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_zipcode_c_e1"/>${placeholderWithTranslation.CSV_PLZ_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_state_c_e1"/>${placeholderWithTranslation.CSV_FEDERAL_STATE}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_city_c_e1"/>${placeholderWithTranslation.CSV_PLACE}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_country_c_e1"/>${placeholderWithTranslation.CSV_STATE}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_pobox_c_e1"/>${placeholderWithTranslation.CSV_FEDERAL_STATE_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_poboxzipcode_c_e1"/>${placeholderWithTranslation.CSV_POBOX}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_suffix1_c_e1"/>${placeholderWithTranslation.CSV_IBAN}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_suffix2_c_e1"/>${placeholderWithTranslation.CSV_BIC}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_fon_c_e1"/>${placeholderWithTranslation.CSV_FON}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_fax_c_e1"/>${placeholderWithTranslation.CSV_FAX}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_mobil_c_e1"/>${placeholderWithTranslation.CSV_MOBIL}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_mail_c_e1"/>${placeholderWithTranslation.CSV_MAIL}<br>
                            <input type="checkbox" class="checkbox-margin anschriftWeitere" value="p_url_c_e1"/>${placeholderWithTranslation.CSV_WWW}<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_OPTIONAL_FIELDS}</strong><input type="button" class="optionFieldCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br></div>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_00"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 00<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_01"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 01<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_02"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 02<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_03"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 03<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_04"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 04<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_05"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 05<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_06"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 06<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_07"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 07<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_08"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 08<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_09"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 09<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_10"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 10<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_11"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 11<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_12"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 12<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_13"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 13<br>
                            <input type="checkbox" class="checkbox-margin optionFields" value="OPTIONAL_FIELD_LABEL_14"/>${placeholderWithTranslation.CSV_OPTIONAL_FIELD} 14<br>
                            <div style="margin-top: 20px"><strong>${placeholderWithTranslation.CSV_HEADLINE_MORE_FIELDS}</strong><input type="button" class="extraFieldCheck autoWidth mainButtonCheck" value="${placeholderWithTranslation.SELECTION_ONE}"/><br></div>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_created"/>${placeholderWithTranslation.CSV_PERSON_CREATE}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_createdby"/>${placeholderWithTranslation.CSV_PERSON_CREATE_BY}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_changed"/>${placeholderWithTranslation.CSV_PERSON_CHANGED}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_changedby"/>${placeholderWithTranslation.CSV_PERSON_CHANGED_BY}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_deleted"/>${placeholderWithTranslation.CSV_PERSON_DELETED}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_dateexpire"/>${placeholderWithTranslation.CSV_PERSON_DATE_OVER}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="p_importsource"/>${placeholderWithTranslation.CSV_PERSON_SOURCE_IMPORT}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="w_name"/>${placeholderWithTranslation.CSV_W_NAME}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="delegationLink"/>${placeholderWithTranslation.CSV_DELEGATION_LINK}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="delegationUser"/>${placeholderWithTranslation.CSV_DELEGATION_USER}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="delegationPassword"/>${placeholderWithTranslation.CSV_DELEGATION_PW}<br>
                            <input type="checkbox" class="checkbox-margin extraFields" value="passwordResetLink"/>${placeholderWithTranslation.CSV_DELEGATION_PW_RESET_LINK}<br>
                        </div>
                    </div>


                    <input type="submit" name="export" value="${placeholderWithTranslation.exportieren}" title="${placeholderWithTranslation.exportieren}" class="mainButton autoWidth" />
                </form>
            </div>

            <div class="notBold grayBorder contentBox marginBottom20 bgWhite">
                <h3>${placeholderWithTranslation.PDF_GENERATE_LABEL}</h3>

                <form id="PdfGenerateForm" action="${paths.staticWeb}pdftemplate/export" method="GET">
                    <input type="hidden" name="eventId" value="$event.id"/>
                    <select id="pdftemplate-combo" name="templateId" style="height: 29px;"></select>
                    <input type="submit" value="${placeholderWithTranslation.PDF_GENERATE_BUTTON}"
                           title="${placeholderWithTranslation.PDF_GENERATE_BUTTON}" class="mainButton autoWidth"/>
                </form>
            </div>

            <div style="bottom: -40px; right: -1px;" class="textRight posAb" id="buttonPanel-bottom">
                <input type="button" name="cancel"
                       value="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}"
                       title="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" class="mainButton"
                       onclick="window.location.href='ShowEvent?id=$!event.id&action=event';"/>
            </div>
        </div> <!--contentBoxColored-->

    </div> <!--main_content-->

</div> <!--content_container-->

<script type="text/javascript"><!--//--><![CDATA[//><!--
    $( document ).ready(function() {
        $('.exportErr').hide();
    });

$(function () {
    $('li#gaesteliste').click(function () {
        window.location.href = '${paths.staticWeb}do/ShowGuestList?selectNone=true';
    });

    $('li#gastdetails').click(function () {
        window.location.href = '${paths.staticWeb}do/ShowGuestDetail';
    });

    $('.check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox').prop('checked', checked);
        $(this).data('checked', checked);
    });

    $('.extraFieldCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.extraFields').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.optionFieldCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.optionFields').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.anschriftWeitereCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.anschriftWeitere').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.personCE3Check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.personCE3').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.personCE2Check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.personCE2').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.personBE3Check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.personBE3').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.personBE2Check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.personBE2').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.personHE3Check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.personHE3').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.personHE2Check:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.personHE2').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.privCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.priv').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.geschaeftCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.geschaeft').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.guestPCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.guestP').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.partnerCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.partner').prop('checked',checked);
        $(this).data('checked', checked);
    });
    $('.partnerHCheck:button').click(function(){
        var checked = !$(this).data('checked');
        $('input:checkbox.partnerH').prop('checked',checked);
        $(this).data('checked', checked);
    });

    $('#ExportGuestlistShot').on('submit', function(e) {
        e.preventDefault();
        e.stopPropagation();

        var sel = $('input[type=checkbox]:checked').map(function (_, el) {
            return $(el).val();
        }).get();

        jQuery.ajax({
            url: $("#csv-export").data("csvexport"),
            data: {
                'selectedFields': sel,
                'oa.path.delegation': '$url.urlForDelegation',
                'oa.path.media': '$url.urlForMediaRepresentatives',
                'oa.path.event': '$url.urlForFreeVisitors',
                'oa.path.passwordReset': '$url.urlForPasswordReset'
            },
            type: 'GET',
            success: function(response, status, xhr) {
                var filename = "";
                var disposition = xhr.getResponseHeader('Content-Disposition');
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                }

                var type = xhr.getResponseHeader('Content-Type');
                var blob = new Blob([response], { type: type });

                if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    var URL = window.URL || window.webkitURL;
                    var downloadUrl = URL.createObjectURL(blob);

                    if (filename) {
                        var a = document.createElement("a");
                        if (typeof a.download === 'undefined') {
                            window.location = downloadUrl;
                        } else {
                            a.href = downloadUrl;
                            a.download = filename;
                            document.body.appendChild(a);
                            a.click();
                        }
                    } else {
                        window.location = downloadUrl;
                    }

                    setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100);
                }
            $('input:checkbox').removeAttr('checked');
            },
            error: function (data) {
                $('.exportErr').show();
            }
        });
    });
});
//--><!]]></script>

#parse("inc/footer.vm")
