#set($activeMenu = "Veranstaltungen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_GUESTLIST}: $!message.plain($event.shortname)")
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_GUEST}")
#set($entity="GUEST")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_GUEST_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_GUEST_PLURAL}")

#parse("inc/header.vm")

<div data-pdfexport="${paths.staticWeb}pdftemplate/list" id="pdfetemplate-list"></div>
<div data-orgunit="$!octopusConfig.personalConfig.orgUnitId" id="pdfetemplate-orgunit"></div>
<div data-errormsg="${placeholderWithTranslation.PDF_TEMPLATE_LIST_NOT_LOAD}" id="pdfetemplate-list-errormsg"></div>

<script type="text/javascript" src="${paths.staticWeb}js/vera/veraweb-pdfexport.js"></script>

<div id="content_container">

	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}: </strong><span><a href="${paths.staticWeb}do/" title="Zur Startseite">${placeholderWithTranslation.GENERIC_HOME}</a> &gt; ${placeholderWithTranslation.GENERIC_EVENT_PLURAL} &gt; ${placeholderWithTranslation.GENERIC_EDIT_EVENT}</span>
	</div> <!--breadcrumb-->

	<h1>
	    ${placeholderWithTranslation.gasteverwaltungderveranstaltung}: $!message.plain($event.shortname)
	</h1>

	#if(!$isNewEvent)
		#set($completeEventHeader = true)
		#parse("inc/event-header.vm")
	#end

	<div id="main_content" class="tabs contentBox marginBottom10 marginTop20 grayBorder" style="border-bottom:0">

		<div id="tabsMain">
			<ul vera-tab-group="" class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
				<li id="gaesteliste" class="inactive">
                    <div>${placeholderWithTranslation.GENERIC_LIST_OF_GUESTS}</div>
				</li>
                <li id="gastdetails" class="inactive">
                    <div>${placeholderWithTranslation.gastedetails}</div>
				</li>
                <li id="export" class="active">
                    <div>${placeholderWithTranslation.GENERIC_EXPORT}</div>
				</li>
			</ul>
		</div> <!--tabsMain-->

        <div style="border-bottom:1px solid #BDBDBD;" class="contentBoxColored tabsContent notBold posRel marginBottom40">

			<div class="notBold grayBorder contentBox marginBottom20 bgWhite clear">
				<h3>${placeholderWithTranslation.EXPORT_TITLE_CSV}-${placeholderWithTranslation.GENERIC_EXPORT}</h3>

				<form id="ExportForm" action="${paths.staticWeb}csvexport/$event.id" method="GET" class="floatLeft marginRight5">
					<input type="hidden" name="oa.path.delegation" value="$url.urlForDelegation" />
					<input type="hidden" name="oa.path.media" value="$url.urlForMediaRepresentatives" />
					<input type="hidden" name="oa.path.event" value="$url.urlForFreeVisitors" />
					<input type="hidden" name="oa.path.passwordReset" value="$url.urlForPasswordReset" />
					<input type="submit" name="export" value="${placeholderWithTranslation.EXPORT_AS_CSV}" title="${placeholderWithTranslation.EXPORT_AS_CSV}" class="mainButton autoWidth" />
				</form>
				<form id="ExportGuestlistShot" action="${paths.staticWeb}csvexport/$event.id" method="GET">
					<input type="hidden" name="guestListShortExport" value="true" />
					<input type="submit" name="export" value="${placeholderWithTranslation.EXPORT_AS_CSV_SHORT}" title="${placeholderWithTranslation.EXPORT_AS_CSV_SHORT}" class="mainButton autoWidth" />
				</form>
			</div>

			<div class="notBold grayBorder contentBox marginBottom20 bgWhite">
				<h3>${placeholderWithTranslation.PDF_GENERATE_LABEL}</h3>

				<form id="PdfGenerateForm" action="${paths.staticWeb}pdftemplate/export" method="GET">
					<input type="hidden" name="eventId" value="$event.id" />
					<select id="pdftemplate-combo" name="templateId" style="height: 29px;"></select>
					<input type="submit" value="${placeholderWithTranslation.PDF_GENERATE_BUTTON}" title="${placeholderWithTranslation.PDF_GENERATE_BUTTON}" class="mainButton autoWidth" />
				</form>
			</div>

			<div style="bottom: -40px; right: -1px;" class="textRight posAb" id="buttonPanel-bottom">
				<input type="button" name="cancel" value="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" title="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" class="mainButton" onclick="window.location.href='ShowEvent?id=$!event.id&action=event';" />
			</div>
        </div> <!--contentBoxColored-->

	</div> <!--main_content-->

</div> <!--content_container-->

<script type="text/javascript">

	$(function () {
        $('li#gaesteliste').click(function () {
            window.location.href = '${paths.staticWeb}do/ShowGuestList?selectNone=true';
        });
		$('li#gastdetails').click(function () {
			window.location.href = '${paths.staticWeb}do/ShowGuestDetail';
		});
	});

</script>

#parse("inc/footer.vm")
