#set($activeMenu = "Veranstaltungen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_GUESTLIST}: $!message.plain($event.shortname)")
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_GUEST}")
#set($entity="GUEST")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_GUEST_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_GUEST_PLURAL}")
#parse("inc/header.vm")

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
            <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_EVENT_PLURAL} > ${placeholderWithTranslation.GENERIC_EDIT_EVENT}</span>
    </div>
    <h1>${placeholderWithTranslation.gasteverwaltungderveranstaltung}: $!message.plain($event.shortname)</h1>

    #if(!$isNewEvent)
        #set($completeEventHeader = true)
          #parse("inc/event-header.vm")
    #end
    ##IMPLEMENTNEWMESSAGEMETHOD
    #if($invited)
        <vera-success>
            #if($invited == 0)
                ${placeholderWithTranslation.GUEST_LIST_DIDNT_CHANGE}.
            #elseif($invited == 1)
                ${placeholderWithTranslation.GUEST_LIST_EXPAND_ONE}.
            #else
                ${placeholderWithTranslation.GUEST_LIST_EXPAND_MULTIPLE_PART_ONE} $invited ${placeholderWithTranslation.GUEST_LIST_EXPAND_MULTIPLE_PART_TWO}.
            #end
        </vera-success>
    #end
    #if($mailinglistParams && $mailinglistParams.count)
        <vera-success>
            #if($mailinglistParams.count == 0)
                Verteiler &quot;$!message.plain($mailinglist.name)&quot; wurde ohne Person angelegt.
            #elseif($mailinglistParams.count == 1)
                Verteiler &quot;$!message.plain($mailinglist.name)&quot; wurde mit einer Person angelegt.
            #else
                Verteiler &quot;$!message.plain($mailinglist.name)&quot; wurde mit $!mailinglistParams.count Personen angelegt.
            #end
        </vera-success>
    #end
    #if($octopusRequest.task == "CalcSerialNumber" && (!$listquestions || $listquestions.size() == 0))
        <vera-success>
            ${placeholderWithTranslation.GUEST_LIST_NUMBER_CALCULATED_SAVED}.
        </vera-success>
    #end
    <div id="main_content" class="tabs contentBox grayBorder marginBottom40 marginTop20 posRel">

        <div id="tabsMain">
            <ul vera-tab-group="" class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                <li id="gaesteliste" class="inactive">
                    <div>${placeholderWithTranslation.GENERIC_LIST_OF_GUESTS}</div>
                </li>
                <li id="gastdetails" #if($responseTab == "detail") vera-tab-default #end class="active">
                    <div>${placeholderWithTranslation.gastedetails}</div>
                </li>
                <li id="export" class="inactive">
                    <div>${placeholderWithTranslation.GENERIC_EXPORT}</div>
                </li>
            </ul>
        </div>

        <div class="contentBoxColored tabsContent" vera-content="">

            #parse("inc/guest-detail-header.vm")

            <form id="GuestForm" name="GuestForm" action="SaveGuestDetail?guest-id=$!guest.id" method="post">
            <input type="hidden" name="tab" id="tab" value="$tab" />
            <div class="contentBox grayBorder tabs marginBottom10" vera-content="">
                <div id="tabsMain2">
                    <ul vera-tab-group="" class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                        <li id="allgemein" vera-tab #if(!$tab || $tab == "detail-1") vera-tab-default #end onclick="$('#tab').attr('value', 'detail-1');"><div>${placeholderWithTranslation.GENERIC_GENERAL}</div>
                        </li><li id="hauptperson" vera-tab #if($tab && $tab == "detail-2") vera-tab-default #end onclick="$('#tab').attr('value', 'detail-2');"><div>${placeholderWithTranslation.GENERIC_MAIN_PERSON}</div>
                        </li><li id="partner" vera-tab #if($tab && $tab == "detail-3") vera-tab-default #end onclick="$('#tab').attr('value', 'detail-3');"><div>${placeholderWithTranslation.GENERIC_PARTNER}</div>
                        </li>
                    </ul>
                </div>

                    <div class="tabsContent contentBox">
                        <input type="hidden" name="guestId" value="$!guest.id">
                        <input type="hidden" name="eventId" value="$!event.id">
                        <input type="hidden" name="id" value="$!guest.id">
                        <input type="hidden" name="guest-event" value="$!guest.event">
                        <input type="hidden" name="guest-person" value="$!guest.person">
                        <input type="hidden" name="guest-orderno_a" value="$!guest.orderno_a">
                        <input type="hidden" name="guest-orderno_b" value="$!guest.orderno_b">
                        <input type="hidden" name="categorie-modified" id="categorie-modified" value="false">
                        <input type="hidden" name="fetchRankFromMasterData" id="fetchRankFromMasterData" value="false">
                        <input type="hidden" name="image-uuid" value="$!guest.image_uuid">

                        #if($person.deleted == "t")
                        <vera-info>
                            ${placeholderWithTranslation.diestammdatendiesesgasteswurdengeloschtsiekonnennurdatenimrahmendieserveranstaltungbearbeiten}.
                        </vera-info>
                        #end

                        #openContentBlock("detail-1-block")

                        #if($duplicateErrorList)
                            #foreach($error in $duplicateErrorList)
                                <vera-warn vera-stay>$error</vera-warn>
                            #end
                        #end

                            #set($facade = $partner)
                            #if(($facade.Firstname && $facade.Firstname.length() > 0 )|| ($facade.Lastname && $facade.Lastname.length() > 0))
                                #set($withoutPartner=false)
                            #else
                                 #set($withoutPartner=true)
                            #end

                            <div class="table width100">
                                <div class="tableRow">
                                    <div class="tableCell width40">
                                        <label for="guest-invitationtype">${placeholderWithTranslation.EVENT_INVITATION_TYPE}:</label>
                                        <select id="guest-invitationtype" name="guest-invitationtype" onchange="setGuestInvitationtype(this.value);">
                                            #if($withoutPartner)
                                                <option disabled value="1"#if($guest.invitationtype && $guest.invitationtype == 1) selected#end>${placeholderWithTranslation.NO_PARTNER_IN_MASTERDATA}</option>
                                            #else
                                                <option value="1"#if($guest.invitationtype && $guest.invitationtype == 1) selected#end>${placeholderWithTranslation.EVENT_INVITATION_TYPE_WITH_PARTNER}</option>
                                            #end
                                            <option value="2"#if($guest.invitationtype && $guest.invitationtype == 2) selected#end>${placeholderWithTranslation.EVENT_INVITATION_TYPE_WITHOUT_PARTNER}</option>
                                             #if($withoutPartner)
                                                <option disabled value="3"#if($guest.invitationtype && $guest.invitationtype == 3) selected#end>${placeholderWithTranslation.NO_PARTNER_IN_MASTERDATA}</option>
                                             #else
                                                <option value="3"#if($guest.invitationtype && $guest.invitationtype == 3) selected#end>${placeholderWithTranslation.EVENT_INVITATION_TYPE_ONLY_PARTNER}</option>
                                             #end
                                        </select>
                                    </div>
                                    <div class="tableCell width25 inlineLabel" style="border-left: 1px solid #C1C1C1; border-right: 1px solid #C1C1C1; padding-left: 30px; vertical-align:middle;">
                                        <label for="showguest-ishost" style="white-space:nowrap">${placeholderWithTranslation.istgastgeber}:
                                        #if($guest.ishost == 1)
                                            <span class="notBold">${placeholderWithTranslation.GENERIC_YES}</span>
                                            <input type="hidden" name="showguest-ishost" value="1"/>
                                            <input type="hidden" name="guest-ishost" value="1"/>
                                        #else
                                            <span class="notBold">${placeholderWithTranslation.GENERIC_NO}</span>
                                            <input type="hidden" name="showguest-ishost" value="0"/>
                                            <input type="hidden" name="guest-ishost" value="0"/>
                                        #end
                                        </label>
                                    </div>

                                    <div class="tableCell inlineLabel" style="padding-left: 30px; vertical-align:middle;">
                                        <label for="guest-reserve">${placeholderWithTranslation.reserve}:</label>
                                        <input type="checkbox" id="guest-reserve" name="guest-reserve" value="true" class="noFloat" #if($guest.reserve) checked #end>
                                    </div>
                                </div>
                                <div class="tableRow">
                                    <div class="tableCell paddingTop10">
                                        <label for="guest-category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}:</label>
                                        <select name="guest-category" id="guest-category" onchange="setModified('categorie')">
                                            <option value="0">${placeholderWithTranslation.GENERIC_NONE}</option>
                                            #foreach($category in $personCategories)
                                                <option value="$category.id" #if($guest.category == $category.id) selected#end>$!message.plain($category.name)</option>
                                            #end
                                        </select>
                                    </div>
                                    <div class="tableCell width20 paddingTop10">
                                        <label for="guest-rank">${placeholderWithTranslation.GENERIC_RANK}:</label>
                                        <input type="text" id="guest-rank" name="guest-rank" value="$!message.text($guest.rank)">
                                    </div>

                                    <div class="tableCell paddingTop10" style="padding-right: 10px">
                                        <label for="guest-keywords">${placeholderWithTranslation.GENERIC_KEYWORDS}:</label>
                                        <input class="tags" type="text" id="guest-keywords" name="guest-keywords" value="$!message.text($guest.keywords)">
                                    </div>
                                    <div class="tableCell"></div>
                                </div>
                                #set( $idcounter = 0)
                                #set( $temp = 0)
                                #foreach( $field in $delegationFields)

                                    ## A new row would begin after each third field
                                    #if($idcounter%3 == 0)
                                        <div class="tableRow">
                                    #end
                                    <!-- type id: $field.fkType.value -->

                                        <div class="tableCell">
                                            <label id="event-delegation-field-label-$idcounter" for="event-delegation-field-$counter">$field.label:</label>
                                            #if($field.fkType == 1)
                                                <input id="event-delegation-field-input-$idcounter" name="optional-field-input-$field.fkDelegationField"
                                                       onchange="setModified('')" value="$field.content"></input>
                                            #elseif($field.fkType == 2)
                                                <select name="optional-field-dropdown-$field.fkDelegationField">
                                                    <option value="">${placeholderWithTranslation.GENERIC_PLEASE_CHOOSE}</option>
                                                     #foreach ($typeContentEntry in $field.optionalFieldTypeContents)
                                                        <option
                                                            #if ($typeContentEntry.isSelected)
                                                                selected
                                                            #end
                                                        value="$typeContentEntry.content" >$typeContentEntry.content</option>
                                                     #end
                                                </select>
                                            #elseif($field.fkType == 3)
                                                <select multiple name="optional-field-multipledropdown-$field.fkDelegationField">
                                                     #foreach ($typeContentEntry in $field.optionalFieldTypeContents)
                                                        <option
                                                            #if ($typeContentEntry.isSelected)
                                                                selected
                                                            #end
                                                        value="$typeContentEntry.content">$typeContentEntry.content</option>
                                                     #end
                                                </select>
                                            #end
                                        </div>

                                    #set( $idcounter = $idcounter + 1)

                                    ## Ending the row after each third field
                                    #if ($idcounter%3 == 0 || ${delegationFields.size()} == $idcounter)
                                        </div>
                                    #end
                                #end
                            </div>
                        #closeContentBlock()

                        #openContentBlock("detail-2-block")

                        #if($duplicateErrorList)
                            #foreach($error in $duplicateErrorList)
                                <vera-warn vera-stay>$error</vera-warn>
                            #end
                        #end

                        <div id="detail-2-data-block" #if($guest.invitationtype == 3) style="display: none;"#end>
                        #set($ext = "_a")
                        #set($facade = $guest.Main)
                        #set($isPartner = false)
                        #parse("inc/guest-member.vm")
                        </div>

                        <div id="detail-2-reload-block" #if($guest.invitationtype != 3) style="display: none;"#end>
                            <vera-info vera-stay>
                                ${placeholderWithTranslation.MESSAGE_INVITATION_WITHOUT_MAIN_PERSON}.
                                ${placeholderWithTranslation.MESSAGE_INVITATION_WITHOUT_PERSON_PART1}
                                <a href="javascript:setGuestInvitationtype(1);">
                                ${placeholderWithTranslation.MESSAGE_INVITATION_WITHOUT_PERSON_PART2_BUTTON}
                                </a>?
                                <img src="../images/dialog_close.png" id="close-info" onclick="$(this).parent().get(0).remove()" />
                            </vera-info>
                        </div>
        <!-- alter Code der tabs -->

##<div id="subtab-detail-block">
##    <table class="subtab" border="0" cellspacing="0" cellpadding="0"><tr>
##        <td class="subtableft">&nbsp;</td>
##        <td class="subtab" id="detail-1-tab"><a href="javascript:showTab('detail-1');" id="detail-1-link" class="subtab">${placeholderWithTranslation.allgemein}</a></td>
##        <td class="subtab" id="detail-2-tab"><a href="javascript:showTab('detail-2');" id="detail-2-link" class="subtab">$!config.main</a></td>
## partner tab now renders inactive if there is no partner defined or none has been invited
## for existing guests, newly created guests will render the tab active
## as per change request for version 1.2.0
## cklein 2008-02-15
 ##             <td #if( ( $guest.getIsPartnerInvited() && $person.getHasPartner() ) || $octopusRequest.task == "CreatePerson" ) class="subtab" #else class="tabdisabled" #end id="detail-3-tab"><a href="javascript:showTab('detail-3');" id="detail-3-link" class="subtab">$!config.partner</a></td>
##            <td class="subtab" id="detail-3-tab"><a href="javascript:showTab('detail-3');" id="detail-3-link" class="subtab">$!config.partner</a></td>
##        <td class="subtabcenter">&nbsp;</td>
##    </tr></table>
##</div>*# <!-- alter Code der tabs Ende -->
                        #closeContentBlock()

                        #openContentBlock("detail-3-block")

                        #if($duplicateErrorList)
                            #foreach($error in $duplicateErrorList)
                                <vera-warn vera-stay>$error</vera-warn>
                            #end
                        #end

                       #if(${guest.invitationstatus_b}!=0||${guest.tableno_b}!=0||${guest.seatno_b}!=0||${guest.language_b}!=""||${guest.nationality_b}!=""||${guest.notehost_b}!=""||${guest.noteorga_b}!="")
                           #set($partner_invited=1)
                        #else
                            #set($partner_invited=0)
                       #end

                        <div id="detail-3-data-block" #if($guest.invitationtype == 2 && $partner_invited==0) style="display: none;"#end>
                        #set($ext = "_b")
                        #set($facade = $guest.Partner)
                        #set($isPartner = true)
                        #parse("inc/guest-member.vm")
                        </div>

                        <div id="detail-3-reload-block" #if($guest.invitationtype != 2 || $partner_invited==1) style="display: none;"#end>
                            <vera-info vera-stay>
                                <p><strong>${placeholderWithTranslation.GENERIC_TOOLTIP}</strong></p>
                                ${placeholderWithTranslation.MESSAGE_INVITATION_WITHOUT_PARTNER}.
                                ${placeholderWithTranslation.MESSAGE_INVITATION_WITHOUT_PERSON_PART1}
                                <a href="javascript:setGuestInvitationtype(1);">
                                ${placeholderWithTranslation.MESSAGE_INVITATION_WITHOUT_PERSON_PART2_BUTTON}</a>?
                                <img src="../images/dialog_close.png" id="close-info" style="top:-32px;" onclick="$(this).parent().get(0).remove()" />
                            </vera-info vera-stay>
                        </div>
                        #closeContentBlock()
                        </div>
                    </div>

                    <div>
                    #if($person.deleted != "t")
                        #parse("inc/guestMasterDataNote.vm")
                    #end
                    #parse("inc/guest-detail-navi.vm")
                    </div>

                    <span id="buttonPanel-bottom" class="floatRight posAb" style="right: -1px; bottom: -40px;">
                        <input type="button" name="cancel" value="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" title="${placeholderWithTranslation.zuruckzudenveranstaltungsdetails}" class="mainButton" onclick="window.location.href='ShowEvent?id=$!event.id&action=event';" />
                    </span>
                  </form>

        </div><!--End class="tabsContent" -->

    </div><!-- End id="main_content" -->
</div> <!-- End id="content_container" -->

<script type="text/javascript" src="${paths.staticWeb}js/vera/guest-detail-tabs.js"></script>
<script type="text/javascript">
false
    function setGuestInvitationtype(type) {
        if (type == 1) {
            changeBlock('detail-2-data', new Array('detail-2-reload'));
            changeBlock('detail-3-data', new Array('detail-3-reload'));
            document.getElementById('guest-invitationtype').value = 1;
        } else if (type == 2) {
            changeBlock('detail-2-data', new Array('detail-2-reload'));
            changeBlock('detail-3-reload', new Array('detail-3-data'));
            document.getElementById('guest-invitationtype').value = 2;
        } else if (type == 3) {
            changeBlock('detail-2-reload', new Array('detail-2-data'));
            changeBlock('detail-3-data', new Array('detail-3-reload'));
            document.getElementById('guest-invitationtype').value = 3;
        }
    }

    #if(!$grants.mayWrite())
        disableForm(document.getElementById('GuestForm'));
    #end

    showTab(getTabParameter('detail-1'));

    $(function () {
        $('li#gaesteliste').click(function () {
            window.location.href = '${paths.staticWeb}do/ShowGuestList?selectNone=true';
        });
        $('li#export').click(function () {
            window.location.href = '${paths.staticWeb}do/ShowExportGuest';
        });
        $('li#allgemein').click(function () {
            showTab('detail-1');
            $('input#tab').val("detail-1");
        });
        $('li#hauptperson').click(function () {
            showTab('detail-2');
            $('input#tab').val("detail-2");
        });
        $('li#partner').click(function () {
            showTab('detail-3');
            $('input#tab').val("detail-3");
        });
    });

    #if(!$tab || $tab == 'detail-1') showTab('detail-1');
         $('input#tab').val("detail-1");
    #elseif($tab == 'detail-2') showTab('detail-2');
         $('input#tab').val("detail-2");
    #elseif($tab == 'detail-3') showTab('detail-3');
         $('input#tab').val("detail-3");
    #end
</script>

#parse("inc/footer.vm")
