#set($activeMenu = "Administration")
#if($location && $location.id)
	#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_LOCATION_EDIT}: $!message.plain($location.shortname)")
#else
	#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_LOCATION_CREATE}")
#end

#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_EVENT_LOCATION}")
#set($entity="EVENT_LOCATION")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_EVENT_LOCATION_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_EVENT_LOCATION_PLURAL}")
#parse("inc/header.vm")

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.GENERIC_EVENT_LOCATION_PLURAL}</span>
	</div>

	<h1>${placeholderWithTranslation.GENERIC_EVENT_LOCATION_PLURAL}</h1>

	<form id="formlist" name="formlist" action="" method="POST">
		<input type="hidden" name="savelocation" value="true">
		<input type="hidden" name="search" value="clear">

		<input type="hidden" name="location-id" value="$!location.id">
		<input type="hidden" name="location-orgunit" value="$!location.orgunit">

		#if($location.errors.size() > 0)
		<div style="width: 99%; background-color: #ffffff;">
		<vera-warn>
			$!message.plain($location.errors.get(0))<br>

		</vera-warn>
		</div>
		#elseif($listquestions && $listquestions.size() > 0)
		<vera-confirm>
			<strong>${placeholderWithTranslation.bittebestatigensiedasspeicherndieseraufgabe}</strong><br>
			<table class="form" style="margin: 5px 0px 0px 0px;">
			#foreach($quest in $listquestions.entrySet())
				<tr>
					<td><input type="hidden" name="$quest.key" value="true">$!message.plain($quest.value)</td>
				</tr>
				#set($save = true)
			#end
			</table><br>

			#if($save)
			<input type="submit" class="button" name="remove" value="${placeholderWithTranslation.GENERIC_YES}" title="${placeholderWithTranslation.speichern}"> &nbsp;
			#end
			<input type="button" class="cancel" name="cancel" value="${placeholderWithTranslation.GENERIC_NO}" onclick="window.location.href='CreateLocation?id=$!$locationtId';"> &nbsp;
		</vera-confirm>
		#end

		<div class="textRight mandatoryText">* = ${placeholderWithTranslation.pflichtfelder}</div>

		<table>
			<tr>
				<td class="width10 bold"><label for="location-name">${placeholderWithTranslation.GENERIC_LABELLING}*</label></td>
				<td><input type="text" name="location-name" value="$!message.text($location.name)" id="location-name" maxlength="200" onchange="setModified();"></td>
				<td class="width10 bold"><label for="id">${placeholderWithTranslation.GENERIC_ID}</label></td>
				<td><input type="text" name="id" value="$!message.text($location.id)" id="id" class="id" vera-disabled></td>
			</tr>

			<tr>
				<td class="width10 bold"><label for="location-contact-person">${placeholderWithTranslation.GENERIC_CONTACT_PERSON}</label></td>
				<td><input type="text" name="location-contactperson" value="$!message.text($location.contactperson)" id="location-contact-person" maxlength="250" onchange="setModified();"></td>
				<td class="width10 bold"><label for="location-address">${placeholderWithTranslation.GENERIC_STREET}</label></td>
				<td><input type="text" name="location-address" value="$!message.text($location.address)" id="location-address" maxlength="250" onchange="setModified();"></td>
			</tr>

			<tr>
				<td class="width10 bold"><label for="location-zip">${placeholderWithTranslation.GENERIC_POST_NUMBER}</label></td>
				<td><input type="text" name="location-zip" value="$!message.text($location.zip)" id="location-zip" maxlength="50" onchange="setModified();"></td>
				<td class="width10 bold"><label for="location-location">${placeholderWithTranslation.GENERIC_CITY}</label></td>
				<td><input type="text" name="location-location" value="$!message.text($location.location)" id="location-location" maxlength="100" onchange="setModified();"></td>
			</tr>

			<tr>
				<td class="width10 bold"><label for="location-callnumber">${placeholderWithTranslation.GENERIC_TELEFON}</label></td>
				<td><input type="text" name="location-callnumber" value="$!message.text($location.callnumber)" id="location-callnumber" maxlength="50" onchange="setModified();"></td>
				<td class="width10 bold"><label for="location-faxnumber">${placeholderWithTranslation.GENERIC_FAX}</label></td>
				<td><input type="text" name="location-faxnumber" value="$!message.text($location.faxnumber)" id="location-faxnumber" maxlength="50" onchange="setModified();"></td>
			</tr>

			<tr>
				<td class="width10 bold"><label for="location-email">${placeholderWithTranslation.email}</label></td>
				<td><input type="text" name="location-email" value="$!message.text($location.email)" id="location-email" maxlength="100" onchange="setModified();"></td>
				<td class="width10 bold"><label for="location-comment">${placeholderWithTranslation.GENERIC_REMARK}</label></td>
				<td><textarea name="location-comment" id="location-comment" onchange="setModified();">$!message.textarea($location.comment)</textarea></td>
			</tr>

			<tr>
				<td class="width10 bold"><label for="location-url">${placeholderWithTranslation.GENERIC_URL}</label></td>
				<td><input type="text" name="location-url" value="$!message.text($location.url)" id="location-url" maxlength="250" onchange="setModified();"></td>
				<td class="width10 bold"><label for="location-gpsdata">${placeholderWithTranslation.gpsdaten}</label></td>
				<td><input type="text" name="location-gpsdata" value="$!message.text($location.gpsdata)" id="location-gpsdata" maxlength="1000" onchange="setModified();"></td>
			</tr>

			<tr>
				<td class="width10 bold"><label for="location-roomnumber">${placeholderWithTranslation.GENERIC_ROOM_NUMBER}</label></td>
				<td><input type="text" name="location-roomnumber" value="$!message.text($location.roomnumber)" id="location-roomnumber" maxlength="250" onchange="setModified();"></td>
				<td></td>
				<td></td>
			</tr>

		</table>

		<div class="textRight marginTop10" id="buttonPanel-bottom">
			#if($grants.mayWrite())
				<input id="button.save" type="submit" name="save" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" onclick="document.getElementById('formlist').action='SaveLocation';" class="mainButton" />
			 #end
			<input id="button.back" type="button" name="cancel" class="mainButton" value="${placeholderWithTranslation.zuruck}" title="${placeholderWithTranslation.zuruckzurubersicht}" onclick="window.location.href='${paths.staticWeb}do/Location?start=0&selectNone=true';" />
		</div>

	</form>
</div>

#parse("inc/footer.vm")
