<form action="default" method="post" target="_top" onsubmit="if(document.getElementById('loginasproxy').checked) { this.action = 'LoginAsProxy'; this.task.value = 'LoginAsProxy'; }">
<h1 class="marginTop25">Connexion</h1>

<div class="table">
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.username">Nom d'utilisateur</label>
        	<input type="text" id="input.username" name="username">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.password">Mot de passe</label>
        	<input type="password" id="input.password" name="password">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell inlineLabel">
        	<label for="loginasproxy">Connectez-vous en représentation</label>
        	<input type="checkbox" value="true" name="input.loginasproxy" class="noFloat" id="loginasproxy">
        </div>
    </div>
</div>

<div id="buttonPanel-bottom" class="marginTop5 marginBottom20">
	<input type="submit" class="mainButton" value="Connexion" title="Connexion" name="submit" id="button.login" />
	<input type="reset" class="mainButton" value="Vider" title="Vider les champs" name="cancel" id="button.clearFields" />
</div>

<div class="hinweis grayBorder marginBottom20 notBold">
    <strong>Remarque</strong>
    <p>Veuillez utiliser le signe de votre organisation ou votre prénom.nom comme nom d'utilisateur.</p>
</div>

<input name="task" type="hidden" value="default">
<input name="loginlanguage" type="hidden" value="fr_FR">
<input name="languageSelector" type="hidden" value="fr_FR">

#if($responseParams.message && $octopusRequest.task != "Main" && $octopusRequest.task != "ShowLogin" && $octopusRequest.loginlanguage && $octopusRequest.loginlanguage == "fr_FR")
    #if($responseParams.message == "msg_too_many_attempts")
        <vera-warn>
            Trop de tentatives de connexion.
        </vera-warn>
    #end
<vera-warn>
	Il y avait une erreur lors de l'inscription. S'il vous pla&icirc;t v&eacute;rifier votre nom d'utilisateur et mot de passe.
</vera-warn>
#end
</form>
