<form action="default" method="post" target="_top" onsubmit="if(document.getElementById('loginasproxy').checked) { this.action = 'LoginAsProxy'; this.task.value = 'LoginAsProxy'; }">
<h1 class="marginTop25">Iniciar sesión</h1>

<div class="table">
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.username">Nombre de usuario</label>
        	<input type="text" id="input.username" name="username">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.password">Contraseña</label>
        	<input type="password" id="input.password" name="password">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell inlineLabel">
        	<label for="loginasproxy">Acceder como representante</label>
        	<input type="checkbox" value="true" name="input.loginasproxy" class="noFloat" id="loginasproxy">
        </div>
    </div>
</div>

<div id="buttonPanel-bottom" class="marginTop5 marginBottom20">
	<input type="submit" class="mainButton" value="Acceder" title="Acceder" name="submit" id="button.login" />
	<input type="reset" class="mainButton" value="Borrar" title="Borrar" name="cancel" id="button.clearFields" />
</div>

<div class="hinweis grayBorder marginBottom20 notBold">
    <strong>Aviso</strong>
    <p>Por favor, utilice el nombre de su organización o <strong>nombre.apellido</strong> como nombre de usuario</p>
</div>

<input name="task" type="hidden" value="default">
<input name="loginlanguage" type="hidden" value="es_ES">
<input name="languageSelector" type="hidden" value="es_ES">

#if($responseParams.message && $octopusRequest.task != "Main" && $octopusRequest.task != "ShowLogin" && $octopusRequest.loginlanguage && $octopusRequest.loginlanguage == "es_ES")
    #if($responseParams.message == "msg_too_many_attempts")
        <vera-warn>
            Demasiados intentos de conexión.
        </vera-warn>
    #end
<vera-warn>
	El nombre de usuario y contraseña son incorrectos. Por favor, vuelva a introducir los datos de acceso.
</vera-warn>
#end
</form>