<form action="default" method="post" target="_top" onsubmit="if(document.getElementById('loginasproxy').checked) { this.action = 'LoginAsProxy'; this.task.value = 'LoginAsProxy'; }">
<h1 class="marginTop25">Anmelden</h1>

<div class="table">
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.username">Benutzername</label>
        	<input type="text" id="input.username" name="username">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.password">Passwort</label>
        	<input type="password" id="input.password" name="password">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell inlineLabel">
        	<label for="loginasproxy">In Vertretung anmelden</label>
        	<input type="checkbox" value="true" name="input.loginasproxy" class="noFloat" id="loginasproxy">
        </div>
    </div>
</div>

<div id="buttonPanel-bottom" class="marginTop5 marginBottom20">
	<input type="submit" class="mainButton" value="Anmelden" title="Anmelden" name="submit" id="button.login" />
	<input type="reset" class="mainButton" value="Felder leeren" title="Felder leeren" name="cancel" id="button.clearFields" />
</div>

<div class="hinweis grayBorder marginBottom20 notBold">
    <strong>Hinweis</strong>
    <p>Bitte verwenden Sie Ihr Organisationskennzeichen oder <strong>vorname.nachname</strong> als Benutzernamen</p>
</div>

<input name="task" type="hidden" value="default">
<input name="loginlanguage" type="hidden" value="de_DE">
<input name="languageSelector" type="hidden" value="de_DE">

#if($responseParams.message && $octopusRequest.task != "Main" && $octopusRequest.task != "ShowLogin" && $octopusRequest.loginlanguage && $octopusRequest.loginlanguage == "de_DE")
    #if($responseParams.message == "msg_too_many_attempts")
        <vera-warn>
            Zu viele gescheiterte Anmeldeversuche.
        </vera-warn>
    #end
    <vera-warn>
        Es ist ein Fehler bei der Anmeldung aufgetreten. Bitte überprufen Sie Ihren Benutzernamen und Ihr Passwort.
    </vera-warn>
#end

</form>