#if($octopusConfig.personalConfig.role)
 #set($title = "${placeholderWithTranslation.BROWSER_TITLE_ROLE_WITH} $octopusConfig.personalConfig.role")
#elseif($octopusConfig.personalConfig.roles)
 #set($title = "${placeholderWithTranslation.BROWSER_TITLE_ROLE_AVAILABLE} $octopusConfig.personalConfig.roles")
#else
 #set($title = "${placeholderWithTranslation.BROWSER_TITLE_ROLE_WITHOUT_INFO}")
#end
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_SUCCESSFUL_LOGIN_ONE} $title ${placeholderWithTranslation.BROWSER_TITLE_SUCCESSFUL_LOGIN_TWO}.")
##foreach($gg in $octopusConfig.personalConfig.userGroups)
##set($title = "$title $gg")
##end
#parse("inc/header.vm")

<div id="content_container">
    #if($errors && $errors.size() > 0)
    <vera-warn>
        #foreach($error in $errors)
                $error<br>
        #end
        <br>
        ${placeholderWithTranslation.eskannzuunerwartetenfehlernkommenbittewendensiesichanihrenadministrator}
    </vera-warn>
    #end

        <div id="breadcrumb" class="textRight marginBottom10">
                <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span>${placeholderWithTranslation.GENERIC_HOME}</span>
        </div>

    <h1 class="marginTop25">${placeholderWithTranslation.willkommenbeiveraweb}</h1>

    #if($grants.isUser())
    ##<p>
    ##  Hallo $!{octopusConfig.personalConfig.userGivenName} $!{octopusConfig.personalConfig.userLastName}.
    ##</p>

    #if($grants.isAdmin())
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_ADMIN_PART_ONE}
    </p>
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_ADMIN_PART_TWO}
    </p>
    #elseif($grants.isPartialAdmin())
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_PARTIAL_ADMIN_PART_ONE}
    </p>
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_PARTIAL_ADMIN_PART_TWO}
    </p>
    #elseif($grants.mayWrite())
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_EXPORT_PART_ONE}
        #if($grants.mayReadRemarkFields())
            ${placeholderWithTranslation.WELCOME_TEXT_GRANT_WRITE_FULL}
        #end
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_EXPORT_PART_TWO}
    </p>
    #elseif($grants.mayReadRemarkFields())
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_READ_REMARK_FIELDS}
    </p>
    #elseif($grants.mayReadStandardFields())
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_GRANT_READ_STANDARD_FIELDS}
    </p>
    #end
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_HELP}
    </p>
    #elseif($octopusConfig.personalConfig.roles)
    #parse("inc/role-chooser.vm")
    #else
    <p>
        ${placeholderWithTranslation.WELCOME_TEXT_NO_ROLE}
    </p>
    #end
</div>

#parse("inc/footer.vm")
