## Popup zur Auswahl eines oder keines Arbeitsbereiches
## cklein
## 2008-02-28

<html>

<head>
        <title>${placeholderWithTranslation.GENERIC_WORKAREA_PLURAL}</title>
        <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all" />
        <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
        <script type="text/javascript" src="${paths.staticWeb}js/ext/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="${paths.staticWeb}js/ext/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>
        <script type="text/javascript" src="${paths.staticWeb}js/vera/utils.js"></script>
        <script type="text/javascript" src="${paths.staticWeb}js/vera/dhtml-popup.js"></script>

	<script type="text/javascript"><!--//--><![CDATA[//><!--
                var showDeleteAllocate = function () {
                var selectionOfOption = $('option[name$="nix"]:selected');
                        if(selectionOfOption.length === 1) {
                                var msg ='<span>${placeholderWithTranslation.waehlensiebittezunaechsteinenarbeitsbereichaus}</span>';
                                        showWarning(msg);
                        }else {
                                #if( $count == 1 )
                                    showAllocateAssign('${placeholderWithTranslation.wollensiediesepersonbzwdiesengastdenausgewaehltenarbeitsbereichzuordnen}',
                                            function () { // Ja
                                                var form = window.opener.document.forms[ "formlist" ];
                                                window.opener.document.getElementsByName('workareaAssigned')[0].value = 'assign';
                                                form.submit();
                                            }, function () { //nein
                                                showSuccess('${placeholderWithTranslation.eswurdekeinarbeitsbereichzugeordnet}');
                                            },
                                            '${placeholderWithTranslation.GENERIC_ASSIGN}',
                                            '${placeholderWithTranslation.GENERIC_CANCEL}'
                                    );
                                #else
                                    showAllocateAssign('${placeholderWithTranslation.wollensiediesenpersonenbzwdiesengaestedenausgewaehltenarbeitsbereichzuordnen}',
                                            function () { // Ja
                                                var form = window.opener.document.forms[ "formlist" ];
                                                window.opener.document.getElementsByName('workareaAssigned')[0].value = 'assign';
                                                form.submit();
                                            }, function () { //nein
                                                showSuccess('${placeholderWithTranslation.eswurdenkeinearbeitsbereichzugeordnet}');
                                            },
                                            '${placeholderWithTranslation.GENERIC_ASSIGN}',
                                            '${placeholderWithTranslation.GENERIC_CANCEL}'
                                    );
                                #end
                        };
                };
                var showDeleteAllocateRemove = function() {
                        var selectionOfOption = $('option[name$="nix"]:selected');
                        if(selectionOfOption.length === 1) {
                                var msg ='<span>${placeholderWithTranslation.waehlensiebittezunaechsteinenarbeitsbereichaus}</span>';
                                        showWarning(msg);
                        }else {
                                #if( $count == 1 )
                                    showAllocateRemove('${placeholderWithTranslation.wollensiediezuordnungdieserpersonbzwdiesemgastzumausgewaehltenarbeitsbereichaufheben}',
                                            function () { // Ja
                                                var form = window.opener.document.forms[ "formlist" ];
                                                window.opener.document.getElementsByName('workareaAssigned')[0].value = 'unassign';
                                                form.submit();
                                            }, function () { //nein
                                                showSuccess('${placeholderWithTranslation.eswurdekeinarbeitsbereichaufgehoben}');
                                            },
                                            '${placeholderWithTranslation.GENERIC_DELETE}',
                                            '${placeholderWithTranslation.GENERIC_CANCEL}'
                                    );
                                #else
                                    showAllocateRemove('${placeholderWithTranslation.wollensiediezuordnungvonpersonenbzwgaestenzumausgewaehltenarbeitsbereichaufheben}',
                                            function () { // Ja
                                                var form = window.opener.document.forms[ "formlist" ];
                                                window.opener.document.getElementsByName('workareaAssigned')[0].value = 'unassign';
                                                form.submit();
                                            }, function () { //nein
                                                showSuccess('${placeholderWithTranslation.eswurdekeinarbeitsbereichaufgehoben}');
                                            },
                                            '${placeholderWithTranslation.GENERIC_DELETE}',
                                            '${placeholderWithTranslation.GENERIC_CANCEL}'
                                    );
                                #end
                        };
                };

                // Funktion um ausgewählte Option : Zuweisen / Entfernen und Abbrechen zu überprüfen und dementspreche abfragen zu implementieren
                $(function () {
            $('#button\\.execute').click(function (e) {
                var selectValue = $("input:button[name$='checkboxForSelection'] ").id();

                                if (selectValue == "0") {
                                        showDeleteAllocate();
                                }else if (selectValue == "1") {
                        selectedActionRemove();
                                }else if (selectValue == "2") {
                                        selectedActionCancel();
                                }
                        });
                });

                var oldState = { workareaId : null, actionName : null };

                function selected( elt )
                {
                        window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentId" ].value = elt.options[ elt.selectedIndex ].value;
                        window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentAction" ].value = "${assignmentAction}";
                }

                function restore()
                {
                        window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentId" ].value = oldState.workareaId;
                        window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentAction" ].value = oldState.actionName;
                }

                function initialize()
                {
                        oldState.workareaId = window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentId" ].value;
                        oldState.actionName = window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentAction" ].value;
                }

                function send()
                {
#if( $assignmentAction == "assign" )
#if( $count == 1 )
                        ##doit = confirm( "${placeholderWithTranslation.wollensiediesepersonbzwdiesengastdemausgewaehltenarbeitsbereichzuordnen}" );
                        doit = true;

#else
                        ##doit = confirm( "${placeholderWithTranslation.wollensiepersonenbzwgaestedemausgewaehltenarbeitsbereichzuordnen}" );
                        doit = true;
#end
#else
#if ( $count == 1 )
                        ##doit = confirm( "${placeholderWithTranslation.wollensiediezuordnungdieserpersonbzwdiesemgastzumausgewaehltenarbeitsbereichaufheben}" );
                        doit = true;
#else
                        ##doit = confirm( "${placeholderWithTranslation.wollensiediezuordnungvonpersonenbzwgaestenzumausgewaehltenarbeitsbereichaufheben}" );
                        doit = true;
#end
#end
                        if ( doit )
                        {
                                window.opener.document.forms[ "formlist" ].submit();
                        }
                }

                function adjustSize()
                {
                        var elt = document.getElementById( "workarea" );
                        var minWidth = 400;
                        var newWidth = elt ? elt.offsetWidth : minWidth;
                        if ( newWidth < minWidth )
                        {
                                newWidth = minWidth;
                        }
                        if( window.innerWidth < newWidth )
                        {
                                // add fixed margins + paddings
                                newWidth += 100;
                        }
                        window.resizeTo( newWidth, document.body.offsetHeight + 20 );
                }
	//--><!]]></script>
</head>

<body onload="adjustSize();" id="popUp">

<form>

<div class="contentBoxColored grayBorder">
                <h1>${placeholderWithTranslation.waehlensieeinenarbeitsbereichauswelchensie}
        #if( $assignmentAction == "assign" )
                ${placeholderWithTranslation.zuordnen_klein}
        #else
                ${placeholderWithTranslation.GENERIC_DELETE}
        #end
            ${placeholderWithTranslation.moechten}:</h1>

        #if( $allWorkArea.size() > 0 )
                <label for="workarea">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</label>
                <select name="workarea" id="workarea" onChange="selected(this);">
                <option name="nix" value="">
        #if( $assignmentAction == "unassign" )
                <option name="Entfernen" value="0">${placeholderWithTranslation.alleentfernen}
        #end
                #foreach( $workarea in $allWorkArea )
                <option name="arbeitsbereich" value="${workarea.id}">$!message.plain(${workarea.name})
                #end
                </select>
        #else
            ${placeholderWithTranslation.siehabenkeinearbeitsbereichekonfiguriertdiesekoennensieimadministrationsbereichunterdempunkt} <em>${placeholderWithTranslation.GENERIC_WORKAREA_PLURAL}</em> ${placeholderWithTranslation.definieren}
        #end

        <div class="textRight marginTop5" id="buttonPanel-bottom">
                #if( $assignmentAction == "assign" && $allWorkArea.size() > 0 )
                                <input id="1" type="button"  name="checkboxForSelection" value="${placeholderWithTranslation.zuweisen}" onClick="showDeleteAllocate();">
                #elseif ( $allWorkArea.size() > 0 )
                                <input id="2" type="button"  name="checkboxForSelection" value="${placeholderWithTranslation.GENERIC_REMOVE}" onClick="showDeleteAllocateRemove();">
                #end
                <input id="0" type="button" name="checkboxForSelection" value="${placeholderWithTranslation.abbrechen}" onClick="restore();closePopup();">
        </div>
</div>
</form>

<vera-info>
        ${placeholderWithTranslation.HINT_POPUP_CATEGORY_SELECTION_ONE} ${count} ${placeholderWithTranslation.HINT_POPUP_CATEGORY_SELECTION_TWO}
</vera-info>

</body>
</html>
