<!DOCTYPE HTML>
<html>
        <head>
                <title>${placeholderWithTranslation.firmainstitutionauswaehlen}</title>
                ## Style
                <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all">
                <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
                ## Utils
                <script type="text/javascript" src="${paths.staticWeb}js/ext/jquery/jquery.min.js"></script>
                <script type="text/javascript" src="${paths.staticWeb}js/ext/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>
                <script type="text/javascript" src="${paths.staticWeb}scripts/utils.js"></script>
                ## Tabs und Popups
                <script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-tabs.js"></script>
                <script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-popup.js"></script>
                ## Calendar
                <script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/calendar.js"></script>
                <script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/calendar-setup.js"></script>
                <script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/lang/calendar-${placeholderWithTranslation.language_short}.js"></script>
                <link rel="stylesheet" type="text/css" href="${paths.staticWeb}js/ext/jscalendar/calendar-win2k-cold-1.css" media="all">
                ## Browser-Cache deaktivieren
                <meta http-equiv="expires" content="0">
                <meta http-equiv="cache-control" content="no-cache">
                <meta http-equiv="pragma" content="no-cache">
        </head>
        <body id="popUp">
                <form id="formlist" name="formlist" action="" method="post">
            <input type="hidden" name="start" value=""/>
                <input type="hidden" name="limit" value=""/>
            <input type="hidden" name="selectAll" value="false"/>
            <input type="hidden" name="selectNone" value="false"/>

            <div class="contentBoxColored grayBorder">

                        <h2>${placeholderWithTranslation.bittewaehlensieeinefirmainstitutionaus}:</h2>
                        <div class="table_border">
                        <table class="scrollable-table">

                        #foreach($bean in $list)
                                <tr>
                        ## fixing issue 1525, consolidating display to a single display scheme
                                                <td onclick="if (returnCompany('${paths.staticWeb}do/', '$bean.id', '$bean.companyfield')) closePopup();">
                                                        #if($bean.company_a_e1.length() > 0)
                                                                        <a href="#">$!message.plain($bean.company_a_e1)</a>
                                                        #else
                                                                &nbsp;
                                                        #end
                                                </td>
                                </tr>
                        #end

                        #set($disableListSelect = true)
                        </table>
                        </div>
                        #if ($listparam.count > 0)
                            #set($itemName = "${placeholderWithTranslation.GENERIC_COMPANY_PLURAL}/${placeholderWithTranslation.GENERIC_INSTITUTION_PLURAL}")
                            #parse("inc/table-pagination-footer.vm")
                            #parse("inc/list-direct-new.vm")
                        #else
                            ${placeholderWithTranslation.GENERIC_NO_DATA_FOUND}.<br/><br/>
                        #end

                        <div class="textRight">
                                <input type="button" value="${placeholderWithTranslation.schliessen}" onclick="closePopup();"/>
                        </div>

                </div>
                </form>
        </body>
</html>
