<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
	<head>
		<title>${placeholderWithTranslation.neuenorteingeben}</title>
		## Style
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all">
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
	    ## Abwärtskompatibilität
	    <script type="text/javascript" src="${paths.staticWeb}js/ext/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>
		## Utils
		<script type="text/javascript" src="${paths.staticWeb}js/vera/utils.js"></script>
		## Tabs und Popups
		<script type="text/javascript" src="${paths.staticWeb}js/vera/dhtml-tabs.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/vera/dhtml-popup.js"></script>
		## Calendar
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/calendar-setup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/lang/calendar-${placeholderWithTranslation.language_short}.js"></script>
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}js/ext/jscalendar/calendar-win2k-cold-1.css" media="all">
		## Browser-Cache deaktivieren
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<script type="text/javascript">
     /*
	@licstart The following is the entire license notice for the
	    JavaScript code in this file (LibreJS checks by an exact
	    string match, so don’t change this text):

	Copyright 2019 tarent solutions GmbH and its contributors

	Permission is hereby granted, free of charge, to any person obtaining
	a copy of this software and associated documentation files (the
	"Software"), to deal in the Software without restriction, including
	without limitation the rights to use, copy, modify, merge, publish,
	distribute, sublicense, and/or sell copies of the Software, and to
	permit persons to whom the Software is furnished to do so, subject to
	the following conditions:

	The above copyright notice and this permission notice shall be
	included in all copies or substantial portions of the Software.

	(see the source code for a full disclaimer and grant of licence)

	Same here — retain this unmodified: @licend The above is the
	entire license notice for the JavaScript code in this file
     */
		</script>
	</head>
	<body onload="document.getElementById('city').focus();" id="popUp">
		<form action="" method="post" onsubmit="if (returnCity()) closePopup();">

			<div class="contentBoxColored grayBorder">

				<h2>${placeholderWithTranslation.neuerveranstaltungsort}</h2>

				<label for="city">${placeholderWithTranslation.bittegebensieeinenneuenorteinundklickensieaufhinzufuegen}</label>
				<input type="text" id="city" name="city" value="">

				<div class="textRight marginTop5" id="buttonPanel-bottom">
					<input type="submit" value="${placeholderWithTranslation.hinzufuegen}" class="mainButton" ssonclick="if (returnCity()) closePopup();">
					<input type="button" value="${placeholderWithTranslation.schliessen}"  class="mainButton" onclick="closePopup();">
				</div>
			</div>
		</form>

		<hr /><p><address><a href="/veraweb/doc/lic-info.htm"
		 rel="jslicense">Lizenzbestimmungen</a></address></p>
	</body>
</html>
