## $Id$
#if($proxiesFor == 'ou')
	#set($activeMenu = "Administration")
	#set($title = "${placeholderWithTranslation.administrationallestellvertretungenimmandanten}")
#elseif($proxiesFor == 'all')
	#set($activeMenu = "Administration")
	#set($title = "${placeholderWithTranslation.administrationallestellvertretungen}")
#elseif($proxiesFor == 'self')
	#set($activeMenu = "Verwaltung")
	#set($title = "${placeholderWithTranslation.verwaltungpersoenlichevertretungen}")
#else
	#set($activeMenu = "Administration")
	#set($title = "${placeholderWithTranslation.GENERIC_REPRESENTATIVES}")
#end
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_REPRESENTATIVE}")
#set($entity="REPRESENTATIVE")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_REPRESENTATIVE_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_REPRESENTATIVE_PLURAL}")
#parse("inc/header.vm")
<div id="content_container">
	<form id="formlist" name="formlist" action="$octopusRequest.task" method="POST">

	## Dynamischer breadcrumb
	#if($activeMenu == "Administration")
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.GENERIC_REPRESENTATIVES}</span>
	</div>
	#elseif($activeMenu == "Verwaltung")
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_MANAGEMENT} > ${placeholderWithTranslation.GENERIC_REPRESENTATIVE_PLURAL}</span>
	</div>
	#end

	## Dynamische Überschrift
	#if($activeMenu == "Verwaltung")
	<h1>${placeholderWithTranslation.GENERIC_REPRESENTATIVE_PLURAL}</h1>

	#elseif($activeMenu == "Administration")
	<h1>${placeholderWithTranslation.GENERIC_REPRESENTATIVES}</h1>

	#end




	#if($listerrors && $listerrors.size() > 0)
	<vera-warn>
		#foreach($error in $listerrors)
			$error<br>
		#end
	</vera-warn>
	#end

	<input type="hidden" name="limit" value="">
	<input type="hidden" name="start" value="">
	<input type="hidden" name="selectNone" value="true">
	<input type="hidden" name="doInsert" value="true">
	<input type="hidden" name="doUpdate" value="true">
	<input type="hidden" name="doRemove" value="true">
	#if($order)
	<input type="hidden" name="order" value="$order">
	#end

	#foreach($bean in $list)
	<input type="hidden" name="list" value="$bean.id">
	#end
	<div class="contentBoxColored grayBorder marginBottom20">
		<h3 class="marginBottom10">${placeholderWithTranslation.GENERIC_AVAILABILITY_FILTER}</h3>
		<div class="inlineLabel">
			<input type="radio" id="validityIgnore" name="proxiesValid" value="ignore" onclick="submit();" #if($proxiesValid && $proxiesValid=='ignore')checked#end><label for="validityIgnore"> ${placeholderWithTranslation.GENERIC_REPRESENTATIVES_ALL}</label>
			<input type="radio" id="validityFuture" name="proxiesValid" value="future" onclick="submit();" #if((!$proxiesValid) || $proxiesValid=='future')checked#end><label for="validityFuture"> ${placeholderWithTranslation.GENERIC_NO_REPRESENTATION_EXPIRED}</label>
			<input type="radio" id="validityNow" name="proxiesValid" value="now" onclick="submit();" #if($proxiesValid && $proxiesValid=='now')checked#end><label for="validityNow"> ${placeholderWithTranslation.GENERIC_ONLY_CURRENT_REPRESENTATIONS}</label>
		</div>
	</div>

	<div class="textRight mandatoryText">* = ${placeholderWithTranslation.pflichtfelder}</div>

	<span id="actionPanel" class="inlineLabel">
		<strong >
			${placeholderWithTranslation.markiertevertretungen}
		</strong>
			<input type="submit" name="remove" value="${placeholderWithTranslation.loeschen}" title="${placeholderWithTranslation.markiertevertretungenloeschen}" class="" />
	</span>

	<table>
		<tbody>
		<tr>
			<th class="textCenter smallCell">
				<input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="${placeholderWithTranslation.alledemarkieren}" #if($listselection.size() == $list.size()) checked#end/>
			</th>
			<th class="textCenter smallCell">${placeholderWithTranslation.GENERIC_ID}</th>
	#if($proxiesFor != 'self')
	 #if($proxiesFor != 'ou')
			<th><${placeholderWithTranslation.GENERIC_CLIENT_SINGULAR}</th>
	 #end
			<th>${placeholderWithTranslation.GENERIC_ROLE}*</th>
	#end
			<th>${placeholderWithTranslation.GENERIC_REPRESENTATIVE}*</th>
			<th class="textCenter width15">${placeholderWithTranslation.gueltigab}</th>
			<th class="textCenter width15">${placeholderWithTranslation.gueltigbis}</th>
		</tr>
		<tr>
			<td><input type="hidden" id="add-modified" name="add-modified" value="false"><input type="checkbox" name="add-select" value="true" style="display: none;"></td>
			<td><input type="hidden" name="add-id" value=""><em>${placeholderWithTranslation.GENERIC_NEW}</em></td>
	#if($proxiesFor != 'self')
	 #if($proxiesFor != 'ou')
			<td></td>
	 #end
			<td>
	 #if($allUser)
				<select id="add-user" name="add-user" onchange="setModified('add')">
					<option value="">${placeholderWithTranslation.bitteauswaehlen}</option>
	  #foreach($user in $allUser)
					<option value="$user.id">$!message.plain($user.name)</option>
	  #end
				</select>
	 #else
				<input type="text" name="add-user" value="" onchange="setModified('add')">
	 #end
			</td>
	#else
			<input type="hidden" name="add-user" value="$!octopusConfig.personalConfig.verawebId">
	#end
			<td>
	#if($roleList)
				<select id="add-proxy" name="add-proxy" onchange="setModified('add')">
					<option value="">${placeholderWithTranslation.bitteauswaehlen}</option>
	 #foreach($role in $roleList)
					<option value="$role">$!message.plain($role)</option>
	 #end
				</select>
	#else
				<input type="text" name="add-proxy" value="" onchange="setModified('add')">
	#end
			</td>
			<td class="textCenter">
				<div class="calenderContainer">
					<span id="show-add-from" class="datepickerContainer">
					<input type="text" name="add-validFrom" id="add-validFrom" value="" class="datepicker width80" onchange="setModified('add')">
					<img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswaehlen}" title="${placeholderWithTranslation.datumauswaehlen}">
					<script type="text/javascript">
						Calendar.setup({
							inputField	 :	"add-validFrom",
							button		 :	"show-add-from",
							ifFormat	 :	"%d.%m.%Y",
							showsTime	 :	false
						});
					</script></span>
				</div>
			</td>
			<td class="textCenter">
				<div class="calenderContainer">
					<span id="show-add-till" class="datepickerContainer">
					<input type="text" name="add-validTill" id="add-validTill" value="" class="datepicker width80" onchange="setModified('add')">
					<img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswaehlen}" title="${placeholderWithTranslation.datumauswaehlen}">
					<script type="text/javascript">
						Calendar.setup({
							inputField	 :	"add-validTill",
							button		 :	"show-add-till",
							ifFormat	 :	"%d.%m.%Y",
							showsTime	 :	false
						});
					</script></span>
				</div>
			</td>
		</tr>
		#foreach($bean in $list)
		<tr>
			<td ><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true"></td>
			<td ><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!{bean.id}<input type="hidden" name="${bean.id}-user" value="$!bean.user"></td>
	#if($proxiesFor != 'self')
	 #if($proxiesFor != 'ou')
			<td >
	  #if(!$bean.orgunit)
				<i>no ou</i>
	  #elseif(!$mapOrgUnit.get($bean.orgunit))
				<i>ou unknown</i>
	  #else
				$!message.text($!mapOrgUnit.get($bean.orgunit).name)
	  #end
			</td>
	 #end
			<td ><input type="text" name="${bean.id}-userRole" value="$!message.text($bean.userRole)" onchange="setModified('$!bean.id')" vera-disabled></td>
	#end
			<td ><input type="text" name="${bean.id}-proxy" value="$!message.text($bean.proxy)" onchange="setModified('$!bean.id')" vera-disabled></td>
			<td class="textCenter">
				<div class="calenderContainer">
					<span id="show-${bean.id}-from" class="datepickerContainer">
					<input type="text" name="${bean.id}-validFrom" id="${bean.id}-validFrom" value="$!message.date("DATE", $bean.validFrom)" class="datepicker width80" onchange="setModified('$!bean.id')">
					<img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswaehlen}" title="${placeholderWithTranslation.datumauswaehlen}">
					<script type="text/javascript">
						Calendar.setup({
							inputField	 :	"${bean.id}-validFrom",
							button		 :	"show-${bean.id}-from",
							ifFormat	 :	"%d.%m.%Y",
							showsTime	 :	false
						});
					</script></span>
				</div>
			</td>
			<td class="textCenter">
				<div class="calenderContainer">
					<span id="show-${bean.id}-till" class="datepickerContainer">
					<input type="text" name="${bean.id}-validTill" id="${bean.id}-validTill" value="$!message.date("DATE", $bean.validTill)" class="datepicker width80" onchange="setModified('$!bean.id')">
					<img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswaehlen}" title="${placeholderWithTranslation.datumauswaehlen}">
					<script type="text/javascript">
						Calendar.setup({
							inputField	 :	"${bean.id}-validTill",
							button		 :	"show-${bean.id}-till",
							ifFormat	 :	"%d.%m.%Y",
							showsTime	 :	false
						});
					</script></span>
				</div>
			</td>
		</tr>
		#end

			#set($itemName = "${placeholderWithTranslation.GENERIC_REPRESENTATIVE_PLURAL}")
			#tableFooter(7)
			#parse("inc/list-direct-new.vm")
		#if ($listparam.count == 0)
			<tr><td colspan="5">${placeholderWithTranslation.GENERIC_NO_DATA_FOUND}.</td></tr>
		#end
		</tbody>
	</table>




	<div id="buttonPanel-bottom" class="textRight marginTop10">
		<input type="submit" name="save" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" class="mainButton" />
	</div>




	</form>
</div>

#parse("inc/footer.vm")
