<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
	<head>
		<title>$titel</title>
		## Style
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all">
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/report.css" media="screen" title="${placeholderWithTranslation.auswartigesamtintranetstil}">
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/report-print.css" media="print" title="${placeholderWithTranslation.auswartigesamtintranetstil}">
		## Tabs und Popups
		<script type="text/javascript" src="${paths.staticWeb}js/vera/dhtml-tabs.js"></script>
		## Browser-Cache deaktivieren
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
	</head>
	<body>

		#parse("inc/reportTitle.vm")
		<br>
		#if($type)
			#parse("inc/report${type}.vm")
		#end

	</body>
</html>
