#set($activeMenu = "Verwaltung")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_USER_CONFIGS}")
#parse("inc/header.vm")

<div id="content_container">
	<form action="UserConfig" method="POST">

		<div id="breadcrumb" class="textRight marginBottom10">
			<strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_MANAGEMENT} > ${placeholderWithTranslation.GENERIC_OPTIONS}</span>
		</div>

		<h1>${placeholderWithTranslation.GENERIC_OPTIONS}</h1>

		#if($saveSuccess)
			<vera-success>${placeholderWithTranslation.MESSAGE_OPTIONS_WERE_SUCCESSFULLY_SAVED}</vera-success>
		#end

		#if(!$userConfig.personTab || $userConfig.personTab == "1")
			#set($personTab1 = true)
		#else
			#set($personTab2 = true)
		#end

		#if(!$userConfig.personMemberTab || $userConfig.personMemberTab == "1")
			#set($personMemberTab1 = true)
		#else
			#set($personMemberTab2 = true)
		#end

		#if(!$userConfig.personAddresstypeTab || $userConfig.personAddresstypeTab == "1")
			#set($personAddresstypeTab1 = true)
		#elseif($userConfig.personAddresstypeTab == "2")
			#set($personAddresstypeTab2 = true)
		#else
			#set($personAddresstypeTab3 = true)
		#end

		#if(!$userConfig.personLocaleTab || $userConfig.personLocaleTab == "1")
			#set($personLocaleTab1 = true)
		#elseif($userConfig.personLocaleTab == "2")
			#set($personLocaleTab2 = true)
		#else
			#set($personLocaleTab3 = true)
		#end
		<div id="main_content" class="contentBoxColored grayBorder">

				<div style="width: 57%; float: left; max-width: 550px;">
					<h3>${placeholderWithTranslation.GENERIC_PERSONAL_DETAILED_VIEW}</h3>
							<fieldset class="marginTop20">
								<legend>${placeholderWithTranslation.GENERIC_STANDARD_TABULATOR_CHOICE}</legend>
								<div class="table width100 inlineLabel">
									<div class="tableRow">
										<div class="tableCell bold paddingBottom10 width30">${placeholderWithTranslation.GENERIC_MAIN_TABS}</div>
										<div class="tableCell"><input type="radio" name="personTab" id="personTab1" value="1" #if($personTab1) checked #end> <label for="personTab1">&nbsp;${placeholderWithTranslation.GENERIC_PERSONS_DATA}</label></div>
										<div class="tableCell"><input type="radio" name="personTab" id="personTab2" value="2" #if($personTab2) checked #end> <label for="personTab2">&nbsp;${placeholderWithTranslation.GENERIC_MAILING_ADDRESSES}</label></div>
										<div class="tableCell"></div>
									</div>
									<div class="tableRow">
										<div class="tableCell bold paddingBottom10">${placeholderWithTranslation.GENERIC_SUBTABS_OF}&bdquo;${placeholderWithTranslation.GENERIC_PERSONS_DATA}&rdquo;</div>
										<div class="tableCell verticalBottom"><input type="radio" name="personMemberTab" id="personMemberTab1" value="1" #if($personMemberTab1) checked #end> <label for="personMemberTab1">&nbsp;${placeholderWithTranslation.GENERIC_MAIN_PERSON}</label></div>
										<div class="tableCell verticalBottom"><input type="radio" name="personMemberTab" id="personMemberTab2" value="2" #if($personMemberTab2) checked #end> <label for="personMemberTab2">&nbsp;${placeholderWithTranslation.GENERIC_PARTNER}</label></div>
										<div class="tableCell"></div>
									</div>
									<div class="tableRow">
										<div class="tableCell bold paddingBottom10">${placeholderWithTranslation.GENERIC_SUBTABS_OF}&bdquo;${placeholderWithTranslation.GENERIC_MAILING_ADDRESSES}&rdquo;</div>
										<div class="tableCell verticalBottom"><input type="radio" name="personAddresstypeTab" id="personAddresstypeTab1" value="1" #if($personAddresstypeTab1) checked #end> <label for="personAddresstypeTab1">&nbsp;${placeholderWithTranslation.GENERIC_BUSINESS}</label></div>
										<div class="tableCell verticalBottom"><input type="radio" name="personAddresstypeTab" id="personAddresstypeTab2" value="2" #if($personAddresstypeTab2) checked #end> <label for="personAddresstypeTab2">&nbsp;${placeholderWithTranslation.privat}</label></div>
										<div class="tableCell verticalBottom"><input type="radio" name="personAddresstypeTab" id="personAddresstypeTab3" value="3" #if($personAddresstypeTab3) checked #end> <label for="personAddresstypeTab3">&nbsp;${placeholderWithTranslation.GENERIC_MORE}</label></div>
									</div>
								</div>
							</fieldset>
							<fieldset>
							<legend>${placeholderWithTranslation.standardauswahlderselectboxbdquozeichensatzrdquo}</legend>
								<div class="table width100 inlineLabel">
									<div class="tableRow">
										<div class="tableCell"><input type="radio" name="personLocaleTab" id="personLocaleTab1" value="1" #if($personLocaleTab1) checked #end> <label for="personLocaleTab1">&nbsp;${placeholderWithTranslation.GENERIC_LATIN}</label></div>
										<div class="tableCell"><input type="radio" name="personLocaleTab" id="personLocaleTab2" value="2" #if($personLocaleTab2) checked #end> <label for="personLocaleTab2">&nbsp;${placeholderWithTranslation.GENERIC_CHARSET} 1</label></div>
										<div class="tableCell"><input type="radio" name="personLocaleTab" id="personLocaleTab3" value="3" #if($personLocaleTab3) checked #end> <label for="personLocaleTab3">&nbsp;${placeholderWithTranslation.GENERIC_CHARSET} 2</label></div>
									</div>
								</div>

							</fieldset>
				</div>

				<div style="width:44%" class="floatRight">
					<h3>${placeholderWithTranslation.GENERIC_LIST_OF_GUESTS}</h3>
							<fieldset class="marginTop20">
								<legend>${placeholderWithTranslation.zusaetzlichefelder}</legend>
								<div class="table inlineLabel marginBottom5 marginTop5">
									<div class="tableRow">
										<div class="tableCell"><input type="checkbox" name="guestListFunction" id="guestListFunction" value="true" #if($userConfig.guestListFunction) checked #end> <label for="guestListFunction">&nbsp;${placeholderWithTranslation.GENERIC_FUNCTION_SINGULAR}</label></div>
										<div class="tableCell"><input type="checkbox" name="guestListCity" id="guestListCity" value="true" #if($userConfig.guestListCity) checked #end> <label for="guestListCity">&nbsp;${placeholderWithTranslation.GENERIC_POSTNUMBER_AND_CITY}</label></div>
										<div class="tableCell"><input type="checkbox" name="guestListPhone" id="guestListPhone" value="true" #if($userConfig.guestListPhone) checked #end> <label for="guestListPhone">&nbsp;${placeholderWithTranslation.GENERIC_TELEFON}</label></div>
									</div>
								</div>
                                <div class="table inlineLabel marginBottom5 marginTop5"">
                                    <div class="tableRow">
                                        <div class="tableCell"><input type="checkbox" name="guestLfdNr" id="guestLfdNr" value="true" #if($userConfig.guestLfdNr) checked #end> <label for="guestLfdNr">${placeholderWithTranslation.lfdnr}</label></div>
                                        <div class="tableCell"><input type="checkbox" name="guestReserve" id="guestReserve" value="true" #if($userConfig.guestReserve) checked #end> <label for="guestReserve">${placeholderWithTranslation.GUEST_LIST_RESERVE}</label></div>
                                        <div class="tableCell"><input type="checkbox" name="guestCompany" id="guestCompany" value="true" #if($userConfig.guestCompany) checked #end> <label for="guestCompany">${placeholderWithTranslation.GENERIC_COMPANY_SINGULAR}</label></div>
                                    </div>
                                </div>
                                <div class="table inlineLabel marginBottom5 marginTop5"">
                                    <div class="tableRow">
                                        <div class="tableCell"><input type="checkbox" name="guestFirstname" id="guestFirstname" value="true" #if($userConfig.guestFirstname) checked #end> <label for="guestFirstname">${placeholderWithTranslation.GENERIC_FIRSTNAME}</label></div>
                                        <div class="tableCell"><input type="checkbox" name="guestLastname" id="guestLastname" value="true" #if($userConfig.guestLastname) checked #end> <label for="guestLastname">${placeholderWithTranslation.GENERIC_NAME}</label></div>
                                        <div class="tableCell"><input type="checkbox" name="guestEmail" id="guestEmail" value="true" #if($userConfig.guestEmail) checked #end> <label for="guestEmail">${placeholderWithTranslation.GENERIC_EMAIL_SINGULAR}</label></div>
                                    </div>
                                </div>
                                <div class="table inlineLabel marginBottom5 marginTop5"">
                                    <div class="tableRow">
                                        <div class="tableCell"><input type="checkbox" name="guestMainPerson" id="guestMainPerson" value="true" #if($userConfig.guestMainPerson) checked #end> <label for="guestMainPerson">${placeholderWithTranslation.GENERIC_MAIN_PERSON}</label></div>
                                        <div class="tableCell"><input type="checkbox" name="guestPartner" id="guestPartner" value="true" #if($userConfig.guestPartner) checked #end> <label for="guestPartner">${placeholderWithTranslation.GENERIC_PARTNER}</label></div>
                                    </div>
                                </div>



							</fieldset>
							<h3>${placeholderWithTranslation.GENERIC_LIST_OF_PERSONS}</h3>
							<fieldset class="marginTop20">
								<legend>${placeholderWithTranslation.zusaetzlichefelder}</legend>
								<div class="table inlineLabel">
									<div class="tableRow">
										<div class="tableCell"><input type="checkbox" name="personListState" id="personListState" value="true" #if($userConfig.personListState) checked #end> <label for="personListState">&nbsp;${placeholderWithTranslation.GENERIC_FEDERAL_STATE}</label></div>
                                        <div class="tableCell"><input type="checkbox" name="personID" id="personID" value="true" #if($userConfig.personID) checked #end> <label for="personID">${placeholderWithTranslation.GENERIC_ID}</label></div>
									</div>
								</div>
                                <div class="table inlineLabel marginBottom5 marginTop5"">
                                <div class="tableRow">
                                    #if($action == "host")
									#end
									<div class="tableCell"><input type="checkbox" name="personWorkarea" id="personWorkarea" value="true" #if($userConfig.personWorkarea) checked #end> <label for="personWorkarea">${placeholderWithTranslation.arbeitsshybereich}</label></div>
                                    <div class="tableCell"><input type="checkbox" name="personFirstname" id="personFirstname" value="true" #if($userConfig.personFirstname) checked #end> <label for="personFirstname">${placeholderWithTranslation.GENERIC_FIRSTNAME}</label></div>
                                    <div class="tableCell"><input type="checkbox" name="personCategory" id="personCategory" value="true" #if($userConfig.personCategory) checked #end> <label for="personCategory">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</label></div>
                                </div>
                                </div>
                                <div class="table inlineLabel marginBottom5 marginTop5"">
                                <div class="tableRow">
                                    <div class="tableCell"><input type="checkbox" name="personLastname" id="personLastname" value="true" #if($userConfig.personLastname) checked #end> <label for="personLastname">${placeholderWithTranslation.GENERIC_LASTNAME}</label></div>
                                    <div class="tableCell"><input type="checkbox" name="personFunction" id="personFunction" value="true" #if($userConfig.personFunction) checked #end> <label for="personFunction">${placeholderWithTranslation.GENERIC_FUNCTION_SINGULAR}</label></div>
                                    <div class="tableCell"><input type="checkbox" name="personCompany" id="personCompany" value="true" #if($userConfig.personCompany) checked #end> <label for="personCompany">${placeholderWithTranslation.GENERIC_COMPANY_INSTITUTION}</label></div>
                                </div>
                                </div>
                                <div class="table inlineLabel marginBottom5 marginTop5"">
                                <div class="tableRow">
                                    <div class="tableCell"><input type="checkbox" name="personStreet" id="personStreet" value="true" #if($userConfig.personStreet) checked #end> <label for="personStreet">${placeholderWithTranslation.GENERIC_STREET}</label></div>
                                    <div class="tableCell"><input type="checkbox" name="personPostCode" id="personPostCode" value="true" #if($userConfig.personPostCode) checked #end> <label for="personPostCode">${placeholderWithTranslation.GENERIC_POST_NUMBER}</label></div>
                                    <div class="tableCell"><input type="checkbox" name="personCity" id="personCity" value="true" #if($userConfig.personCity) checked #end> <label for="personCity">${placeholderWithTranslation.GENERIC_CITY}</label></div>
                                </div>
                                </div>
							</fieldset>
				</div>

				<div class="clear"></div>

		</div>
		<div class="textRight marginTop10" id="buttonPanel-bottom">
				<input type="submit" class="mainButton" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" name="save" />
		</div>
</form>
</div>

#parse("inc/footer.vm")