#set($activeMenu = "Administration")

## $Id$
#if($domain == 'ou')
#set($title = "${placeholderWithTranslation.verwaltungallebenutzerimmandanten}")
#elseif($domain == 'all')
#set($title = "${placeholderWithTranslation.verwaltungallebenutzer}")
#else
#set($title = "${placeholderWithTranslation.GENERIC_USER}")
#end
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_USER}")
#set($entity="USER")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_USER_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_USER_PLURAL}")

##Values in per cent for table columns width
#set($column0 = 3)
#set($column1 = 8)
#set($column2 = 37)
#set($column3 = 27)
#set($column4 = 27)

#parse("inc/header.vm")

<div id="content_container">

        <div id="breadcrumb" class="textRight marginBottom10">
                <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.GENERIC_USER}</span>
        </div>

        <h1>${placeholderWithTranslation.GENERIC_USER}</h1>

        <form id="formlist" name="formlist" action="$octopusRequest.task" method="POST">
                #if($listerrors && $listerrors.size() > 0)
                <vera-warn>
                        #foreach($error in $listerrors)
                                $error<br>
                        #end
                </vera-warn>
                #end

                <input type="hidden" name="start" value="">
                <input type="hidden" name="selectNone" value="true">
                <input type="hidden" name="doInsert" value="true">
                <input type="hidden" name="doUpdate" value="true">
                <input type="hidden" name="doRemove" value="true">
                <input type="hidden" name="limit" value="" />
                #if($order)
                        <input type="hidden" name="order" value="$order">
                #end

                <span class="inlineLabel" id="actionPanel">
                        <strong>${placeholderWithTranslation.markiertenbenutzer}</strong>
                        <input type="submit" name="remove" value="${placeholderWithTranslation.loeschen}" class="button" title="${placeholderWithTranslation.markiertenbenutzerloeschen}" />
                </span>

                <div id="main_content">

                        #foreach($bean in $list)
                        <input type="hidden" name="list" value="$bean.id">
                        #end

                        <div class="textRight mandatoryText">* = ${placeholderWithTranslation.pflichtfelder}</div>
                        <table class="fixed">
                                ##Set column size
                                <col width="$column0%" />
                        <col width="$column1%" />
                        <col width="$column2%" />
                        <col width="$column3%" />
                        <col width="$column4%" />

                                <tr style="height: 20px;">
                                        <th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="${placeholderWithTranslation.alledemarkieren}" #if($listselection.size() == $list.size()) checked#end/></th>
                                        <th class="smallCell textCenter">${placeholderWithTranslation.GENERIC_ID}</th>
                        #if($domain == 'all')
                                        <th>${placeholderWithTranslation.GENERIC_CLIENT_SINGULAR}</th>
                        #end
                                        <th>${placeholderWithTranslation.GENERIC_USERNAME}</th>
                                        <th>${placeholderWithTranslation.GENERIC_USER_RIGHTS}</th>
                                </tr>
                                <tr>
                                        <td class="textCenter"><input type="hidden" id="add-modified" name="add-modified" value="false"><input type="checkbox" name="add-select" value="true"  style="display: none;"></td>
                                        <td class="textCenter"><input type="hidden" name="add-id" value=""><em>${placeholderWithTranslation.GENERIC_NEW}</em></td>
                        #if($domain == 'all')
                                        <td>
                         #if($allOrgUnit)
                                                <select id="add-orgunit" name="add-orgunit" onchange="setModified('add')">
                                                        <option value="">${placeholderWithTranslation.bitteauswaehlen}</option>
                          #foreach($orgunit in $allOrgUnit)
                                                        <option value="$orgunit.id">$!message.plain($orgunit.name)</option>
                          #end
                                                </select>
                         #else
                                                <input type="text" name="add-orgunit" value="" onchange="setModified('add')">
                         #end
                                        </td>
                        #else
                                        <input type="hidden" name="add-orgunit" value="$!octopusConfig.personalConfig.orgUnitId">
                        #end
                                        <td>
                        #if($roleList)
                                                <select id="add-name" name="add-name" onchange="setModified('add')">
                                                        <option value="">${placeholderWithTranslation.bitteauswaehlen}</option>
                         #foreach($role in $roleList)
                                                        <option value="$role">$!message.plain($role)</option>
                         #end
                                                </select>
                        #else
                                                <input type="text" name="add-name" value="" onchange="setModified('add')">
                        #end
                                        </td>
                                        <td>
                                                <select id="add-role" name="add-role" onchange="setModified('add')">
                                                        <option value="">${placeholderWithTranslation.bitteauswaehlen}</option>
                                                        <option value="1">${placeholderWithTranslation.leseneingeschraenkt}</option>
                                                        <option value="2">${placeholderWithTranslation.lesenuneingeschraenkt}</option>
                                                        <option value="6">${placeholderWithTranslation.lesenundschreibeneingeschraenkt}</option>
                                                        <option value="3">${placeholderWithTranslation.lesenundschreibenuneingeschraenkt}</option>
                                                        <option value="4">${placeholderWithTranslation.mandantadministrieren}</option>
                        #if($domain == 'all')
                                                        <option value="5">${placeholderWithTranslation.administrieren}</option>
                        #end
                                                </select>
                                        </td>
                                </tr>
                        #foreach($bean in $list)
                                <tr>
                         #if(!$bean.role || 5 != $bean.role || $domain == 'all')
                                        <td class="textCenter"><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true"></td>
                                        <td class="textCenter"><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!{bean.id}</td>
                          #if($domain == 'all')
                                        <td>
                           #if($allOrgUnit)
                                                <select id="${bean.id}-orgunit" name="${bean.id}-orgunit" onchange="setModified('${bean.id}')">
                                                        <option value="">${placeholderWithTranslation.bitteauswahlen}</option>
                            #foreach($orgunit in $allOrgUnit)
                                                        <option value="$orgunit.id" #if($orgunit.id==$bean.orgunit)selected#end>$!message.plain($orgunit.name)</option>
                            #end
                                                </select>
                           #else
                                                <input type="text" name="${bean.id}-orgunit" value="$!message.plain($bean.orgunit)" onchange="setModified('${bean.id}')">
                           #end
                                        </td>
                          #else
                                        <input type="hidden" name="${bean.id}-orgunit" value="$bean.orgunit">
                          #end
                                        <td><input type="hidden" name="${bean.id}-name" value="$!message.plain($bean.name)"/>$!message.plain($bean.name)</td>
                                        <td>
                                                <select id="${bean.id}-role" name="${bean.id}-role"  onchange="setModified('${bean.id}')">
                                                        <option value="">${placeholderWithTranslation.inaktiv}</option>
                                                        <option value="1" #if(1==$bean.role)selected#end>${placeholderWithTranslation.leseneingeschraenkt}</option>
                                                        <option value="2" #if(2==$bean.role)selected#end>${placeholderWithTranslation.lesenuneingeschraenkt}</option>
                                                        <option value="6" #if(6==$bean.role)selected#end>${placeholderWithTranslation.lesenundschreibeneingeschraenkt}</option>
                                                        <option value="3" #if(3==$bean.role)selected#end>${placeholderWithTranslation.lesenundschreibenuneingeschraenkt}</option>
                                                        <option value="4" #if(4==$bean.role)selected#end>${placeholderWithTranslation.mandantadministrieren}</option>
                          #if($domain == 'all')
                                                        <option value="5" #if(5==$bean.role)selected#end>${placeholderWithTranslation.administrieren}</option>
                          #end
                                                </select>
                                        </td>
                         #else
                                        <td class="textCenter"><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true"  vera-disabled></td>
                                        <td class="textCenter"><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!{bean.id}</td>
                                        <input type="hidden" name="${bean.id}-orgunit" value="$bean.orgunit">
                                        <td><input type="hidden" name="${bean.id}-name" value="$!message.plain($bean.name)"/>$!message.plain($bean.name)</td>
                                        <td class="textCenter"><input type="hidden" name="${bean.id}-role" value="5"><input type="text" name="${bean.id}-role-text" value="Administrieren" vera-disabled></td>
                         #end
                                </tr>
                        #end

                        #if ($listparam.count == 0)
                    <tr>
                                                <td colspan="99">${placeholderWithTranslation.eswurdenkeinedatengefunden}</td>
                                        </tr>
                        #end

                        #set($itemName = "${placeholderWithTranslation.GENERIC_USER_PLURAL}")
                        #tableFooter(5)
                        #parse("inc/list-direct-new.vm")

                        </table>


                        <div class="textRight marginTop10" id="buttonPanel-bottom">
                                <input type="submit" name="save" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" class="mainButton" />
                        </div>
                </div>
        </form>
</div>
#parse("inc/footer.vm")
