#set($activeMenu = "Veranstaltungen")
#set($title = "Verteilerliste: $!mailinglist.name")
#set($elementNameSex = "male")
#set($elementNameSingular = "Verteiler")
#set($elementNamePlural = "Verteiler")
#parse("inc/header.vm")

<script type="text/javascript">
    function openNewEmail() {
    	var check = confirm("E-Mail aus Verteiler erstellen?");
    	if (check == true) {
    #foreach ($address in $mailAddresses)
    		window.location.href = "$!address";
    #end
    	}
    }
</script>

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > Verteiler</span>
	</div>

	<h1>Verteilerdetails: $!message.text($!mailinglist.name)</h1>

	<form id="formlist" name="formlist" action="ShowMailinglistDetail" method="POST">
		<input type="hidden" name="start" value="">
		<input type="hidden" name="limit" value="">
		<input type="hidden" name="selectNone" value="true">
		<input type="hidden" name="doRemove" value="true">
		
		<input type="hidden" name="id" value="$!id">
		
		#foreach($bean in $list)
		<input type="hidden" name="list" value="$bean.id">
		#end
		
		#if($list && $list.size() > 0)
			
    		<span class="inlineLabel" id="actionPanel">
				#if($grants.mayWrite())
					<strong>Markierte Adresse(n)</strong> <input type="submit" name="remove" value="L&ouml;schen" onclick="submit();" title="Markierte Adressen aus dem Verteiler l&ouml;schen"/>
				#else &nbsp;#end
            </span>
    		
			#if($grants.mayReadStandardFields())
        		<span id="buttonPanel_top" class="textRight floatRight">
        			<input type="button" name="send" value="Verteiler versenden" onclick="window.location.href='MailinglistWrite';" title="an alle Adressen versenden" class="mainButton"/>
					<input type="button" name="openMailClient" value="E-Mail-Client aufrufen" onclick="javascript:openNewEmail();" title="E-Mail-Client aufrufen" class="mainButton"/>
        		</span>
			#end
    		
    		<table class="marginBottom10">
    			<tr>
    				<th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren"/></th>
    				<th>Name</th>
    				<th>Vorname</th>
    				<th>Adresse</th>
    			</tr>
    			#foreach($bean in $list)
    			<tr>
    				<td class="textCenter"><input type="checkbox" name="${bean.id}-select" value="true"></td>
    				<td><input type="hidden" name="${bean.id}-id" value="$bean.id">$!message.text($!bean.lastname)</td>
    				<td>$!message.text($!bean.firstname)</td>
    				<td><a href="mailto:?bcc=$!bean.address">$!message.text($!bean.address)</a></td>
    			</tr>
				#end
				
				#set($itemName = "Adressdaten")
				#parse("inc/list-navi-new.vm")
				#parse("inc/list-direct-new.vm")
    		</table>
			
		#else
			
			<div class="contentBoxColored grayBorder marginBottom5"> 
				Es liegen keine Adressdaten für diesen Verteiler vor.
            </div>
			
		#end

		<span class="floatRight" id="buttonPanel-bottom">
			<input type="button" name="cancel" value="Zur&uuml;ck zur Verteiler&uuml;bersicht"  onclick="window.location.href='ShowMailinglistList?selectNone=true';" title="Zur&uuml;ck zur Verteiler&uuml;bersicht" class="mainButton">
		</span>
		
	</form>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    #if($maildispatchParams && $maildispatchParams.count)
        #if($maildispatchParams.count == 0)
        	showWarning('Es wurde keine E-Mail zum Versenden gespeichert.');
        #elseif($maildispatchParams.count == 1)
        	showSuccess('Es wurde eine E-Mail zum Versenden gespeichert. Diese wird nun automatisch versendet.');
        #else
        	showSuccess('Es wurden $maildispatchParams.count E-Mails zum Versenden gespeichert. Diese werden nun automatisch versendet.');
        #end
    #end
</script>

#parse("inc/footer.vm")