
#if($action == "Personen")
	#set($activeMenu = "Personen")
    #set($title = "Person suchen")
#end

#set($elementNameSex = "female")
#set($elementNameSingular = "Person")
#set($elementNamePlural = "Personen")
#parse("inc/header.vm")

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > Personensuche</span>
    </div>

    <h1>Personensuche</h1>

	<div id="main_content" class="contentBoxColored grayBorder marginBottom20">

        <h2>Suche</h2>

        <form action="SearchPerson" id="peopleSearch_form" method="post">
            <input type="hidden" name="start" value="0">
            <input type="hidden" name="selectAll" value="false">
            <input type="hidden" name="selectNone" value="true">
			<input type="hidden" name="search" value="reset">
			<input type="hidden" name="searchTask" value="personSearchTask">


            <div class="tableCell width30">
                <input type="text" name="searchField" id="searchfield" value="$!message.text($search.searchField)"  />
            </div>


            <div id="buttonPanel-bottom" class="textRight">
                    <input type="submit" class="mainButton submit" name="search" value="Suchen" title="Suchen" /> 
                    <input type="button" class="mainButton submit" name="cancel" value="Erweiterte Suche" title="Erweiterte Suche" onclick="window.location.href='${paths.staticWeb}do/ShowPersonSearch?action=person&search=clear'" /> 
            </div>
			
        </form>
    </div>
    <vera-info vera-stay>
	    Sie können bei der Suche sogenannte Platzhalter verwenden, der * steht für mehrere und das ? für einzelne Zeichen. <br/>
        Die Suche erfolgt im Vornamen, Nachnamen, Ort, PLZ, Straße, Firma/Institution, Telefon, Fax, Mobil, E-Mail, Bemerkungen, Kategorien, Arbeitsbereiche<br/>
		und Amtsbezeichnung/Funktion.
    </vera-info>
</div>

#parse("inc/footer.vm")