<?xml version="1.0" encoding="UTF-8"?>

<config>
	<configuration>
		<version>
			<release>ALPHA</release>
			<major>0</major>
			<minor>0</minor>
			<micro>1</micro>
			<name>tarent Doctor 2 Demo</name>
			<description>tarent Document Generation Platform Demo</description>
			<copyright>Copyright 2005 tarent GmbH, Bonn</copyright>
			<extmodules>Portions Copyright Apache Software Foundation</extmodules>
		</version>
	</configuration>
</config>