#set($title = "Ein Fehler ist aufgetreten.")
#parse("inc/header.vm")	

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabactiv"><span class="tabactiv">Fehlermeldung</span></td>
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()
#openContentSection()

#if($status.exception)
#macro(printStackTraceElement $ste)
	<tr>
		<td class="list1"/>
		<td colspan="3" class="list1">${st.className}.${st.methodName}</td>
	</tr><tr>
		<td class="list2" style="width: 20px;"/>
		<td class="list2">from</td>
  #if($st.isNativeMethod())
  		<td class="list2"><i>Native Method</i></td>
   		<td class="list2"/>
  #elseif($st.fileName)
  		<td class="list2">$st.fileName</td>
   #if($st.lineNumber >= 0)
  		<td class="list2">Line $st.lineNumber</td>
   #else
   		<td class="list2"/>
   #end
  #else
  		<td class="list2"><i>Unknown Source</i></td>
   		<td class="list2"/>
  #end
	</tr>
 #end
 #macro(printStackTraceAsCause $ex $ct)
  #if($ex.cause)
   #printStackTraceAsCause($ex.cause $ex.stackTrace)
  #end
  #set($ttl=[])
  #set($ctl=[])
  #foreach($i in $ex.stackTrace)
   #if($ttl.add($i)) #end
  #end
  #foreach($i in $ct)
   #if($ctl.add($i)) #end
  #end
  #set($m = $ttl.size() - 1)
  #set($n = $ctl.size() - 1)
  #foreach($i in [0..$m])
   #if($m >= 0 && $n >= 0 && $ttl.get($m) == $ctl.get($n))
    #set($m = $m - 1)
    #set($n = $n - 1)
   #else
    #set($n = -1)
   #end
  #end
	<tr><th colspan="4" class="list1" style="padding: 4px;">$ex.class.name</th></tr>
	<tr><td colspan="4" class="list2" style="padding: 4px;">&nbsp; $!ex.localizedMessage</td></tr>
  #foreach($i in [0..$m])
   #set($st = $ttl.get($i))
   #printStackTraceElement($st)
  #end
 #end
 #macro(printStackTrace $ex)
<table class="list">
  #if($ex.cause)
   #printStackTraceAsCause($ex.cause $ex.stackTrace)
  #end
	<tr><th colspan="4" class="list1" style="padding: 4px;">$ex.class.name</th></tr>
	<tr><td colspan="4" class="list2" style="padding: 4px;">&nbsp; $!ex.localizedMessage</td></tr>
  #foreach($st in $ex.stackTrace)
   #printStackTraceElement($st)
  #end
</table>
#end

<h1>Fehler</h1>
Bei der Bearbeitung Ihrer Anfrage ist ein Fehler aufgetreten.
Bitte melden Sie dies Ihrem Administrator.<br><br>
<h1>Details</h1>
#printStackTrace($status.exception)
#else
Unbekannter Fehler.
#end

#closeContentSection()
#closeContent()

<!--
$responseParams
-->
#parse("inc/footer.vm")	