#set($activeMenu = "Veranstaltungen")
        #set($title = "Aufgaben")
        #set($elementNameSex = "female")
        #set($elementNameSingular = "Aufgabe")
        #set($elementNamePlural = "Aufgaben")
        #parse("inc/header.vm")

        #set($formurl = "SaveDelegationFields")

<div class="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/">Home</a> > Veranstaltungen > Veranstaltung bearbeiten</span>
    </div>

    <h1>Veranstaltung bearbeiten: $!message.plain($event.shortname)</h1>


    <form id="formlist" name="formlist" action="$formurl?eventId=$!event.id" method="POST">

        #set($completeEventHeader = false)
        #parse("inc/event-header.vm")

        <div class="marginBottom10 marginTop20 textRight" id="buttonPanel-top">
            <input type="button" class="mainButton" value="Zur G&auml;steverwaltung" name="guestlist"
                   onclick="window.location.href='ShowGuestList?search-event=$!event.id&start=0&selectNone=true';">
        </div>

        <div id="main_content" class="tabs contentBox grayBorder marginBottom10">


            <input type="hidden" name="start" value="">
            <input type="hidden" name="limit" value="" />
            <input type="hidden" name="selectNone" value="true">
            <input type="hidden" name="doRemove" value="true">

            <div id="tabsMain">
                <ul class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                    <li class="inactive"  onclick="window.location.href='ShowEvent?id=$!event.id';" class="noBorder">
                        <div>Allgemein</div>
                    </li>
                    <li class="inactive" onclick="window.location.href='${paths.staticWeb}do/ShowEventDoctype?id=$!event.id&selectNone=true';" class="noBorder">
                        <div>Dokumenttypen</div>
                    </li>
                    <li class="inactive" onclick="window.location.href='ShowEventTasks?id=$!event.id&selectNone=true';" class="noBorder">
                        <div>Aufgaben</div>
                    </li>
                    <li class="active">
                        <div>Zusätzliche Personendaten</div>
                    </li>
                </ul>
            </div>

            <div class="contentBoxColored tabsContent">
				<ol class="delegationFields">
	                #foreach( $field in $delegationFieldsLabels )
			            <li>
			                <input type="text" name="delegationFields" value="$field">
							<input type="button" class="remove_field" value="-">
			            </li>
	                #end
				</ol>
				<input type="button" id="addDelegation" class="mainButton" value="Feld hinzuf&uuml;gen"><br>
            </div>
        </div>


        <span id="buttonPanel-bottom" class="floatRight">
            #if($grants.mayWrite())
                <input type="button" name="save" value="Veranstaltung speichern" class="mainButton"
                       onclick="submitForm();">
            #end
            <input type="reset" name="cancel" value="Zur Veranstaltungsübersicht" class="mainButton"
                   onclick="window.location.href='SearchEvent?action=event&search=reset&selectNone=true';">
        </span>
    </form>
</div>

<div class="clear"></div>

<style>
	.delegationFields>li {
		margin:10px;
	}
</style>

<script type="text/javascript">
 $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".delegationFields"); //Fields wrapper
    var add_button      = $("#addDelegation"); //Add button ID
    var remove_button   = ".remove_field";

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('' +
            '<li>' +
            '   <input type="text" name="delegationFields"/>' +
            '   <input type="button" class="remove_field" value="-">' +
            '</li>'); //add input box
        } else {
            alert("maximum an feldern erreicht");
        }
    });

    $(wrapper).on("click", remove_button, function(e){ //user click on remove text
        e.preventDefault();
        $(this).parent('li').remove();
        x--;
    })
});

function submitForm() {
	var msg = '<br><span class="notBold">Wenn Sie Ihre Auswahl anpassen wollen, brechen Sie bitte das L&ouml;schen ab.</span><br>';
		msg += 'Sollen alle leeren Felder gel&ouml;scht werden? ';
        msg += 'Diese Aktion kann nicht r&uuml;ckg&auml;ngig gemacht werden.<br>';

	showConfirmYesNo('Bitte best&auml;tigen Sie das L&ouml;schen, leerer Felder!',
	    msg,
	    function () { // Ja                                                                 
	    	$('#formlist').submit();
	
	    },
	    function () { // Nein
	      showSuccess('Es wurden kein Feld gel&ouml;scht.');
	    });
}

</script>

#parse("inc/footer.vm")