#set($activeMenu = "Personen")
#set($title = "Importstatus - Dubletten &uuml;bernehmen")
#set($elementNameSex = "female")
#set($elementNameSingular = "Person")
#set($elementNamePlural = "Personen")
#parse("inc/header.vm")

<div id="content_container">

    <div id="breadcrumb" class="textRight marginBottom10">
    	<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > <a href="${paths.staticWeb}do/ImportPersons" title="Zum Personen-Import">Personen-Import</a> > Importstatus</span>
    </div>
    <h1>Importstatus: vorhandene Dubletten bearbeiten</h1>
	
	<vera-info>
		Dubletten die durch den <strong>Import hinzugefügt werden würden</strong>, sind mit einer Checkbox gekennzeichnet. 
		Darunter befinden sich die bereits im System vorhandenen, entsprechenden Datens&auml;tze.<br /> 
		Um eine Dublette in den Import zu integrieren, m&uuml;ssen Sie sie &uuml;bernehmen. 
	</vera-info>
    
    <form id="formlist" name="formlist" action="ImportPersonsEditDuplicates" method="POST">
        <input type="hidden" name="start" value=""/>
    	<input type="hidden" name="limit" value=""/>
        <input type="hidden" name="selectNone" value="true"/>
        <input type="hidden" name="importId" value="$!importId"/>
        <input type="hidden" name="saveCount" value="$!saveCount"/>
    		
    	<span id="actionPanel" class="inlineLabel">
    		<label>Markierte Person(en)
    			<input type="submit" name="save" type="button" value="Als Dublette &uuml;bernehmen" title="Markierte Person(en) als Dublette &uuml;bernehmen"/>
            </label>
    	</span>
    	
    	#if($list && $list.size() > 0)
        
            #foreach($bean in $list)
        		<input type="hidden" name="list" value="$bean.id">
			#end
			
			<div id="main_content">
                <table class="sortable">
                	<tr>
                		<th class="textCenter smallCell"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" #if($listselection.size() == $list.size()) checked#end title="Alle (de)markieren"/></th>
                		<th>ID</th>
                		<th>Name</th>
                		<th>Vorname</th>
                		<th>Amtsbezeichnung</th>
                		<th>Firma / Institution</th>
                		<th>Stra&szlig;e</th>
                		<th>PLZ</th>
                		<th>Ort</th>
                	</tr>
                	#foreach($bean in $list)
                		#set($person = $bean.mainLatin)
                		#set($address = $bean.businessLatin)
                	<tr>
                		<td>
                ##			<input type="hidden" name="${bean.id}-checked" #if($bean.dupcheckstatus == 1) value="true" #else value="false" #end>
                ##			<input type="checkbox" name="${bean.id}-check" #if($bean.dupcheckstatus == 1 )checked #end value="true" >
                			<input type="checkbox" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked #end onChange="selectionChange(this);"/>
                		</td>
                		<td><input type="hidden" name="${bean.id}-id" value="$bean.id"/>$!bean.id</td>
                		<td>$!message.text($!person.lastname)</td>
                		<td>$!message.text($!person.firstname)</td>
                		<td>$!message.text($!address.function)</td>
                		<td>$!message.text($!address.company)</td>
                		<td>$!message.text($!address.street)</td>
                		<td>$!message.text($!address.zipcode)</td>
                		<td>$!message.text($!address.city)</td>
                	</tr>
                		#foreach($duplicate in $bean.getDuplicateList())
                		#set($person = $duplicate.mainLatin)
                		#set($address = $duplicate.businessLatin)
                	<tr>
                		<td>&nbsp;</td>
                		<td>$!duplicate.id</td>
                		<td>$!message.text($!person.lastname)</td>
                		<td>$!message.text($!person.firstname)</td>
                		<td>$!message.text($!address.function)</td>
                		<td>$!message.text($!address.company)</td>
                		<td>$!message.text($!address.street)</td>
                		<td>$!message.text($!address.zipcode)</td>
                		<td>$!message.text($!address.city)</td>
                	</tr>
                		#end
                		#if($bean.hasMoreDuplicates())
                	<tr>
                		<td>&nbsp;</td>
                		<td>...</td>
                		<td>...</td>
                		<td>...</td>
                		<td>...</td>
                		<td>...</td>
                		<td>...</td>
                		<td>...</td>
                		<td>...</td>
                	</tr>
                		#end
            		#end
            		
            		#set($itemName = "Personen")
                	#parse("inc/list-navi-new.vm")
					
					<tr class="colspan">
						<td colspan="99">
							Anzahl zu speichernde Dubletten: $!listselection.size()
						</td>
					</tr>
            		
                </table>
			</div>
    	
    	#else
    		
    		<div class="contentBoxColored grayBorder marginBottom20">  		
    			Es wurden keine Einträge gefunden.
    		</div>
    		
    	#end
        
        <span id="buttonPanel-top" class="textRight floatRight">
			<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zu Importstatus" class="mainButton" onclick="document.formlist.action='ImportPersonsStoredRecord';document.formlist.submit();" />
		</span>
    
    </form>
    
    <div class="clear"></div>
</div>


#parse("inc/footer.vm")