#set($title = "Aufgaben")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="ShowEventTask" method="POST" onsubmit="htmlWait();">

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabinactiv"><a href="ShowEvent?id=$!id" class="tabinactiv">Allgemein</a></td>
	<td class="tabinactiv"><a href="${paths.staticWeb}do/ShowEventDoctype?id=$!id" class="tabinactiv">Dokumententypen</a></td>
	<td class="tabactiv"><a href="${paths.staticWeb}do/ShowEventTasks?id=$!id" class="tabinactiv">Aufgaben</a></td>
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()
#openContentSection()


<input type="hidden" name="start" value="">
<input type="hidden" name="selectAll" value="false">
<input type="hidden" name="selectNone" value="false">
<input type="hidden" name="doInsert" value="true">
<input type="hidden" name="doUpdate" value="false">
<input type="hidden" name="doRemove" value="true">

#foreach($bean in $list)
<input type="hidden" name="list" value="$bean.id">

#end


<table class="list">
	<tr class="list1">
		<th class="list" style="width: 20px;">&nbsp;</th>
		<th class="list" style="width: 60px;">ID</th>
		<th class="list">Titel</th>
		<th class="list">Start</th>
		<th class="list">Ende</th>
		<th class="list">Status</th>
		<th class="list">Verantwortliche</th>
		<th class="list">Priorit&auml;t</th>
	</tr>
#foreach($bean in $list)	
	#if ($velocityCount % 2 == 0)
		#set($class = "list1")
	#else
		#set($class = "list2")
	#end
	<tr class="$class" style="height: 20px;" onmouseover="onMouseOverList(this);" onmouseout="onMouseOutList(this);">
		<td class="list">			
			<input type="checkbox" name="add-select" value="true" class="checkbox">
		</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.id</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.title</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.startdate</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.enddate</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.degreeofcompletion</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.person</td>
		<td class="list" style="cursor: pointer;" onclick="window.location.href='ShowEventTask?id=$!{bean.id}&eventId=$!{bean.eventId}'">$!bean.priority</td>
	</tr>
#end
</table>

#if ($listparam.count == 0)
	<br>Keine Daten gefunden.
#end

<div id="fixme" class="fixme1"><div class="fixme2"><div class="fixme3">

	#parse("inc/list-navi.vm")
	#parse("inc/list-direct.vm")

	<input type="button" name="new" value="Neu" #if($grants.mayWrite()) class="button" #else class="buttondisabled" disabled #end onclick="window.location.href='CreateEventTask?eventId=$!id';"> &nbsp;
	<input type="submit" name="remove" value="L&ouml;schen" title="markierte Eintr&auml;ge entfernen" #if($grants.mayWrite()) class="button" #else class="buttondisabled" disabled #end> &nbsp;
	<input type="button" name="cancel" class="button" value="Zur&uuml;ck" title="Zur Suche" onclick="window.location.href='SearchEvent';"> &nbsp;

</div></div></div>

#closeContentSection()
#closeContent()

</form>

<script type="text/javascript">
#if(!$grants.mayWrite())
	disableForm(document.getElementById('formlist'));
#end
</script>

#parse("inc/footer.vm")