#if($task && $task.id)
#set($title = "Aufgabe bearbeiten: $!message.plain($event.shortname)")
#parse("inc/header.vm")
#else
#set($title = "Neue Aufgabe erstellen")
#parse("inc/header.vm")
#end

#if(!$eventId)
#set($eventId = $task.eventId)
#end

<form id="formlist" name="formlist" action="" method="POST">
<input type="hidden" id="a" name="a" value="taskReferencePerson">
<input type="hidden" id="modified" name="task-modified" value="false">
<input type="hidden" name="savetask" value="true">
<input type="hidden" name="search" value="clear">
<input type="hidden" name="task-eventId" value="$!eventId">

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabinactiv"><a href="ShowEvent?id=$!eventId" class="tabinactiv">Allgemein</a></td>
	<td class="tabinactiv"><a href="${paths.staticWeb}do/ShowEventDoctype?id=$!eventId" class="tabinactiv">Dokumententypen</a></td>
	<td class="tabactiv"><a href="${paths.staticWeb}do/ShowEventTasks?id=$!eventId" class="tabinactiv">Aufgaben</a></td>
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()
#openContentSection()


#if($task.errors.size() > 0)
<div style="width: 99%; background-color: #ffffff;">
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
	$task.errors.get(0)<br>
##	#foreach($error in $task.errors)
##		$error<br>
##	#end
</div>
</div>
#elseif($listquestions && $listquestions.size() > 0)
<div style="width: 99%; background-color: #ffffff;">
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #00ff00;">
	<strong>Bitte best&auml;tigen Sie das Speichern dieser Aufgabe</strong><br>
	<table class="form" style="margin: 5px 0px 0px 0px;">
	#foreach($quest in $listquestions.entrySet())
		<tr>
			<td class="value"><input type="hidden" name="$quest.key" value="true">$!message.plain($quest.value)</td>
		</tr>
		#set($save = true)
	#end
	</table><br>

	#if($save)
	<input type="submit" class="button" name="remove" value="Ja" title="Speichern"> &nbsp;
	#end
	<input type="button" class="cancel" name="cancel" value="Nein" onclick="window.location.href='ShowEvent?id=$!eventId';"> &nbsp;
</div>
</div>
#end

<input type="hidden" name="task-id" value="$!task.id">
<input type="hidden" name="event-id" value="$!eventId">

<table class="form">
	<tr>
		<td class="label"><label for="id">Aufgaben-ID:</label></td>
		<td class="value"><input type="text" name="id" value="$!message.text($task.id)" id="id" class="id" readonly></td>
	</tr>
	
	<tr>
		<td class="label"><label for="task-title">Kurzbezeichnung:</label></td>
		<td class="value"><input type="text" name="task-title" value="$!message.text($task.title)" id="task-title" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="task-description">Beschreibung:</label></td>
		<td class="value"><textarea rows="4" cols="20" name="task-description" id="task-description" class="text" onchange="setModified();">$!message.textarea($task.description)</textarea></td>
	</tr>
	
	<tr>
		<td class="label"><label for="task-startdate">Beginn:</label></td>
		<td class="value">
			<nobr>
			<input type="text" name="task-startdate" id="task-startdate" value="$!message.date("DATE", $task.startdate)" class="date" style="width: 80px;" onchange="setModified();">
			#if($grants.mayWrite())
			<span id="show-begin"><img src="${paths.staticWeb}images/calendar.gif" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen"></span> &nbsp; um &nbsp;
			<script type="text/javascript">
				function changeDateStart(calendar, date) {
				}
				
			    Calendar.setup({
					inputField     :    "task-startdate",
					button         :    "show-begin",
					ifFormat       :    "%d.%m.%Y",
					showsTime      :    false,
					onUpdate       :    changeDateStart
				});
			</script>
			#end
			<input type="text" name="task-starttime" id="task-starttime" #if($task-starthastime) value="$!message.date("TIME", $task.startdate)" #else value="" #end class="date" style="width: 40px;" onchange="setModified();"> Uhr
			</nobr>
		</td>
	</tr>
	
	<tr>
		<td class="label"><label for="task-enddate">Ende:</label></td>
		<td class="value">
			<nobr>
			<input type="text" name="task-enddate" id="task-enddate" value="$!message.date("DATE", $task.enddate)" class="date" style="width: 80px;" onchange="setModified();">
			#if($grants.mayWrite())
			<span id="show-end"><img src="${paths.staticWeb}images/calendar.gif" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen"></span> &nbsp; um &nbsp;
			<script type="text/javascript">
			    Calendar.setup({
					inputField     :    "task-enddate",
					button         :    "show-end",
					ifFormat       :    "%d.%m.%Y",
					showsTime      :    false
				});
			</script>
			#end
			<input type="text" name="task-endtime" id="task-endtime" #if($task-endhastime) value="$!message.date("TIME", $task.enddate)" #else value="" #end class="date" style="width: 40px;" onchange="setModified();"> Uhr
			</nobr>
		</td>
	</tr>
	
	<tr>
		<td class="label"><label for="task-reference-person">Verantwortlicher:</label></td>
		<td class="value">
			<table class="form"><tr>
				<td class="value">
					<input type="text" id="task-reference-person" name="task-reference-person" value="$!message.text($task.person)" class="textdisabled" readonly>
				</td>
				<td class="value" style="width: 6px;">&nbsp;</td>
				<td class="value" style="width: 130px;">
					#if($grants.mayWrite())
					<a href="SetReferencePersonToEventTask?a=taskReferencePerson">Suchen</a> |
					<a href="javascript:removeHost(); setModified(); document.getElementById('formlist').action='SaveEvent'; document.getElementById('formlist').submit();">Entfernen</a>
					#else
					Suchen |
					Entfernen
					#end
				</td>
			</tr></table>
		</td>
	</tr>
	
	
	<tr>
		<td class="label"><label for="task-degreeofcompletion">Fertigstellung:</label></td>
		<td class="value">
			<select name="task-degreeofcompletion" id="task-degreeofcompletion" class="combobox WCHhider" onchange="setModified();">
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 0) selected #end value="0">0%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 10) selected #end value="10">10%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 20) selected #end value="20">20%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 30) selected #end value="30">30%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 40) selected #end value="40">40%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 50) selected #end value="50">50%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 60) selected #end value="60">60%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 70) selected #end value="70">70%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 80) selected #end value="80">80%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 90) selected #end value="90">90%</option>
				<option #if($task.degreeofcompletion && $task.degreeofcompletion == 100) selected #end value="100">100%</option>
			</select>
		</td>
	</tr>

	
	<tr>
		<td class="label"><label for="task-priority">Priorit&auml;t:</label></td>
		<td class="value">
			<select name="task-priority" id="task-priority" class="combobox WCHhider" onchange="setModified();">
				<option #if($task.priority && $task.priority == 1) selected #end value="1">1</option>
				<option #if($task.priority && $task.priority == 2) selected #end value="2">2</option>
				<option #if($task.priority && $task.priority == 3) selected #end value="3">3</option>
				<option #if($task.priority && $task.priority == 4) selected #end value="4">4</option>
				<option #if($task.priority && $task.priority == 5) selected #end value="5">5</option>
				<option #if($task.priority && $task.priority == 6) selected #end value="6">6</option>
			</select>
		</td>
	</tr>
	
</table>

<div id="fixme" class="fixme1"><div class="fixme2"><div class="fixme3">

#if($event && $event.id)
	<input type="submit" name="save" value="Speichern" onclick="document.getElementById('formlist').action='SaveEventTask';" #if($grants.mayWrite()) class="button" #else class="buttondisabled" disabled #end> &nbsp;
	<input type="button" name="guestlist" class="button" value="Zur G&auml;steliste" onclick="window.location.href='ShowGuestList?search-event=$!event.id&start=0&selectNone=true';"> &nbsp;
	<input type="button" name="cancel" class="button" value="Zur&uuml;ck" title="Zur Suche" onclick="window.location.href='${paths.staticWeb}do/ShowEventTasks?id=$!eventId';"> &nbsp;
#else
    <input type="submit" name="save" value="Speichern" onclick="document.getElementById('formlist').action='SaveEventTask';" #if($grants.mayWrite()) class="button" #else class="buttondisabled" disabled #end> &nbsp;
    <input type="button" name="cancel" class="button" value="Zur&uuml;ck" title="Zur Suche" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/ShowEventTasks?id=$!eventId'; }"> &nbsp;
#end

</div></div></div>

#closeContentSection()
#closeContent()

</form>

<script type="text/javascript">
$(function () { // on dom ready
	$("a").click(function (e) {
		if (!checkModified()) {
			e.preventDefault(); // do not follow link
		}
	});
});
</script>

#parse("inc/footer.vm")