#set($activeMenu = "Personen")
#set($title = "Status des Importvorgangs")
#parse("inc/header.vm")

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
    	<strong>Sie sind hier</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > <a href="${paths.staticWeb}do/ImportPersons" title="Zum Personen-Import">Personenimport</a> > Importstatus</span>
    </div>
    <h1>Importstatus</h1>
	
	<div class="hinweis contentBoxColored grayBorder marginBottom20">
		<strong>Hinweis</strong><br />
		Um Dubletten speicherbar zu machen, m&uuml;ssen sie zun&auml;chst im Bereich &bdquo;vorhandene Dubletten&rdquo; &uuml;bernommen werden.<br />
		Der Import ist erst beendet, wenn er abgeschlossen wurde.  <br />
		Der Import kann erst abgeschlossen werden, wenn speicherbare Datens&auml;tze vorhanden sind.
	</div>
	
	#if($importStatus.dupCount && $importStatus.dupCount != 0)
		<div id="buttonPanel-top" class="textRight marginBottom10">
            <form action="ImportPersonsEditDuplicates" method="post">
                <input type="hidden" name="importId" value="$!importStatus.id">
                #set($saveCount = $!importStatus.saveCount - $!importStatus.dsCount + $!importStatus.dupCount)
                <input type="hidden" name="saveCount" value="$saveCount"/>
                <input type="hidden" name="start" value="0"/>
    			<input type="hidden" name="selectNone" #if($selectNone && $selectNone == "false") value="false" #else value="true" #end/>
                <input type="submit" class="mainButton" value="vorhandene Dubletten"  title="Vorhandene Dubletten bearbeiten" />
            </form>
		</div>
	#end
	
	<div id="main_content" class="contentBoxColored grayBorder marginBottom10">
		
		<div class="table width100">
			<div class="tableRow">
				<div class="tableCell width30">
					<strong>Import-ID:</strong> $!message.text($importStatus.id)
				</div>
				<div class="tableCell width70">
					<strong>Zu importierende Datens&auml;tze insgesamt:</strong> $!importStatus.dsCount<br />
					<strong>davon Dubletten:</strong> $!importStatus.dupCount<br />
					<strong>davon speicherbar:</strong> $!importStatus.saveCount<br />
        			#if($importStatus.igCount  && $importStatus.igCount != 0)
						<strong>Ignorierte Fehlerdatens&auml;tze:</strong> $!importStatus.igCount
        			#end
					
				</div>				
			</div>

		</div>
		
	</div>
	
	<form action="ImportPersonsFinalise" method="post">
		<span class="textRight floatRight">
			#if($importStatus.saveCount  && $importStatus.saveCount != 0)
                <input type="hidden" name="importId" value="$!importStatus.id"/>
                <input type="submit" class="mainButton" value="Import finalisieren" onclick="htmlWait();"/>
			#end
			<input type="button" class="mainButton" value="Zur&uuml;ck zu Personenimport" onclick="window.location.href='ImportPersons';"/>
		</span>
	</form>

	<div class="clear"></div>
</div>


#if($imported)
    <script type="text/javascript">
     #if($imported == 0)
    	alert('Sie haben keinen Datensatz importiert.');
     #elseif($imported == 1)
    	alert('Sie haben einen Datensatz importiert.');
     #elseif($imported > 1)
    	alert('Sie haben $imported Datensätze importiert.');
     #end
    </script>
#end

#parse("inc/footer.vm")
