#if($location && $location.id)
#set($title = "Veranstaltungsort bearbeiten: $!message.plain($location.shortname)")
#parse("inc/header.vm")
#else
#set($title = "Neuen Veranstaltungsort eingeben")
#parse("inc/header.vm")
#end

#if(!$locationId)
#set($locationtId = $location.id)
#end

<form id="formlist" name="formlist" action="" method="POST">
<input type="hidden" name="savelocation" value="true">
<input type="hidden" name="search" value="clear">

<input type="hidden" name="location-id" value="$!locationId">


<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabactiv"><span class="tabactiv">Veranstaltungsorte</span></td>
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()
#openContentSection()


#if($location.errors.size() > 0)
<div style="width: 99%; background-color: #ffffff;">
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
	$location.errors.get(0)<br>


</div>
</div>
#elseif($listquestions && $listquestions.size() > 0)
<div style="width: 99%; background-color: #ffffff;">
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #00ff00;">
	<strong>Bitte best&auml;tigen Sie das Speichern dieser Aufgabe</strong><br>
	<table class="form" style="margin: 5px 0px 0px 0px;">
	#foreach($quest in $listquestions.entrySet())
		<tr>
			<td class="value"><input type="hidden" name="$quest.key" value="true">$!message.plain($quest.value)</td>
		</tr>
		#set($save = true)
	#end
	</table><br>

	#if($save)
	<input type="submit" class="button" name="remove" value="Ja" title="Speichern"> &nbsp;
	#end
	<input type="button" class="cancel" name="cancel" value="Nein" onclick="window.location.href='CreateLocation?id=$!$locationtId';"> &nbsp;
</div>
</div>
#end


<table class="form">
	<tr>
		<td class="label"><label for="id">Veranstaltungsort-ID:</label></td>
		<td class="value"><input type="text" name="id" value="$!message.text($location.id)" id="id" class="id" readonly></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-contact-person">Ansprechpartner:</label></td>
		<td class="value"><input type="text" name="location-contact-person" value="$!message.text($location.contactperson)" id="location-contact-person" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-title">Beschreibung/Titel:</label></td>
		<td class="value"><input type="text" name="location-title" value="$!message.text($location.title)" id="location-title" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-address">Stra&szlig;e:</label></td>
		<td class="value"><input type="text" name="location-address" value="$!message.text($location.address)" id="location-address" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-zip">PLZ:</label></td>
		<td class="value"><input type="text" name="location-zip" value="$!message.text($location.zip)" id="location-zip" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-location">Ort:</label></td>
		<td class="value"><input type="text" name="location-location" value="$!message.text($location.location)" id="location-location" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-call-number">Telefonnummer:</label></td>
		<td class="value"><input type="text" name="location-call-number" value="$!message.text($location.callnumber)" id="location-call-number" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-fax-number">Faxnummer:</label></td>
		<td class="value"><input type="text" name="location-fax-number" value="$!message.text($location.faxnumber)" id="location-fax-number" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-email-address">E-Mail-Adresse:</label></td>
		<td class="value"><input type="text" name="location-email-address" value="$!message.text($location.email)" id="location-email-address" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-call-number">Telefonnummer:</label></td>
		<td class="value"><input type="text" name="location-call-number" value="$!message.text($location.callnumber)" id="location-call-number" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>

	<tr>
		<td class="label"><label for="location-comment">Bemerkungsfeld:</label></td>
		<td class="value"><textarea rows="4" cols="20" name="location-comment" id="location-comment" class="text" onchange="setModified();">$!message.textarea($location.comment)</textarea></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-url">URL:</label></td>
		<td class="value"><input type="text" name="location-url" value="$!message.text($location.url)" id="location-url" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-gps-data">GPS-Daten:</label></td>
		<td class="value"><input type="text" name="location-gps-data" value="$!message.text($location.gpsdata)" id="location-gps-data" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
	<tr>
		<td class="label"><label for="location-room-number">Raumnummer:</label></td>
		<td class="value"><input type="text" name="location-room-number" value="$!message.text($location.roomnumber)" id="location-room-number" class="text" maxlength="100" onchange="setModified();"></td>
	</tr>
	
</table>

<div id="fixme" class="fixme1"><div class="fixme2"><div class="fixme3">

<input id="button.save" type="submit" name="save" value="Speichern" onclick="document.getElementById('formlist').action='SaveLocation';" #if($grants.mayWrite()) class="button" #else class="buttondisabled" disabled #end> &nbsp;
<input id="button.back" type="button" name="cancel" class="button" value="Zur&uuml;ck" title="Zur Suche" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/ShowEventTasks?id=$!eventId'; }"> &nbsp;


</div></div></div>

#closeContentSection()
#closeContent()

</form>

#parse("inc/footer.vm")