#set($activeMenu = "Administration")
#set($title = "Stammdaten - Veranstaltungsorte")
#parse("inc/header.vm")	

<form id="formlist" name="formlist" action="Location" method="POST">
    <input type="hidden" name="doRemove" value="true">
    <input type="hidden" name="start" value="">
    <input type="hidden" name="selectAll" value="false">
    <input type="hidden" name="selectNone" value="false">

    <table class="tab" border="0" cellspacing="0" cellpadding="0">
		<tr>
        	<td class="tableft">&nbsp;</td>
        	<td class="tabactiv"><span class="tabactiv">Veranstaltungsorte</span></td>
        	<td class="tabright">&nbsp;</td>
		</tr>
	</table>

    
    
    
#if($listerrors.size() > 0)
	<vera-warn>
	#foreach($error in $listerrors)
    	$error<br>
	#end
    </vera-warn>
#elseif($listquestions && $listquestions.size() > 0)
	<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #00ff00;">
		<strong>Bitte best&auml;tigen Sie das L&ouml;schen von Veranstaltungsorten</strong><br>
		<table class="form" style="margin: 5px 0px 0px 0px;">
		#foreach($quest in $listquestions.entrySet())
			<tr>
				<td class="value"><input type="hidden" name="$quest.key" value="true">$quest.value</td>
			</tr>
			#set($save = true)
		#end
		</table><br />

	#if($save)
		<input type="submit" class="button" name="remove" value="Ja" title="Markierte Veranstaltungsorte l&ouml;schen"> &nbsp;
	#end
		<input type="button" class="cancel" name="cancel" value="Nein" onclick="window.location.href='Location';"> &nbsp;
	</div>
#end

    #foreach($bean in $list)
		<input type="hidden" name="list" value="$bean.id">
    #end
    <table>
    	<tr>
    		<th style="width: 20px;"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" #if($listselection.size() == $listparam.count) checked#end title="Alle (de)markieren"/></th>
    		<th style="width: 60px;">ID</th>
    		<th>Titel</th>
    		<th>Ansprechpartner</th>
    		<th>Stra&szlig;e</th>
    		<th>PLZ</th>
    		<th>Ort</th>
    		<th>Telefon</th>
    		<th>Fax</th>
    		<th>E-Mail</th>
    		<th>Bemerkung</th>
    		<th>URL</th>
    		<th>GPS-Daten</th>
    		<th>Raumnummer</th>
    	</tr>
    	#foreach($bean in $list)
    		<tr class="$class" style="height: 20px;" onmouseover="onMouseOverList(this);" onmouseout="onMouseOutList(this);">
    			<td><input type="checkbox" id="remove-select" name="${bean.id}-select" value="true"  #if($listselection.indexOf($bean.id) != -1) checked#end></td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.id)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.name)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.contactperson)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.address)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.zip)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.location)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.callnumber)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.faxnumber)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.email)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.comment)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.url)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.gpsdata)</td>
    			<td style="cursor: pointer;" onclick="window.location.href='ShowLocation?id=$!{bean.id}'">$!message.plain($bean.roomnumber)</td>
        	</tr>
    	#end
    </table>
    #if ($listparam.count == 0)
    	<br>Keine Daten gefunden.
    #end

    <div id="fixme" class="fixme1">
		<div class="fixme2">
			<div class="fixme3">
            	#parse("inc/list-navi.vm")
            	#parse("inc/list-direct.vm")
            	<input type="button" id="new" name="new" value="Neu" #if($grants.mayWrite()) class="button" #else class="buttondisabled" vera-disabled #end onclick="window.location.href='CreateLocation';"> &nbsp;
            	<input type="submit" id="remove" name="remove" value="L&ouml;schen" class="button" title="markierte Eintr&auml;ge entfernen"> &nbsp;
    		</div>
		</div>
	</div>

    
    

</form>

#parse("inc/footer.vm")