#set($activeMenu = "Verwaltung")
#set($title = "Verteilerliste")
#parse("inc/header.vm")

<script type="text/javascript">
<!--
function deleteMailinglist() {
	var n = 0; //Anzahl der markierten Verteiler
	for (var i = 0; i < document.formlist.length; i++) {
		if (document.formlist.elements[i].type == "checkbox")
			if (document.formlist.elements[i].checked == true)
				n++;
	}
	var check = false;
	if (n == 1)
		check = confirm("Soll der markierte Verteiler entfernt werden?");
	else if (n > 1)
		check = confirm("Sollen die markierten Verteiler entfernt werden?");
	if (check == true) {
		document.getElementById('remove').name = 'remove';
		document.formlist.submit();
	}
}
//-->
</script>

<div id="content_container">
	<div id="breadcrumb" class="textRight">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > Verteiler</span>
	</div>

	<h1>Verteiler</h1>

	<form id="formlist" name="formlist" action="ShowMailinglistList" method="POST">
	
	<input type="hidden" name="start" value="">
	<input type="hidden" name="selectAll" value="false">
	<input type="hidden" name="selectNone" value="false">
	<input type="hidden" name="doRemove" value="true">
	<input type="hidden" id="remove" name="removeDisabled" value="true">
	
	#foreach($bean in $list)
	<input type="hidden" name="list" value="$bean.id">
	#end
	
	#if($grants.mayWrite())
	<span id="actionPanel">
    	Ausgewählte Einträge
		<input type="button" name="remove" value="L&ouml;schen" onclick="deleteMailinglist();" title="markierte Verteiler l&ouml;schen">
	</span>	
	#end
	
	<table class="marginTop10">
		<tr class="list1" style="height: 20px;">
			<th class="smallCell textCenter">&nbsp;</th>
			<th class="smallCell textCenter">ID</th>
			<th>Bezeichnung</th>
			<th>Benutzer</th>
			<th class="smallCell nowrap">Angelegt am</th>
			<th>Erzeugt aus VA</th>
		</tr>
		#foreach($bean in $list)
		#if ($velocityCount % 2 == 0)
			#set($class = "list1")
		#else
			#set($class = "list2")
		#end
		<tr class="$class">
			<td class="textCenter"><input type="checkbox" name="${bean.id}-select" value="true" class="checkbox" #if($listselection.indexOf($bean.id) != -1) checked#end></td>
			<td style="cursor: pointer;" onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!bean.id</td>
			<td style="cursor: pointer;" onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!bean.name</td>
			<td style="cursor: pointer;" onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!bean.username</td>
			<td class="textCenter" style="cursor: pointer;" onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!message.date("DATE_TIME", $bean.created) Uhr</td>
			<td style="cursor: pointer;" onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!bean.eventname</td>
		</tr>
	
		#end
	</table>
	
	#if ($listparam.count == 0)
		<br>Keine Daten gefunden.
	#end
	
	
		#parse("inc/list-navi.vm")
		#parse("inc/list-direct.vm")
	
	
	</form>

</div>

#parse("inc/footer.vm")