#set($activeMenu = "Verwaltung")
#set($title = "E-Mail an Verteiler schreiben: $!message.text($mailinglist.name)")
#parse("inc/header.vm")

<div id="content_container">

	<div id="breadcrumb" class="textRight">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > Verteiler</span>
	</div>	
	
	<h1>Verteiler versenden</h1>

	
	<form id="formlist" name="formlist" action="MailinglistWrite" method="POST">
	<input type="hidden" id="loaddraft" name="loaddraft" value="false">
	<input type="hidden" id="savedraft" name="savedraft" value="false">

    #if($errors.size() > 0)
    <div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
    	$errors.get(0)<br>
    ##	#foreach($error in $errors)
    ##		$error<br>
    ##	#end
    </div>
    #end
    
    <input type="hidden" name="mail-id" value="$!mail.id">
    
	<div id="main_content" class="contentBoxColored grayBorder">
	
        <div class="textRight mandatoryText">* = Pflichtfelder</div>
		
    		<h2>E-Mail Entw&uuml;rfe</h2>       
        
           	#set($loadable = false)		
            <div class="table width100">
            	<div class="tableRow">
            		<div class="tableCell">
            			<label for="mail-draft">Vorhandene Vorlagen:</label>
            		</div>
            		<div class="tableCell">
            			<select id="mail-draft" name="mail-draft" class="combobox">
                		#foreach($draft in $allMailDraft)
                			#set($loadable = true)
                			<option value="$!draft.id" #if($mail.id && $mail.id == $draft.id) selected #end>$!draft.name</option>
                		#end
                		#if(!$loadable)
                			<option value="">Es liegen keine Vorlagen vor</option>
                		</select>
    					#end
                        #if($loadable)
                			<input type="button" name="" value="Laden" onclick="document.getElementById('loaddraft').value='true'; document.getElementById('formlist').submit();">
    					#end
            		</div>
    			</div>
    		</div>			
    
    		
    		<div class="table width100">	
            	<div class="tableRow">
            		<div class="tableCell">
            			<label for="mail-name">Vorlagenname* (für neue Vorlage):</label>
            		</div>
            		<div class="tableCell">
            			<input type="text" id="mail-name" name="mail-name" value="$!message.text($mail.name)" class="text">
            			<input type="button" name="savedraft" value="Speichern" title="Neue Vorlage speichern" onclick="document.getElementById('savedraft').value='true'; document.getElementById('formlist').submit();">
            		</div>
            	</div>
            </div>
        
            <h2>E-Mail schreiben</h2>
            
            <div>
    			<label for="mail-subject">Betreff*:</label>
            	<input type="text" id="mail-subject" name="mail-subject" value="$!message.text($mail.subject)">
            </div>
            
    		<div>
    			<label for="mail-text">Text:</label>	
    			<div class="tableCell"><textarea id="mail-text" name="mail-text">$!message.textarea($mail.text)</textarea>
            </div>
            	
    		<div>
            	<label for="platzhalter">Platzhalter:</label>
    			<select name="platzhalter" id="platzhalter" class="inlineInput autoWidth">
            					<option value="firstname">Vorname</option>
            					<option value="lastname">Nachname</option>
            					<option value="salutation">Anrede</option>
            					<option value="title">Akad. Titel</option>
            					<option value="function">Amtsbez./Funktion</option>
            					<option value="company">Firma/Institution</option>
            					<option value="street">Stra&szlig;e</option>
            					<option value="zipcode">PLZ</option>
            					<option value="city">Ort</option>
            					<option value="country">Land</option>
            					<option value="poboxzipcode">Postfach-PLZ</option>
            					<option value="pobox">Postfach-Nummer</option>
            					<option value="suffix1">$!config.suffix1</option>
            					<option value="suffix2">$!config.suffix2</option>
            					<option value="phone">Telefon</option>
            					<option value="fax">Fax</option>
            					<option value="mobile">Mobil</option>
            					<option value="email">E-Mail</option>
            					<option value="url">www</option>
            	</select>
        		<input type="button" name="add" value="In Text einfügen" title="Platzhalter in Text einfügen" class="autoWidth" onclick="addPlatzhalter(this);">
            </div>
            
            <div id="buttonPanel-bottom" class="textRight">
               	<input type="button" name="send" value="Senden" title="Senden" class="mainButton" onclick="document.getElementById('formlist').action='MailinglistSend'; document.getElementById('formlist').submit();">
               	<input type="reset"  name="clear"  value="Zur&uuml;cksetzen" title="Zur&uuml;cksetzen" class="mainButton">
               	<input type="button" name="cancel" value="Zur&uuml;ck zum Verteiler" title="Zur&uuml;ck zum Verteiler" class="mainButton" onclick="window.location.href='ShowMailinglistDetail';">
            </div>
        
		</div>
    </form>
</div>

<script type="text/javascript">
	function addPlatzhalter(s) {
		var sel = document.getElementById('platzhalter');
		var text = sel.options[sel.selectedIndex].value;
		if (text.length > 0) {
			insertAtCursor(document.getElementById('mail-text'), '<' + text + '>');
		}
	}
</script>

#parse("inc/footer.vm")