#set($activeMenu = "Veranstaltungen")
#set($title = "Verteilerliste")
#set($elementNameSex = "male")
#set($elementNameSingular = "Verteiler")
#set($elementNamePlural = "Verteiler")
#parse("inc/header.vm")

<script type="text/javascript">
    function deleteMailinglist() {
    	var n = 0; //Anzahl der markierten Verteiler
    	for (var i = 0; i < document.formlist.length; i++) {
    		if (document.formlist.elements[i].type == "checkbox")
    			if (document.formlist.elements[i].checked == true)
    				n++;
    	}
    	var check = false;
    	if (n == 1)
    		check = confirm("Soll der markierte Verteiler entfernt werden?");
    	else if (n > 1)
    		check = confirm("Sollen die markierten Verteiler entfernt werden?");
    	if (check == true) {
    		document.getElementById('remove').name = 'remove';
    		document.formlist.submit();
    	}
    }
</script>

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > Verteiler</span>
	</div>

	<h1>Verteiler</h1>

	<form id="formlist" name="formlist" action="ShowMailinglistList" method="POST">
	
    	<input type="hidden" name="start" value="">
		<input type="hidden" name="limit" value="">
    	<input type="hidden" name="selectNone" value="true">
    	<input type="hidden" name="doRemove" value="true">
    	<input type="hidden" id="remove" name="removeDisabled" value="true">
    	
    	#foreach($bean in $list)
    	<input type="hidden" name="list" value="$bean.id">
    	#end
    	
    	#if($list && $list.size() > 0)
    	
        	#if($grants.mayWrite())
        	<span id="actionPanel">
                <strong>Markierte(n) Verteiler</strong>
        		<input type="button" name="remove" value="L&ouml;schen" onclick="deleteMailinglist();" title="Markierte Verteiler l&ouml;schen">
        	</span>	
        	#end
        	
        	<table class="marginTop10">
        		<tr>
        			<th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren"/></th>
        			<th class="smallCell textCenter">ID</th>
        			<th>Bezeichnung</th>
        			<th>Angelegt von</th>
        			<th class="smallCell nowrap">Angelegt am</th>
        			<th>Erzeugt aus Veranstaltung</th>
        		</tr>
        		#foreach($bean in $list)
        		<tr>
        			<td class="textCenter"><input type="checkbox" name="${bean.id}-select" value="true"></td>
        			<td onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!bean.id</td>
        			<td onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!message.text($!bean.name)</td>
        			<td onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!message.text($!bean.username)</td>
        			<td class="textCenter" onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!message.date("DATE_TIME", $bean.created) Uhr</td>
        			<td onclick="window.location.href='ShowMailinglistDetail?id=$!{bean.id}';">$!message.text($!bean.eventname)</td>
        		</tr>
        		#end
        		
        		#set($itemName = "Verteiler")
        		#parse("inc/list-navi-new.vm")
        		#parse("inc/list-direct-new.vm")
        	</table>
    		
    	#else
    		
    		<div class="contentBoxColored grayBorder marginBottom20">  		
    			Es wurden keine Einträge gefunden.
    		</div>
    		
    	#end
	
	</form>

</div>

#parse("inc/footer.vm")