#set($activeMenu = "Verwaltung")
#set($title = "Verteiler erstellen - Veranstaltung: $!event.shortname")
#parse("inc/header.vm")

<div id="content_container">
	<div id="breadcrumb" class="textRight">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > Verteiler</span>
	</div>

	<h1>Verteiler anlegen</h1>

	<div id="main_content" class="contentBoxColored grayBorder marginBottom20">

		<form action="SaveMailinglist" name="mailinglists" method="POST" onsubmit="htmlWait();">
		
		#if($mailinglist.errors.size() > 0)
		<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
			$mailinglist.errors.get(0)<br>
		##	#foreach($error in $mailinglist.errors)
		##		$error<br>
		##	#end
		</div>
		#end
		
		Sie erstellen einen neuen Verteiler aus der Veranstaltung &quot;$!message.plain($event.shortname)&quot; mit
		#if($mailinglistParams.count == 1)
			einer Person.
		#else
			$!mailinglistParams.count Personen.
		#end
		
		<input type="hidden" name="mailinglist-event" value="$!event.id">
		
		.
			<label for="mailinglist-name">Verteilername*:</label>
			<input type="text" name="mailinglist-name" value="$!message.text($mailinglist.name)" id="mailinglist-name">
		
		<div class="textRight">
			<input type="submit" name="save" class="button" value="Speichern">
			<input type="button" name="cancel" class="button" value="Zur&uuml;ck" onclick="window.location.href='ShowGuestList';">
		</div>
		
		</form>
	</div>

</div><!-- end #content_container -->

#parse("inc/footer.vm")