#set($activeMenu = "Veranstaltungen")
#set($title = "Verteiler erstellen - Veranstaltung: $!event.shortname")
#set($elementNameSex = "male")
#set($elementNameSingular = "Verteiler")
#set($elementNamePlural = "Verteiler")
#parse("inc/header.vm")

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > Verteiler</span>
	</div>

	<h1>Verteiler anlegen</h1>

	<div id="main_content" class="contentBoxColored grayBorder marginBottom10">
		
		<div class="textRight mandatoryText">* = Pflichtfelder</div>

    		<form action="SaveMailinglist" name="mailinglists" method="POST" onsubmit="htmlWait();">
    		
        		#if($mailinglist.errors.size() > 0)
            		<vera-warn>
            			$!message.plain($mailinglist.errors.get(0))<br>
                		##	#foreach($error in $mailinglist.errors)
                		##		$error<br>
                		##	#end
            		</vera-warn>
        		#end
        		
        		<p>Sie legen einen neuen Verteiler aus der Veranstaltung <strong>&quot;$!message.plain($event.shortname)&quot;</strong> mit
        		
    			#if($mailinglistParams.count == 1)
        			einer Person 
        		#else
        			$!mailinglistParams.count Personen 
        		#end
        		an
        		</p>
        		
        		<input type="hidden" name="mailinglist-event" value="$!event.id">
        
        		<label for="mailinglist-name">Verteilername*</label>
        		<input type="text" name="mailinglist-name" value="$!message.text($mailinglist.name)" id="mailinglist-name">   
        	</div>
			
        	<div class="textRight">
        		<input type="submit" name="save" class="mainButton" value="Verteiler speichern" title="Verteiler speichern">
        		<input type="button" name="cancel" class="mainButton" value="Zur&uuml;ck zur G&auml;steverwaltung" title="Zur&uuml;ck zur G&auml;steverwaltung" onclick="window.location.href='ShowGuestList?selectNone=true';">
        	</div>
		</form>
</div><!-- end #content_container -->

#parse("inc/footer.vm")