#set($activeMenu = "Administration")
#set($title = "E-Mail-Postausgang")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="" method="POST">
<input type="hidden" name="start" value="">
<input type="hidden" name="selectNone" value="true">
<input type="hidden" name="doRemove" value="true">





<div id="content_container">
		<div class="textRight marginBottom10" id="breadcrumb">
			<strong>Sie sind hier:</strong> <span><a href="index.html">Home</a> > Administration > E-Mail-Postausgang</span>
		</div>
		
				
		<div id="main_content">
		<h1>E-Mail-Postausgang</h1>

		#foreach($bean in $list)
<input type="hidden" name="list" value="$bean.id">
#end

		<span id="actionPanel" class="inlineLabel">
	       	<strong>Markierte E-Mail(s)</strong>
	       	<input type="submit" name="remove" value="Löschen" title="Markierte E-Mail(s) löschen" onclick="">
	    </span>
	    
		
		<table>
        		<tr>
        			<th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren"/></th>
        			<th class="smallCell textCenter">Status</th>
        			<th>Von</th>
        			<th>An</th>
        			<th class="width50">Betreff</th>
        		</tr>
	        	<tr onmouseout="onMouseOutList(this);" onmouseover="onMouseOverList(this);">
					<td class="textCenter"><input type="hidden" value="1" name="1-id"><input type="checkbox" value="true" name="1-select"></td>
					<td class="textCenter" onclick="window.location.href='MailOutboxDetail?id=1';">
						<span class="error">Fehler</span>
								</td>
					<td onclick="window.location.href='MailOutboxDetail?id=1';">administrator@example.com</td>
					<td onclick="window.location.href='MailOutboxDetail?id=1';">info@test.de</td>
					<td onclick="window.location.href='MailOutboxDetail?id=1';"></td>
				</tr>
				<tr onmouseout="onMouseOutList(this);" onmouseover="onMouseOverList(this);">
					<td class="textCenter" class="textCenter"><input type="hidden" value="2" name="2-id"><input type="checkbox" value="true" name="2-select"></td>
					<td onclick="window.location.href='MailOutboxDetail?id=2';">
						<span class="error">Fehler</span>
								</td>
					<td onclick="window.location.href='MailOutboxDetail?id=2';">administrator@example.com</td>
					<td onclick="window.location.href='MailOutboxDetail?id=2';">k.hapke@tarent.de</td>
					<td onclick="window.location.href='MailOutboxDetail?id=2';"></td>
				</tr>
				<tr onmouseout="onMouseOutList(this);" onmouseover="onMouseOverList(this);">
					<td class="textCenter" class="textCenter"><input type="hidden" value="3" name="3-id"><input type="checkbox" value="true" name="3-select"></td>
					<td onclick="window.location.href='MailOutboxDetail?id=3';"><span class="error">Fehler</span></td>
					<td onclick="window.location.href='MailOutboxDetail?id=3';">lesenEingeschraenkt@example.com</td>
					<td onclick="window.location.href='MailOutboxDetail?id=3';">k.hapke@tarent.de</td>
					<td onclick="window.location.href='MailOutboxDetail?id=3';"></td>
				</tr>
				 <tr class="colspan">
				<td colspan="99">
					
					<span id="listnavitext" class="amount">1 - 1 von 1 Arbeitsbereiche | Anzahl pro Seite 
		    			<input type="button" onclick="navigateLimit(10);" title="10 Datensätze anzeigen lassen" value="10" class="active">
		    			<input type="button" onclick="navigateLimit(25);" title="25 Datensätze anzeigen lassen" value="25">
		    			<input type="button" onclick="navigateLimit(50);" title="50 Datensätze anzeigen lassen" value="50">
					</span>
					
								
					<span class="paging floatRight textRight">Seite 1 von 1
						<ul>
													<li id="page-first" class="img"><img style="cursor: pointer;" title="Erste Seite" src="${paths.staticWeb}images/paging_arrow_left_last.png"></li>
		                    											<li id="page-previous" class="img"><img style="cursor: pointer;" title="Vorherige Seite" src="${paths.staticWeb}images/paging_arrow_left.png"></li>
		                    					
							
							                                                
		                                        	                        	    							<li id="page-1">1</li>
		                        	                    	                    						
							
													<li id="page-next" class="img"><img style="cursor: pointer;" title="Nächste Seite" src="${paths.staticWeb}images/paging_arrow_right.png"></li>
		                    											<li id="page-last" class="img"><img style="cursor: pointer;" title="Letzte Seite" src="${paths.staticWeb}images/paging_arrow_right_last.png"></li>
		                    				</ul>
					</span>
					
				</td>
			</tr>
            <tr class="colspan">
		    	<td class="textCenter" colspan="99">Direkteinsprung:
					<ul class="inline alphabet">
		            	<li><a href="javascript:navigateList('A');">A</a></li>
		            	<li><a href="javascript:navigateList('B');">B</a></li>
		            	<li><a href="javascript:navigateList('C');">C</a></li>
		            	<li><a href="javascript:navigateList('D');">D</a></li>
		            	<li><a href="javascript:navigateList('E');">E</a></li>
		            	<li><a href="javascript:navigateList('F');">F</a></li>
		            	<li><a href="javascript:navigateList('G');">G</a></li>
		            	<li><a href="javascript:navigateList('H');">H</a></li>
		            	<li><a href="javascript:navigateList('I');">I</a></li>
		            	<li><a href="javascript:navigateList('J');">J</a></li>
		            	<li><a href="javascript:navigateList('K');">K</a></li>
		            	<li><a href="javascript:navigateList('L');">L</a></li>
		            	<li><a href="javascript:navigateList('M');">M</a></li>
		            	<li><a href="javascript:navigateList('N');">N</a></li>
		            	<li><a href="javascript:navigateList('O');">O</a></li>
		            	<li><a href="javascript:navigateList('P');">P</a></li>
		            	<li><a href="javascript:navigateList('Q');">Q</a></li>
		            	<li><a href="javascript:navigateList('R');">R</a></li>
		            	<li><a href="javascript:navigateList('S');">S</a></li>
		            	<li><a href="javascript:navigateList('T');">T</a></li>
		            	<li><a href="javascript:navigateList('U');">U</a></li>
		            	<li><a href="javascript:navigateList('V');">V</a></li>
		            	<li><a href="javascript:navigateList('W');">W</a></li>
		            	<li><a href="javascript:navigateList('X');">X</a></li>
		            	<li><a href="javascript:navigateList('Y');">Y</a></li>
		            	<li><a href="javascript:navigateList('Z');">Z</a></li>
					</ul>
		    	</td>
		    </tr>
        		     		
		</table>

	

#if ($listparam.count == 0)
	<br>Keine Daten gefunden.
#end

	</div>
	</div>
	
	#parse("inc/list-navi.vm")
	#parse("inc/list-direct.vm")


</div></div></div>




</form>

#parse("inc/footer.vm")