#set($activeMenu = "Personen")
#if($person && $person)
 #set($title = "Person bearbeiten: $!message.plain($person.MainLatin.SaveAs)")
#else
 #set($title = "Neue Person anlegen")
#end

#set($elementNameSex = "male")
#set($elementNameSingular = "Dokumenttyp")
#set($elementNamePlural = "Dokumenttypen")
#parse("inc/header.vm")

#set($searchTask = $octopusRequest.searchTask)

<div id="breadcrumb" class="textRight marginBottom10">
    <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > #if($person && $person.id)Person bearbeiten#else Person anlegen#end</span>
</div>

<h1>$title</h1>



<div id="content_container">


    #parse("inc/person-header.vm")

    <div id="main_content" class="tabs contentBox grayBorder marginBottom10">


        <div id="tabsMain">
            <ul class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                <li class="inactive" id="personendaten"><div>Persondendaten</div>
                </li><li class="inactive" id="anschriften"><div>Anschriften</div>
                </li><li class="active" id="dokumenttypen"><div>Dokumenttypen</div>
                </li><li class="inactive" id="kategorien"><div>Kategorien</div></li>
            </ul>
        </div>



        <div class="contentBoxColored tabsContent">
        #if($persondoctype)
        #parse("inc/person-doctype2.vm")
        #else
        #parse("inc/person-doctype.vm")
        #end
        </div>




    </div>

                <span id="buttonPanel-bottom" class="textRight floatRight">
		#if($grants.mayWrite())
             <input id="buttonSavePerson" class="mainButton" type="button" value="Person speichern" title="Person speichern">
		#end

    	#if($action == "guest")
        	<input type="button" name="cancel" value="Zur Personenliste" title="Zur Personenliste" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/AddPersonToEventList';"/>
        #elseif($action == "host")
        	<input type="button" name="cancel" value="Zur Personen&uuml;bersicht" title="Zur Personen&uuml;bersicht" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/SetHostToEventList';"/>
        #elseif($action == "event")
        	<input type="button" name="cancel" value="Zur Personen&uuml;bersicht" title="Zur Personen&uuml;bersicht" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/ShowGuestDetail';"/>
			#if($octopusRequest.show && $octopusRequest.show == 'doctype') 
				<input type="button" name="cancel" class="mainButton" value="Zur&uuml;ck zur Veranstaltung" title="Zur&uuml;ck zur Veranstaltung" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/ShowGuestDoctype'; }">
			#else
				<input type="button" name="cancel" class="mainButton" value="Zur&uuml;ck zur Veranstaltung" title="Zur&uuml;ck zur Veranstaltung" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/ShowGuestDetail?tab=$!octopusRequest.tab'; }">	
			#end
		#elseif($action == "duplicateSearch")
            <input type="button" name="cancel" value="Zur Dublettensuche" title="Zur Dublettensuche" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/PersonDuplicateSearch?selectNone=true';">
        #elseif($searchTask && $searchTask == "personSearchTask")
            <input type="button" name="cancel" class="mainButton" value="Zur&uuml;ck zum Suchergebnis" title="Zur&uuml;ck zum Suchergebnis" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/SearchPerson?action=person&searchTask=personSearchTask&selectNone=true'; }">
        #else
            <input type="button" name="cancel" class="mainButton" value="Zur Personen&uuml;bersicht" title="Zur Personen&uuml;bersicht" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/SearchPerson?action=person&selectNone=true'; }">
		#end
    </span>

    #if($navigation)
    #parse("inc/person-navi.vm")
    #end
    <div class="clear"></div>

</div>




<input type="hidden" name="searchTask" value="$!searchTask"/>
<input type="hidden" id="modified" value="false">
<input type="hidden" id="inviteGuestReserve" name="inviteGuestReserve" value="false">
<input type="hidden" id="inviteGuestPartner" name="inviteGuestPartner" value="false">
<script type="text/javascript">
	function addToGuestList() {
		htmlConfirm('Soll dieser Gast auf Platz gesetzt werden?', new Array('Ja', 'Nein'), new Array("addToGuestQuestX1('false');", "addToGuestQuestX1('true');"));
	}
	
	function addToGuestQuestX1(answer) {
		document.getElementById('inviteGuestReserve').value = answer;
		htmlConfirm('Soll die Partnerin / der Partner mit eingeladen werden?', new Array('Ja', 'Nein'), new Array("addToGuestQuestX2('true');", "addToGuestQuestX2('false');"));
	}
	
	function addToGuestQuestX2(answer) {
		document.getElementById('inviteGuestPartner').value = answer;
		htmlWait();
		
		var url = '${paths.staticWeb}do/AddPersonToEventGuestList';
		url += '?list=$!{person.id}';
		url += '&$!{person.id}-id=${person.id}';
		url += '&$!{person.id}-select=true';
		url += '&$!{person.id}-reserve=' + document.getElementById('inviteGuestReserve').value;
		url += '&$!{person.id}-partner=' + document.getElementById('inviteGuestPartner').value;
		window.location.href = url;
	}
	
	function copyPerson() {
		window.location.href = '${paths.staticWeb}do/CopyPerson?id=$!person.id';
	}
	
	function removePerson() {
		if (confirm('Aktuelle Person wirklich entfernen?')) {
			window.location.href = '${paths.staticWeb}do/SearchPerson?doRemove=true&remove&remove-person=true&selectNone=true&list=$!{person.id}&$!{person.id}-select=true';
		}
	}
	
	#if(!$grants.mayWrite())
	disableForm(document.getElementById('formlist'));
	#end
	disableFormInput(document.getElementById('person-expire'));
	disableFormCheckbox(document.getElementById('person-iscompany'));
	hideBlock(document.getElementById('show-expire'));
</script>

#parse("inc/footer.vm")


<script type="text/javascript">


    $(function () {
        $('li#personendaten').click(function () {
            window.location.href = '${paths.staticWeb}do/ShowPerson?id=$!person.id&searchTask=$!searchTask&personTab=1'+getGuestTabId();
        });
        $('li#anschriften').click(function () {
            window.location.href = '${paths.staticWeb}do/ShowPerson?id=$!person.id&searchTask=$!searchTask&personTab=2'+getGuestTabId();
        });
        $('li#kategorien').click(function () {
            window.location.href = '${paths.staticWeb}do/ShowPersonCategorieList?id=$!person.id&searchTask=$!searchTask'+getGuestTabId();
        });

        var save = $('input[name=save]');
        $('#buttonSavePerson').click(function () {
            save.trigger('click');
        });
    });

</script>