#set($activeMenu = "Personen")
#set($title = "Person speichern - Dubletten-Pr&uuml;fung")
#set($elementNameSex = "female")
#set($elementNameSingular = "Person")
#set($elementNamePlural = "Personen")
#parse("inc/header.vm")

<div id="content_container">

	<form id="formlist" name="formlist" action="SavePerson" method="POST">
		<input type="hidden" name="start" value=""/>
		<input type="hidden" name="limit" value=""/>
		<input type="hidden" name="selectAll" value="false"/>
		<input type="hidden" name="selectNone" value="false"/>
	
		##new cf. issue #2091
		<input type="hidden" name="action" value="$!action"/>
		<input type="hidden" name="id" value="$!id"/>
		
		<input type="hidden" name="originalPersonId" value="$!octopusRequest.originalPersonId"/>
		<input type="hidden" name="save" value="$!octopusRequest.save"/>
		<input type="hidden" name="person-deleted" value="$!octopusRequest.person-deleted"/>
		<input type="hidden" name="forcedupcheck" value="$!octopusRequest.forcedupcheck"/>
		<input type="hidden" name="saveperson" value="$!octopusRequest.saveperson"/>
		<input type="hidden" name="person-modified" value="$!octopusRequest.person-modified"/>
		<input type="hidden" name="personTab" value="$!octopusRequest.personTab"/>
        <input type="hidden" name="personMemberTab" value="$!octopusRequest.personTab"/>
        <input type="hidden" name="personAddresstypeTab" value="$!octopusRequest.personTab"/>
        <input type="hidden" name="personLocaleTab" value="$!octopusRequest.personTab"/>
		<input type="hidden" name="person-expire" value="$!octopusRequest.person-expire"/>
		<input type="hidden" name="person-firstname_a_e1" value="$!octopusRequest.person-firstname_a_e1"/>
		<input type="hidden" name="person-lastname_a_e1" value="$!octopusRequest.person-lastname_a_e1"/>
		<input type="hidden" name="person-iscompany" value="$!octopusRequest.person-iscompany"/>
		<input type="hidden" name="person-company-ignore_a_e1" value="$!octopusRequest.person-company-ignore_a_e1"/>
		<input type="hidden" name="person-company_a_e1" value="$!octopusRequest.person-company_a_e1"/>
		<input type="hidden" name="company" value="$!octopusRequest.company"/>
		<input type="hidden" name="companyfield" value="$!octopusRequest.companyfield"/>
		<input type="hidden" name="person-salutation_a_e2" value="$!octopusRequest.person-salutation_a_e2"/>
		<input type="hidden" name="person-salutation_a_e3" value="$!octopusRequest.person-salutation_a_e3"/>
		<input type="hidden" name="person-salutation_b_e1" value="$!octopusRequest.person-salutation_b_e1"/>
		<input type="hidden" name="person-salutation_b_e2" value="$!octopusRequest.person-salutation_b_e2"/>
		<input type="hidden" name="person-salutation_b_e3" value="$!octopusRequest.person-salutation_b_e3"/>
		<input type="hidden" name="person-domestic_a_e1" value="$!octopusRequest.person-domestic_a_e1"/>
		<input type="hidden" name="person-domestic_b_e1" value="$!octopusRequest.person-domestic_b_e1"/>
		<input type="hidden" name="person-sex_a_e1" value="$!octopusRequest.person-sex_a_e1"/>
		<input type="hidden" name="person-sex_b_e1" value="$!octopusRequest.person-sex_b_e1"/>
			
	
		<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > Dublettensuche</span>
    	</div>
			
		<h1 class="paddingTop20">Vorhandene Dubletten</h1>
	
		#foreach($bean in $list)
		<input type="hidden" name="list" value="$bean.id">
		#end
		<table class="sortable">
			<tr>
				<th class="smallCell textCenter">ID</th>
				<th>Name</th>
				<th>Vorname</th>
				<th>Amtsbezeichnung</th>
				<th>Firma / Institution (G)</th>
				<th>Stra&szlig;e (G)</th>
				<th>PLZ (G)</th>
				<th>Ort (G)</th>
				<th class="textCenter smallCell">Weiteres Vorgehen</th>
			</tr>
			<tr>
				<td class="textCenter"><em>neu</em></td>
				##additional parameters action cf. issue #2091
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.lastname_a_e1)</td>
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.firstname_a_e1)</td>
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.function_a_e1)</td>
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.company_a_e1)</td>
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.street_a_e1)</td>
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.zipcode_a_e1)</td>
				<td onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!message.text($!person.city_a_e1)</td>
				<td class="textCenter"><a href="SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action" class="noBorder"><img src="${paths.staticWeb}images/add.png" alt="Neuen Eintrag anlegen" title="Neuen Eintrag anlegen"></a></td>
			</tr>
			#foreach($bean in $list)
			<tr>
				##additional parameters action cf. issue #2091
				<td class="textCenter" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.lastname_a_e1)</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.firstname_a_e1)</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.function_a_e1)</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.company_a_e1)</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.street_a_e1)</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.zipcode_a_e1)</td>
				<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!message.text($!bean.city_a_e1)</td>
				<td class="textCenter"><a href="ShowPerson?id=$!{bean.id}&action=$!action" class="noBorder"><img src="${paths.staticWeb}images/edit.png" alt="Existierenden Eintrag bearbeiten" title="Existierenden Eintrag bearbeiten"></a></td>
			</tr>
			#end
			
			#set($itemName = "Personen")
    		#parse("inc/list-navi-new.vm")
		</table>
	
		#set($disableListSelect = true)
		#if ($listparam.count == 0)
			<br>Es wurden keine Dubletten gefunden.
		#end
	
	<div class="textRight">
	
		#if($action == "guest")
			<input type="submit" class="submit" name="add" value="Hinzuf&uuml;gen" title="Ausgew&auml;hlte Personen zur Veranstaltung hinzuf&uuml;gen."> 
			<input type="button" class="button" name="newperson" value="Person erfassen" title="Person erfassen" onclick="window.location.href='ShowPerson';">
			<input type="button" class="cancel" name="cancel" value="Zur&uuml;ck" title="Zur&uuml;ck" onclick="window.location.href='ShowGuestList?selectNone=true';">
		#else
			<!-- <input type="button" class="button" name="newperson" value="Dubletten anlegen" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId';"> -->
			<input type="button" name="cancel" value="Abbrechen &amp; zur&uuml;ck"  title="Abbrechen &amp; zur&uuml;ck" onclick="window.location.href='PersonDupcheckCancel';" class="mainButton">
		#end
	
	</div>
			
	</form><div class="clear"></div>
</div>

#parse("inc/footer.vm")
