#if($action == "guest")
	#set($activeMenu = "Veranstaltungen")
    #set($title = "Gast hinzuf&uuml;gen zu &bdquo;$!message.plain($event.shortname)&rdquo;")
#elseif($action == "host")
	#set($activeMenu = "Veranstaltungen")
    #set($title = "Gastgeber ausw&auml;hlen f&uuml;r &bdquo;$!message.plain($event.shortname)&rdquo;")
#elseif($action == "statistikGuest")
	#set($activeMenu = "Veranstaltungen")
    #set($title = "Gast ausw&auml;hlen")
#elseif($action == "statistikHost")
	#set($activeMenu = "Veranstaltungen")
    #set($title = "Gastgeber ausw&auml;hlen")
#elseif($action == "replace")
	#set($activeMenu = "Personen")
    #set($title = "Suchen &amp; Ersetzen in Personendaten")
#elseif($action == "duplicateSearch")
	#set($activeMenu = "Personen")
    #set($title = "Dublettensuche")
#elseif($action == "taskReferencePerson")
	#set($activeMenu = "Veranstaltungen")
    #set($title = "Verantwortlichen f&uuml;r Aufgabe ausw&auml;hlen")
#else
	#set($activeMenu = "Personen")
    #if(($listerrors && $listerrors.size() > 0) || ($listquestions && $listquestions.size() > 0))
		#set($title = "Person l&ouml;schen")
    #else
		#set($title = "Personen&uuml;bersicht")
    #end
#end

#set($elementNameSex = "female")
#set($elementNameSingular = "Person")
#set($elementNamePlural = "Personen")

#parse("inc/header.vm")

<div id="content_container">
	#if($action == "host")
		<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > $title</span>
    	</div>
    	<h1>$title</h1>    
	#elseif($searchTask && $searchTask == "personSearchTask")
    	<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > $title</span>
    	</div>
    	<h1>$title</h1>
	#elseif($action == "taskReferencePerson")
		<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > $title</span>
    	</div>
    	<h1>$title</h1> 
	#else
		<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > $title</span>
    	</div>
    	<h1>$title</h1>
	#end

	#if($action == "taskReferencePerson")
		<vera-info>
			klicken Sie eine der aufgelisteten Personen an, um sie der Aufgabe hinzuzufügen!
		</vera-info>
	#end
	
	#if($deleted)
		<script>
			  #if($deleted == 1)
				showSuccess('Es wurde eine Person gel&ouml;scht.');
		   #elseif($deleted > 1)
			 	showSuccess('Es wurden $deleted Personen gel&ouml;scht.');
			#end
	   </script>
	#end

	
	#if($workareaAssigned )
		<script>
		   #if($workareaAssigned == "assign")
				showSuccess('Der Arbeitsbereich wurde erfolgreich hinzugefügt.');
		   #elseif($workareaAssigned == "unassign")
			 	showSuccess('Die Arbeitsbereiche wurden erfolgreich entfernt.');
			#end
	   </script>
	#end
	
	#if($categoryAssigned )
		<script>
		   #if($categoryAssigned == "assign")
				showSuccess('Die Kategorie wurde erfolgreich hinzugefügt.');
		   #elseif($categoryAssigned == "unassign")
			 	showSuccess('Die Kategorien wurden erfolgreich entfernt.');
			#end
	   </script>
	#end
	
	
	#if($list && $list.size() > 0 )
		
    	<form id="formlist" name="formlist" action="${paths.staticWeb}do/$octopusRequest.task" method="POST">
            <input type="hidden" name="start" value="" />
    		<input type="hidden" name="limit" value="" />
            <input type="hidden" name="selectNone" id="selectNone" value="true" />
            <input type="hidden" name="doRemove" value="true" />
            <input type="hidden" name="categoryAssignmentAction" value="" />
            <input type="hidden" name="categoryAssignmentId" value="" />
            <input type="hidden" name="workareaAssignmentAction" value="" />
            <input type="hidden" name="workareaAssignmentId" value="" />
			<input type="hidden" name="searchTask" value="$!searchTask" />
    
	#if ($octopusRequest.getParam("searchField"))
            <input type="hidden" name="searchField" value="$octopusRequest.getParam("searchField")" />
	#end
               		
			
    		## Handler für selektierte Aktion 
<script>

    var personModel = (function () {
        var now = Date.now();
        // parse a date in yyyy-mm-dd format
        var parseDate = function (input) {
            var parts = input.split(/-| /);
            return new Date(parts[0], parts[1]-1, parts[2], 23, 59, 59, 999); // months are 0-based
        };
        var expired = function (input) {
            return (parseDate(input) - now) < 0;
        };
        var ongoingEvent = function (input) {
            if ('' === input) {
                return false;
            }
            return (parseDate(input) - now) >= 0;
        };
        return {
            #foreach($bean in $list)
                '$bean.id' : {
                    expired : expired("$!bean.dateexpire"),
                    firstName: '$!message.plain($bean.firstname_a_e1)',
                    lastName: '$!message.plain($bean.lastname_a_e1)',
                    ongoingEvent: ongoingEvent("$!bean.eventmaxenddate"),
                    ongoingTaskEvent: ongoingEvent("$!bean.taskeventmaxenddate")
                },
            #end
        };

    }());


var showDeleteMessages = function () {
		
            #if(!$grants.mayWrite())
                showWarning('Sie haben keine ausreichende Berechtigung um Personen zu entfernen.');
                return;
            #end
            var checkBoxes = $('input:checkbox[name$="-select"]:checked');
            if (checkBoxes.length === 0) {
                showWarning('W&auml;hlen Sie bitte zun&auml;chst eine oder mehrere Personen aus.');
            } else {

                // get array of selected person ids
                var ids = checkBoxes.map(function () {
                    return $(this).attr('name').split('-')[0];
                }).toArray();

                var notExpiredPersonIds = [];
                $ .each(ids, function(index, id) {
                    if (!personModel[id].expired) {
                        notExpiredPersonIds.push(id);
                    }
                });
                var ongoingEventPersonIds = [];
                $ .each(ids, function(index, id) {
                    if (personModel[id].ongoingEvent) {
                        ongoingEventPersonIds.push(id);
                    }
                });
                var ongoingTaskEventPersonIds = [];
                $ .each(ids, function(index, id) {
                    if (personModel[id].ongoingTaskEvent) {
                        ongoingTaskEventPersonIds.push(id);
                    }
                });


                var msg = '';
                if (notExpiredPersonIds.length > 0) {
                    msg += '<br><span class="notBold">Bei den folgenden Personen liegt das G&uuml;ltigkeitsdatum in der Zukunft:</span> <ul class="text">';
                    $ .each(notExpiredPersonIds, function (index, id) {
                        var person = personModel[id];
                        msg += '<li>' + person.firstName + ' ' + person.lastName + ' (ID: ' + id + ')</li>';
                    });
                    msg += '</ul>';
                    
                }
                if (ongoingEventPersonIds.length > 0) {
                    msg += '<br><span class="notBold">Folgende Personen sind mindestens einer laufenden oder zuk&uuml;nftigen Veranstaltung ' +
                            'zugeordnet. Detailinformationen k&ouml;nnen Sie &uuml;ber die G&auml;stelisten der ' +
                            'jeweiligen Veranstaltungen abrufen. Die Personen werden aus allen G&auml;stelisten ' +
                            'entfernt:</span><br><ul class="text">';
                    $ .each(ongoingEventPersonIds, function (index, id) {
                        var person = personModel[id];
                        msg += '<li>' + person.firstName + ' ' + person.lastName + ' (ID: ' + id + ')</li>';
                    });
                    msg += '</ul>';
                    
                }
                if (ongoingTaskEventPersonIds.length > 0) {
                    msg += '<br><span class="notBold">Folgende Personen sind mindestens einer Aufgabe in mindestens einer laufenden oder ' +
                            'zuk&uuml;nftigen Veranstaltung zugeordnet. Detailinformationen rufen Sie bitte über die ' +
                            'Aufgabenlisten der jeweiligen Veranstaltungen auf. Die Personen werden aus allen ' +
                            'Aufgaben entfernt:</span><br><ul class="text">';
                    $ .each(ongoingTaskEventPersonIds, function (index, id) {
                        var person = personModel[id];
                        msg += '<li>' + person.firstName + ' ' + person.lastName + ' (ID: ' + id + ')</li>';
                    });
                    msg += '</ul>';
                }
                msg += '<br><span class="notBold">Wenn Sie Ihre Auswahl anpassen wollen, brechen Sie bitte das L&ouml;schen ab.</span><br>'+ 'Sollen alle markierten Personen gel&ouml;scht werden? ' +
                        'Diese Aktion kann nicht r&uuml;ckg&auml;ngig gemacht werden.<br>';
                // disable all checkboxes while confirmation is visible
                $('input:checkbox').prop('disabled', true);
                showConfirmYesNo('Bitte best&auml;tigen Sie das L&ouml;schen der markierten Personen!',
                    msg,
                    function () { // Ja
                        $ .each(notExpiredPersonIds, function(index, id) {
                            $('form').append('<input type="hidden" name="remove-expire-' + id  + '" value="true" >');
							$('form').append('<input type="hidden" name="deleted" value="'+notExpiredPersonIds.length+'" >');
                        });
                       
                        $('input[name=remove-person]').val('true');
                        $('input:checkbox').prop('disabled', false);
                        $('form').append('<input type="hidden" name="remove" value="Ja" >').submit();
                    }, function () { // Nein
                        showSuccess('Es wurde keine Person gel&ouml;scht.');
                        $('input:checkbox').prop('disabled', false);
                    });
			}
};

$(function () {
   // var showSuccessForWorkarea = function () {
    //	$(document).ready(function(){
        	document.getElementsByName("workareaAssignmentAction").value = "${assignmentActionForWorkarea}";
        	
        	#if($assignmentActionForWorkarea == "assign")
        		showSuccess('Der Arbeitsbereich wurde erfolgreich hinzugefügt.');
    			
        	#elseif($assignmentActionForWorkarea == "unassign") 
        		showSuccess('Der Arbeitsbereich wurde erfolgreich entfernt.');
        	#end	
    //	});
   // };
});


$(function () {

    $('#button\\.execute').click(function (e) {
        var selectText = $('#actionSelection option:selected').text();

        if (selectText == "Löschen") {
			showDeleteMessages();
        } else if (selectText == "Exportieren") {
            selectedActionExportPerson();
        } else if (selectText == "Kategorien zuordnen") {
            assignCategories();
        } else if (selectText == "Kategorien entfernen") {
            unassignCategories();
        } else if (selectText == "Arbeitsbereich zuordnen") {
            assignWorkarea();
        } else if (selectText == "Arbeitsbereich entfernen") {
            unassignWorkarea();
        } else if (selectText == "Ersetzen") {
            submitFormWithGivenAction('SaveReplacePersonList');
        } else if (selectText == "Übernehmen") {
            submitFormWithGivenAction('AddPersonToEventGuestList');
        }
    });
});

function selectedActionExportPerson() {
    submitFormWithGivenAction('${paths.staticWeb}do/PersonExport/export.$exportFormat');
    document.formlist.action = '${paths.staticWeb}do/$octopusRequest.task';
}

function submitFormWithGivenAction(action) {
    document.getElementById('formlist').action = action;
    document.formlist.submit();
}
</script>
			
			#if(($listerrors && $listerrors.size() > 0) || ($listquestions && $listquestions.size() > 0))
                #set($save = false)
                
                #if($listerrors && $listerrors.size() > 0)
                <vera-warn>
                	<strong>L&ouml;schen von Personen ist nicht m&ouml;glich</strong><br>
                	<ul style="margin: 0px 0px 0px -10px;">
                    	#if($listerrors.size() > 5)
            				#set($show = 5)
                    	#else
            				#set($show = $listerrors.size())
                    	#end
                    	#foreach($error in $listerrors)
                        	#if($velocityCount <= $show)
                        		<li style="margin: 5px 0px 0px 0px;">$!message.plain($error)</li>
                        	#end
                    	#end
                    	#if($listerrors.size() > $show)
            				#set($drop = $listerrors.size() - $show)
                    		<li style="margin: 5px 0px 0px 0px;"><em>...  $drop weitere Meldungen.</em></li>
                    	#end
                	</ul>
                </vera-warn>
                #end
                #if($listquestions && $listquestions.size() > 0)
					<script>
						$(function () {
							showDeleteMessages();
						});
					</script>
					       
				#end

			#end
					
    		#if($action == "host" || $action == "statistikGuest" || $action == "statistikHost")
            	#set($disableListSelect = true)
        	#end
    
    
            #if($action == "guest")
				
				<span id="actionPanel" class="inlineLabel">
					<label>Markierte Person(en)
						<input type="button" value="Hinzuf&uuml;gen" title="Markierte Person(en) zur Veranstaltung hinzuf&uuml;gen" onclick="$('#selectNone').val('false'); submitFormWithGivenAction('AddPersonToEventGuestList');" />
                    </label>
            	</span>
        
                <script language="JavaScript">
                	function hasNoMain(box) {
                		if (document.getElementById(box).checked) {
                			showWarning('Zu dieser Person ist keine Hauptperson eingetragen.');
                			document.getElementById(box).checked = false;
                		}
                	}
                	
                	function onClickSetState(box1, box2) {
                		if (document.getElementById(box1).checked) {
                			document.getElementById(box2).checked = true;
                		}
                	}
                
                ## Fix for Bug 987
                ## cklein
                ## 2008-02-22
                	function onClickEnforceConsistentState(box1, box2, box3) {
                		var checked = document.getElementById(box1).checked || document.getElementById(box2).checked;
                		if ( ! checked )
                		{
                			document.getElementById(box3).checked = false;
                		}
                	}
                
                	function onClickEnsureSelection(box1, box2, box3, invitationType, hasMain, hasPartner) {
                		if ( document.getElementById(box3).checked )
                		{
                			var checked = document.getElementById(box1).checked || document.getElementById(box2).checked;
                			if ( ! checked )
                			{
                				var errmsg = "";
                				if ( invitationType == 2 || invitationType == 1 )
                				{
                					errmsg = "zur Person";
                					document.getElementById(box1).checked = hasMain;
                				}
                				if ( invitationType == 3 || invitationType == 1 )
                				{
                					if ( errmsg.length > 0 )
                					{
                						errmsg += " und ";
                					}
                					errmsg += "zum Partner";
                					document.getElementById(box2).checked = hasPartner;
                				}
                			}
                			checked = document.getElementById(box1).checked || document.getElementById(box2).checked;
                			if ( ! checked )
                			{
                				showWarning( "Diese Person kann nicht auf Reserve gesetzt werden, da die notwendigen Daten " + errmsg + " nicht vollständig erfasst wurden." );
                				document.getElementById(box3).checked = false;
                			}
                		}
                	}
                	
                </script>
    
    		#elseif($action == "host")
				
				<vera-info>
					Bitte klicken Sie eine der aufgelisteten Personen an, um diese als Gastgeber zu &uuml;bernehmen.
				</vera-info>  			
			#elseif($action == "statistikGuest" || $action == "statistikHost" || $action == "taskReferencePerson")
    			## empty	
    		#elseif($action == "replace")
				
				<span id="actionPanel" class="inlineLabel">
					<label>Markierte Person(en)
						<input type="button" value="Ersetzen" title="Ersetzen" onclick="submitFormWithGivenAction('SaveReplacePersonList');" />
                    </label>
            	</span>
    
    		#else
    
                #set($isUser = false)
                #set($isAdmin = false)
                #foreach($group in $octopusConfig.personalConfig.UserGroups)
                	#if($group == "Writer")
                		#set($isUser = true)
                	#elseif($group == "PartialAdmin")
                		#set($isAdmin = true)
                	#elseif($group == "Administrator")
                		#set($isAdmin = true)
                	#end
                #end
                <input type="hidden" id="remove-person" name="remove-person" value="false">
                <script language="JavaScript" type="text/javascript">
                <!--
                	var selectedCount = ${listselection.size()};
                	function hasSelection() {
                		return ( selectedCount > 0 );
                	}
                
                	function selectionChange( elt ) {
                		selectedCount += ( elt.checked ? 1 : -1 );
                	}
                
                	function unassignCategories() {
                		if ( hasSelection() ) {
                			selectPersonCategory( "${paths.staticWeb}do/popupUnassignPersonCategory?count=" + selectedCount );
                		} else {
                			showWarning( "Wählen Sie bitte zunächst eine oder mehrere Personen aus." );
                		}
                	}
                
                	function assignCategories() {
                		if ( hasSelection() ) {
                			selectPersonCategory( "${paths.staticWeb}do/popupAssignPersonCategory?count=" + selectedCount );
							
                		} else {
                			showWarning( "Wählen Sie bitte zunächst eine oder mehrere Personen aus." );
                		}
                	}
                	
                	function unassignWorkarea() {
                		if ( hasSelection() ) {
                			selectPersonWorkarea( "${paths.staticWeb}do/popupUnassignPersonWorkarea?count=" + selectedCount );
                		} else {
                			showWarning( "Wählen Sie bitte zunächst eine oder mehrere Personen aus." );
                		}
                	}
                
                	function assignWorkarea() {
                		if ( hasSelection() ) {
                			selectPersonWorkarea( "${paths.staticWeb}do/popupAssignPersonWorkarea?count=" + selectedCount );
                		} else {
                			showWarning( "Wählen Sie bitte zunächst eine oder mehrere Personen aus." );
                		}
                	}
                -->
                </script>
				
				<span id="actionPanel" class="inlineLabel">
					<label>
                        #if($grants.mayWrite())
    						Markierte Person(en)
							<select id="actionSelection">
								<option>Löschen</option>
            					#if($exportFormat && $grants.mayExport())
            						<option>Exportieren</option>
            					#end
        						<option>Kategorien zuordnen</option>
        						<option>Kategorien entfernen</option>
        						<option>Arbeitsbereich zuordnen</option>
        						<option>Arbeitsbereich entfernen</option>
            				</select>
        					<input type="button" value="Durchführen" id="button.execute" name="button.execute" />
    					#elseif($exportFormat && $grants.mayExport())
							Markierte Person(en)
    						<input type="button" value="Exportieren" title="Exportieren" onclick="selectedActionExportPerson();" />
    					#else &nbsp; #end
					</label>
            	</span>
    
    		#end
  
			#if($action!="replace" && $action!="duplicateSearch" && !$searchTask)
        		<span id="buttonPanel-top" class="textRight floatRight">
        			<input type="button" id="button.searchPerson" name="button.searchPerson" value="Personen suchen" title="Personen suchen" class="mainButton" onclick="window.location.href='ShowPersonSearch?search=clear';" />
        			#if($grants.mayWrite())
						<input type="button" id="button.newPerson" name="button.newPerson" value="Neue Person anlegen" title="Neue Person anlegen" class="mainButton" onclick="window.location.href='CreatePerson';" />
					#end
        		</span>
			#end
    		
			
    		#if ($action == "guest")
			<div id="key" class="table hinweis contentBoxColored grayBorder floatRight" style="margin-top: -14px;">
				<div class="tableRow">
					<div class="tableCell"><strong>H</strong> = $!message.text($!config.main) einladen</div>
					<div class="tableCell"><strong>P</strong> = $!message.text($!config.partner) einladen</div>
					<div class="tableCell"><strong>R</strong> = Auf Reserve setzen</div>
				</div>
			</div>
    		#end
    		
    		
            #foreach($bean in $list)
    			<input type="hidden" name="list" value="$bean.id">
            #end
    
    		<div id="main_content">

                <table>
                	#if($action == "guest")
                    	<tr>
                            #if($grants.mayWrite())
								<th class="textCenter smallCell" title="$!message.text($!config.main) einladen">H <input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren (inkl. Partner, wenn eingeladen)" #if($listselection.size() == $list.size()) checked#end/></th>
    							<th class="textCenter smallCell" title="$!message.text($!config.partner) einladen">P</th>
                        		<th class="textCenter smallCell" title="Auf Reserve">R</th>
							#end
                    		<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbezeichnung</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th>Kategorie</th>
                    	</tr>
                	#elseif($action == "host")
                    	<tr>
                    		<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbezeichnung</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('street_a_e1');">Stra&szlig;e (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('zipcode_a_e1');">PLZ (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('city_a_e1');">Ort (G)</a></th>
                    		#if($userConfig.personListState)<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('state_a_e1');">Bundesland (G)</a></th>#end
                    	</tr>
                	#elseif($action == "statistikHost")
                    	<tr>
                    		<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbezeichnung</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('street_a_e1');">Stra&szlig (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('zipcode_a_e1');">PLZ (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('city_a_e1');">Ort (G)</a></th>
                    		#if($userConfig.personListState)<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('state_a_e1');">Bundesland (G)</a></th>#end
                    	</tr>
                	#elseif($action == "statistikGuest")
                    	<tr>
                    		<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbezeichnung</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('street_a_e1');">Stra&szlig;e (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('zipcode_a_e1');">PLZ (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('city_a_e1');">Ort (G)</a></th>
                    		#if($userConfig.personListState)<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('state_a_e1');">Bundesland (G)</a></th>#end
                    	</tr>
                	#elseif($action == "taskReferencePerson")
                    	<tr>
                    		<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbezeichnung</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('street_a_e1');">Stra&szlig;e (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('zipcode_a_e1');">PLZ (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('city_a_e1');">Ort (G)</a></th>
                    		#if($userConfig.personListState)<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('state_a_e1');">Bundesland (G)</a></th>#end
                    	</tr>
                	#elseif($action == "duplicateSearch")      
                    	## modified for duplicate search as per change request for version 1.2.0
                    	## cklein
                    	## 2008-02-27
                    	<tr>
                            #if($grants.mayWrite())
								<th class="textCenter smallCell"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren" #if($listselection.size() == $list.size()) checked#end/></th>
                    		#end
							<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Datum">Datum</th>
                    		<th title="Arbeitsbereich"><a href="javascript:orderPersonList('orgunit');">Arbeits&shy;bereich</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbe&shy;zeichnung</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('street_a_e1');">Stra&szlig;e (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('zipcode_a_e1');">PLZ (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('city_a_e1');">Ort (G)</a></th>
                    		#if($userConfig.personListState)<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('state_a_e1');">Bundesland (G)</a></th>#end
                    	</tr>
                	#else
                    	<tr>
                            #if($grants.mayWrite() || ($exportFormat && $grants.mayExport()) || $action == "replace")
								<th class="textCenter smallCell"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren" #if($listselection.size() == $list.size()) checked#end/></th>
                    		#end
							<th class="textCenter smallCell"><a href="javascript:orderPersonList('id');">ID</a></th>
                    		<th title="Arbeitsbereich"><a href="javascript:orderPersonList('orgunit');">Arbeits&shy;bereich</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('lastname_a_e1');">Nach&shy;name</a></th>
                    		<th title="Hauptperson, Zeichensatz 1"><a href="javascript:orderPersonList('firstname_a_e1');">Vor&shy;name</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('function_a_e1');">Amtsbe&shy;zeichnung</th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('company_a_e1');">Firma / Institution (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('street_a_e1');">Stra&szlig;e (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('zipcode_a_e1');">PLZ (G)</a></th>
                    		<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('city_a_e1');">Ort (G)</a></th>
                    		#if($userConfig.personListState)<th title="Gesch&auml;ftlich, Zeichensatz 1"><a href="javascript:orderPersonList('state_a_e1');">Bundesland (G)</a></th>#end
                    	</tr>
                	#end
                
                	#foreach($bean in $list)
                    	#if($action == "guest")
                        	<tr>
                        		#set($hasA = $bean.lastname_a_e1.length() > 0 || $bean.firstname_a_e1.length() > 0)
                        		#set($hasB = $bean.lastname_b_e1.length() > 0 || $bean.firstname_b_e1.length() > 0)
                        		
                                ## Fix for Bug 987
                                ## cklein
                                ## 2008-02-22
                                #if($grants.mayWrite())
                            		#if($event.invitationtype == 2)
                            			## Ohne Partner
                            			<td title="$!config.main einladen">
                            				<input type="checkbox" id="${bean.id}-select" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end #if(!$hasA) onClick="hasNoMain('${bean.id}-select');" #else onClick="onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #end>
                            			</td>
                            			<td title="$!config.partner einladen">
                            				<input type="checkbox" id="${bean.id}-partner" name="${bean.id}-partner" value="true" #if($invitepartner.indexOf($bean.id) != -1) checked#end #if(!$hasB) disabled #else onClick="onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #end>
                            			</td>
                            		#elseif($event.invitationtype == 3)
                            			## NurPartner
                            			<td title="$!config.main einladen">
                            				<input type="checkbox" id="${bean.id}-select" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end #if(!$hasA) onClick="hasNoMain('${bean.id}-select');" #else onClick="onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #end>
                            			</td>
                            			<td title="$!config.partner einladen">
                            				<input type="checkbox" id="${bean.id}-partner" name="${bean.id}-partner" value="true" #if($invitepartner.indexOf($bean.id) != -1) checked#end #if(!$hasB) disabled #else onClick="onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #end>
                            			</td>
                            		#else
                            			## Mit Partner
                            			<td title="$!config.main einladen">
                            				<input type="checkbox" id="${bean.id}-select" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end #if(!$hasA) onClick="hasNoMain('${bean.id}-select');" #elseif($hasB) onClick="onClickSetState('${bean.id}-select', '${bean.id}-partner');onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #else onClick="onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #end>
                            			</td>
                            			<td title="$!config.partner einladen">
                            				<input type="checkbox" id="${bean.id}-partner" name="${bean.id}-partner" value="true" #if($invitepartner.indexOf($bean.id) != -1) checked#end #if(!$hasB) disabled #elseif($hasA) onClick="onClickSetState('${bean.id}-partner', '${bean.id}-select');onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #else onClick="onClickEnforceConsistentState('${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve');" #end>
                            			</td>
                            		#end
                            		<td title="Auf Reserve"><input type="checkbox" name="${bean.id}-reserve" id="${bean.id}-reserve" #if($selectreserve.indexOf($bean.id) != -1) checked#end value="true" onClick="onClickEnsureSelection( '${bean.id}-select', '${bean.id}-partner', '${bean.id}-reserve', $event.invitationtype, ${hasA}, ${hasB} );"></td>
                        		#end
								<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask&person-category=' + document.getElementById('$!{bean.id}-category').value;"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask&person-category=' + document.getElementById('$!{bean.id}-category').value;">$!message.plain($bean.lastname_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask&person-category=' + document.getElementById('$!{bean.id}-category').value;">$!message.plain($bean.firstname_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask&person-category=' + document.getElementById('$!{bean.id}-category').value;">$!message.plain($bean.function_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask&person-category=' + document.getElementById('$!{bean.id}-category').value;">$!message.plain($bean.company_a_e1)</td>
                        		<td>
                        			## 2009-05-13 cklein
                        			## fixes issue #1531
                        			#set($cats = $personCategorie.getList($bean.id))
                        			#set($size = $cats.size())
                        			#set( $found=0 )
                        			#if( $search.categoriesSelection.size() == 1 )
                        				#foreach( $cat in $cats )
                        					#if( $search.categoriesSelection.get( 0 ) == $cat.categorie )
                        						#set( $found=$cat.categorie )
                        					#end
                        				#end			
                        			#end
                        			<select name="$!{bean.id}-category" id="$!{bean.id}-category">
                            			#if( $size == 0 || ( $size > 1 && $search.categoriesSelection.size() > 1 ) || ( $search.categoriesSelection.size() == 1 && $found == 0 ) )
                            				<option value="" selected>keine</option>
                            			#else
                            				<option value="">keine</option>
                            			#end
                            			#if( $size == 1 )
                            				#set( $found = $cats.get( 0 ).categorie )
                            			#end
                            			#foreach($cat in $cats)
                            				<option value="$!cat.categorie" #if($cat.categorie == $found || $size == 1) selected #end>$!message.text($!cat.name)</option>
                            			#end
                        			</select>
                        		</td>
                        	</tr>
                    	#elseif($action == "host")
                        	<tr>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.lastname_a_e1)</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.firstname_a_e1)</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.function_a_e1)</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.company_a_e1)</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.street_a_e1)</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.zipcode_a_e1)</td>
                        		<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.city_a_e1)</td>
                        		#if($userConfig.personListState)<td onclick="window.location.href='SetHostToEventDetail?hostid=$!{bean.id}';">$!message.plain($bean.state_a_e1)</td>#end
                        	</tr>
                    	#elseif($action == "statistikHost")
                        	<tr>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.lastname_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.firstname_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.function_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.company_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.street_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.zipcode_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.city_a_e1)</td>
                        		#if($userConfig.personListState)<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.state_a_e1)</td>#end
                        	</tr>
                    	#elseif($action == "statistikGuest")
                        	<tr>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.lastname_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.firstname_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.function_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.company_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.street_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.zipcode_a_e1)</td>
                        		<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.city_a_e1)</td>
                        		#if($userConfig.personListState)<td onclick="window.open('StatistikExport?id=$!{bean.id}');">$!message.plain($bean.state_a_e1)</td>#end
                        	</tr>
                    	#elseif($action == "taskReferencePerson")
                    		#if($taskId && $taskId != "")
                    			#set($clickUrl = "ShowEventTask?refPersId=$!{bean.id}&id=$!taskId")
                    		#else
                    			#set($clickUrl = "CreateEventTask?refPersId=$!{bean.id}&eventId=$!eventId")
                    		#end
                    			
                    		<tr>
                    			<td onclick="window.location.href='$clickUrl';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.lastname_a_e1)</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.firstname_a_e1)</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.function_a_e1)</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.company_a_e1)</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.street_a_e1)</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.zipcode_a_e1)</td>
                    			<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.city_a_e1)</td>
                    			#if($userConfig.personListState)<td onclick="window.location.href='$clickUrl';">$!message.plain($bean.state_a_e1)</td>#end
                    		</tr>
                    		
                    	#elseif($action == "duplicateSearch" )
                    
                        	## modified for duplicate search as per change request for version 1.2.0
                        	## cklein
                        	## 2008-02-27
                        	<tr>
                        	
                        	## fixing bug 1037
                        	## 2008-03-25 cklein

                                #if($grants.mayWrite())
                            		<td><input type="checkbox" name="${bean.id}-select" value="true" onChange="selectionChange( this );" #if($listselection.indexOf($bean.id) != -1) checked#end></td>
                        		#end
								<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.date("DATE", $bean.created)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.workarea_name)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.lastname_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.firstname_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.function_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.company_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.street_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.zipcode_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.city_a_e1)</td>
                        		#if($userConfig.personListState)<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!{action}&searchTask=$!searchTask';">$!message.plain($bean.state_a_e1)</td>#end
                        	</tr>	
                    	#else
                        	<tr>
                                #if($grants.mayWrite() || ($exportFormat && $grants.mayExport()) || $action == "replace")
									<td><input type="checkbox" name="${bean.id}-select" value="true" onChange="selectionChange( this );" #if($listselection.indexOf($bean.id) != -1) checked#end></td>
                        		#end
								<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';"><input type="hidden" name="${bean.id}-id" value="$bean.id">$!{bean.id}</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.workarea_name)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.lastname_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.firstname_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.function_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.company_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.street_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.zipcode_a_e1)</td>
                        		<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.city_a_e1)</td>
                        		#if($userConfig.personListState)<td onclick="window.location.href='ShowPerson?id=$!{bean.id}&searchTask=$!searchTask';">$!message.plain($bean.state_a_e1)</td>#end
                        	</tr>
                    	#end
    				#end
    				
    				#set($itemName = "Personen")
    				#parse("inc/list-navi-new.vm")
    				#parse("inc/list-direct-new.vm")
                </table>
    		</div>
    		
    		
    
    	</form>
		
	#else
	
		#if($grants.mayWrite() && !$searchTask)
			<div id="" class="buttonPanel-top textRight marginBottom10">
				<input type="button" id="button.newPerson" name="button.newPerson" value="Neue Person anlegen" title="Neue Person anlegen" class="mainButton" onclick="window.location.href='CreatePerson';" />
        	</div>
		#end
		
		<div class="contentBoxColored grayBorder marginBottom20">  		
			Es wurden keine Einträge gefunden.
		</div>
		
	#end

	<form id="personListFilter" name="personListFilter" action="${paths.staticWeb}do/$octopusRequest.task" method="POST" class="marginTop25">
		<input type="hidden" name="start" value="0">
		<input type="hidden" name="limit" value="" />
		<input type="hidden" name="selectAll" value="false">
		<input type="hidden" name="selectNone" value="true">
		<input type="hidden" name="search-person" value="$search.person">
		<input type="hidden" id="search-listorder" name="search-listorder" value="$!search.listorder">
	</form>
	
	## Zurück-Button
	<span id="buttonPanel-top" class="textRight floatRight">
    	#if($action == "guest")
			<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zur G&auml;steliste" class="mainButton" onclick="window.location.href='ShowGuestList?selectNone=true';" />
    	#elseif($action == "host")
			<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zu Veranstaltungsdetails" class="mainButton" onclick="window.location.href='SetHostToEventDetail';" />
    	#elseif($action == "statistikGuest" || $action == "statistikHost")
			<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zu Veranstaltungsstatistiken" class="mainButton" onclick="window.location.href='Statistik';" />
    	#elseif($action == "taskReferencePerson")
        	#if($taskId && $taskId != "")
				<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zur Veranstaltungsaufgabe" class="mainButton" onclick="window.location.href='ShowEventTask?id=$!taskId';" />
        	#else
				<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zur Veranstaltungsaufgabe" class="mainButton" onclick="window.location.href='CreateEventTask?eventId=$!eventId';" />
        	#end
    	#elseif($action == "replace")
			<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zu Suchen &amp; Ersetzen" class="mainButton" onclick="window.location.href='ShowReplacePerson';" />
    	#elseif($searchTask && $searchTask == "personSearchTask")
			<input type="button" id="button.cancel" name="button.cancel" value="Zur&uuml;ck zur Personensuche" class="mainButton" onclick="javascript:history.back();" />
		#end
	</span>
	
    <div class="clear"></div>
</div>

<script type="text/javascript">
	function orderPersonList(column) {
		document.getElementById('search-listorder').value = column;
		document.getElementById('personListFilter').submit();
	}
</script>

#parse("inc/footer.vm")