
#if($action == "Personen")
	#set($activeMenu = "Personen")
    #set($title = "Person suchen")
#end

#set($elementNameSex = "female")
#set($elementNameSingular = "Person")
#set($elementNamePlural = "Personen")
#parse("inc/header.vm")

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > Personensuche</span>
    </div>

    <h1>Personensuche</h1>

	<div id="main_content" class="contentBoxColored grayBorder marginBottom20">

        <h2>Suche</h2>

        <form action="$formurl" id="peopleSearch_form" method="post">
            <input type="hidden" name="start" value="0">
            <input type="hidden" name="selectAll" value="false">
            <input type="hidden" name="selectNone" value="true">
			<input type="hidden" name="search" value="reset">
			<input type="hidden" name="searchTask" value="personSearchTask">

            <fieldset>
                <legend>Person/Firma</legend>

                <div class="table width100">
                    <div class="tableRow">
                        <div class="tableCell width30">
                            <label for="firstname">Suchfeld</label>
                            <input type="text" name="firstname" id="firstname" value="$!message.text($search.firstname)"  />
                        </div>
                    </div>
				</div>    
            </fieldset>

            <div id="buttonPanel-bottom" class="textRight">
                    <input type="submit" class="mainButton submit" name="search" value="Suchen" title="Suchen" /> 
                    <input type="button"  class="mainButton reset" name="cancel" value="Felder leeren" title="Erweiterte Suche" onclick="clearForm();" /> 
            </div>
        </form>
    </div>
    <vera-info vera-stay>
        Sie können bei der Suche sogenannte Platzhalter verwenden, der * steht für mehrere und das ? für einzelne Zeichen. <br/>
        Die Suche unterstützt auch die Mehrfachsuche nach Kategorien. Um mehrere Kategorien auszuwählen, halten Sie bitte die Maustaste gedrückt und ziehen Sie den Mauszeiger über die in der Suche zu berücksichtigenden Kategorien. Alternativ können Sie bei gedrückter STRG-Taste mit der linken Maustaste auf die zu berücksichtigenden Kategorien klicken. Beachten Sie bitte, dass die beiden Pseudokategorien "Alle" und "Keine" nicht zusammen mit anderen Kategorien ausgewählt werden können.
    </vera-info>
</div>

#parse("inc/footer.vm")