#if($person)
#set($title = "Person bearbeiten: $!message.plain($person.MainLatin.SaveAs)")
#parse("inc/header.vm")
#else
#set($title = "Neue Person anlegen")
#parse("inc/header.vm")
#end

#if($countInsert && $countInsert > 0)
	<div style="margin: 10px 0px 0px 0px; padding: 2px 3px 2px 3px; background-color: #ffc080; border: 1px solid #ff8000;">
		#if($countInsert == 0)
			Es wurde keine Kategorie hinzugef&uuml;gt.
		#elseif($countInsert == 1)
			Es wurde eine Kategorie hinzugef&uuml;gt.
		#else
			Es wurden $countInsert Kategorien hinzugef&uuml;gt.
		#end
	</div>
#end
#if($countUpdate && $countUpdate > 0)
	<div style="margin: 10px 0px 0px 0px; padding: 2px 3px 2px 3px; background-color: #ffc080; border: 1px solid #ff8000;">
		#if($countUpdate == 0)
			Es wurde keine Kategorie ge&auml;ndert.
		#elseif($countUpdate == 1)
			Es wurde eine Kategorie ge&auml;ndert.
		#else
			Es wurden $countUpdate Kategorien ge&auml;ndert.
		#end
	</div>
#end
#if($countRemove)
	<div style="margin: 10px 0px 0px 0px; padding: 2px 3px 2px 3px; background-color: #ffc080; border: 1px solid #ff8000;">
		#if($countRemove == 0)
			Es wurde keine Kategorie gel&ouml;scht.
		#elseif($countRemove == 1)
			Es wurde eine Kategorie gel&ouml;scht.
		#else
			Es wurden $countRemove Kategorien gel&ouml;scht.
		#end
	</div>
#end

<form id="formlist" name="formlist" action="ShowPersonCategorieList" method="post">
<input type="hidden" name="id" value="$!person.id">
<input type="hidden" name="start" value="">
<input type="hidden" name="selectAll" value="false">
<input type="hidden" name="selectNone" value="false">

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabinactiv"><a href="ShowPerson?id=$!person.id&tab=person&offset=${navigation.current.offset}" class="tabinactiv">Personendaten</a></td>
	<td class="tabinactiv"><a href="ShowPerson?id=$!person.id&tab=anschrift&offset=${navigation.current.offset}" class="tabinactiv">Anschriften</a></td>
#if($person && $person.id)
	<td class="tabinactiv"><a href="ShowPersonDoctypeList?id=$!person.id&offset=${navigation.current.offset}" class="tabinactiv">Dokumenttypen</a></td>
	<td class="tabactiv"><a href="ShowPersonCategorieList?id=$!person.id&offset=${navigation.current.offset}" class="tabactiv">Kategorien</a></td>
#else
	<td class="tabdisabled"><span class="tabdisabled">Dokumenttypen</span></td>
	<td class="tabdisabled"><span class="tabdisabled">Kategorien</span></td>
#end
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()

#openContentSection()
#parse("inc/person-header.vm")
#closeContentSection()

#openContentSection()
#parse("inc/person-categorie.vm")
#closeContentSection()

#closeContent()

</form>

<input type="hidden" id="inviteGuestReserve" name="inviteGuestReserve" value="false">
<input type="hidden" id="inviteGuestPartner" name="inviteGuestPartner" value="false">
<script type="text/javascript">
	function addToGuestList() {
		htmlConfirm('Soll dieser Gast auf Platz gesetzt werden?', new Array('Ja', 'Nein'), new Array("addToGuestQuestX1('false');", "addToGuestQuestX1('true');"));
	}
	
	function addToGuestQuestX1(answer) {
		document.getElementById('inviteGuestReserve').value = answer;
		htmlConfirm('Soll die Partnerin / der Partner mit eingeladen werden?', new Array('Ja', 'Nein'), new Array("addToGuestQuestX2('true');", "addToGuestQuestX2('false');"));
	}
	
	function addToGuestQuestX2(answer) {
		document.getElementById('inviteGuestPartner').value = answer;
		htmlWait();
		
		var url = '${paths.staticWeb}do/AddPersonToEventGuestList';
		url += '?list=$!{person.id}';
		url += '&$!{person.id}-id=${person.id}';
		url += '&$!{person.id}-select=true';
		url += '&$!{person.id}-reserve=' + document.getElementById('inviteGuestReserve').value;
		url += '&$!{person.id}-partner=' + document.getElementById('inviteGuestPartner').value;
		window.location.href = url;
	}
	
	#if(!$grants.mayWrite())
	disableForm(document.getElementById('formlist'));
	#end
	disableFormInput(document.getElementById('person-expire'));
	disableFormCheckbox(document.getElementById('person-iscompany'));
	hideBlock(document.getElementById('show-expire'));
</script>

#parse("inc/footer.vm")