#set($activeMenu = "Personen")
#set($title = "Person speichern - Duplikat-Pr&uuml;fung")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="SavePerson" method="POST">
<input type="hidden" name="start" value="">
<input type="hidden" name="selectAll" value="false">
<input type="hidden" name="selectNone" value="false">

##new cf. issue #2091
<input type="hidden" name="action" value="$action">
<input type="hidden" name="id" value="$id">

<h1 class="paddingTop20">Vorhandene Duplikate</h1>

#openContent()
#openContentSection()

#foreach($bean in $list)
<input type="hidden" name="list" value="$bean.id">
#end
<table>
	<tr>
		<th class="smallCell textCenter">ID</th>
		<th>Name</th>
		<th>Vorname</th>
		<th>Amtsbezeichnung</th>
		<th>Firma / Institution</th>
		<th>Stra&szlig;e</th>
		<th>PLZ</th>
		<th>Ort</th>
		<th class="textCenter smallCell">Weiteres Vorgehen</th>
	</tr>
	<tr>
		<td class="textCenter"><em>neu</em></td>
		##additional parameters action cf. issue #2091
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.lastname_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.firstname_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.function_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.company_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.street_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.zipcode_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action';">$!person.city_a_e1</td>
		<td class="textCenter"><a href="SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId&action=$!action" class="noBorder"><img src="${paths.staticWeb}images/add.png" alt="Neuen Eintrag anlegen" title="Neuen Eintrag anlegen"></a></td>
	</tr>
	#foreach($bean in $list)
	#if ($velocityCount % 2 == 0)
		#set($class = "list2")
	#else
		#set($class = "list1")
	#end
	<tr class="$class">
		##additional parameters action cf. issue #2091
		<td class="textCenter" style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';"><input type="hidden" name="${bean.id}-id" value="$bean.id"><a href="ShowPerson?id=$!{bean.id}&action=$!action">$!{bean.id}</a></td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.lastname_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.firstname_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.function_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.company_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.street_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.zipcode_a_e1</td>
		<td style="cursor: pointer;" onclick="window.location.href='ShowPerson?id=$!{bean.id}&action=$!action';">$!bean.city_a_e1</td>
		<td class="textCenter"><a href="ShowPerson?id=$!{bean.id}&action=$!action" class="noBorder"><img src="${paths.staticWeb}images/edit.png" alt="Existierenden Eintrag bearbeiten" title="Existierenden Eintrag bearbeiten"></a></td>
	</tr>
	#end
</table>

#set($disableListSelect = true)
#if ($listparam.count == 0)
	<br>Es wurden keine Duplikate gefunden.
#end

<div class="textRight">

#if($action == "guest")
	<input type="submit" class="submit" name="add" value="Hinzuf&uuml;gen" title="Ausgew&auml;hlte Personen zur Veranstaltung hinzuf&uuml;gen."> 
	<input type="button" class="button" name="newperson" value="Person erfassen" title="Person erfassen" onclick="window.location.href='ShowPerson';">
	<input type="button" class="cancel" name="cancel" value="Zur&uuml;ck" title="Zur&uuml;ck" onclick="window.location.href='ShowGuestList';">
#else
	<!-- <input type="button" class="button" name="newperson" value="Duplikat anlegen" onclick="window.location.href='SavePerson?saveperson=true&person-nodupcheck=true&originalPersonId=$!originalPersonId';"> -->
	<input type="button" name="cancel" value="Abbrechen &amp; zur&uuml;ck"  title="Abbrechen &amp; zur&uuml;ck" onclick="window.location.href='PersonDupcheckCancel';" class="mainButton">
#end

</div></div></div>
</div>

#closeContentSection()
#closeContent()

</form>

#parse("inc/footer.vm")