## ChangeLogReport Settings Editor
##
## @author Carsten Klein
## @since 1.2.0

#set($activeMenu = "Administration")
#parse("inc/header.vm")

<form action="ShowChangeLogReport" method="post" target="_blank" onSubmit="location.reload();return true;">

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>${placeholderWithTranslation.siesindhier}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.home}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.reports}</span>
	</div>

	<h1>${placeholderWithTranslation.BROWSER_TITLE_REPORTS}</h1>


			<div class="contentBoxColored hinweis grayBorder marginBottom20">
				<strong>${placeholderWithTranslation.GENERIC_TOOLTIP}</strong>
				<p>${placeholderWithTranslation.abhangigvomausgewahltenzeitraumundderdarausresultierendenanzahldatenkanndieerzeugungdesberichtsrelativlangedauernhabensiebitteeinweniggeduld}</p>
			</div>

#if($noLogDataAvailableMessage)
<vera-warn>
	$noLogDataAvailableMessage
</vera-warn>
#end

<input type="hidden" name="search" value="reset">
<div class="table width30">
	<div class="tableRow">
		<div class="tableCell ">
			<label for="begin">${placeholderWithTranslation.datumbeginn}:</label>
		</div>
		<div class="tableCell ">
			<span id="show-begin" class="datepickerContainer">
				<input type="text" name="begin" value="${begin}" id="begin" class="datepicker width80">
				<img src="${paths.staticWeb}images/calendar.png" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen">
				<script type="text/javascript">
					Calendar.setup({
						inputField: "begin",
						button:     "show-begin",
						ifFormat:   "%d.%m.%Y",
						showsTime:  false
					});
				</script>
			</span>
		</div>
	</div>
	<div class="tableRow">
		<div class="tableCell ">
			<label for="end">${placeholderWithTranslation.datumende}:</label>
		</div>
	<div class="tableCell ">
		<span id="show-end" class="datepickerContainer">
			<input type="text" name="end" value="${end}" id="end" class="datepicker width80">
			<img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswahlen}" title="${placeholderWithTranslation.datumauswahlen}">
			<script type="text/javascript">
				Calendar.setup({
					inputField: "end",
					button:     "show-end",
					ifFormat:   "%d.%m.%Y",
					showsTime:  false
				});
			</script>
		</span>
	</div>
</div>
</div>

<div id="buttonPanel-bottom" class="marginTop10">
	<input type="submit" class="mainButton" value="${placeholderWithTranslation.reporterzeugen}" title="${placeholderWithTranslation.reporterzeugen}" />
	<input type="reset" class="mainButton" value="${placeholderWithTranslation.felderzurucksetzen}" title="${placeholderWithTranslation.felderzurucksetzen}" />
</div>


</div>

</form>

#parse("inc/footer.vm")
