#set($activeMenu = "Administration")
#set($title = "Cleanup")
#parse("inc/header.vm")

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabactiv"><span class="tabactiv">Cleanup</span></td>
	<td class="tabright">&nbsp;</td>
</tr></table>




#if($cleanup && $cleanup.size() > 0)
	#if($cleanupdone)
		<div style="margin-top: 10px; font-size: 14px; font-family: Arial;">
			${placeholderWithTranslation.FolgendeAktionen}<strong>${placeholderWithTranslation.WURDEN}</strong> ${placeholderWithTranslation.durchgefuhrt}</strong>
		</div>
	#else
		<div style="margin-top: 10px; font-size: 14px; font-family: Arial;">
			${placeholderWithTranslation.FolgendeAktionen}<strong>${placeholderWithTranslation.KONNEN}</strong> ${placeholderWithTranslation.durchgefuhrt}</strong>
		</div>
	#end
	<ul>
	#foreach($c in $cleanup)
		<li>$!message.text($c)</li>
	#end
	</ul>

	#if($cleanupdone)
		<br>
		<a href="${paths.staticWeb}do/Cleanup">${placeholderWithTranslation.Aktuallisieren}</a>
	#else
		<br>
		<a href="${paths.staticWeb}do/Cleanup">${placeholderWithTranslation.Aktuallisieren}</a> &nbsp; | &nbsp;
		<a href="${paths.staticWeb}do/Cleanup?force=true">${placeholderWithTranslation.Cleanupjetztunwiderruflichdurchfuhren}</a>
	#end
#else
	${placeholderWithTranslation.EssindderzeitkeineCleanupsmoglichnotig}
	<br><br>
	<a href="${paths.staticWeb}do/Cleanup">${placeholderWithTranslation.Aktuallisieren}</a>
#end



<hr class="footline">

<!--
$responseParams
-->
#parse("inc/footer.vm")
