#set($activeMenu = "Veranstaltungen")
#set($title = "Aufgaben")
#set($elementNameSex = "female")
#set($elementNameSingular = "Aufgabe")
#set($elementNamePlural = "Aufgaben")
#parse("inc/header.vm")
#set($formurl = "SaveDelegationFields")

<script type="text/javascript" src="${paths.staticWeb}scripts/jquery.min.js"></script>

<script type="text/javascript">
	//on document ready
	jQuery(function(){
		toogleOptionalFields();
	});
</script>

<script type="text/javascript">
	function toogleOptionalFields() {
		var types = document.getElementById('typeSelect');
		var selectedValue = types.options[types.selectedIndex].value;

		if (selectedValue == 'Eingabefeld') {
			$("#optionsArea").hide();
		}
		else {
			$("#optionsArea").hide();
		}
	}
</script>

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/">Home</a> > Veranstaltungen > Veranstaltung bearbeiten</span>
    </div>

    <h1>Veranstaltung bearbeiten: $!message.plain($event.shortname)</h1>

    <form id="formlist1" name="formlist1" action="$formurl?eventId=$!event.id" method="POST">

        #set($completeEventHeader = false)
        #parse("inc/event-header.vm")

        <div class="marginBottom10 marginTop20 textRight" id="buttonPanel-top">
            <input type="button" class="mainButton" value="Zur G&auml;steverwaltung" name="guestlist"
                   onclick="window.location.href='ShowGuestList?search-event=$!event.id&start=0&selectNone=true';">
        </div>

        <div id="main_content" class="tabs contentBox grayBorder marginBottom10">
            <input type="hidden" name="start" value="">
            <input type="hidden" name="limit" value="" />
            <input type="hidden" name="selectNone" value="true">
            <input type="hidden" name="doRemove" value="true">

            <div id="tabsMain">
                <ul class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
                    <li class="inactive noBorder" onclick="window.location.href='ShowEvent?id=$!event.id';">
                        <div>Allgemein</div>
                    </li>
                    <li class="inactive" onclick="window.location.href='${paths.staticWeb}do/ShowEventDoctype?id=$!event.id&selectNone=true';">
                        <div>Dokumenttypen</div>
                    </li>
                    <li class="inactive" onclick="window.location.href='ShowEventTasks?id=$!event.id&selectNone=true';">
                        <div>Aufgaben</div>
                    </li>
                    #if($online-registration.activated)
	                    <li class="active">
	                        <div>Zusätzliche Personendaten</div>
	                    </li>
	                    <li class="inactive" onclick="window.location.href='ShowEventFunction?id=$!event.id';"><div>Funktionen/Amtsbezeichnungen</div>
                        </li>
                        <li class="inactive" onclick="window.location.href='ShowEventCategory?id=$!event.id';"><div>Kategorien</div>
                        </li>
	                #end
                </ul>
            </div>

            <div class="contentBoxColored tabsContent table">
				<ol class="delegationFields">
					#set($fieldcounter = 0)
	                #foreach($field in $delegationFieldsWithTypeContents )
						<div class="tableRow">
			                #set($fieldcounter = $fieldcounter + 1)
			            	<div class="tableCell width25">
			            		<span>$fieldcounter.</span>
				            	<span>Feldbezeichnung</span>
				                <input type="text" name="optionalField-$field.fkDelegationField" maxlength="25" value="$field.label">
							</div>
							<div class="tableCell width25">
								<span>Eingabetyp</span>
				                <select name="optionalFieldType-$field.fkDelegationField">
								    #foreach($type in $fieldTypes)
				                	   	<option name="optionalFieldtype-$type.id" id="$type.id" #if($field.fkType == $type.id)selected="true"#end>$type.description</option>
								    #end
								</select>
							</div>
						</div>

						<div class="tableRow">
							#if($field.fkType == 2 || $field.fkType == 3)
								<!-- BBB: -->
								#set($fieldvalue = 0)
								#foreach( $typeContent in $field.optionalFieldTypeContents )
									<div class="tableCell width25">
										#set($fieldvalue = $fieldvalue + 1)
										<span>$fieldvalue.</span>
										<input value="$typeContent.content" name="optionalFieldtype-${field.fkDelegationField}_value-${typeContent.id}" />
									</div>
								#end
							#end
				    	</div>
		            #end
				</ol>
			</div>

        <span id="buttonPanel-bottom" class="floatRight">
            #if($grants.mayWrite())
                <input type="submit" name="save" value="Veranstaltung speichern" class="mainButton"
                	title="Veranstaltung speichern" onclick="document.getElementById('formlist1').action='$formurl?eventId=$!event.id';" />
            #end
            <input type="reset" name="cancel" value="Zur Veranstaltungsübersicht" class="mainButton"
                   onclick="window.location.href='SearchEvent?action=event&search=reset&selectNone=true';" />
        </span>
		</div>
	</form>
    <div class="clear"></div>
</div>


<script type="text/javascript">

$(document).ready(function() {
	if ($showSuccessMessage == true) {
		showSuccess('Erfolgreich gespeichert!');
	}
});

</script>

<style>
	.delegationFields {
		margin-left: 10px;
	}

	.delegationFields>li {
		margin:10px;
	}
</style>
#parse("inc/footer.vm")
