#set($activeMenu = "Veranstaltungen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_EDIT}: $!message.plain($event.shortname)")
#set($elementNameSex = "female")
#set($elementNameSingular = "Vorbedingung")
#set($elementNamePlural = "Vorbedingungen")

#parse("inc/header.vm")

<div id="content_container">

    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>${placeholderWithTranslation.siesindhier}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.home}</a> > ${placeholderWithTranslation.veranstaltungen} > ${placeholderWithTranslation.veranstaltungbearbeiten}</span>
    </div>

    #if($event.parent_event_id)
		<h1>${placeholderWithTranslation.unterveranstaltungbearbeiten}: $!message.plain($event.shortname)</h1>
	#else
		<h1>${placeholderWithTranslation.veranstaltungbearbeiten}: $!message.plain($event.shortname)</h1>
	#end

    #set($completeEventHeader = false)
    #parse("inc/event-header.vm")

    <form id="formlist" name="formlist" action="ShowEventPrecondition" method="POST" onsubmit="htmlWait();">
        <input type="hidden" name="id" value="$!event.id"/>
        <input type="hidden" name="start" value=""/>
        <input type="hidden" name="limit" value=""/>
        <input type="hidden" name="selectNone" value="true"/>
        <input type="hidden" name="doInsert" value="true"/>
        <input type="hidden" name="doUpdate" value="false"/>
        <input type="hidden" name="doRemove" value="true"/>

        <div class="textRight marginBottom10 marginTop20" id="buttonPanel-top">
            <input type="button" class="mainButton" value="${placeholderWithTranslation.zurgasteverwaltung}"
                   name="guestlist" onclick="window.location.href='ShowGuestList?search-event=$!event.id&start=0&selectNone=true';"/>
        </div>

        <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
        <div id="main_content" class="tabs contentBox grayBorder marginBottom10">
            <div id="tabsMain" class="event">
                ##First row
                <ul class="gray-gradient" vera-tab-group>
                    <li class="inactive"
                        onclick="window.location.href='ShowEvent?id=$!event.id';" class="noBorder">
                        <div>${placeholderWithTranslation.allgemein}</div>
                    </li>
                    <li class="inactive"
                        onclick="window.location.href='${paths.staticWeb}do/ShowEventDoctype?id=$!event.id&selectNone=true';" class="noBorder">
                        <div>${placeholderWithTranslation.dokumenttypen}</div>
                    </li>
                    <li class="inactive"
                        onclick="window.location.href='ShowEventTasks?id=$!event.id&selectNone=true';" class="noBorder">
                        <div>${placeholderWithTranslation.aufgaben}</div>
                    </li>
                    #if($online-registration.activated)
                        <li class="inactive"
                            onclick="window.location.href='${paths.staticWeb}do/ShowDelegationFields?eventId=$!event.id'">
                            <div>${placeholderWithTranslation.zusatzlichepersonendaten}</div>
                        </li>
                        <li class="inactive" onclick="window.location.href='ShowEventFunction?id=$!event.id';">
                            <div>
                                ${placeholderWithTranslation.GENERIC_FUNCTION_PLURAL}/${placeholderWithTranslation.GENERIC_OFFICIAL_TITLE_PLURAL}
                            </div>
                        </li>
                        <li class="inactive" onclick="window.location.href='ShowEventCategory?id=$!event.id';">
                            <div>${placeholderWithTranslation.kategorien}</div>
                        </li>
                    #end
                </ul>
                ##Second row
                #if($online-registration.activated)
                    <ul class="gray-gradient" vera-tab-group>
                        #if($event.eventtype == "Offene Veranstaltung")
                            <li class="active">
                                <div>${placeholderWithTranslation.GENERIC_PRECONDITION_PLURAL}</div>
                            </li>
                        #end
                   		#if(!$event.parent_event_id)
							<li class="inactive" onclick="window.location.href='ShowEventSubEventList?id=$!event.id';">
	                            <div>${placeholderWithTranslation.GENERIC_SUBEVENT_PLURAL}</div>
							</li>
						#end
                    </ul>
                #end
            </div>


            <div class="contentBoxColored tabsContent">
				<span id="actionPanel">
					#if($grants.mayWrite() && $list && $list.size() > 0)
						<strong>${placeholderWithTranslation.EVENT_PRECONDITION_MARKED}</strong>
						<input type="button" name="remove" value="${placeholderWithTranslation.entfernen}" title="${placeholderWithTranslation.EVENT_PRECONDITION_MARKED}" onclick="deleteEventPrecondition();"/>
					#else &nbsp;#end
				</span>

                #if($grants.mayWrite())
                    <div class="buttonPanel-top floatRight">
                        <input type="submit" name="saveevent"
                               title="${placeholderWithTranslation.EVENT_PRECONDITION_ADD}" class="mainButton"
                               value="${placeholderWithTranslation.EVENT_PRECONDITION_ADD}"
                               onclick="window.location.href='SaveEventPrecondition?action=savePrecondition';"/>
                    </div>
                #end

                #foreach($bean in $list)
                    <input type="hidden" name="list" value="$bean.id"/>
                #end

                #if(($list && $list.size() > 0) || $grants.mayWrite())

                #if ($list && $list.size() > 0)
                    ##Values in per cent for table columns width
                    ##If precondition exists
                    #set($column0 = 3)
                    #set($column1 = 5)
                    #set($column2 = 72)
                    #set($column3 = 16)
                    #set($column4 = 14)
                #else
                    ##Values in per cent for table columns width
                    ##If precondition doesn't exist
                    #set($column0 = 5)
                    #set($column1 = 75)
                    #set($column2 = 16)
                    #set($column3 = 14)
                    #set($column4 = 0)
                #end

                <table class="notBold fixed">
                    ##Set column size
                    <col width="$column0%" />
                    <col width="$column1%" />
                    <col width="$column2%" />
                    <col width="$column3%" />
                    <col width="$column4%" />

                    <tr>
                        #if($list && $list.size() > 0 && $grants.mayWrite())
                            <th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="${placeholderWithTranslation.alledemarkieren}" #if($listselection.size() == $list.size()) checked#end/></th>
                        #end
                        <th class="smallCell textCenter">${placeholderWithTranslation.id}</th>
                        <th>${placeholderWithTranslation.GENERAL_EVENT_SINGULAR}</th>
                        <th>${placeholderWithTranslation.EVENT_PRECONDITION_INVITATIONSTATUS}</th>
                        <th>${placeholderWithTranslation.EVENT_PRECONDITION_STARTDATE}</th>
                    </tr>
                    #if($grants.mayWrite())
                    <tr>
                        #if($list && $list.size() > 0 && $grants.mayWrite())
                            <td class="textCenter"/>
                        #end
                        <input type="hidden" id="add-modified" name="add-modified" value="false"/><input type="checkbox" name="add-select" value="true" style="display: none;"/>
                        <td class="textCenter"><input type="hidden" name="add-id" value=""/><input type="hidden" name="add-event" value="$!event.id"/><em>neu</em></td>
                        <td>
                            <select id="event_precondition" name="event_precondition" onchange="setModified('add')">
                                <option value="0">${placeholderWithTranslation.bitteauswahlen}</option>
                                #foreach($eventName in $allEvent)
                                    <option value="$eventName.id">$!message.plain($eventName.shortname)</option>
                                #end
                            </select>
                        </td>
                        <td class="textCenter">
                            <select name="invitationstatus_a" onchange="setModified('${bean.id}')">
                                <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 0) selected#end value="0">Offen</option>
                                <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 1) selected#end value="1">Zusage</option>
                                <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 2) selected#end value="2">Absage</option>
                                <option #if($bean.invitationstatus_a && $bean.invitationstatus_a == 3) selected#end value="3">Teilgenommen</option>
                            </select>
                        </td>
                        <td>
                            #if($grants.mayWrite())
                            <div class="calenderContainer">
                                <span class="datepickerContainer" id="datepicker_max_begin">
                                    <input type="text" class="datepicker width80" id="max_begin" name="max_begin" onchange="setModified();">
                                    <img id="startDatepicker" title="${placeholderWithTranslation.datumauswahlen}" alt="${placeholderWithTranslation.datumauswahlen}" src="${paths.staticWeb}images/calendar.png">
                                    <script type="text/javascript">
                                        Calendar.setup({
                                            inputField: "max_begin",
                                            button:     "datepicker_max_begin",
                                            ifFormat:   "%d.%m.%Y",
                                            showsTime:  false
                                        });
                                    </script>
                                </span>
                            </div>
                            #end
                        </td>
                    </tr>
                    #end
                    #foreach($bean in $list)
                        <tr>
                            #if($grants.mayWrite())
                                <td class="textCenter"><input type="hidden" id="${bean.event_precondition}-modified" name="${bean.event_precondition}-modified" value="false"/><input type="checkbox" name="${bean.event_precondition}-select" value="true"/></td>
                            #end
                            <td class="textCenter"><input type="hidden" name="${$bean.event_precondition}-id" value="$!bean.event_precondition"/><input type="hidden" name="${bean.event_precondition}-event" value="$!event.event_precondition"/>$!bean.event_precondition</td>
                            <td>$!message.plain($bean.shortName)</td>
                            <td>
                                #if($bean.invitationstatus && $bean.invitationstatus == 0)
                                    Offen
                                #elseif($bean.invitationstatus && $bean.invitationstatus == 1)
                                    Zusage
                                #elseif($bean.invitationstatus && $bean.invitationstatus == 2)
                                    Absage
                                #elseif($bean.invitationstatus && $bean.invitationstatus == 3)
                                    Teilgenommen
                                #end
                            </td>
                            <td>$!message.date("DATE", $bean.max_begin)</td>
                        </tr>
                    #end

                    #if ($list.size() == 0)
                        <tr>
                            <td colspan="4">${placeholderWithTranslation.EVENT_PRECONDITION_NOT_FOUND}</td>
                        </tr>
                    #end

                    #set($itemName = "GENERIC_PRECONDITION_PLURAL")
                    #parse("inc/list-navi-new.vm")

                </table>
                #end

            </div>
        </div>

		<span id="buttonPanel-bottom" class="floatRight">
			#if($grants.mayWrite())
				<input type="submit" name="save"  
					#if($event.parent_event_id)
						value="${placeholderWithTranslation.unterveranstaltungspeichern}" 
					#else
						value="${placeholderWithTranslation.veranstaltungspeichern}"
					#end
				class="mainButton"/>
			#end
			<input type="button" name="cancel" 
				#if($event.parent_event_id)
					value="${placeholderWithTranslation.zurunterveranstaltungsubersicht}"
				#else
					value="${placeholderWithTranslation.zurveranstaltungsubersicht}"
				#end
			class="mainButton" onclick="window.location.href='SearchEvent?action=event&search=reset&selectNone=true';" />
		</span>

    </form>
    <div class="clear"></div>

</div>

<script type="text/javascript">
	function deleteEventPrecondition() {
		$('<input>').attr({ type: 'hidden', id: 'remove', name: 'remove' }).appendTo($('#formlist'));
		document.formlist.submit();
	}

	function saveEventPrecondition() {
		$('<input>').attr({ type: 'hidden', id: 'save', name: 'save' }).appendTo($('#formlist'));
		document.formlist.submit();
	}

	#if(!$grants.mayWrite())
		disableForm(document.getElementById('formlist'));
	#end
</script>

#parse("inc/footer.vm")