#set($activeMenu = "Veranstaltungen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EVENT_EXPORT_DATA}: $!message.plain($event.shortname)")
#parse("inc/header.vm")

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>${placeholderWithTranslation.siesindhier}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">Home</a> > ${placeholderWithTranslation.zurstartseite} > <a href="${paths.staticWeb}do/ShowPersonSearch?action=person" title="${placeholderWithTranslation.zurpersonensuche}">${placeholderWithTranslation.personensuche}</a> > Suchergebnis</span>
    </div>

	<h1>${placeholderWithTranslation.steuerdatei}</h1>

    #parse("inc/event-header.vm")

    #if($exportCalc)

    <form id="ExportForm" action="ShowExportGuestDoctype" method="post">

		<h2 class="marginTop20 marginBottom10">${placeholderWithTranslation.dokumenttypauswahlen}</h2>

		<p class="inlineLabel">
			<label for="doctype">${placeholderWithTranslation.GENERIC_DOCUMENT_TYPE_SINGULAR}</label>
			<select name="doctype"  onChange="document.getElementById('ExportForm').action='ShowExportGuestDoctype'; submit();" id="doctype">
    			#foreach($bean in $allEventDoctype)
    			<option value="$!bean.doctype" #if($bean.doctype == $exportCalc.doctype) selected#end>$!message.text($!bean.name)</option>
    			#end
    		</select>
		</p>

		<h3 class="marginTop30 marginBottom10">${placeholderWithTranslation.datenbearbeiten}</h3>

		<div class="table">
			<div class="tableRow">
				<div class="tableCell">
					<label for="total">${placeholderWithTranslation.GENERIC_CHOSEN_GUESTLIST}</label>
				</div>
				<div class="tableCell">
					<input type="text" id="total" name="total" value="$!exportCalc.total" class="width15" vera-disabled />
				</div>
			</div>

			<div class="tableRow">
				<div class="tableCell">
					<label for="available">${placeholderWithTranslation.exportierfahigegasteliste}</label>
				</div>
				<div class="tableCell">
					<input type="text" name="available" id="available" value="$!exportCalc.available" class="width15" vera-disabled />
				</div>
			</div>

        	#if($exportCalc.total > $exportCalc.available)
            #set($diff = $exportCalc.total - $exportCalc.available)
        			<div class="tableRow">
        				<div class="tableCell">
        					<label for="diff">${placeholderWithTranslation.unvollstandigegasteliste}</label>
        				</div>
        				<div class="tableCell">
        					<input type="text" id="diff" name="diff" value="$!diff" class="width15" vera-disabled />
        				</div>
        			</div>
            #end
		</div>

       	<h3 class="marginBottom10 marginTop25" id="sortHeadline">${placeholderWithTranslation.SORT_CRITERIA}</h3>

		<div class="table" id="sort">
        		<div class="tableRow">
        			<div class="tableCell">
        				<label for="sort1">${placeholderWithTranslation.CONTINUAL_NUMBER}</label>
        			</div>
        			<div class="tableCell">
        				<select name="sort1" id="sort1">
                            #if($search.listorder == "lastname_a_e1" || $search.listorder == "firstname_a_e1" || $search.listorder == "mail_a_e1")
                            			<option value="orderno">${placeholderWithTranslation.CONTINUAL_NUMBER}</option>
                            			<option value="name" selected>${placeholderWithTranslation.GENERIC_NAME}</option>
                            			<option value="country">${placeholderWithTranslation.land}</option>
                            			<option value="zipcode">${placeholderWithTranslation.plz}</option>
                            			<option value="category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</option>
                            			<option value="rank">${placeholderWithTranslation.rang}</option>
                            			<option value="table">${placeholderWithTranslation.tisch}</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</option>
                            #else
                            			<option value="orderno">${placeholderWithTranslation.CONTINUAL_NUMBER}</option>
                            			<option value="name">${placeholderWithTranslation.GENERIC_NAME}</option>
                            			<option value="country">${placeholderWithTranslation.land}</option>
                            			<option value="zipcode">${placeholderWithTranslation.plz}</option>
                            			<option value="category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</option>
                            			<option value="rank">${placeholderWithTranslation.rang}</option>
                            			<option value="table">${placeholderWithTranslation.tisch}</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</option>
                            #end
                    	</select>
        			</div>
        		</div>
        		<div class="tableRow">
        			<div class="tableCell"><label for="sort2">${placeholderWithTranslation.anschliesendnach}</label></div>
        			<div class="tableCell">
            			<select name="sort2" id="sort2">
                            			<option value=""></option>
                            #if($search.listorder == "lastname_a_e1" || $search.listorder == "firstname_a_e1" || $search.listorder == "mail_a_e1")
                            			<option value="orderno">${placeholderWithTranslation.CONTINUAL_NUMBER}</option>
                            			<option value="name">${placeholderWithTranslation.GENERIC_NAME}</option>
                            			<option value="country">${placeholderWithTranslation.land}</option>
                            			<option value="zipcode">${placeholderWithTranslation.plz}</option>
                            			<option value="category" selected>${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</option>
                            			<option value="rank">${placeholderWithTranslation.rang}</option>
                            			<option value="table">${placeholderWithTranslation.tisch}</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</option>
                            #else
                            			<option value="orderno">${placeholderWithTranslation.CONTINUAL_NUMBER}</option>
                            			<option value="name" selected>${placeholderWithTranslation.GENERIC_NAME}</option>
                            			<option value="country">${placeholderWithTranslation.land}</option>
                            			<option value="zipcode">${placeholderWithTranslation.plz}</option>
                            			<option value="category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</option>
                            			<option value="rank">${placeholderWithTranslation.rang}</option>
                            			<option value="table">${placeholderWithTranslation.tisch}</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</option>
                            #end
                		</select>
        			</div>
        		</div>
        		<div class="tableRow">
        			<div class="tableCell"><label for="sort3">${placeholderWithTranslation.anschliesendnach}</label></div>
        			<div class="tableCell">
        				<select name="sort3" id="sort3" >
                            #if($search.listorder == "lastname_a_e1" || $search.listorder == "firstname_a_e1" || $search.listorder == "mail_a_e1")
                            			<option value=""></option>
                            			<option value="orderno">${placeholderWithTranslation.CONTINUAL_NUMBER}</option>
                            			<option value="name" selected>${placeholderWithTranslation.GENERIC_NAME}</option>
                            			<option value="country">${placeholderWithTranslation.land}</option>
                            			<option value="zipcode">${placeholderWithTranslation.plz}</option>
                            			<option value="category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</option>
                            			<option value="rank">${placeholderWithTranslation.rang}</option>
                            			<option value="table">${placeholderWithTranslation.tisch}</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</option>
                            #else
                            			<option value="" selected></option>
                            			<option value="orderno">${placeholderWithTranslation.CONTINUAL_NUMBER}</option>
                            			<option value="name" selected>${placeholderWithTranslation.GENERIC_NAME}</option>
                            			<option value="country">${placeholderWithTranslation.land}</option>
                            			<option value="zipcode">${placeholderWithTranslation.plz}</option>
                            			<option value="category">${placeholderWithTranslation.GENERIC_CATEGORY_SINGULAR}</option>
                            			<option value="rank">${placeholderWithTranslation.rang}</option>
                            			<option value="table">${placeholderWithTranslation.tisch}</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</option>
                            #end
            		</select>
        		</div>
        	</div>
        </div>


    <vera-info>
		${placeholderWithTranslation.GUESTLIST_FILTER_EXPORT_INFO}
    </vera-info>

    #if($exportCalc.total > $exportCalc.available)
    <vera-info>
        #if ($diff == 1)
        <strong>${placeholderWithTranslation.GUEST_CANNOT_BE_EXPORTED_1}</strong> ${placeholderWithTranslation.GUEST_CANNOT_BE_EXPORTED_2} <strong>${placeholderWithTranslation.GUEST_CANNOT_BE_EXPORTED_3}</strong> ${placeholderWithTranslation.GUEST_CANNOT_BE_EXPORTED_4},
        ${placeholderWithTranslation.PERSON_MISSING_DOCTYPE_SPECIFIC_DATA}.
        #else
        <strong>$!diff ${placeholderWithTranslation.GUESTS_CANNOT_BE_EXPORTED_1}</strong> ${placeholderWithTranslation.GUESTS_CANNOT_BE_EXPORTED_2} <strong>${placeholderWithTranslation.GUESTS_CANNOT_BE_EXPORTED_3}</strong> ${placeholderWithTranslation.GUESTS_CANNOT_BE_EXPORTED_4},
        ${placeholderWithTranslation.PERSONS_MISSING_DOCTYPE_SPECIFIC_DATA}.
        #end
    </vera-info>
    #end

	<div class="textRight marginTop10" id="buttonPanel-bottom">

		<input type="button" name="export" value="${placeholderWithTranslation.exportieren}" title="${placeholderWithTranslation.exportieren}" class="mainButton" onclick="document.getElementById('ExportForm').action='ExportGuestDoctype/export.${extension}'; submit();">
		<input type="button" name="cancel" value="${placeholderWithTranslation.zuruckzurgasteliste}" title="${placeholderWithTranslation.zuruckzurgasteliste}" class="mainButton" onclick="window.location.href='ShowGuestList?selectNone=true';">

    </div>

    </form>

    #else

    <vera-info>
		${placeholderWithTranslation.EVENT_NO_DOCTYPES_ASSIGNED}.
    </vera-info>

    <div class="textRight marginTop10" id="buttonPanel-bottom">

		<input type="button" name="cancel" value="${placeholderWithTranslation.zuruckzurgasteliste}" title="${placeholderWithTranslation.zuruckzurgasteliste}" class="mainButton" onclick="window.location.href='ShowGuestList?selectNone=true';" class="mainButton" />
		<input type="button" name="cancel" value="${placeholderWithTranslation.GENERIC_TO_EVENTDETAIL}" title="${placeholderWithTranslation.GENERIC_TO_EVENTDETAIL}" class="mainButton" onclick="window.location.href='ShowEventDoctype?id=$!event.id';" class="mainButton" />

    </div>

    #end
</div>



#parse("inc/footer.vm")
