#set($charportIm = 1)
#set($activeMenu = "Personen")
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_IMPORT_PERSONDATA}")
#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_PERSON}")
#set($entity="PERSON")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_PERSON_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_PERSON_PLURAL}")
#parse("inc/header.vm")

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong>
        <span>
            <a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">
                ${placeholderWithTranslation.GENERIC_HOME}
            </a> > ${placeholderWithTranslation.GENERIC_PERSON_PLURAL} > ${placeholderWithTranslation.GENERIC_IMPORT_PERSONS}
        </span>
    </div>

    <h1>
        ${placeholderWithTranslation.GENERIC_IMPORT_FROM_PERSONS_DATA}
    </h1>

    #if($errors.size() > 0 || $importStatus.invalidData)
        <vera-warn>
            #if($importStatus.invalidData == "importSource")
                ${placeholderWithTranslation.siehabenkeinedatenherkunftangegeben}
            #elseif($importStatus.invalidData == "fileExtension")
                #if($importStatus.fileextension == "ods")
                    ${placeholderWithTranslation.HINT_IMPORT_NOT_POSSIBLE_OPENOFFICE}
                #elseif($importStatus.fileextension == "sxc")
                    ${placeholderWithTranslation.HINT_IMPORT_NOT_POSSIBLE_STAROFFICE}
                #elseif($importStatus.fileextension == "xls")
                    ${placeholderWithTranslation.HINT_IMPORT_NOT_POSSIBLE_EXCEL}
                #elseif($importStatus.fileextension == "pdf")
                    ${placeholderWithTranslation.HINT_IMPORT_NOT_POSSIBLE_PDF}
                #elseif($importStatus.fileextension == "zip")
                    ${placeholderWithTranslation.HINT_IMPORT_NOT_POSSIBLE_ZIP}
                #elseif($importStatus.fileextension == "exe")
                    ${placeholderWithTranslation.HINT_IMPORT_NOT_POSSIBLE_EXE}
                #else
                    ${placeholderWithTranslation.siehabenversuchteinedateimitderendung}
                    $importStatus.fileextension ${placeholderWithTranslation.zuimportierendiesistinderaktuellenversionvonverawebleidernichtmoglich}
                #end
            #elseif($importStatus.invalidData == "inputStream")
                ${placeholderWithTranslation.siehabenkeinedateiausgewahltoderdiesewarleer}
            #elseif($importStatus.invalidData == "errorOnImport")
                ${placeholderWithTranslation.esisteinunerwarteterfehlerbeimimportiereneinerdateiaufgetreten}<br>
                ${placeholderWithTranslation.vermutlichbefindetsichdieimportdateinichtimvomsystemerwartemformat}<br><br>

                ${placeholderWithTranslation.fehlermeldung} <em>&quot;$message.plain($importStatus.message)&quot;</em> &nbsp;&nbsp;&nbsp;
                (<a href="javascript:showBlock(document.getElementById('javastacktrace'));">${placeholderWithTranslation.detailsanzeigen}</a>)

                <pre id="javastacktrace" style="display: none;">
                    $importStatus.exception
                </pre>
            #end

            #foreach($error in $errors)
                $error
            #end
        </vera-warn>
    #end

    <vera-info>
        <p>
            <strong>${placeholderWithTranslation.GENERIC_TOOLTIP}</strong>
        </p>
        ${placeholderWithTranslation.beimimportkonnenfeldinhaltedielangeralsbeiverawebvorgesehensindgekurztubernommenwerden}
    </vera-info>

    <div id="main_content" class="contentBoxColored grayBorder">
        <div class="textRight mandatoryText">
            * = ${placeholderWithTranslation.pflichtfelder}
        </div>

        <form action="ImportPersonsFile" method="post" enctype="multipart/form-data" name="formImport" id="formImport">
            <div class="table width70">
              #if($grants && $grants.isAdmin() && $allOrgUnit)
                <div class="tableRow">
                    <div class="tableCell">
                        <label for="orgUnit">
                            ${placeholderWithTranslation.GENERIC_TARGET_CLIENT}*
                        </label>
                    </div>
                    <div class="tableCell">
                        <span id="orgUnit">
                            #foreach($orgunit in $allOrgUnit)
                                #if($octopusConfig.personalConfig.orgUnitId == $orgunit.id)
                                    $!message.text($orgunit.name)
                                #end
                            #end
                        </span>
                    </div>
                </div>
              #end
                <div class="tableRow">
                    <div class="tableCell">
                        <label for="importSource">
                            ${placeholderWithTranslation.GENERIC_ORIGIN_DATA}*
                        </label>
                    </div>
                    <div class="tableCell">
                        <input type="text" name="importSource" id="importSource" value="$!message.text($importSource)">
                    </div>
                </div>
                <div class="tableRow">
                    <div class="tableCell">
                        <label for="format">
                            ${placeholderWithTranslation.GENERIC_DATA_TYPE}*
                        </label>
                    </div>
                    <div class="tableCell">
                        <select name="format" id="format">
                            #foreach($formatKey in $formats.keySet())
                                #set($format = $formats.get($formatKey))
                                <option value="$formatKey">
                                    #if($format.name == "CSV")
                                        ${placeholderWithTranslation.EXPORT_DATA_TYPE_CSV}
                                    #elseif($format.name == "X-Manage-CSV")
                                        ${placeholderWithTranslation.EXPORT_DATA_TYPE_X_MANAGE_CSV}
                                    #elseif($format.name == "CSVPersdat+Anschrift")
                                        ${placeholderWithTranslation.EXPORT_DATA_TYPE_CSVPERSDATA_ADDRESS}
                                    #elseif($format.name == "CSVPersdat")
                                        ${placeholderWithTranslation.EXPORT_DATA_TYPE_CSVPERSDATA}
                                    #elseif($format.name == "CSVPersdat+Kategorien")
                                        ${placeholderWithTranslation.EXPORT_DATA_TYPE_CSVPERSDATA_CATEGORY}
                                    #end
                                </option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="tableRow">
                    <div class="tableCell">
                        <label for="filenc">
                            ${placeholderWithTranslation.GENERIC_FILE_ENCODING}*
                        </label>
                    </div>
                    <div class="tableCell">
                        <select name="filenc" id="filenc">
#parse("inc/charport.vm")
                        </select>
                    </div>
                </div>
                <div class="tableRow">
                    <div class="tableCell">
                        <label for="importfile">
                            ${placeholderWithTranslation.GENERIC_IMPORT_DATA}*
                        </label>
                    </div>
                    <div class="tableCell">
                        <div id="input_container" style="width: 0px; height: 0px;">
                            <input name="importfile" id="importfile" type="file" size="30" maxlength="100000" accept="text/*" onChange="fileSelected();"/>
                        </div>

                        <div class="button fakeButton" title="${placeholderWithTranslation.GENERIC_UPLOAD_BUTTON}" style="width: 150px;" onclick="upload();">
                            ${placeholderWithTranslation.GENERIC_UPLOAD_BUTTON}
                        </div>
                        <div id="selectedFile" style="padding-top: 3px;"></div>
                    </div>
                </div>
            </div>
        </form>
    </div><!-- End #main_content-->

    <div id="buttonPanel-bottom" class="textRight marginTop10">
        <input name="start" type="button" value="${placeholderWithTranslation.GENERIC_START_IMPORT}" title="${placeholderWithTranslation.GENERIC_START_IMPORT}" class="mainButton" onclick="startImport()">
    </div>
</div>

<script type="text/javascript">

    function upload(){
        document.getElementById('importfile').click();
    }

    function fileSelected() {
        var elem = document.getElementById("importfile").value;
        var res = elem.split("\\");
        var fileName = res[res.length-1];
        console.log(fileName);
        $("div#selectedFile").text(fileName);
    }


    function startImport() {
        hideDialogs();
        showComboboxes();
        htmlWait('${placeholderWithTranslation.GENERIC_PLEASE_WAIT_HEADER}','${placeholderWithTranslation.GENERIC_PLEASE_WAIT_MESSAGE}');
        document.getElementById('formImport').submit();
    }

</script>

##<!-- Bug 1362: Die Möglichkeit, einen bestehenden Exportvorgang zu laden, ist vom AA nicht gewünscht -->
##<br>
##<hr class="contentsection" />
##<br>
##<h1>${placeholderWithTranslation.GENERIC_LOAD_EXISTING_IMPORTPROCESS}</h1>
##<form action="ImportPersonsStoredRecord" method="post" enctype="multipart/form-data">
##<table class="form"><tr>
##	<td><label for="importId">${placeholderWithTranslation.GENERIC_IMPORTID}</label></td>
##	<td align="right">
##	    <input type="text" name="importId" id="importId" value="" >
##	</td>
##</tr><tr>
##	<td>&nbsp;</td>
##	<td>
##		<input name="submit" type="submit" value="Laden" class="submit">
##	</td>
##</tr></table>
##</form>

#parse("inc/footer.vm")
