<html>
 <head>
  <title>Octopus DEMO Applikation</title>
  #parse("style.vm")
 </head>
 <body>
  <h3>Octopus DEMO Applikation</h3>

  <table border="1" cellpadding="3">  
    <tr><th colspan="4">Liste von Adressen</th></tr>
    <tr>
     <td><b>Anrede</b></td>
     <td><b>Name</b></td>
     <td><b>Vorname</b></td>
     <td><b>&nbsp;</b></td>
    </tr>
  #foreach($address in $addresses)
    <tr>
     <td>$!address.salutation&nbsp;</td>
     <td>$!address.lastname&nbsp;</td>
     <td>$!address.firstname&nbsp;</td>
     <td><a href="/demo/do/viewPerson?id=$address.pk">Detail</a></td>
    </tr>
  #end
  </table>
</html>
