#set($title = "Anmelden")
#parse("inc/header.vm")

<form action="default" method="post" target="_top" onsubmit="if(document.getElementById('loginasproxy').checked) { this.action = 'LoginAsProxy'; this.task.value = 'LoginAsProxy'; }">

<h1 class="marginTop25">${placeholderWithTranslation.login}</h1>

<div class="table">
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.username">${placeholderWithTranslation.benutzername}</label>
        	<input type="text" id="input.username" name="username">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
        	<label for="input.password">${placeholderWithTranslation.passwort}</label>
        	<input type="password" id="input.password" name="password">
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell inlineLabel">
        	<label for="loginasproxy">${placeholderWithTranslation.invertretunganmelden}</label> <input type="checkbox" value="true" name="input.loginasproxy" class="noFloat" id="loginasproxy">
        </div>
    </div>
</div>

<div id="buttonPanel-bottom" class="marginTop5 marginBottom20">
	<input type="submit" class="mainButton" value="${placeholderWithTranslation.anmelden}" title="${placeholderWithTranslation.anmelden}" name="submit" id="button.login" />
	<input type="reset" class="mainButton" value="${placeholderWithTranslation.felderleeren}" title="${placeholderWithTranslation.felderleeren}" name="cancel" id="button.clearFields" />
</div>

<vera-info vera-stay>
	${placeholderWithTranslation.bitteverwendensieihrorganisationskennzeichenoder} <strong>${placeholderWithTranslation.vornamenachname}</strong> ${placeholderWithTranslation.alsbenutzernamen}
</vera-info>


<input name="task" type="hidden" value="default">

#if($responseParams.message && $octopusRequest.task != "Main" && $octopusRequest.task != "ShowLogin")
<vera-warn>
	${placeholderWithTranslation.esisteinfehlerbeideranmeldungaufgetretenbitteuberprufensieihrenbenutzernamenundihrpasswort}
</vera-warn>
#end

</form>

<!--
$responseParams
-->
#parse("inc/footer.vm")
