#set($activeMenu = "Administration")
#if($maildraft && $maildraft.id)
	#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EMAIL_SUBMISSION_EDIT}: $!message.text($maildraft.name)")
#else
	#set($title = "${placeholderWithTranslation.BROWSER_TITLE_EMAIL_SUBMISSION_CREATE}")
#end

#set($elementNameSex = "female")
#set($elementNameSingular = "Vorlage")
#set($elementNamePlural = "Vorlagen")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="" method="POST">
	<input type="hidden" name="save" value="true"/>

	<div id="content_container">
        <div id="breadcrumb" class="textRight marginBottom10">
            <strong>${placeholderWithTranslation.siesindhier}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.home}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.emailvorlage}</span>
        </div>

        <h1>${placeholderWithTranslation.emailvorlage}</h1>

        #if($maildraft.errors.size() > 0)
            <vera-warn>
            	#foreach($error in $maildraft.errors)
            		$!message.plain($error)<br>
            	#end
            </vera-warn>
        #end

    	<input type="hidden" name="maildraft-id" value="$!maildraft.id"/>

    	<div class="textRight bold">* = ${placeholderWithTranslation.pflichtfelder}</div>

        <table class="form">
			<tr>
            	<td class="bold width15"><label for="show-id">${placeholderWithTranslation.id}</label></td>
            	<td><input type="text" id="show-id" name="show-id" value="$!message.text($maildraft.id)" class="id" vera-disabled /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="maildraft-name">${placeholderWithTranslation.namedervorlage}*</label></td>
            	<td><input type="text" id="maildraft-name" name="maildraft-name" maxlength="200" value="$!message.text($maildraft.name)" /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="maildraft-subject">${placeholderWithTranslation.GENERIC_SUBJECT}*</label></td>
            	<td><input type="text" id="maildraft-subject" name="maildraft-subject" maxlength="200" value="$!message.text($maildraft.subject)" /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="maildraft-text">${placeholderWithTranslation.text}*</label></td>
            	<td><textarea cols="50" rows="20" id="maildraft-text" class="width100" name="maildraft-text" >$!message.textarea($maildraft.text)</textarea></td>
            </tr>
			<tr>
            	<td class="bold"><label for="platzhalter">Platzhalter</label></td>
            	<td>
            		<div class="">
            			<select id="platzhalter" name="platzhalter" class="width15" >
            				<option value="firstname">${placeholderWithTranslation.vorname}</option>
            				<option value="lastname">${placeholderWithTranslation.nachname}</option>
            				<option value="salutation">${placeholderWithTranslation.anrede}</option>
            				<option value="title">${placeholderWithTranslation.akadtitel}</option>
            				<option value="function">${placeholderWithTranslation.GENERIC_OFFICIAL_TITLE_SHORT}./${placeholderWithTranslation.GENERIC_FUNCTION_SINGULAR}</option>
            				<option value="company">${placeholderWithTranslation.firmainstitution}</option>
            				<option value="street">${placeholderWithTranslation.strasse}</option>
            				<option value="zipcode">${placeholderWithTranslation.plz}</option>
            				<option value="city">${placeholderWithTranslation.ort}</option>
            				<option value="country">${placeholderWithTranslation.land}</option>
            				<option value="poboxzipcode">${placeholderWithTranslation.postfachplz}</option>
            				<option value="pobox">${placeholderWithTranslation.postfachnummer}</option>
            				<option value="suffix1">$!message.text($!config.suffix1)</option>
            				<option value="suffix2">$!message.text($!config.suffix2)</option>
            				<option value="phone">${placeholderWithTranslation.telefon}</option>
            				<option value="fax">${placeholderWithTranslation.fax}</option>
            				<option value="mobile">${placeholderWithTranslation.mobil}</option>
            				<option value="email">${placeholderWithTranslation.email}</option>
            				<option value="url">${placeholderWithTranslation.www}</option>
            			</select>
            				<input type="button" name="add" value="${placeholderWithTranslation.hinzufugen}" onclick="addPlatzhalter(this);"/>
            		</div>
            	</td>
        	</tr>

            #if ($listparam.count == 0)
            	<tr><td colspan="2">${placeholderWithTranslation.keinedatengefunden}</td></tr>
            #end
        </table>


        <div id="buttonPanel-bottom" class="textRight marginTop10">
        	<input type="submit" name="submit" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" class="mainButton" />
        	<input type="button" name="cancel" value="${placeholderWithTranslation.zuruckzurvorlagenliste}" title="${placeholderWithTranslation.zuruckzurvorlagenliste}" class="mainButton" onclick="window.location.href='MailDraftList?selectNone=true';" />
        </div>
	</div>

</form>

<script type="text/javascript">
	function addPlatzhalter(s) {
		var sel = document.getElementById('platzhalter');
		var text = sel.options[sel.selectedIndex].value;
		if (text.length > 0) {
			insertAtCursor(document.getElementById('maildraft-text'), '<' + text + '>');
		}
	}
</script>

#parse("inc/footer.vm")
