#if($octopusConfig.personalConfig.role)
 #set($title = "${placeholderWithTranslation.BROWSER_TITLE_ROLE_WITH} $octopusConfig.personalConfig.role")
#elseif($octopusConfig.personalConfig.roles)
 #set($title = "${placeholderWithTranslation.BROWSER_TITLE_ROLE_AVAILABLE} $octopusConfig.personalConfig.roles")
#else
 #set($title = "${placeholderWithTranslation.BROWSER_TITLE_ROLE_WITHOUT_INFO}")
#end
#set($title = "${placeholderWithTranslation.BROWSER_TITLE_SUCCESSFUL_LOGIN_ONE} $title ${placeholderWithTranslation.BROWSER_TITLE_SUCCESSFUL_LOGIN_TWO}.")
##foreach($gg in $octopusConfig.personalConfig.userGroups)
##set($title = "$title $gg")
##end
#parse("inc/header.vm")


<div id="content_container">

    #if($errors && $errors.size() > 0)
    <vera-warn>
    	#foreach($error in $errors)
    		$error<br>
    	#end
    	<br>
    	${EskannzuunerwartetenFehlernkommenBittewendenSiesichanIhrenAdministrator}
    </vera-warn>
    #end

    	<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>${placeholderWithTranslation.siesindhier}:</strong> <span>${placeholderWithTranslation.home}</span>
    	</div>

    <h1 class="marginTop25">${placeholderWithTranslation.willkommenbeiveraweb}</h1>

    #if($grants.isUser())
    ##<P>
    ##	Hallo $!{octopusConfig.personalConfig.userGivenName} $!{octopusConfig.personalConfig.userLastName}.
    ##</P>

    #if($grants.mayReadStandardFields() || $grants.mayReadRemarkFields())
    <P>
    	${placeholderWithTranslation.WELCOME_TEXT_ONE}
      #if($grants.mayReadStandardFields())
    	${placeholderWithTranslation.WELCOME_TEXT_TWO}
      #end
      #if($grants.mayReadRemarkFields())
       #if($grants.mayReadStandardFields())
    	${placeholderWithTranslation.WELCOME_TEXT_AND}
       #end
    	${placeholderWithTranslation.WELCOME_TEXT_THREE}
      #end
    	${placeholderWithTranslation.WELCOME_TEXT_FOUR}
      #if($grants.mayWrite())
    	${placeholderWithTranslation.WELCOME_TEXT_FIVE}
       #if($grants.mayExport())
    	${placeholderWithTranslation.WELCOME_TEXT_SIX}
       #end
    	${placeholderWithTranslation.WELCOME_TEXT_SEVEN}
      #elseif($grants.mayExport())
    	${placeholderWithTranslation.WELCOME_TEXT_EIGHT}
      #else
      #end
    </P>
     #end
     #if($grants.isPartialAdmin() || $grants.isAdmin())
    <P>
    	${placeholderWithTranslation.WELCOME_TEXT_TEN}
      #if($grants.isPartialAdmin())
    	${placeholderWithTranslation.WELCOME_TEXT_ELEVEN}
      #end
      #if($grants.isAdmin())
       #if($grants.isPartialAdmin())
    	${placeholderWithTranslation.WELCOME_TEXT_AND}
       #end
    	${placeholderWithTranslation.WELCOME_TEXT_TWELVE}
      #end
    	${placeholderWithTranslation.WELCOME_TEXT_THIRTEEN}
    </P>
     #end
    <P>
    	${placeholderWithTranslation.WELCOME_TEXT_FOURTEEN}
    </P>
    #elseif($octopusConfig.personalConfig.roles)
     #parse("inc/role-chooser.vm")
    #else
    <P>
    	${placeholderWithTranslation.WELCOME_TEXT_FIFTEEN}
    </P>
    #end

</div>


<!--
$responseParams
-->
#parse("inc/footer.vm")
