#if($octopusConfig.personalConfig.role)
 #set($title = "mit der Rolle $octopusConfig.personalConfig.role")
#elseif($octopusConfig.personalConfig.roles)
 #set($title = "mit verf&uuml;gbaren Rollen $octopusConfig.personalConfig.roles")
#else
 #set($title = "ohne Rolleninformationen")
#end
#set($title = "Sie wurden erfolgreich $title am System angemeldet.")
##foreach($gg in $octopusConfig.personalConfig.userGroups)
##set($title = "$title $gg")
##end
#parse("inc/header.vm")


<div id="content_container">

    #if($errors && $errors.size() > 0)
    <vera-warn>
    	#foreach($error in $errors)
    		$error<br>
    	#end
    	<br>
    	${EskannzuunerwartetenFehlernkommenBittewendenSiesichanIhrenAdministrator}
    </vera-warn>
    #end

    	<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>${placeholderWithTranslation.siesindhier}:</strong> <span>${placeholderWithTranslation.home}</span>
    	</div>

    <h1 class="marginTop25">${placeholderWithTranslation.willkommenbeiveraweb}</h1>

    #if($grants.isUser())
    ##<P>
    ##	Hallo $!{octopusConfig.personalConfig.userGivenName} $!{octopusConfig.personalConfig.userLastName}.
    ##</P>

    #if($grants.mayReadStandardFields() || $grants.mayReadRemarkFields())
    <P>
    	${placeholderWithTranslation.welcome_text_one}
      #if($grants.mayReadStandardFields())
    	${placeholderWithTranslation.welcome_text_two}
      #end
      #if($grants.mayReadRemarkFields())
       #if($grants.mayReadStandardFields())
    	${placeholderWithTranslation.welcome_text_and}
       #end
    	${placeholderWithTranslation.welcome_text_three}
      #end
    	${placeholderWithTranslation.welcome_text_four}
      #if($grants.mayWrite())
    	${placeholderWithTranslation.welcome_text_five}
       #if($grants.mayExport())
    	${placeholderWithTranslation.welcome_text_six}
       #end
    	${placeholderWithTranslation.welcome_text_seven}
      #elseif($grants.mayExport())
    	${placeholderWithTranslation.welcome_text_eight}
      #else
    	${placeholderWithTranslation.welcome_text_nine}
      #end
    </P>
     #end
     #if($grants.isPartialAdmin() || $grants.isAdmin())
    <P>
    	${placeholderWithTranslation.welcome_text_ten}
      #if($grants.isPartialAdmin())
    	${placeholderWithTranslation.welcome_text_eleven}
      #end
      #if($grants.isAdmin())
       #if($grants.isPartialAdmin())
    	${placeholderWithTranslation.welcome_text_and}
       #end
    	${placeholderWithTranslation.welcome_text_twelve}
      #end
    	${placeholderWithTranslation.welcome_text_thirteen}
    </P>
     #end
    <P>
    	${placeholderWithTranslation.welcome_text_fourteen}
    </P>
    #elseif($octopusConfig.personalConfig.roles)
     #parse("inc/role-chooser.vm")
    #else
    <P>
    	${placeholderWithTranslation.welcome_text_fifteen}
    </P>
    #end

</div>


<!--
$responseParams
-->
#parse("inc/footer.vm")
