#if($octopusConfig.personalConfig.role)
 #set($title = "mit der Rolle $octopusConfig.personalConfig.role")
#elseif($octopusConfig.personalConfig.roles)
 #set($title = "mit verf&uuml;gbaren Rollen $octopusConfig.personalConfig.roles")
#else
 #set($title = "ohne Rolleninformationen")
#end
#set($title = "Sie wurden erfolgreich $title am System angemeldet.")
##foreach($gg in $octopusConfig.personalConfig.userGroups)
##set($title = "$title $gg")
##end
#parse("inc/header.vm")


<div id="content_container">

    #if($errors && $errors.size() > 0)
    <vera-warn>
    	#foreach($error in $errors)
    		$error<br>
    	#end
    	<br>
    	${EskannzuunerwartetenFehlernkommenBittewendenSiesichanIhrenAdministrator}
    </vera-warn>
    #end

    	<div id="breadcrumb" class="textRight marginBottom10">
    		<strong>${placeholderWithTranslation.Siesindhier}:</strong> <span>${placeholderWithTranslation.Home}</span>
    	</div>

    <h1 class="marginTop25">${placeholderWithTranslation.WillkommenbeiVerAweb}</h1>

    #if($grants.isUser())
    ##<P>
    ##	Hallo $!{octopusConfig.personalConfig.userGivenName} $!{octopusConfig.personalConfig.userLastName}.
    ##</P>

    #if($grants.mayReadStandardFields() || $grants.mayReadRemarkFields())
    <P>
    	${placeholderWithTranslation.SiehabenhierdieMoeglichkeit}
      #if($grants.mayReadStandardFields())
    	${placeholderWithTranslation.Stammdatenvon}
      #end
      #if($grants.mayReadRemarkFields())
       #if($grants.mayReadStandardFields())
    	${placeholderWithTranslation.und}
       #end
    	${placeholderWithTranslation.Bemerkungenzu}
      #end
    	${placeholderWithTranslation.PersonenundVeranstaltungen}
      #if($grants.mayWrite())
    	${placeholderWithTranslation.anzuzeigenzu}
       #if($grants.mayExport())
    	${placeholderWithTranslation.exund}
       #end
    	${placeholderWithTranslation.importierenzubearbeitenundzuloeschen}
      #elseif($grants.mayExport())
    	${placeholderWithTranslation.anzuzeigenundzuexportieren}
      #else
    	${placeholderWithTranslation.anzuzeigen}.
      #end
    </P>
     #end
     #if($grants.isPartialAdmin() || $grants.isAdmin())
    <P>
    	${placeholderWithTranslation.WeiterhinkoennenSie}
      #if($grants.isPartialAdmin())
    	${placeholderWithTranslation.mandantenspezifische}
      #end
      #if($grants.isAdmin())
       #if($grants.isPartialAdmin())
    	${placeholderWithTranslation.und}
       #end
    	${placeholderWithTranslation.globale}
      #end
    	${placeholderWithTranslation.Einstellungeneinsehenundbearbeiten}
    </P>
     #end
    <P>
    	${placeholderWithTranslation.SolltenSieweitereInformationenbenoetigenfindenSiedieseaufderSeiteHilfe}.
    </P>
    #elseif($octopusConfig.personalConfig.roles)
     #parse("inc/role-chooser.vm")
    #else
    <P>
    	${placeholderWithTranslation.ZuIhrerAnmeldungexistierenkeineRollenunterdenenSieinVerAwebagierenkoennenBittemeldenSiesichabundmiteinerBenutzeroderRollenkennungerneutandieinVerAwebnutzbarist}.
    </P>
    #end

</div>


<!--
$responseParams
-->
#parse("inc/footer.vm")
