#set($activeMenu = "Administration")
## $Id$
#set($title = "${placeholderWithTranslation.GENERIC_CLIENT_PLURAL}")

#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_CLIENT}")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_CLIENT_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_CLIENT_PLURAL}")
#parse("inc/header.vm")

#if($missingorgunit.result == "done")
<vera-success>
	${placeholderWithTranslation.alledatensatzewurdenerfolgreichmandantenzugeordnet}
</vera-success>
#end

<div id="content_container">

    <div id="breadcrumb" class="textRight marginBottom10">
    	<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.home}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.mandanten}</span>
    </div>

	<h1>${placeholderWithTranslation.mandanten}</h1>

    <div class="tabs contentBox grayBorder marginBottom10 marginTop20" id="main_content">
		<div class="event" id="tabsMain">
			<ul vera-tab-group="" class="gray-gradient"> <!-- Bitte das End-tag der <li>s immer mit in die nächste Zeile nehmen (verhindert Mozilla styling bug) -->
				<li class="inactiv"><a href="Orgunit?selectNone=true" class="noBorder"><div>Mandanten</div></a>
				</li><li vera-tab-default="" vera-tab="database" class="active"><div>${placeholderWithTranslation.datenbank}</div>
				</li>
			</ul>
		</div>


		<form action="$octopusRequest.task" method="POST">
			<div class="contentBoxColored tabsContent" vera-content="database">

                <h2 class="marginBottom10">${placeholderWithTranslation.nichtmandantenzugeordnetedaten}</h2>

                <table><tr>
                	<td class="width15 bold"><label for="person">${placeholderWithTranslation.personen}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.person)" id="person" vera-disabled></td>
                	<td class="width15 bold"><label for="event">${placeholderWithTranslation.veranstaltungen}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.event)" id="event" vera-disabled></td>

                </tr><tr>
                	<td class="width15 bold"><label for="import">${placeholderWithTranslation.importvorgange}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.import)" id="import" vera-disabled></td>
                	<td class="width15 bold"><label for="importPerson">${placeholderWithTranslation.importpersonen}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.importperson)" id="importPerson" vera-disabled></td>

                </tr><tr>
                	<td class="width15 bold"><label for="venue">${placeholderWithTranslation.veranstaltungsorte}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.location)" id="venue" vera-disabled></td>
                	<td class="width15 bold"><label for="mailinglist">${placeholderWithTranslation.verteiler}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.mailinglist)" id="mailinglist" vera-disabled></td>

                </tr><tr>
                	<td class="width15 bold"><label for="kats">${placeholderWithTranslation.kategorien}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.category)" id="kats" vera-disabled></td>
                	<td class="width15 bold"><label for="users">${placeholderWithTranslation.benutzer}:</label></td>
                	<td><input type="text" value="$!message.text($missingorgunit.user)" id="users" vera-disabled></td>
                </tr><tr>
                </tr></table>

                <h2 class="marginBottom10 marginTop30">${placeholderWithTranslation.mandantenzuordnen}</h2>
                #if(!$allOrgUnit || $allOrgUnit.size() == 0)
                	<vera-warn>
                		${placeholderWithTranslation.esexistiertnochkeinmandant}
                	</vera-warn>
                #else
                <table><tr>
                	<td class="width15 bold"><label for="orgunit">${placeholderWithTranslation.mandant}:</label></td>
                	<td>
                		<select name="orgunit" id="orgunit">
                		#foreach($m in $allOrgUnit)
                			<option value="$!m.id">$!message.text($!m.name)</option>
                		#end
                		</select>
                	</td>
                </tr></table>
                #end

                </div>

  			<span id="buttonPanel-bottom" class="floatRight marginTop10">
				<input type="submit" name="submit" value="Zuordnen" title="${placeholderWithTranslation.zuordnen}" class="mainButton">
  			</span>


       </form>
	</div>
</div>



#parse("inc/footer.vm")
