#set($activeMenu = "Administration")
#if($pdftemplate && $pdftemplate.id)
	#set($title = "${placeholderWithTranslation.BROWSER_TITLE_PDF_TEMPLATE_EDIT}: $!message.text($pdftemplate.name)")
	#set($successMsg = "${placeholderWithTranslation.GM_PDF_TEMPLATE_MODIFY_S}")
	#set($errorMsg = "${placeholderWithTranslation.BROWSER_TITLE_ERROR_OCCURS}: ${placeholderWithTranslation.GM_PDF_TEMPLATE_MODIFY_N}")
#else
	#set($title = "${placeholderWithTranslation.BROWSER_TITLE_PDF_TEMPLATE_CREATE}")
	#set($successMsg = "${placeholderWithTranslation.GM_PDF_TEMPLATE_INSERT_S}")
	#set($errorMsg = "${placeholderWithTranslation.BROWSER_TITLE_ERROR_OCCURS}: ${placeholderWithTranslation.GM_PDF_TEMPLATE_INSERT_N}")
#end

#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_PDF_TEMPLATE}")
#set($entity="PDF_TEMPLATE")
#set($elementNameSingular = "${placeholderWithTranslation.GENERIC_PDF_TEMPLATE_SINGULAR}")
#set($elementNamePlural = "${placeholderWithTranslation.GENERIC_PDF_TEMPLATE_PLURAL}")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="${paths.staticWeb}pdftemplate/edit" method="POST">
	<input type="hidden" name="save" value="true"/>

	<div id="content_container">
		<script src="${paths.staticWeb}scripts/jquery.form.min.js"></script>

        <div id="breadcrumb" class="textRight marginBottom10">
            <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.administration} > ${placeholderWithTranslation.pdfvorlagen}</span>
        </div>

        <h1>${placeholderWithTranslation.pdfvorlage}</h1>

        #if($pdftemplate.errors.size() > 0)
            <vera-warn>
            	#foreach($error in $pdftemplate.errors)
            		$!message.plain($error)<br>
            	#end
            </vera-warn>
        #end

    	<input type="hidden" name="pdftemplate-id" value="$!pdftemplate.id"/>

    	<div class="textRight bold">* = ${placeholderWithTranslation.pflichtfelder}</div>

        <table class="form">
			<tr>
            	<td class="bold width15"><label for="show-id">${placeholderWithTranslation.GENERIC_ID}</label></td>
            	<td><input type="text" id="show-id" name="show-id" value="$!message.text($pdftemplate.id)" class="id" vera-disabled /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="pdftemplate-name">${placeholderWithTranslation.GENERIC_TEMPLATE_NAME}*</label></td>
            	<td><input type="text" id="pdftemplate-name" name="pdftemplate-name" maxlength="200" value="$!message.text($pdftemplate.name)" /></td>
            </tr>

            #if ($listparam.count == 0)
            	<tr><td colspan="2">${placeholderWithTranslation.GENERIC_NO_DATA_FOUND}.</td></tr>
            #end
        </table>


        <div id="buttonPanel-bottom" class="textRight marginTop10">
        	<input type="submit" name="submit" value="${placeholderWithTranslation.speichern}" title="${placeholderWithTranslation.speichern}" class="mainButton" />
        	<input type="button" name="cancel" value="${placeholderWithTranslation.GENERIC_BACK_TO_TEMPLATES_LIST}" title="${placeholderWithTranslation.GENERIC_BACK_TO_TEMPLATES_LIST}" class="mainButton" onclick="window.location.href='PdfTemplateList?selectNone=true';" />
        </div>
	</div>

</form>

<script type="text/javascript">

	function addPlatzhalter(s) {
		var sel = document.getElementById('platzhalter');
		var text = sel.options[sel.selectedIndex].value;
		if (text.length > 0) {
			insertAtCursor(document.getElementById('pdftemplate-text'), '<' + text + '>');
		}
	}

	function disableSubmitButton() {
	    $('input[type="button"]').attr('disabled', 'disabled').addClass('disabled');
		$('[type="submit"]').attr('disabled', 'disabled').addClass('disabled');
	}

    function enableSubmitButton() {
        $('input[type="button"]').removeAttr('disabled').removeClass('disabled');
        $('[type="submit"]').removeAttr('disabled').removeClass('disabled');
    }

	$(document).ready(function() {

	    var options = {
	        beforeSubmit: function() {
                disableSubmitButton();
            },
            error: function() {
                $(".errormsg").remove();
                $(".successmsg").remove();
                showWarning('$errorMsg');
                enableSubmitButton();
            },
            success: function () {
                $(".errormsg").remove();
                $(".successmsg").remove();
                showSuccess('$successMsg');
                enableSubmitButton();
            }
        };

	    $('#formlist').ajaxForm(options);

    });

</script>

#parse("inc/footer.vm")
