
#if($action == "Personen")
	#set($activeMenu = "Personen")
    #set($title = "${placeholderWithTranslation.BROWSER_TITLE_PERSON_SEARCH}")
#end

#set($elementNameSex = "${placeholderWithTranslation.GENDER_TYPE_PERSON}")
#set($elementNameSingular = "GENERIC_PERSON_SINGULAR")
#set($elementNamePlural = "GENERIC_PERSON_PLURAL")
#parse("inc/header.vm")

<div id="content_container">
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>${placeholderWithTranslation.GENERIC_YOU_ARE_HERE}:</strong> <span><a href="${paths.staticWeb}do/" title="${placeholderWithTranslation.zurstartseite}">${placeholderWithTranslation.GENERIC_HOME}</a> > ${placeholderWithTranslation.GENERIC_PERSON_PLURAL} > ${placeholderWithTranslation.personensuche}</span>
    </div>

    <h1>${placeholderWithTranslation.personensuche}</h1>

	<div id="main_content" class="contentBoxColored grayBorder marginBottom20">

        <h2><label for="searchfield">${placeholderWithTranslation.suche}</label></h2>

        <form action="SearchPerson" id="peopleSearch_form" method="post">
            <input type="hidden" name="start" value="0">
            <input type="hidden" name="selectAll" value="false">
            <input type="hidden" name="selectNone" value="true">
			<input type="hidden" name="search" value="reset">
			<input type="hidden" name="searchTask" value="personSearchTask">


            <div class="tableCell width30">
                <input type="text" name="searchField" id="searchfield" value="$!message.text($search.searchField)"  />
            </div>


            <div id="buttonPanel-bottom" class="textRight">
                    <input type="submit" class="mainButton submit" name="search" value="${placeholderWithTranslation.suchen}" title="${placeholderWithTranslation.suchen}" />
                    <input type="button" class="mainButton submit" name="cancel" value="${placeholderWithTranslation.erweitertesuche}" title="${placeholderWithTranslation.erweitertesuche}" onclick="window.location.href='${paths.staticWeb}do/ShowPersonSearch?action=person&search=clear'" />
            </div>

        </form>
    </div>
    <vera-info vera-stay>
	    ${placeholderWithTranslation.siekoennenbeidersuchesogenannteplatzhalterverwendenderstehtfuermehrereunddasfuereinzelnezeichen}. <br/>
        ${placeholderWithTranslation.HINT_SEARCH_WHERE}<br/>
		${placeholderWithTranslation.undamtsbezeichnungfunktion}.
    </vera-info>
</div>

#parse("inc/footer.vm")
