<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
	<head>
		<title>${placeholderWithTranslation.personenetikett}</title>
		## Style
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all">
	    <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
	    ## Abwärtskompatibilität
	    <script type="text/javascript" src="${paths.staticWeb}js/ext/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>
		## Utils
		<script type="text/javascript" src="${paths.staticWeb}scripts/utils.js"></script>
		## Tabs und Popups
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-tabs.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-popup.js"></script>
		## Calendar
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/calendar.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/calendar-setup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/lang/calendar-${placeholderWithTranslation.language_short}.js"></script>
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}jscalendar/calendar-win2k-cold-1.css" media="all">
		## Browser-Cache deaktivieren
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
	</head>
	<body onload="selectAll(document.getElementById('exportText'));">
		<form action="" method="post">
		<div class="contentBoxColored grayBorder padding20">
			<strong>${placeholderWithTranslation.markierenundkopierensiefolgendesadressetikett}</strong>

			<textarea class="width100" style="height:150px" id="exportText" name="exportText">$!message.textarea($personExport)</textarea>

			<div id="buttonPanel-bottom" class="textRight">
				<input type="button" value="${placeholderWithTranslation.schliessen}"  onclick="closePopup();">
			</div>
		</div>
		</form>
	</body>
</html>
