<html>
 <head>
  <title>Octopus DEMO Applikation</title>
  #parse("style.vm")
 </head>
 <body>
  <h3>Octopus DEMO Applikation</h3>

  <table border="1" cellpadding="3">  
    <tr><th colspan="2">Adressansicht: $!address.firstname $!address.lastname</th></tr>
    <tr>
     <td>Anrede</td>
     <td>$!address.salutation&nbsp;</td>
    </tr>
    <tr>
     <td>Name</td>
     <td>$!address.lastname&nbsp;</td>
    </tr>
    <tr>
     <td>Vorname</td>
     <td>$!address.firstname&nbsp;</td>
    </tr>
    <tr>
     <td>Alter</td>
     <td>$!address.age&nbsp;</td>
    </tr>
    <tr>
  </table>
  <a href="javascript:history.back()">Zurück</a>
</html>
