
<table class="kategorie">
	<tr>
		<td class="kategorieName" style="width: 30%;"><nobr><strong>Veranstaltungsort</strong></nobr></td>
		<td class="kategorieName" style="width: 30%;"><nobr><strong>Veranstaltungsname</strong></nobr></td>
		<td class="kategorieName" style="width: 25%;"><nobr><strong>Gastgeber</strong></nobr></td>
		<td class="kategorieName" style="width: 15%;"><nobr><strong>Datum</strong></nobr></td>
	</tr>
</table>

#set($count = 0)
#foreach($bean in $result)
#set($count = $count + 1)
<table class="kategorie">
	<tr>
		<td class="kategorieName" style="width: 30%;">$!message.plain($bean.location)</td>
		<td class="kategorieName" style="width: 30%;">$!message.plain($bean.shortname)</td>
		<td class="kategorieName" style="width: 25%;">
			$!message.plain($bean.lastname)#if($bean.lastname.length() > 0 && $bean.firstname.length() > 0), #end$!message.plain($bean.firstname)
		</td>
		<td class="kategorieName" style="width: 15%;">$!message.date("DATE", $bean.datebegin)</td>
	</tr>
</table>
#end

#if($count > 0)
	<table style="width: 100%;">
		<tr>
			<td style="text-align: right;"><h2>Anzahl:</h2></td>
			<td style="width: 20px;">&nbsp;</td>
			<td style="width: 100px"><h3>$count</h3></td>
		</tr>
	</table>
#end
