#set($activeMenu = "Veranstaltungen")
#set($title = "Steuerdatei erzeugen f&uuml;r Veranstaltung: $!message.plain($event.shortname)")
#parse("inc/header.vm")

<div id="content_container">
	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > <a href="${paths.staticWeb}do/ShowPersonSearch?action=person" title="Zur Personensuche">Personensuche</a> > Suchergebnis</span>
    </div>
    
	<h1>Steuerdatei</h1>
    
    #parse("inc/event-header.vm")
    
    #if($exportCalc)
    
    <form id="ExportForm" action="ShowExportGuestDoctype" method="post">
		
		<h2 class="marginTop20 marginBottom10">Dokumenttyp auswählen</h2>
		
		<p class="inlineLabel">
			<label for="doctype">Dokumenttyp</label>
			<select name="doctype"  onChange="document.getElementById('ExportForm').action='ShowExportGuestDoctype'; submit();" id="doctype">
    			#foreach($bean in $allEventDoctype)
    			<option value="$!bean.doctype" #if($bean.doctype == $exportCalc.doctype) selected#end>$!message.text($!bean.name)</option>
    			#end
    		</select>
		</p>
    
		<h3 class="marginTop30 marginBottom10">Daten bearbeiten</h3>
		
		<div class="table">
			<div class="tableRow">
				<div class="tableCell">
					<label for="total">Ausgew&auml;hlte G&auml;ste</label>
				</div>
				<div class="tableCell">
					<input type="text" id="total" name="total" value="$!exportCalc.total" class="width15" vera-disabled />
				</div>
			</div>
			
			<div class="tableRow">
				<div class="tableCell">
					<label for="available">Exportierf&auml;hige G&auml;ste</label>
				</div>
				<div class="tableCell">
					<input type="text" name="available" id="available" value="$!exportCalc.available" class="width15" vera-disabled />					
				</div>
			</div>
    
        	#if($exportCalc.total > $exportCalc.available)
            #set($diff = $exportCalc.total - $exportCalc.available)
        			<div class="tableRow">
        				<div class="tableCell">
        					<label for="diff">Unvollst&auml;ndige G&auml;ste</label>
        				</div>
        				<div class="tableCell">
        					<input type="text" id="diff" name="diff" value="$!diff" class="width15" vera-disabled />
        				</div>
        			</div>
            #end
		</div>

       	<h3 class="marginBottom10 marginTop25" id="sortHeadline">Sortierkriterien</h3>
				
		<div class="table" id="sort">
        		<div class="tableRow">
        			<div class="tableCell">
        				<label for="sort1">Sortieren nach</label>
        			</div>
        			<div class="tableCell">
        				<select name="sort1" id="sort1">
                            #if($search.listorder == "lastname_a_e1" || $search.listorder == "firstname_a_e1" || $search.listorder == "mail_a_e1")
                            			<option value="orderno">Laufende Nummer</option>
                            			<option value="name" selected>Name</option>
                            			<option value="country">Land</option>
                            			<option value="zipcode">PLZ</option>
                            			<option value="category">Kategorie</option>
                            			<option value="rank">Rang</option>
                            			<option value="table">Tisch</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">Arbeitsbereich</option>
                            #else
                            			<option value="orderno">Laufende Nummer</option>
                            			<option value="name">Name</option>
                            			<option value="country">Land</option>
                            			<option value="zipcode">PLZ</option>
                            			<option value="category">Kategorie</option>
                            			<option value="rank">Rang</option>
                            			<option value="table">Tisch</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">Arbeitsbereich</option>
                            #end
                    	</select>
        			</div>
        		</div>
        		<div class="tableRow">
        			<div class="tableCell"><label for="sort2">Anschließend nach</label></div>
        			<div class="tableCell">
            			<select name="sort2" id="sort2">
                            			<option value=""></option>
                            #if($search.listorder == "lastname_a_e1" || $search.listorder == "firstname_a_e1" || $search.listorder == "mail_a_e1")
                            			<option value="orderno">Laufende Nummer</option>
                            			<option value="name">Name</option>
                            			<option value="country">Land</option>
                            			<option value="zipcode">PLZ</option>
                            			<option value="category" selected>Kategorie</option>
                            			<option value="rank">Rang</option>
                            			<option value="table">Tisch</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">Arbeitsbereich</option>
                            #else
                            			<option value="orderno">Laufende Nummer</option>
                            			<option value="name" selected>Name</option>
                            			<option value="country">Land</option>
                            			<option value="zipcode">PLZ</option>
                            			<option value="category">Kategorie</option>
                            			<option value="rank">Rang</option>
                            			<option value="table">Tisch</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">Arbeitsbereich</option>
                            #end
                		</select>
        			</div>
        		</div>
        		<div class="tableRow">
        			<div class="tableCell"><label for="sort3">Anschließend nach</label></div>
        			<div class="tableCell">
        				<select name="sort3" id="sort3" >
                            #if($search.listorder == "lastname_a_e1" || $search.listorder == "firstname_a_e1" || $search.listorder == "mail_a_e1")
                            			<option value=""></option>
                            			<option value="orderno">Laufende Nummer</option>
                            			<option value="name">Name</option>
                            			<option value="country">Land</option>
                            			<option value="zipcode">PLZ</option>
                            			<option value="category">Kategorie</option>
                            			<option value="rank" selected>Rang</option>
                            			<option value="table">Tisch</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">Arbeitsbereich</option>
                            #else
                            			<option value="" selected></option>
                            			<option value="orderno">Laufende Nummer</option>
                            			<option value="name">Name</option>
                            			<option value="country">Land</option>
                            			<option value="zipcode">PLZ</option>
                            			<option value="category">Kategorie</option>
                            			<option value="rank">Rang</option>
                            			<option value="table">Tisch</option>
                            ## modified to support workareas as per change request for version 1.2.0
                            ## cklein
                            ## 2008-02-26
                            			<option value="workareaname">Arbeitsbereich</option>
                            #end
            		</select>
        		</div>
        	</div>
        </div>
			
    
    <vera-info>
		Sollten Sie in der G&auml;steliste eine Filterung getroffen haben, werden nur die
		ausgew&auml;hlten G&auml;ste exportiert.
    </vera-info>
    
    #if($exportCalc.total > $exportCalc.available)
    <vera-info>
        #if ($diff == 1)
        <strong>Ein Gast</strong> kann <strong>nicht exportiert</strong> werden,
        weil zu dieser Person keine entsprechenden Dokumenttyp
        spezifische Daten gespeichert worden sind.
        #else
        <strong>$!diff G&auml;ste</strong> k&ouml;nnen <strong>nicht exportiert</strong> werden,
        weil nicht zu jeder Person entsprechende Dokumenttyp
        spezifische Daten gespeichert worden sind.
        #end
    </vera-info>
    #end
    
	<div class="textRight marginTop10" id="buttonPanel-bottom">
    
		<input type="button" name="export" value="Exportieren" title="Exportieren" class="mainButton" onclick="document.getElementById('ExportForm').action='ExportGuestDoctype/export.${extension}'; submit();">
		<input type="button" name="cancel" value="Zur&uuml;ck zur G&auml;steliste" title="Zur&uuml;ck zur G&auml;steliste" class="mainButton" onclick="window.location.href='ShowGuestList?selectNone=true';">
    
    </div>
    
    </form>
    
    #else
    
    <vera-info>
		Der Veranstaltung wurden noch keine Dokumenttypen zugeordnet.
    </vera-info>
    
    <div class="textRight marginTop10" id="buttonPanel-bottom">
    
		<input type="button" name="cancel" value="Zur&uuml;ck zur G&auml;steliste" title="Zur&uuml;ck zur G&auml;steliste" class="mainButton" onclick="window.location.href='ShowGuestList?selectNone=true';" class="mainButton" />
		<input type="button" name="cancel" value="Zu den Veranstaltungsdetails" title="Zu den Veranstaltungsdetails" class="mainButton" onclick="window.location.href='ShowEventDoctype?id=$!event.id';" class="mainButton" />
    
    </div>
    
    #end
</div>



#parse("inc/footer.vm")