#set($activeMenu = "Administration")
#set($title = "Arbeitsbereiche")
#set($elementNameSex = "male")
#set($elementNameSingular = "Arbeitsbereich")
#set($elementNamePlural = "Arbeitsbereiche")
#parse("inc/header.vm")	

<div id="content_container">

	<div id="breadcrumb" class="textRight marginBottom10">
	    	<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Administration > Arbeitsbereiche</span>
	</div>
		
	<h1>Arbeitsbereiche</h1>

	<form id="formlist" name="formlist" action="WorkArea" method="POST">
		<input type="hidden" name="doInsert" value="true">
		<input type="hidden" name="doUpdate" value="true">
		<input type="hidden" name="doRemove" value="true">
		<input type="hidden" name="start" value="">
		<input type="hidden" name="selectNone" value="true">
		<input type="hidden" name="limit" value="" />
		

		<span class="inlineLabel" id="actionPanel">
			<strong>Markierte(n) Arbeitsbereich(e)</strong>
			<input type="submit" name="remove" value="L&ouml;schen" class="button" title="markierte Eintr&auml;ge entfernen" />
		</span>

		<div id="main_content">
		
			#if($listerrors.size() > 0)
			<vera-warn>
				#foreach($error in $listerrors)
					$error<br>
				#end
			</vera-warn>
			#end
			
			#foreach($bean in $list)
			<input type="hidden" name="list" value="$bean.id">
			#end
			<table>
				<tr>
					<th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren" #if($listselection.size() == $list.size()) checked#end/></th>
					<th class="smallCell textCenter">ID</th>
					<th>Arbeitsbereiche</th>
				</tr>
				<tr>
					<td class="textCenter""><input type="hidden" id="add-modified" name="add-modified" value="false"><input type="checkbox" name="add-select" value="true"  style="display: none;"></td>
					<td class="textCenter"><input type="hidden" name="add-id" value=""><em>neu</em></td>
					<td><input type="text" name="add-name" maxlength="250" value="" onchange="setModified('add')"></td>
				</tr>
				#foreach($bean in $list)
				<tr>
					<td class="textCenter"><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true"></td>
					<td class="textCenter"><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!bean.id</td>
					<td><input type="text" name="${bean.id}-name" value="$!message.text($bean.name)"  onchange="setModified('$!bean.id')"></td>
				</tr>
				#end
    			#if ($listparam.count == 0)
                    <tr>
						<td colspan="99">Es wurden keine Daten gefunden</td>
					</tr>
    			#end
				
				#set($itemName = "Arbeitsbereiche")
				#parse("inc/list-navi-new.vm")
				#parse("inc/list-direct-new.vm")
				
			</table>
			
			<div class="textRight marginTop10" id="buttonPanel-bottom">
				<input type="submit" name="save" value="Speichern" title="Speichern" class="mainButton" />			
			</div>
		
		</div>
</form>
</div>

#parse("inc/footer.vm")