/*
 * Standard-Design
 */
table {
	border: none;
	empty-cells: show;
}
th {
	font-size: 11px;
	font-family: sans-serif;
	text-align: left;
	vertical-align: middle;
}
td {
	font-size: 11px;
	font-family: sans-serif;
	text-align: left;
	vertical-align: top;
}
img {
	border: 0px;
}
p, div, span, font, pre {
	font-size: 11px;
	font-family: sans-serif;
	color: #000000;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}

.inline {
	dispaly:inline;
}