/*-
 * VerA.web CSS to override other included ones
 */

/* override jquery.tagsinput.css */

div.tagsinput span.tag {
	border:1px solid #BDBDBD;
	border-radius:2px;
	padding:1px 5px;
	text-decoration:inherit;
	background:#F9F9F9 none repeat scroll 0 0;
	color:#1B1B1B;
}

div.tagsinput span.tag a {
	color:#8B0F08;
	text-decoration:inherit;
	border:medium none;
}

/* override vex-theme-default.css */

.vex.vex-theme-default .vex-dialog-form .vex-dialog-input textarea, .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="date"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="datetime"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="datetime-local"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="email"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="month"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="number"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="password"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="search"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="tel"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="text"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="time"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="url"], .vex.vex-theme-default .vex-dialog-form .vex-dialog-input input[type="week"] {
	margin:10px 0 .25em;
}

.vex.vex-theme-default .vex-dialog-button.vex-dialog-button-primary {
	background:#8B0F08;
}
