<!DOCTYPE HTML>
<html>
	<head>
		<title>VerA.web - $!title</title>
##		Browser-Cache deaktivieren
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
##		Utils
		<script type="text/javascript" src="${paths.staticWeb}scripts/jquery.min.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/utils.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/clipboard.js"></script>
##		Tabs und Popups
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-tabs.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-popup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-dialogs.js"></script>
##		Calendar (http://www.dynarch.com/projects/calendar/)
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/calendar.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/calendar-setup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/lang/calendar-de.js"></script>
		<script>
			document.createElement("header");
			document.createElement("nav");
			document.createElement("section");
			document.createElement("footer");
		</script>			
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}jscalendar/calendar-win2k-cold-1.css" media="all" />
##		WCH - Windowed Controls Hider (http://www.aplus.co.yu/wch/intro/)
##		<!--[if IE]>
		<script type="text/javascript" src="${paths.staticWeb}scripts/WCH.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/vera-tabs.js"></script>
##		<![endif]-->
##		Style
	    <link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
		<!--link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all"-->
		<!--link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/screen.css" media="screen,projection" title="Ausw&auml;rtiges Amt Intranet-Stil"-->
	</head>
	<body>
		<div id="container" #if($event) class="event" #end>
        	<header id="header">
        		<a href="${paths.staticWeb}do/" title="Zur Startseite" class="noBorder"><img src="${paths.staticWeb}images/veraweb_logo.png" alt="VerA.web Logo"></a>
					#if($grants && $grants.isAuthenticated())
            			<div id="topNav"> 			
            				<ul>
    							#if($config.helplink)
    								<li><a href="${paths.staticWeb}$config.helplink" #if($config.helptarget) target="$config.helptarget" #end>Hilfe</a></li>
    							#else
    								<li title="Die Hilfe wurde noch nicht hinterlegt">Hilfe</li>
    							#end
            					<li><a id="menu.logout" href="${paths.staticWeb}do/logout" class="noBorder"> <span class="borderBottom">Abmelden</span> <img src="${paths.staticWeb}images/logout.png" alt="Logout icon" title="Logout" style="vertical-align:middle;" /></a></li>
            				</ul>
            			</div>
            			<div id="user">
            				<strong>Benutzer:</strong> $octopusConfig.personalConfig.userName#if($octopusConfig.personalConfig.proxy) / <strong>In Vertretung f&uuml;r:</strong> $octopusConfig.personalConfig.role #end
            			</div>
					#end
        	</header>
            
			#parse("inc/menu.vm")
			
			#if($elementNameSingular && $elementNameSingular != "" && $elementNamePlural && $elementNamePlural != "" && $elementNameSex && $elementNameSex != "")
				#if($elementNameSex && $elementNameSex == "female") 
					#set($prefNo = "keine")
					#set($prefOne = "eine")
					#set($prefNew = "neue")
				#else
					#set($prefNo = "kein")
					#set($prefOne = "ein")
					#set($prefNew = "neuer")
				#end
				#set($noElement = "$prefNo $elementNameSingular")
				#set($noNewElement = "$prefNo $prefNew $elementNameSingular")
				#set($oneElement = "$prefOne $elementNameSingular")
				#set($oneNewElement = "$prefOne $prefNew $elementNameSingular")
				#set($severalElements = "$elementNamePlural")
				#set($severalNewElements = "neue $elementNamePlural")
			#else
				#set($noElement = "kein Datensatz")
    			#set($noNewElement = "kein neuer Datensatz")
    			#set($oneElement = "ein Datensatz")
    			#set($oneNewElement = "ein neuer Datensatz")
    			#set($severalElements = "Datensätze")
    			#set($severalNewElements = "neue Datensätze")
			#end

            #if($countInsert && $countInsert > 0)
            	<vera-success>
            		#if($countInsert == 0)
						Es wurde $noNewElement angelegt.
            		#elseif($countInsert == 1)
            			Es wurde $oneNewElement angelegt.
            		#else
            			Es wurden $countInsert $severalNewElements angelegt.
            		#end
            	</vera-success>
            #end
            #if($countUpdate && $countUpdate > 0)
            	<vera-success>
            		#if($countUpdate == 0)
            			Es wurde $noElement ge&auml;ndert.
            		#elseif($countUpdate == 1)
            			Es wurde $oneElement ge&auml;ndert.
            		#else
            			Es wurden $countUpdate $severalElements ge&auml;ndert.
            		#end
            	</vera-success>
            #end
            #if($countRemove && $countRemove >= 0)
				
            	## Extra If Verzweigung um überflüssige Success Meldung von Löschen von Personen(Aus Detailansicht) auszublenden.
				#if($noElement == "keine Person")
					
				#else 
				<vera-success>
            		#if($countRemove == 0)
            			Es wurde $noElement gel&ouml;scht.
            		#elseif($countRemove == 1)
            			Es wurde $oneElement gel&ouml;scht.
            		#else
            			Es wurden $countRemove $severalElements gel&ouml;scht.
            		#end
            	</vera-success>
				
				## Extra If Verzweigung um überflüssige Success Meldung von Löschen von Personen(Aus Detailansicht) auszublenden.
				#end
				
            #end
	

