#if ($listparam.count > 0)

    #set($start = $listparam.start + 1)
    #set($stop = $listparam.start + $list.size())
    
	<tr class="colspan">
		<td colspan="99">
			
			<span class="amount" id="listnavitext">$start - $stop von $listparam.count $itemName | Anzahl pro Seite 
    			<input type="button" #if($listparam.limit == 10) class="active"#end value="10" title="10 Datens&auml;tze anzeigen lassen" onclick="navigateLimit(10);"/>
    			<input type="button" #if($listparam.limit == 25) class="active"#end value="25" title="25 Datens&auml;tze anzeigen lassen" onclick="navigateLimit(25);"/>
    			<input type="button" #if($listparam.limit == 50) class="active"#end value="50" title="50 Datens&auml;tze anzeigen lassen" onclick="navigateLimit(50);"/>
				<input type="button" #if($listparam.limit == 9999999) class="active"#end value="Alle" title="Alle Datens&auml;tze anzeigen lassen" onclick="navigateLimit(9999999);"/>
			</span>
			
			#set($pageNumber = $listparam.start / $listparam.limit + 1)
			
			<span class="paging floatRight textRight">Seite $pageNumber von $listparam.pages
				<ul>
					#if($listparam.start == $listparam.first)
						<li class="img" id="page-first"><img src="${paths.staticWeb}images/paging_arrow_left_last.png" title="Erste Seite" style="cursor: pointer;"></li>
                    #else
						<li class="img" id="page-first"><img src="${paths.staticWeb}images/paging_arrow_left_last_active.png" onclick="navigateList($listparam.first);" title="Erste Seite" style="cursor: pointer;"></li>
					#end
					#if($listparam.start == $listparam.prev)
						<li class="img" id="page-previous"><img src="${paths.staticWeb}images/paging_arrow_left.png" title="Vorherige Seite" style="cursor: pointer;"></li>
                    #else
						<li class="img" id="page-previous"><img src="${paths.staticWeb}images/paging_arrow_left_active.png" onclick="navigateList($listparam.prev);" title="Vorherige Seite" style="cursor: pointer;"></li>
					#end
					
					
					#set($ol = $listparam.start + ($listparam.limit * -5))
                    #set($or = $listparam.start + ($listparam.limit *  5))
                    #if($ol < 0)
                    	#set($or = $or - $ol - $listparam.limit)
                    	#set($ol = 0)
                    #elseif($or > $listparam.last)
                    	#set($ol = $ol - ($or - $listparam.last) + $listparam.limit)
                    	#set($or = $listparam.last)
                    #end
        
                    #foreach($p in [1..$listparam.pages])
                    	#set($s = ($p - 1) * $listparam.limit)
                    	#if($listparam.pages < 10 || ($s >= $ol && $s <= $or))
                        	#if ($s == $listparam.start)
    							<li id="page-$p">$p</li>
                        	#else
    							<li><a id="page-$p" href="javascript:navigateList($s);">$p</a></li>
                        	#end
                    	#end
                    #end		
						
					
					#if($listparam.start == $listparam.next)
						<li class="img" id="page-next"><img src="${paths.staticWeb}images/paging_arrow_right.png" title="N&auml;chste Seite" style="cursor: pointer;"/></li>
                    #else
						<li class="img" id="page-next"><img src="${paths.staticWeb}images/paging_arrow_right_active.png" onclick="navigateList($listparam.next);" title="N&auml;chste Seite" style="cursor: pointer;"/></li>
                    #end
					#if($listparam.start == $listparam.last)
						<li class="img" id="page-last"><img src="${paths.staticWeb}images/paging_arrow_right_last.png" title="Letzte Seite" style="cursor: pointer;"/></li>
                    #else
						<li class="img" id="page-last"><img src="${paths.staticWeb}images/paging_arrow_right_last_active.png" onclick="navigateList($listparam.last);" title="Letzte Seite" style="cursor: pointer;"/></li>
                    #end	
				</ul>
			</span>
			
		</td>
	</tr>
#end
