### As there is a minor styling bug in Firefox, which adds a non-removable space 
### between <li>s, it is necessary to write </li><li> right next to each other in the code. 
### Please don't change that!  

<nav id="nav" class="gray-gradient grayBorder box-shadow marginBottom10">
	#if($grants && $grants.isAuthenticated())
		<ul>
			#if($grants.mayReadStandardFields() || $grants.mayReadRemarkFields())
                <li #if ($activeMenu == "Personen") class="active" #end >
    				<span>Personen</span>
    				<ul>
    					<li><a id="menu.overviewPerson" href="${paths.staticWeb}do/SearchPerson?action=person&search=reset&findAll=true&selectNone=true">Personen&uuml;bersicht</a></li>
    					#if($grants.mayWrite())
        					<li><a id="menu.searchPerson" href="${paths.staticWeb}do/ShowPersonSearchSimple?action=person&search=clear">Personensuche</a></li>
        					<li><a id="menu.newPerson" href="${paths.staticWeb}do/CreatePerson?action=person">Neue Person</a></li>
						#end
						#if($grants.isUser())
							#if($grants.mayWrite())
								<li><a id="menu.searchReplace" href="${paths.staticWeb}do/ShowReplacePerson">Suchen &amp; Ersetzen</a></li>
            					<li><a id="menu.searchDuplicate" href="${paths.staticWeb}do/PersonDuplicateSearch?selectNone=true">Dublettensuche</a></li>
							#end
							#if($grants.mayExport())
								<li><a id="menu.exportPerson" href="${paths.staticWeb}do/ExportPersons">Personenexport</a></li>
							#end
							#if($grants.mayWrite())
								<li><a id="menu.importPerson"href="${paths.staticWeb}do/ImportPersons">Personenimport</a></li>
							#end
						#end
    				</ul>
    			</li><li #if ($activeMenu == "Veranstaltungen") class="active" #end >
    				<span>Veranstaltungen</span>
    				<ul>
    					<li><a id="menu.overviewEvent" href="${paths.staticWeb}do/SearchEvent?action=event&search=reset&selectNone=true">Veranstaltungs&uuml;bersicht</a></li>
    					#if($grants.mayWrite())
        					<li><a id="menu.searchEvent" href="${paths.staticWeb}do/ShowEventSearch?action=event">Veranstaltungssuche</a></li>
        					<li><a id="menu.newEvent" href="${paths.staticWeb}do/CreateEvent?action=event">Neue Veranstaltung</a></li>
						#end
						#if($grants.isUser())
        					<li><a id="menu.mailingList" href="${paths.staticWeb}do/ShowMailinglistList?selectNone=true">Verteiler</a></li>
    						#if($grants.mayExport())
    							<li><a id="menu.statistic" href="${paths.staticWeb}do/Statistik">Statistiken</a></li>
    						#end
						#end
    				</ul>
    			</li>#end<li #if ($activeMenu == "Verwaltung") class="active" #end >
				<span>Verwaltung</span>
				<ul>
					#if($grants.isUser())
						<li><a id="menu.userConfig" href="${paths.staticWeb}do/UserConfig">Einstellungen</a></li>
						#if(!$octopusConfig.personalConfig.proxy)
							<li><a id="menu.proxy" href="${paths.staticWeb}do/Proxy?selectNone=true">Vertretungen</a></li>
						#end
					#elseif(!$octopusConfig.personalConfig.role)
						<li><a id="menu.chooseRole" href="${paths.staticWeb}do/default">Rolle w&auml;hlen</a></li>
					#end
					<li><a id="menu.info" href="${paths.staticWeb}do/Info">Info</a></li>
				</ul>
			</li>#if($grants.isUser() || $grants.isSystemUser())<li #if ($activeMenu == "Administration") class="active" #end >
    				<span>Administration</span>
    				<ul>
						#if($grants.isAdmin())
							<li><a id="menu.salutation" href="${paths.staticWeb}do/Salutation?start=0&selectNone=true">Anreden</a></li>
						#end
						#if($grants.isAdmin())
							<li><a id="menu.workarea" href="${paths.staticWeb}do/WorkArea?start=0&selectNone=true">Arbeitsbereiche</a></li>
						#end
						#if($grants.isAdmin())				
							<li><a id="menu.allUser" href="${paths.staticWeb}do/AllUser?start=0&selectNone=true">Benutzer</a></li>	
    					#else
							#if($grants.isSystemUser())
								<li><a id="menu.allUser" href="${paths.staticWeb}do/AllUser?start=0&selectNone=true">Benutzer</a></li>	
							#elseif($grants.isPartialAdmin())
    							<li><a id="menu.user" href="${paths.staticWeb}do/OUUser?start=0&selectNone=true">Benutzer</a></li>
    						#end
						#end
						#if($grants.isAdmin())
							<li><a id="menu.doctype" href="${paths.staticWeb}do/Doctype?start=0&selectNone=true">Dokumenttypen</a></li>
						#end
        				#if($grants.isAdmin() || $grants.isPartialAdmin())
        					<li><a id="menu.mailOutbox" href="${paths.staticWeb}do/MailOutboxList?start=0&selectNone=true">E-Mail-Postausgang</a></li>
        				#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
        					<li><a id="menu.mailDraft" href="${paths.staticWeb}do/MailDraftList?start=0&selectNone=true">E-Mail-Vorlagen</a></li>
        				#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
							<li><a id="menu.color" href="${paths.staticWeb}do/Color">Farben</a></li>
						#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
        					<li><a id="menu.function" href="${paths.staticWeb}do/Function?start=0&selectNone=true">Funktionen/Amtsbezeichnungen</a></li>
						#end
						#if($grants.isUser())
							<li><a id="menu.category" href="${paths.staticWeb}do/Categorie?start=0&selectNone=true">Kategorien</a></li>
						#end
						#if($grants.isAdmin() || $grants.isSystemUser())
        					<li><a id="menu.orgunit" href="${paths.staticWeb}do/Orgunit?start=0&selectNone=true">Mandanten</a></li>
						#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
							<li><a id="menu.config" href="${paths.staticWeb}do/Config">Programmeinstellungen</a></li>
						#end
						#if($grants.isAdmin())
							<li><a id="menu.reports" href="${paths.staticWeb}do/ChangeLogReport">Reports</a></li>
						#end
						#if($grants.isAdmin())
							<li><a id="menu.allProxy" href="${paths.staticWeb}do/AllProxy?start=0&selectNone=true">Stellvertretungen</a></li>
						#elseif($grants.isPartialAdmin())
    						<li><a id="menu.proxy" href="${paths.staticWeb}do/OUProxy?start=0&selectNone=true">Stellvertretungen</a></li>
						#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
							<li><a id="menu.location" href="${paths.staticWeb}do/Location?start=0&selectNone=true">Veranstaltungsorte</a></li>
						#end
    				</ul>
    			</li>
			#end
		</ul>
	#end
</nav>

