<form id="formlist" name="formlist" action="${paths.staticWeb}do/ShowPersonDoctypeList" method="post">
<input type="hidden" name="id" value="$!person.id">
<input type="hidden" name="start" value="">
<input type="hidden" name="limit" value="">
<input type="hidden" name="selectNone" value="true">
<input type="hidden" name="doUpdate" value="true">
<input type="hidden" name="doRemove" value="true">
	
<input type="hidden" id="tab" name="tab" value = "$!{octopusRequest.tab}"/>
<input type="hidden" id="show" name="show" value = "$!{octopusRequest.show}"/>

#foreach($bean in $list)
#if($bean.id)
<input type="hidden" name="list" value="$bean.id">
#end
#end


    #if($grants.mayWrite())
        <span id="actionPanel" class="inlineLabel">
            <label>Markierte(n) Dokumenttyp(en)
                <input type="submit" title="Markierte(n) Dokumenttyp(en) entfernen" value="Entfernen" name="remove" />
            </label>
		</span>

		<span id="buttonPanel-top" class="textRight floatRight">
         <input id="buttonMain" class="mainButton" type="button" onclick="window.location.href='${paths.staticWeb}do/CreateAllPersonDoctypes?id=$!person.id&tab=$!octopusRequest.tab&show=$!octopusRequest.show';" value="Alle erzeugen" name="create">
            <input class="mainButton" type="submit" value="Änderungen speichern" title="Änderungen speichern" name="save" />
		</span>
    #end


    <table class="notBold">
	<tr>
        #if($grants.mayWrite())
        <th class="textCenter smallCell"><input type="checkbox" name="" id="toggleAllSelect" title="Alle (de)markieren" #if($listselection.size() == $list.size()) checked#end #if(!$grants.mayWrite()) vera-disabled#end /></th>
        #end
        <th>Dokumenttyp</th>
        <th class="textCenter smallCell">Anschrift</th>
        <th class="textCenter smallCell">Zeichensatz</th>
        <th class="textCenter smallCell">Aktionen</th>
	</tr>
	#foreach($bean in $list)
	<tr>
        #if($grants.mayWrite())
			<td class="textCenter"><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end></td>
		#end
		<input type="hidden" name="${bean.id}-id" value="$!bean.id"/>
		<input type="hidden" name="${bean.id}-person" value="$!bean.person"/>
		<td #if($bean.id) onclick="window.location.href='${paths.staticWeb}do/ShowPersonDoctype?persondoctype-id=$!bean.id&tab=$!octopusRequest.tab&show=$!octopusRequest.show';"#else onclick="window.location.href='${paths.staticWeb}do/CreatePersonDoctype?doctype-id=$!bean.doctypeId&tab=$!octopusRequest.tab&show=$!octopusRequest.show';"#end>$!message.plain($bean.name)</td>

		<td>
			<select id="${bean.id}-addresstype" name="${bean.id}-addresstype" onchange="setModified('${bean.id}')" #if(!$bean.id) vera-disabled #end>
			#if($bean.addresstype && $bean.addresstype != 0)
				<option value="1" #if($bean.addresstype == 1) selected#end>$!message.plain($config.business)</option>
				<option value="2" #if($bean.addresstype == 2) selected#end>$!message.plain($config.private)</option>
				<option value="3" #if($bean.addresstype == 3) selected#end>$!message.plain($config.other)</option>
			#else
				<option value="1" #if($bean.doctypeAddresstype == 1) selected#end>$!message.plain($config.business)</option>
				<option value="2" #if($bean.doctypeAddresstype == 2) selected#end>$!message.plain($config.private)</option>
				<option value="3" #if($bean.doctypeAddresstype == 3) selected#end>$!message.plain($config.other)</option>
			#end
			</select>
		</td>
		<td>
			<select id="${bean.id}-locale" name="${bean.id}-locale" onchange="setModified('${bean.id}')" #if(!$bean.id) vera-disabled #end>
				#if($bean.locale && $bean.locale != 0)
				<option value="1" #if($bean.locale == 1) selected#end>$!message.plain($config.latin)</option>
				<option value="2" #if($bean.locale == 2) selected#end>$!message.plain($config.extra1)</option>
				<option value="3" #if($bean.locale == 3) selected#end>$!message.plain($config.extra2)</option>
				#else
				<option value="1" #if($bean.doctypeLocale == 1) selected#end>$!message.plain($config.latin)</option>
				<option value="2" #if($bean.doctypeLocale == 2) selected#end>$!message.plain($config.extra1)</option>
				<option value="3" #if($bean.doctypeLocale == 3) selected#end>$!message.plain($config.extra2)</option>
				#end
			</select>
		</td>
		#if($bean.id)
		<td class="textCenter">
		## 2009-05-07 c.klein
		## refactored parameterization as part of fix for issue #1528
			#if($grants.mayWrite())
			<a href="${paths.staticWeb}do/ShowPersonDoctype?persondoctype-id=$!bean.id&tab=$!octopusRequest.tab&show=$!octopusRequest.show" class="noBorder"><img src="${paths.staticWeb}images/edit.png" alt="Bearbeiten-Icon" title="Dokumenttyp bearbeiten" /></a>
			#else
			<a href="${paths.staticWeb}do/ShowPersonDoctype?persondoctype-id=$!bean.id&tab=$!octopusRequest.tab&show=$!octopusRequest.show" class="noBorder"><img src="${paths.staticWeb}images/view.png" alt="Ansehen-Icon" title="Dokumenttyp ansehen" /></a>
			#end
		</td>
		#else
		## 2009-05-07 c.klein
		## refactored parameterization as part of fix for issue #1528
		<td class="textCenter">
			#if($grants.mayWrite())
## 2009-05-07 cklein
## introduced createOne as part of issue #1528
			<a href="${paths.staticWeb}do/CreatePersonDoctype?doctype-id=$!bean.doctypeId&tab=$!octopusRequest.tab&show=$!octopusRequest.show" class="noBorder"><img src="${paths.staticWeb}images/add.png" alt="Erzeugen-Icon" title="Dokumenttyp erzeugen" /></a>
## 2009-05-07 cklein
## non existing doctypes cannot be viewed as part of issue #1528
##			#else
##			<a href="${paths.staticWeb}do/ShowPersonDoctype?id=$!person.id&persondoctype-doctype=$!bean.doctypeId">anschauen</a>
			#end
		</td>
		#end
	</tr>
	#end

    #set($itemName = "Dokumenttypen")
    #parse("inc/list-navi-new.vm")
</table>

#if ($listparam.count == 0)
	<br>Keine Daten gefunden.
#end


</form>