## created in order to support direct search result navigation as per change request for version 1.2.0
## cklein
## 2008-02-22

#set( $current = ${navigation.current.offset} + 1 )

<span class="paging">
	<ul>
		#if(!$navigation.first)
			<li class="img inactive"><a><img src="${paths.staticWeb}images/paging_arrow_left_last.png" title="Erste Person" style="cursor: pointer;"></a></li>
        #else
			<li class="img"><a href="${paths.staticWeb}do/ShowPerson?id=${navigation.first.person.id}#if ( $navigation.meta.action && $navigation.meta.action != "" )&action=${navigation.meta.action}#end"><img src="${paths.staticWeb}images/paging_arrow_left_last_active.png" title="Erste Person" style="cursor: pointer;"></a></li>
		#end
		#if(!$navigation.previous)
			<li class="img inactive"><a><img src="${paths.staticWeb}images/paging_arrow_left.png" title="Vorherige Person" style="cursor: pointer;"></a></li>
        #else
			<li class="img"><a href="${paths.staticWeb}do/ShowPerson?id=${navigation.previous.person.id}#if ( $navigation.meta.action && $navigation.meta.action != "" )&action=${navigation.meta.action}#end"><img src="${paths.staticWeb}images/paging_arrow_left_active.png" title="Vorherige Person" style="cursor: pointer;"></a></li>
        #end
		
		Person ${navigation.meta.offset} von ${navigation.meta.count}
				
		#if(!$navigation.next)
			<li class="img inactive"><a><img src="${paths.staticWeb}images/paging_arrow_right.png" title="N&auml;chste Person" style="cursor: pointer;"></a></li>
        #else
			<li class="img"><a href="${paths.staticWeb}do/ShowPerson?id=${navigation.next.person.id}#if ( $navigation.meta.action && $navigation.meta.action != "" )&action=${navigation.meta.action}#end" ><img src="${paths.staticWeb}images/paging_arrow_right_active.png" title="N&auml;chste Person" style="cursor: pointer;"></a></li>
        #end
		#if(!$navigation.last)
			<li class="img inactive"><a><img src="${paths.staticWeb}images/paging_arrow_right_last.png" title="Letzte Person" style="cursor: pointer;"></a></li>
        #else
			<li class="img"><a href="${paths.staticWeb}do/ShowPerson?id=${navigation.last.person.id}#if ( $navigation.meta.action && $navigation.meta.action != "" )&action=${navigation.meta.action}#end"><img src="${paths.staticWeb}images/paging_arrow_right_last_active.png" title="Letzte Person" style="cursor: pointer;"></a></li>
        #end
    </ul>
</span>
