<h2>Als Pressevertreter anmelden:</h2>
<form role="form" id="delegation-form" class="form-signin">
    
    <div class="form-group container">
        <div class="row">
			<div ng-if="success" class="alert alert-success" role="alert">{{success}}</div>
		    <div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

            <select class="form-control" id="gender" ng-model="gender" ng-options="a.label for a in genderOptions" />

            <input type="text" class="form-control" id="firstname" placeholder="Vorname" ng-model="firstname">

            <input type="text" class="form-control" id="lastname" placeholder="Nachname" ng-model="lastname">

            <input type="text" class="form-control" id="email" placeholder="Email" ng-model="email">

            <input type="text" class="form-control" id="address" placeholder="Anschrift" ng-model="address">

            <input type="text" class="form-control" id="plz" placeholder="PLZ" ng-model="plz">

            <input type="text" class="form-control" id="city" placeholder="Stadt" ng-model="city">

            <input type="text" class="form-control" id="country" placeholder="Land" ng-model="country">

            <br/>

            <button type="submit" class="btn btn-custom center-block" ng-disabled="button" ng-click="register_pressevertreter()">Anmelden</button>
        </div>
    </div>
</form>