
<h3>Anmeldung: </h3>{{events.pk}}<br><br>
	
	{{events.shortname}}<br><br>
	
	am {{events.datebegin}}<br><br>


{{eventID}}

	
	
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Offen
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1">Zusage</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1">Absage</a></li>
  </ul>
</div>