Source: veraweb
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Sascha Girrulat <sascha@girrulat.de>
Build-Depends: debhelper (>= 7), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Build-Depends-Indep: libservlet2.5-java, junit4, default-jdk-doc, libservlet2.5-java-doc, libmaven-javadoc-plugin-java 
Standards-Version: 3.9.4
Vcs-Svn: svn://svn.debian.org/svn/pkg-java/trunk/veraweb
Vcs-Browser: http://svn.debian.org/wsvn/pkg-java/trunk/veraweb
Homepage: http://veraweb.evolvis.org/ 

Package: libveraweb-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}
Recommends: ${maven:OptionalDepends}
Suggests: libveraweb-java-doc
Description: veraweb-evolvis-parent
 Veranstaltungsmanagment VerA.web

Package: libveraweb-java-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${maven:DocDepends}
Recommends: ${maven:DocOptionalDepends}
Suggests: libveraweb-java
Description: Documentation for veraweb-evolvis-parent
 Veranstaltungsmanagment VerA.web
 .
 This package contains the API documentation of libveraweb-java.
