<option value="UTF-8">UTF-8 Unicode</option>
#if($charportIm == 1)
<!--
<option value="_auto">${placeholderWithTranslation.GENERIC_AUTO_ENCODING}</option>
-->
#else
<option value="UTF-16LE+BOM">Windows Unicode (UTF-16LE+BOM)</option>
#end
<option value="Big5">Big5</option>
<option value="Big5-HKSCS">Big5-HKSCS</option>
<option value="CESU-8">CESU-8</option>
<option value="cp037">cp037</option>
<option value="cp273">cp273</option>
<option value="cp277">cp277</option>
<option value="cp278">cp278</option>
<option value="cp280">cp280</option>
<option value="cp284">cp284</option>
<option value="cp285">cp285</option>
<option value="cp290">cp290</option>
<option value="cp297">cp297</option>
<option value="cp300">cp300</option>
<option value="cp420">cp420</option>
<option value="cp424">cp424</option>
<option value="cp437">cp437</option>
<option value="cp500">cp500</option>
<option value="cp737">cp737</option>
<option value="cp775">cp775</option>
<option value="cp833">cp833</option>
<option value="cp834">cp834</option>
<option value="cp838">cp838</option>
<option value="cp850">cp850</option>
<option value="cp852">cp852</option>
<option value="cp855">cp855</option>
<option value="cp856">cp856</option>
<option value="cp857">cp857</option>
<option value="cp858">cp858</option>
<option value="cp860">cp860</option>
<option value="cp861">cp861</option>
<option value="cp862">cp862</option>
<option value="cp863">cp863</option>
<option value="cp864">cp864</option>
<option value="cp865">cp865</option>
<option value="cp866">cp866</option>
<option value="cp868">cp868</option>
<option value="cp869">cp869</option>
<option value="cp870">cp870</option>
<option value="cp871">cp871</option>
<option value="cp874">cp874</option>
<option value="cp875">cp875</option>
<option value="cp918">cp918</option>
<option value="cp921">cp921</option>
<option value="cp922">cp922</option>
<option value="cp930">cp930</option>
<option value="cp933">cp933</option>
<option value="cp935">cp935</option>
<option value="cp936">cp936</option>
<option value="cp937">cp937</option>
<option value="cp939">cp939</option>
<option value="cp942">cp942</option>
<option value="cp943">cp943</option>
<option value="cp948">cp948</option>
<option value="cp949">cp949</option>
<option value="cp950">cp950</option>
<option value="cp964">cp964</option>
<option value="cp970">cp970</option>
<option value="cp1006">cp1006</option>
<option value="cp1025">cp1025</option>
<option value="cp1026">cp1026</option>
<option value="cp1046">cp1046</option>
<option value="cp1047">cp1047</option>
<option value="cp1097">cp1097</option>
<option value="cp1098">cp1098</option>
<option value="cp1112">cp1112</option>
<option value="cp1122">cp1122</option>
<option value="cp1123">cp1123</option>
<option value="cp1124">cp1124</option>
<option value="cp1140">cp1140</option>
<option value="cp1141">cp1141</option>
<option value="cp1142">cp1142</option>
<option value="cp1143">cp1143</option>
<option value="cp1144">cp1144</option>
<option value="cp1145">cp1145</option>
<option value="cp1146">cp1146</option>
<option value="cp1147">cp1147</option>
<option value="cp1148">cp1148</option>
<option value="cp1149">cp1149</option>
<option value="cp1166">cp1166</option>
<option value="cp1250">cp1250</option>
<option value="cp1251">cp1251</option>
<option value="cp1252">cp1252</option>
<option value="cp1253">cp1253</option>
<option value="cp1254">cp1254</option>
<option value="cp1255">cp1255</option>
<option value="cp1256">cp1256</option>
<option value="cp1257">cp1257</option>
<option value="cp1258">cp1258</option>
<option value="cp1364">cp1364</option>
<option value="cp1381">cp1381</option>
<option value="cp1383">cp1383</option>
<option value="cp33722">cp33722</option>
<option value="cp50220">cp50220</option>
<option value="cp50221">cp50221</option>
<option value="EUC-JP">EUC-JP</option>
<option value="EUC-JP-Linux">EUC-JP-Linux</option>
<option value="EUC-KR">EUC-KR</option>
<option value="EUC-TW">EUC-TW</option>
<option value="GB2312">GB2312</option>
<option value="GB18030">GB18030</option>
<option value="ISCII">ISCII</option>
<option value="ISO-2022-CN-CNS">ISO-2022-CN-CNS</option>
<option value="ISO-2022-CN-GB">ISO-2022-CN-GB</option>
<option value="ISO-2022-JP">ISO-2022-JP</option>
<option value="ISO-2022-JP-2">ISO-2022-JP-2</option>
<option value="ISO-2022-KR">ISO-2022-KR</option>
<option value="ISO-8859-1">ISO-8859-1</option>
<option value="ISO-8859-2">ISO-8859-2</option>
<option value="ISO-8859-3">ISO-8859-3</option>
<option value="ISO-8859-4">ISO-8859-4</option>
<option value="ISO-8859-5">ISO-8859-5</option>
<option value="ISO-8859-6">ISO-8859-6</option>
<option value="ISO-8859-7">ISO-8859-7</option>
<option value="ISO-8859-8">ISO-8859-8</option>
<option value="ISO-8859-9">ISO-8859-9</option>
<option value="ISO-8859-11">ISO-8859-11</option>
<option value="ISO-8859-13">ISO-8859-13</option>
<option value="ISO-8859-15">ISO-8859-15</option>
<option value="JIS0201">JIS0201</option>
<option value="JIS0208">JIS0208</option>
<option value="JIS0212">JIS0212</option>
<option value="Johab">Johab</option>
<option value="KOI8-R">KOI8-R</option>
<option value="KOI8-U">KOI8-U</option>
<option value="MacArabic">MacArabic</option>
<option value="MacCentralEurope">MacCentralEurope</option>
<option value="MacCroatian">MacCroatian</option>
<option value="MacCyrillic">MacCyrillic</option>
<option value="MacDingbat">MacDingbat</option>
<option value="MacGreek">MacGreek</option>
<option value="MacHebrew">MacHebrew</option>
<option value="MacIceland">MacIceland</option>
<option value="MacRoman">MacRoman</option>
<option value="MacRomania">MacRomania</option>
<option value="MacSymbol">MacSymbol</option>
<option value="MacThai">MacThai</option>
<option value="MacTurkish">MacTurkish</option>
<option value="MacUkraine">MacUkraine</option>
<option value="Shift-JIS">Shift-JIS</option>
<option value="TIS-620">TIS-620</option>
<option value="US-ASCII">US-ASCII</option>
#if($charportIm == 0)
<option value="UTF-8+BOM">UTF-8+BOM</option>
#end
<option value="UTF-16BE">UTF-16BE</option>
#if($charportIm == 0)
<option value="UTF-16BE+BOM">UTF-16BE+BOM</option>
#end
<option value="UTF-16LE">UTF-16LE</option>
<option value="UTF-32BE">UTF-32BE</option>
#if($charportIm == 0)
<option value="UTF-32BE+BOM">UTF-32BE+BOM</option>
#end
<option value="UTF-32LE">UTF-32LE</option>
#if($charportIm == 0)
<option value="UTF-32LE+BOM">UTF-32LE+BOM</option>
#end
<option value="Windows-ISO2022JP">Windows-ISO2022JP</option>
