<div id="guestTop" class="notBold grayBorder contentBox marginBottom20 bgWhite">
	<h3>${placeholderWithTranslation.gastdetails}</h3>
	<div class="table width100">
		## Bug 1591 im Kopf nicht die Stammdaten anzeigen
			#if($showGuestListData)
				#if ($guestListData.firstname && $guestListData.firstname.length() > 0 && $guestListData.lastname && $guestListData.lastname.length() > 0)
					#set($name = "$!guestListData.firstname $!guestListData.lastname")
				#else
					#set($name = "$!guestListData.firstname$!guestListData.lastname")
				#end
				#set($email = "$!guestListData.mail")
				#if ($guestListData.firstname_p && $guestListData.firstname_p.length() > 0 && $guestListData.lastname_p && $guestListData.lastname_p.length() > 0)
					#set($name_p = "$!guestListData.firstname_p $!guestListData.lastname_p")
				#else
					#set($name_p = "$!guestListData.firstname_p$!guestListData.lastname_p")
				#end
				#set($funktion = "$!guestListData.function")
			#else
				#set($facade = $main)
				#if($facade.Firstname && $facade.Firstname.length() > 0 && $facade.Lastname && $facade.Lastname.length() > 0)
					#set($name = "$!facade.Firstname $!facade.Lastname")
				#else
					#set($name = "$!facade.Firstname$!facade.Lastname")
				#end
				#set($email = "$!address.EMail")
				#set($facade = $partner)
				#if($facade.Firstname && $facade.Firstname.length() > 0 && $facade.Lastname && $facade.Lastname.length() > 0)
					#set($name_p = "$!facade.Firstname $!facade.Lastname")
				#else
					#set($name_p = "$!facade.Firstname$!facade.Lastname")
				#end
				#set($funktion = "$!address.Function")
			#end


		<div class="tableRow">
			<div class="tableCell">
                <strong>${placeholderWithTranslation.GENERIC_GUEST_SINGULAR}:</strong>
                $!message.text($name)</div>
			<div class="tableCell">
                <strong>${placeholderWithTranslation.GENERIC_EMAIL_ADDRESS}:</strong>
                $!message.text($email)</div>
			<div class="tableCell">
                <strong>${placeholderWithTranslation.CONTINUAL_NUMBER}:</strong>
                #if($guest.orderno_a)$!guest.orderno_a#else$!guest.orderno_b#end</div>
		</div>
		<div class="tableRow">
			<div class="tableCell">
                <strong>${placeholderWithTranslation.GENERIC_FUNCTION_SINGULAR}:</strong>
                $!message.text($funktion)
            </div>
			<div class="tableCell">
                <strong>${placeholderWithTranslation.GENERIC_PARTNER}:</strong>
                $!message.text($name_p)
            </div>
		</div>

	</div>
</div>
