<vera-info vera-stay>
	${placeholderWithTranslation.HINT_GUEST_LIST_EDIT_PERSONDATA} <img src="../images/dialog_close.png" id="close-info" style="top:-9px;" onclick="$(this).parent().get(0).remove()" />
</vera-info>

<div class="textRight marginBottom20" id="buttonPanel-bottom">
	#if($grants.mayWrite())
		<input type="button" name="refresh" value="${placeholderWithTranslation.aufstammdatenzurucksetzen}" title="${placeholderWithTranslation.GUEST_LIST_RESET_ALL_TO_MASTER_DATA}" onclick="reloadGuestData();" />
	#end
		<input type="button" name="persondata" value="${placeholderWithTranslation.GUEST_LIST_EDIT_MASTER_DATA}" title="${placeholderWithTranslation.GUEST_LIST_EDIT_MASTER_DATA}" onclick="showPersonDetail();" />
</div>

<script type="text/javascript">
	function reloadGuestData() {
		var url = '${paths.staticWeb}do/ReloadGuestData'
		url += '?guest-id=$!guest.id';
		url += '&id=$!guest.id';
		url += '&eventId=$!event.id';


		var targetTab = document.getElementById('tab');
		if(targetTab) {
			url += '&tab=' + targetTab.value;
		}

		#if($octopusRequest.task == 'SaveGuestDoctype' || $octopusRequest.task == 'ShowGuestDoctype' || ($octopusRequest.task == 'ReloadGuestData' && $octopusRequest.show && $octopusRequest.show == 'doctype'))
			url += '&show=doctype';
		#end

		window.location.href = url;
	}

	function showPersonDetail() {
		var url = '${paths.staticWeb}do/ShowPerson'
		url += '?id=$guest.person';
		url += '&action=event';

		var targetTab = document.getElementById('tab');
		if (targetTab) {
			url += '&tab=' + targetTab.value;
		}

		#if($octopusRequest.task == 'SaveGuestDoctype' || $octopusRequest.task == 'ShowGuestDoctype' || ($octopusRequest.task == 'ReloadGuestData' && $octopusRequest.show && $octopusRequest.show == 'doctype'))
			url += '&show=doctype';
		#end

		window.location.href = url;
	}
</script>
