<!DOCTYPE HTML>
<html>
	<head>
		<title>VerA.web</title>
##		Browser-Cache deaktivieren
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
##		Utils
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/utils.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/clipboard.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jquery-multifile/jQuery.MultiFile.min.js"></script>
		##		Tabs und Popups
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-tabs.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-popup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-dialogs.js"></script>
		##		Calendar (http://www.dynarch.com/projects/calendar/)
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/calendar-setup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/ext/jscalendar/lang/calendar-${placeholderWithTranslation.language_short}.js"></script>

		<script>
			document.createElement("header");
			document.createElement("nav");
			document.createElement("section");
			document.createElement("footer");
		</script>
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}js/ext/jscalendar/calendar-win2k-cold-1.css" media="all" />
##		WCH - Windowed Controls Hider (http://www.aplus.co.yu/wch/intro/)
##		<!--[if IE]>
		<script type="text/javascript" src="${paths.staticWeb}scripts/WCH.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}js/vera/vera-tabs.js"></script>
##		<![endif]-->
##		Style
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/jquery.tagsinput.css" media="all" />
		<!--link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all"-->
		<script type="text/javascript" src="${paths.staticWeb}scripts/Bacon.js"></script> 
		<script type="text/javascript" src="${paths.staticWeb}js/vera/guest-filter-auto-commit.js"></script>
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/override.css" media="all" />
	</head>
	<body>
		<div id="container" #if($event) class="event" #end>
			<header id="header">
				<a href="${paths.staticWeb}do/" title="Zur Startseite" class="noBorder"><img src="${paths.staticWeb}images/veraweb_logo.png" alt="VerA.web Logo"></a>
				<div id="topNav">
                	<ul>
                        <form id="languageSelectForm" class="inline" method="POST">
                            <li>
                                <div class="inline" id="languagede"><strong>Sprache:</strong></div>
                                <div class="inline" id="languageen"><strong>Language:</strong></div>
                                <div class="inline" id="languagees"><strong>Idioma:</strong></div>
                                <div class="inline" id="languagefr"><strong>Langue:</strong></div>
                                	#if ($translatedNames)
                                		<select id="languageSelector" name="languageSelector" onchange="changeLanguage(this); changeLoginLanguage(this);">
											<option value="de_DE"
												#if(${language} == "de_DE")
													selected
												#end
											    >${translatedNames.get("de_DE")}
                                            </option>
											<option value="en_EN"
												#if(${language} == "en_EN")
													selected
												#end
											    >${translatedNames.get("en_EN")}
                                            </option>
											<option value="es_ES"
												#if(${language} == "es_ES")
													selected
												#end
											    >${translatedNames.get("es_ES")}
                                            </option>
											<option value="fr_FR"
												#if(${language} == "fr_FR")
													selected
												#end
											    >${translatedNames.get("fr_FR")}
                                            </option>
										</select>
									#else
									 	<select id="languageSelectorLogin" name="languageSelector" onchange="changeLoginLanguage(this);">
											<option value="de_DE">Deutsch</option>
											<option value="en_EN">English</option>
											<option value="es_ES">Español</option>
											<option value="fr_FR">Français</option>
                                		</select>

									#end

                            </li>
                        </form>

					    #if($grants && $grants.isAuthenticated())
							#if($config.helplink)
    							<li>
                                    <a href="${paths.staticWeb}$config.helplink" #if($config.helptarget) target="$config.helptarget" #end>
                                        ${placeholderWithTranslation.GENERIC_HELP}
                                    </a>
                                </li>
							#else
	    						<li>
                                    <a href="${paths.staticWeb}/doc/Benutzerhandbuch.pdf" target="_blank">
                                        ${placeholderWithTranslation.GENERIC_HELP}
                                    </a>
                                </li>
							#end
							<li>
							    <a id="menu.logout" href="${paths.staticWeb}do/logout" class="noBorder">
							        <span class="borderBottom">${placeholderWithTranslation.GENERIC_LOGOUT}</span>
							        <img src="${paths.staticWeb}images/logout.png" alt="Logout icon" title="Logout" style="vertical-align:middle;" />
							    </a>
							</li>
						#end
					</ul>
				</div>

				#if($grants && $grants.isAuthenticated())
					<div id="user">
						<strong>${placeholderWithTranslation.GENERIC_USER}:</strong> $octopusConfig.personalConfig.userName#if($octopusConfig.personalConfig.proxy) / <strong>${placeholderWithTranslation.HEADER_REPRESENTATION_FOR}:</strong> $octopusConfig.personalConfig.role #end
					</div>
				#end
			</header>

			#parse("inc/menu.vm")
			#if($elementNameSingular && $elementNameSingular != "" && $elementNamePlural && $elementNamePlural != "" && $elementNameSex && $elementNameSex != "")
				#if($elementNameSex && $elementNameSex == "Female")
					#set($prefNo = "${placeholderWithTranslation.HEADER_ELEMENT_FEMALE_NO}")
					#set($prefOne = "${placeholderWithTranslation.HEADER_ELEMENT_FEMALE_ONE}")
					#set($prefNew = "${placeholderWithTranslation.HEADER_ELEMENT_FEMALE_NEW}")
				#else ##IF MALE
					#set($prefNo = "${placeholderWithTranslation.HEADER_ELEMENT_MALE_NO}")
					#set($prefOne = "${placeholderWithTranslation.HEADER_ELEMENT_MALE_ONE}")
					#set($prefNew = "${placeholderWithTranslation.HEADER_ELEMENT_MALE_NEW}")
				#end
				##FOUND
				#set($noElement = "$prefNo $elementNameSingular")
				#set($noNewElement = "$prefNo $prefNew $elementNameSingular")
				#set($oneElement = "$prefOne $elementNameSingular")
				#set($oneNewElement = "$prefOne $prefNew $elementNameSingular")
				#set($severalElements = "$elementNamePlural")
				#set($severalNewElements = "${placeholderWithTranslation.GENERIC_NEW_PLURAL} $elementNamePlural")
			#else
				##NOT FOUND
				#set($noElement = "${placeholderWithTranslation.HEADER_ELEMENT_NO_RECORD_SINGULAR}")
				#set($noNewElement = "${placeholderWithTranslation.HEADER_ELEMENT_NO_NEW_RECORD_SINGULAR}")
				#set($oneElement = "${placeholderWithTranslation.HEADER_ELEMENT_ONE_RECORD_SINGULAR}")
				#set($oneNewElement = "${placeholderWithTranslation.HEADER_ELEMENT_ONE_NEW_RECORD_SINGULAR}")
				#set($severalElements = "${placeholderWithTranslation.HEADER_ELEMENT_PLURAL}")
				#set($severalNewElements = "${placeholderWithTranslation.HEADER_ELEMENT_NEW_PLURAL}")
			#end

			#set($count=-1)
			##COUNT IS $count<br/>
			##countInsert is $countInsert<br/>
			##countUpdate is $countUpdate<br/>
			##countRemove is $countRemove<br/>
			## ACTION
			#if($countInsert && $countInsert > 0)
				#set($messageAction = "INSERT")
				#set($count = $countInsert)
				#if($countUpdate && $countUpdate > 0)
					#set($insertAndUpdate = "true")
				#end
			#elseif($countUpdate && $countUpdate >= 0)
				#set($messageAction = "MODIFY")
				#set($count = $countUpdate)
			#elseif($countInsert && $countInsert == 0)
				#set($messageAction = "INSERT")
				#set($count = $countInsert)
			#elseif($countRemove && $countRemove >= 0)
				#set($messageAction = "DELETE")
				#set($count= $countRemove)
			#end

			#if($count>=0)
				#if($insertAndUpdate && $insertAndUpdate == "true")
					#set($updateTest=${helper.createMessage($entity,"MODIFY","$countUpdate",$placeholderWithTranslation)})
				#end
				#set($generalMessage=${helper.createMessage($entity,$messageAction,"$count",$placeholderWithTranslation)})
				<vera-success> $generalMessage.
				#if($insertAndUpdate && $insertAndUpdate == "true")
					<br/> $updateTest
				#end
				</vera-success>
			#end

            <script type="text/javascript">
                function changeLanguage(selectedLanguage) {
                    document.getElementById("languageSelectForm").submit();
                }
            </script>

			<script type="text/javascript">
				$(document).ready(function(){

					var octopusLanguage = "${language}";
					var previousLanguage = "${octopusRequest.loginlanguage}";
					if (octopusLanguage == "en_EN" || octopusLanguage == "es_ES" || octopusLanguage == "de_DE" || octopusLanguage == "fr_FR") {
						previousLanguage = octopusLanguage;
					}

					if (previousLanguage == 'de_DE' || (previousLanguage != 'de_DE' && previousLanguage != 'en_EN' && previousLanguage != 'es_ES' && previousLanguage != 'fr_FR')) {
						$("#french").hide();
						$("#spanish").hide();
						$("#english").hide();
						$("#german").show();
						$("#languagefr").hide();
						$("#languagees").hide();
						$("#languageen").hide();
						$("#languagede").show();

						$("#languageSelectorLogin").val('de_DE');
					}
					else if (previousLanguage == 'en_EN') {
						$("#french").hide();
						$("#spanish").hide();
						$("#english").show();
						$("#german").hide();
						$("#languagefr").hide();
						$("#languagees").hide();
						$("#languageen").show();
						$("#languagede").hide();

						$("#languageSelectorLogin").val('en_EN');
					}
					else if (previousLanguage == 'es_ES') {
						$("#french").hide();
						$("#spanish").show();
						$("#english").hide();
						$("#german").hide();
						$("#languagefr").hide();
						$("#languagees").show();
						$("#languageen").hide();
						$("#languagede").hide();

						$("#languageSelectorLogin").val('es_ES');
					}
					else if (previousLanguage == 'fr_FR') {
						$("#french").show();
						$("#spanish").hide();
						$("#english").hide();
						$("#german").hide();
						$("#languagefr").show();
						$("#languagees").hide();
						$("#languageen").hide();
						$("#languagede").hide();

						$("#languageSelectorLogin").val('fr_FR');
					}
                });
			</script>

			<script type="text/javascript">
                function changeLoginLanguage(selectedLanguage) {
                	$(".errormsg").remove();
                	var lang = selectedLanguage.value;
                	if (lang == 'de_DE') {
						$("#french").hide();
						$("#spanish").hide();
						$("#english").hide();
						$("#german").show();
						$("#languagefr").hide();
						$("#languagees").hide();
						$("#languageen").hide();
						$("#languagede").show();
                	}
                	else if (lang == 'en_EN') {
						$("#french").hide();
						$("#spanish").hide();
						$("#english").show();
						$("#german").hide();
						$("#languagefr").hide();
						$("#languagees").hide();
						$("#languageen").show();
						$("#languagede").hide();
                	}
                	else if (lang == 'es_ES') {
						$("#french").hide();
						$("#spanish").show();
						$("#english").hide();
						$("#german").hide();
						$("#languagefr").hide();
						$("#languagees").show();
						$("#languageen").hide();
						$("#languagede").hide();
                	}
                	else if (lang == 'fr_FR') {
						$("#french").show();
						$("#spanish").hide();
						$("#english").hide();
						$("#german").hide();
						$("#languagefr").show();
						$("#languagees").hide();
						$("#languageen").hide();
						$("#languagede").hide();
                	}
                }
            </script>
			#parse("inc/check-oa-active.vm")