<div vera-content="$personPartner person$extEncoding">
	<div class="table width100">
		<div class="tableRow">
			<div class="tableCell width50 inlineLabel ">
				#if($ext == "_a_e1")
					<label for="person-iscompany">${placeholderWithTranslation.GENERIC_IS_COMPANY}</label>
					<input tabindex="120" type="checkbox" id="person-iscompany" name="person-iscompany" value="t" class="noFloat" #if(($person.iscompany && $person.iscompany == "t") || ($person-iscompany && $person-iscompany == "t")) checked #end onchange="setModified();" #if(!$grants.mayWrite()) vera-disabled#end/>
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 #if(!$grants.mayWrite() || $!message.plain($ext) != "_a_e1") vera-disabled #end" id="company-row" style="display:none">
				 <label for="person-company-ignore$!message.plain($ext)">${placeholderWithTranslation.GENERIC_COMPANY_SINGULAR}/${placeholderWithTranslation.GENERIC_INSTITUTION_SINGULAR}*</label>
				<input #if ($ext =='_a_e1') tabindex="130" #end type="text" id="person-company-ignore$!message.plain($ext)" name="person-company-ignore$!message.plain($ext)" value="$!message.text($facade.Company)" onchange="setModified();"/>
			</div>
			<div class="tableCell width50"></div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 ">
				<label for="person-salutation$!message.plain($ext)">${placeholderWithTranslation.GENERIC_SALUTATION_SINGULAR}</label>
				#set($sel = false)
				<select  class="width30" id="person-salutation$!message.plain($ext)" name="person-salutation$!message.plain($ext)" onchange="setModified(); setSex('person-salutation$!message.plain($ext)', 'person-sex${ext}');" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end >
					#if($ext == "_a_e1" || $ext == "_a_e2" || $ext == "_a_e3")
						#foreach($s in $allSalutation)
							<option value="$!s.id" #if(($facade.SalutationFK && $s.id == $facade.SalutationFK) || ($facade.Salutation && $s.name == $facade.Salutation) || ((!$facade || !$facade.Salutation) && $s.name == $config.anrede)) selected #set($sel = true)#end>$!message.text($s.name)</option>
						#end
					#else
						#foreach($s in $allSalutation)
							<option value="$!s.id" #if(($facade.SalutationFK && $s.id == $facade.SalutationFK) || ($facade.Salutation && $s.name == $facade.Salutation) || ((!$facade || !$facade.Salutation) && $s.name == $config.anrede_p)) selected #set($sel = true)#end>$!message.text($s.name)</option>
						#end
					#end
					<option value=""#if(!$sel) selected #end>${placeholderWithTranslation.GENERIC_PLEASE_CHOOSE}</option>
				</select>
			</div>

			<div class="tableCell width50">
				<label for="person-expire$!message.plain($ext)">${placeholderWithTranslation.GENERIC_VALID_TILL}</label>
				<input type="text" name="person-expire$!message.plain($ext)" id="person-expire$!message.plain($ext)" value="$!message.date("DATE", $person.expire)" class="datepicker personExpiredDate" onchange="setModified(); updateExpiredDate(this.value);" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>
				#if($grants.mayWrite() && !$createNewPerson)
					<span id="show-expire$!message.plain($ext)" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswahlen}" title="${placeholderWithTranslation.datumauswahlen}"/></span>
					<script type="text/javascript">
						$(function () {
							Calendar.setup({
								inputField	 :	"person-expire$ext",
								button		 :	"show-expire$ext",
								ifFormat	   :	"%d.%m.%Y",
								showsTime	  :	false
							});
							var input = $('input[name=person-expire$ext]');
							var span = $('span#show-expire$ext');
							input.focus(function () {
								span.trigger('click');
							});
						});
					</script>
				#end
			</div>
		</div>

		<div class="tableRow">

			<div class="tableCell width50 ">
				<label for="person-title$!message.plain($ext)">${placeholderWithTranslation.GENERIC_ACAD_TITLE}</label>
				<input  type="text" id="person-title$!message.plain($ext)" name="person-title$!message.plain($ext)" value="$!message.text($facade.Title)" onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>
			</div>

			<div class="tableCell width50 ">
				#if($ext == "_a_e1" || $ext == "_b_e1")
					<label for="person-birthday$!message.plain($ext)">${placeholderWithTranslation.GENERIC_DATE_OF_BIRTH}</label>
					<input  type="text" name="person-birthday$ext" value="$!message.date("DATE", $facade.Birthday, false)" id="person-birthday$!message.plain($ext)" class="datepicker" onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>
					#if($grants.mayWrite() && !$createNewPerson)
						<span id="show-birthday$ext" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswahlen}" title="${placeholderWithTranslation.datumauswahlen}"/></span>
						<script type="text/javascript">
							$(function () {
								Calendar.setup({
									inputField	 :	"person-birthday$ext",
									button		 :	"show-birthday$ext",
									ifFormat	   :	"%d.%m.%Y",
									showsTime	  :	false
								});
								var input = $('input[name=person-birthday$ext]');
								var span = $('span#show-birthday$ext');
								input.focus(function () {
									span.trigger('click');
								});
							});
						</script>
					#end
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 ">
				<label for="person-firstname$!message.plain($ext)">${placeholderWithTranslation.GENERIC_FIRSTNAME}#if($ext == "_a_e1")*#end</label>
				<input #if ($ext =='_a_e1') tabindex="100" #end type="text" id="person-firstname$!message.plain($ext)" name="person-firstname$!message.plain($ext)" value="$!message.text($facade.Firstname)" onchange="setModified();" #if(!$grants.mayWrite() || ($createNewPerson && $ext != "_a_e1")) vera-disabled#end/>
			</div>

			<div class="tableCell width50 ">
				#if ( $ext == "_a_e1" || $ext == "_a_e2" || $ext == "_a_e3" )
					<label for="person-birthplace$!message.plain($ext)">${placeholderWithTranslation.GENERIC_PLACE_OF_BIRTH}</label>
					<input type="text" name="person-birthplace$!message.plain($ext)" value="$!message.text($facade.Birthplace)"  id="person-birthplace$!message.plain($ext)" onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end />
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 ">
				<label for="person-lastname$!message.plain($ext)">${placeholderWithTranslation.GENERIC_LASTNAME}#if($ext == "_a_e1")*#end</label>
				<input #if ($ext =='_a_e1') tabindex="110" #end type="text" id="person-lastname$!message.plain($ext)" name="person-lastname$!message.plain($ext)" value="$!message.text($facade.Lastname)" onchange="setModified();" #if(!$grants.mayWrite() || ($createNewPerson && $ext != "_a_e1")) vera-disabled#end/>
			</div>

			<div class="tableCell width50 ">
				#if ( $ext == "_a_e1" || $ext == "_b_e1" )
					<label for="person-nationality$!message.plain($ext)">${placeholderWithTranslation.GENERIC_NATIONALITY_CITIZENSHIP}</label>
					<input  type="text" id="person-nationality$!message.plain($ext)" name="person-nationality$!message.plain($ext)" value="$!message.text($facade.Nationality)" onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 inlineLabel ">
				#if($ext == "_a_e1" || $ext == "_b_e1")
					<strong>${placeholderWithTranslation.GENERIC_IN_COUNTRY}</strong><br />
					#if ($facade.Domestic && $facade.Domestic == "f")
						<label for="person-domestic${ext}-t" onchange="setModified();"><input  type="radio" name="person-domestic$ext" value="t" id="person-domestic${ext}-t" class="noFloat" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_YES}</label>
						<label for="person-domestic${ext}-f" onchange="setModified();"><input  type="radio" name="person-domestic$ext" value="f" id="person-domestic${ext}-f" class="noFloat" checked #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_NO}</label>
					#else
						<label for="person-domestic${ext}-t" onchange="setModified();"><input  type="radio" name="person-domestic$ext" value="t" id="person-domestic${ext}-t" class="noFloat" checked #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_YES}</label>
						<label for="person-domestic${ext}-f" onchange="setModified();"><input  type="radio" name="person-domestic$ext" value="f" id="person-domestic${ext}-f" class="noFloat" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_NO}</label>
					#end
				#end
			</div>

			<div class="tableCell width50 ">
				#if ( $ext == "_a_e1" || $ext == "_b_e1" )
					<label for="person-languages$!message.plain($ext)">${placeholderWithTranslation.GENERIC_LANGUAGES}</label>
					<input  type="text" id="person-languages$!message.plain($ext)" name="person-languages$!message.plain($ext)" value="$!message.text($facade.Languages)" onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 ">
				#if($ext == "_a_e1")
					<label for="workarea-id">${placeholderWithTranslation.GENERIC_WORKAREA_SINGULAR}</label>
					<select  name="workarea-id" id="workarea-id"  onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end>
						<option value="">${placeholderWithTranslation.keinarbeitsbereich}</option>
						#foreach($workArea in $allWorkArea)
							<option value="$workArea.id" #if($person.workarea == $workArea.id) selected#end>$!message.text($workArea.name)</option>
						#end
					</select>
				#end
			</div>

			<div class="tableCell width50 inlineLabel ">
				#if($ext == "_a_e1" || $ext == "_b_e1")
					<strong>${placeholderWithTranslation.GENERIC_GENDER}</strong><br />
					#if ($facade.Sex && $facade.Sex == "f")
						<label for="person-sex${ext}-m" onchange="setModified();"><input  type="radio" name="person-sex$ext" value="m" id="person-sex${ext}-m" class="noFloat" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_GENDER_MALE}</label>
						<label for="person-sex${ext}-f" onchange="setModified();"><input  type="radio" name="person-sex$ext" value="f" id="person-sex${ext}-f" class="noFloat" checked #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_GENDER_FEMALE}</label>
					#else
						<label for="person-sex${ext}-m" onchange="setModified();"><input  type="radio" name="person-sex$ext" value="m" id="person-sex${ext}-m" class="noFloat" checked #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_GENDER_MALE}</label>
						<label for="person-sex${ext}-f" onchange="setModified();"><input  type="radio" name="person-sex$ext" value="f" id="person-sex${ext}-f" class="noFloat" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>${placeholderWithTranslation.GENERIC_GENDER_FEMALE}</label>
					#end
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 ">
				#if ( $ext == "_a_e1" || $ext == "_b_e1" )
					<label for="person-note$!message.plain($ext)">${placeholderWithTranslation.GENERIC_REMARK}</label>
					<textarea  rows="3" cols="20" id="person-note$!message.plain($ext)" name="person-note$!message.plain($ext)" onchange="setModified();" #if($grants.mayReadRemarkFields()) #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end >$!message.textarea($facade.Note)#else vera-disabled>#end</textarea>
				#end
			</div>

			<div class="tableCell width50 ">
				#if($ext == "_a_e1" || $ext == "_b_e1")
					<label for="person-diplodate$!message.plain($ext)">${placeholderWithTranslation.GENERIC_ACCOUNT_OPENING_DATE}</label>
					<input type="text" name="person-diplodate$!message.plain($ext)" value="$!message.date("DATE", $facade.Diplodate, false)" id="person-diplodate$!message.plain($ext)" onchange="setModified();" class="datepicker" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/>
					#if($grants.mayWrite() && !$createNewPerson)
						<span id="show-diplodate$!message.plain($ext)" class="datepickerContainer">
                            <img src="${paths.staticWeb}images/calendar.png" alt="${placeholderWithTranslation.datumauswahlen}" title="${placeholderWithTranslation.datumauswahlen}"/>
                        </span>
                        &nbsp; ${placeholderWithTranslation.GENERIC_AT} &nbsp;
						<script type="text/javascript">
							$(function () {
								Calendar.setup({
									inputField	 :	"person-diplodate$ext",
									button		 :	"show-diplodate$ext",
									ifFormat	   :	"%d.%m.%Y",
									showsTime	  :	false
								});
								var input = $('input[name=person-diplodate$ext]');
								var span = $('span#show-diplodate$ext');
								input.focus(function () {
									span.trigger('click');
								});
							});
						</script>
					#end
					<input type="text" class="width15" name="person-diplotime${ext}" id="person-diplotime${ext}" #if($person-diplodatetime) value="$!message.date("TIME", $facade.Diplodate)" #else value="" #end onchange="setModified();" #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end/> <label class="inline" for="person-diplotime$!message.plain($ext)">${placeholderWithTranslation.GENERIC_OCLOCK}</label>
				#end
			</div>
		</div>

		<div class="tableRow">

			<div class="tableCell width50 ">
				#if ( $ext == "_a_e1" || $ext == "_b_e1" )
					<label for="person-noteorga$!message.plain($ext)">${placeholderWithTranslation.GENERIC_HINT_FOR_ORGA}</label>
					<textarea rows="3" cols="20" id="person-noteorga$!message.plain($ext)" name="person-noteorga$!message.plain($ext)" onchange="setModified();" #if($grants.mayReadRemarkFields()) #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end >$!message.textarea($facade.NoteOrga)#else vera-disabled>#end</textarea>
				#end
			</div>

			<div class="tableCell width50 ">
				#if ( $ext == "_a_e1" || $ext == "_b_e1" )
					<label for="person-notehost$!message.plain($ext)">${placeholderWithTranslation.GENERIC_HINT_FOR_HOST}</label>
					<textarea rows="3" cols="20" id="person-notehost$!message.plain($ext)" name="person-notehost$!message.plain($ext)" onchange="setModified();" #if($grants.mayReadRemarkFields()) #if(!$grants.mayWrite() || $createNewPerson) vera-disabled#end >$!message.textarea($facade.NoteHost)#else vera-disabled>#end</textarea>
				#end
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50 notBold">
				#if ( !$createNewPerson && ($ext == "_a_e1" || $ext == "_b_e1") )
					<strong>${placeholderWithTranslation.GENERIC_ORIGIN_DATA}</strong><br/>
					#if(!$person.importsource || $person.importsource == '')-#else$!message.text($person.importsource)#end
				#end
			</div>

			<div class="tableCell width50">
			</div>
		</div>
	</div>
</div>
