#set($activeMenu = "Veranstaltungen")
#set($title = "E-Mail an Verteiler schreiben: $!message.text($mailinglist.name)")
#set($elementNameSex = "male")
#set($elementNameSingular = "Verteiler")
#set($elementNamePlural = "Verteiler")
#parse("inc/header.vm")

<div id="content_container">

	<div id="breadcrumb" class="textRight marginBottom10">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Personen > Verteiler</span>
	</div>	
	
	<h1>Verteiler versenden</h1>

	
	<form id="formlist" name="formlist" action="MailinglistWrite" method="POST">
    	<input type="hidden" id="loaddraft" name="loaddraft" value="false">
    	<input type="hidden" id="savedraft" name="savedraft" value="false">
    
        #if($errors.size() > 0)
        <vera-warn>
        	$!message.plain($errors.get(0))<br>
        ##	#foreach($error in $errors)
        ##		$error<br>
        ##	#end
        </vera-warn>
        #end
        
        <input type="hidden" name="mail-id" value="$!mail.id">
        
    	<div id="main_content" class="contentBoxColored grayBorder marginBottom10">
	
			<div class="textRight mandatoryText">* = Pflichtfelder</div>
			
			<div class="table width100">
				<div class="tableRow">
					<div class="tableCell width70">
						<h2 class="marginBottom15">E-Mail schreiben</h2>
                        
            			<div>
                        	<label for="mail-subject">Betreff</label>
                            <input type="text" id="mail-subject" name="mail-subject" value="$!message.text($mail.subject)">					
            			</div>
            			<div>
                        	<label for="mail-text">Text</label>	
                        	<textarea id="mail-text" name="mail-text" style="height:200px">$!message.textarea($mail.text)</textarea>					
            			</div>
            			<div class="inlineLabel">
                            <label for="platzhalter">Platzhalter</label>
                        	<select name="platzhalter" id="platzhalter" class="inlineInput autoWidth">
            					<option value="firstname">Vorname</option>
            					<option value="lastname">Nachname</option>
             					<option value="salutation">Anrede</option>
            					<option value="title">Akad. Titel</option>
             					<option value="function">Amtsbez./Funktion</option>
            					<option value="company">Firma/Institution</option>
            					<option value="street">Stra&szlig;e</option>
            					<option value="zipcode">PLZ</option>
            					<option value="city">Ort</option>
            					<option value="country">Land</option>
            					<option value="poboxzipcode">Postfach-PLZ</option>
            					<option value="pobox">Postfach-Nummer</option>
            					<option value="suffix1">$!message.text($!config.suffix1)</option>
            					<option value="suffix2">$!message.text($!config.suffix2)</option>
            					<option value="phone">Telefon</option>
            					<option value="fax">Fax</option>
            					<option value="mobile">Mobil</option>
            					<option value="email">E-Mail</option>
            					<option value="url">www</option>
            				</select>
                            <input type="button" name="add" value="In Text einfügen" title="Platzhalter in Text einfügen" class="autoWidth noFloat" onclick="addPlatzhalter(this);">
            			</div>
                        
                        <div id="buttonPanel-bottom" class="textRight">
                           	<input type="button" name="send" value="Senden" title="Senden" class="mainButton autoWidth" onclick="document.getElementById('formlist').action='MailinglistSend'; document.getElementById('formlist').submit();">
                           	<input type="reset"  name="clear"  value="Zur&uuml;cksetzen" title="Zur&uuml;cksetzen" class="mainButton autoWidth">
                        </div>					
					</div>
					
					
					<div class="tableCell width30">
                		<h2 class="marginBottom15">E-Mail Vorlagen</h2>       
                    
                        <div>
            				<label for="mail-draft">Vorhandene Vorlagen</label>
								#if($allMailDraft && $allMailDraft.size() > 0)
                        			<select id="mail-draft" name="mail-draft">
										<option value="0">&lt;Bitte ausw&auml;hlen&gt;</option>
										#foreach($draft in $allMailDraft)
                                			<option value="$!draft.id" #if($mail.id && $mail.id == $draft.id) selected #end>$!message.text($!draft.name)</option>
                                		#end
                            		</select>
                        			<input type="button" name="" value="Vorlage laden" class="autoWidth" title="Vorlage laden" onclick="document.getElementById('loaddraft').value='true'; document.getElementById('formlist').submit();"/>
									<input type="button" name="send" value="Vorlage entfernen" class="autoWidth" onclick="window.location.href='MailinglistWrite';" title="Keine Vorlage verwenden"/>
								#else
									Es liegen keine Vorlagen vor
								#end
            
               			</div>
                        <div class="marginTop20">
                        			<label for="mail-name">Neue Vorlage (Name)*</label>
                        			<input type="text" id="mail-name" name="mail-name" value="$!message.text($mail.name)">
                        			<input type="button" name="savedraft" value="Neue Vorlage speichern" title="Neue Vorlage speichern" onclick="document.getElementById('savedraft').value='true'; document.getElementById('formlist').submit();" class="autoWidth">
                                    <p class="mandatoryText"><strong>Hinweis</strong> Neue Vorlagen müssen sowohl einen Betreff als auch Text enthalten.</p>	
                        </div>
					</div>
				</div>
			</div>
        
		</div>
		
		<div id="buttonPanel-bottom" class="textRight">
			<input type="button" name="cancel" value="Zur&uuml;ck zum Verteiler" title="Zur&uuml;ck zum Verteiler" class="mainButton" onclick="window.location.href='ShowMailinglistDetail';">
		</div>
    </form>
</div>

<script type="text/javascript">
	function addPlatzhalter(s) {
		var sel = document.getElementById('platzhalter');
		var text = sel.options[sel.selectedIndex].value;
		if (text.length > 0) {
			insertAtCursor(document.getElementById('mail-text'), '<' + text + '>');
		}
	}
</script>

#parse("inc/footer.vm")