<h2>{{'DELEGATION_REGISTER_USER_TITLE'|translate}}:</h2>
<form role="form" id="delegation-form">

    <div class="form-group container">
        <div class="row">
			<div ng-if="success" class="alert alert-success" role="alert">{{success}}</div>
		    <div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

            <div class="col-xs-2" ng-class="delegation-form.gender.$valid ? 'has-success' : 'has-error'">
                <select class="form-control" id="gender" name="gender" ng-model="gender" ng-options="option.name | translate for option in genderOptions" required=""/></select>
            </div>

			<div class="col-xs-2" ng-class="delegation-form.function.$valid ? 'has-success' : 'has-error'">
                <select class="form-control" id="functionSign" name="functionSign" ng-model="functionSign" ng-options="option | translate for option in functionSignNames"/></select>
            </div>

            <div class="col-xs-2" ng-class="delegation-form.categorie.$valid ? 'has-success' : 'has-error'">
                <select class="form-control" id="category" name="category" ng-model="category" ng-options="option | translate for option in categoryNames"/></select>
            </div>

            <div class="col-xs-2" ng-class="delegation-form.vorname.$valid ? 'has-success' : 'has-error'">
                <input type="text" class="form-control" id="vorname" placeholder="{{'GENERIC_FIRSTNAME'|translate}}" ng-model="vorname" required/>

                <div ng-show="delegation-form.$submitted || delegation-form.vorname.$touched">
                    <div class="help-block" ng-show="vorname.$error.required">{{'GENERIC_MESSAGE_EMPTY_FIELD'|translate}}</div>
                </div>
            </div>

            <div class="col-xs-2" ng-class="delegation-form.nachname.$valid ? 'has-success' : 'has-error'">
                <input type="text" class="form-control" id="nachname" placeholder="{{'GENERIC_LASTNAME'|translate}}" ng-model="nachname" required/>

                <div ng-show="delegation-form.$submitted || delegation-form.nachname.$touched">
                    <div class="help-block" ng-show="nachname.$error.required">{{'GENERIC_MESSAGE_EMPTY_FIELD'|translate}}</div>
                </div>
            </div>

            <div class="col-xs-2">
                <button type="submit" class="btn btn-custom" ng-click="register_user()">{{'DELEGATION_REGISTER_USER_TITLE'|translate}}</button>
            </div>
		</div>
    </div>
</form>

<hr/>

<h2>{{'DELEGATION_ALREADY_REGISTERED'|translate}}:</h2>
<table class="table table-striped table-hover">
    <tr class="active">
        <th>{{'GENERIC_FIRSTNAME'|translate}}</th>
        <th>{{'GENERIC_LASTNAME'|translate}}</th>
    </tr>
    <tr id="delegation" ng-click="showOptionalFields(person.pk)" data-toggle="modal" data-target="#myModal" ng-repeat="person in presentPersons">
        <td ng-bind-html="{{person.firstname_a_e1}}">
            {{person.firstname_a_e1}}
        </td>
        <td>
            {{person.lastname_a_e1}}
        </td>
    </tr>

</table>

<!-- Modal -->
<div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{'DELEGATION_EXTRA_FIELDS_TITLE'|translate}}</h4>
      </div>
	<form role="form" id="delegation-form" class="form-signin">

      <div class="modal-body">

    <div class="form-group container">
        <div class="row">

		    <div ng-if="error_dialog" class="alert alert-danger" role="alert">{{error_dialog}}</div>
				<div ng-repeat="field in fields">
					<label for="{{field.label}}">{{field.label}}</label>
					<input type="text" class="form-control" id="{{field.label}}" placeholder="{{field.label}}" ng-model="labellist[field.pk]" style="margin-bottom: 10px;" />
				</div>
        </div>
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-show="!hideDialog" class="btn btn-custom" data-dismiss="modal" ng-click="saveOptionalFields()">{{'GENERIC_SAVE'|translate}}</button>
      </div>
</form>
    </div>
  </div>
</div>