Bereits angemeldet:

<hr/>

<form role="form">
    <div class="form-group container">
        <div class="row">
            <div class="col-xs-5">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>

            <div class="col-xs-5">
                <input type="text" class="form-control" id="vorname" placeholder="Vorname">
            </div>

            <div class="col-xs-5">
                <input type="text" class="form-control" id="nachname" placeholder="Nachname">
            </div>

            <div class="col-xs-2">
                <button type="submit" class="btn btn-custom">Delegierten anmelden</button>
            </div>
        </div>
    </div>
</form>