<div ng-controller="DelegationController" flow-name="jonflow" ng-init="mittwoch='huhuhu'">

    <!--<button type="submit"  ngf-select ngf-change="upload($files)">Choose file</button>-->

    <!--Image thumbnail: <img ngf-src="files[0]" ngf-default-src="images/thumb.png">-->



        <span ng-show="imageError"><h3>{{imageError}}</h3></span>
        <div
             flow-files-submitted="$flow.upload()"
             flow-file-success="testingimage($flow.files[0])"> <!-- "$file.msg = $message"> -->
            <!--<img flow-img="$flow.files[0]" ng-href="{{image}}" />-->
            <div ng-show="image">
                <ng-if="myoldfoto">
                    <img src="../../images/default.jpg">
                </ng-if>
                <img src="{{image}}" />
            </div>
            <input type="file" flow-btn />

            <table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{file.name}}</td>
                </tr>
            </table>

        </div>

</div>