<div ng-controller="DelegationController">


        <!--<span ng-show="imageError"><h3>{{imageError}}</h3></span>-->
        <div flow-files-submitted="$flow.upload();">

            <div ng-hide="image">
                <img src="images/default.jpg" />
            </div>
            <div ng-if="image != null">
                 <img ng-src="{{image}}" />
            </div>

        <span class="btn btn-custom marginT10" flow-btn ng-if="image == null">{{'DELEGATION_PHOTO_NEW'|translate}}</span>
        <span class="btn btn-custom marginT10" flow-btn ng-if="image != null">{{'DELEGATION_PHOTO_EXIST'|translate}}</span>
        </div>
</div>