<div class="login-container">
    <h2 class="form-signin-heading">Bitte anmelden</h2>
    <form class="form-signin" method="post" role="form" >
        <input id="j_username" name="j_username" type="text" class="form-control" placeholder="Anmeldename"/>
        <input id="j_password" name="j_password" type="password" class="form-control" placeholder="Passwort"/>
        <button class="btn btn-lg btn-primary btn-block btn-custom" type="submit" ng-click="login()">Anmelden</button>
    </form>
</div>