<div>
	<h2 class="form-signin-heading">Meine Veranstaltungen</h2>
<!-- <h3>You are: {{retvalue}}</h3> -->
<!-- <table class="table" > -->
	
<!-- 	<tr class="active"> -->
<!-- 			<th>Datum</th> -->
<!-- 			<th>Veranstaltung</th> -->
<!-- 			<th></th> -->
<!-- 	</tr> -->
	
<!-- 	<tr ng-repeat="event in events"> -->
<!-- 		<td>{{parseDate(event.datebegin) | date:'dd.MM.yyyy HH:mm'}}</td> -->
<!-- 		<td>{{event.shortname}}</td> -->
<!-- 		<td class="button_column"><a href="#/register/{{event.pk}}"><input type="button" class="btn-custom" value="zur Veranstaltung anmelden"/></a></td> -->
<!-- 	</tr> -->
  	
<!-- </table> -->

</div>