#set($activeMenu = "Administration")
#set($title = "Kategorien")
#set($elementNameSex = "female")
#set($elementNameSingular = "Kategorie")
#set($elementNamePlural = "Kategorien")
#parse("inc/header.vm")	

<div id="content_container">

	<div id="breadcrumb" class="textRight marginBottom10">
	    	<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Administration > Kategorien</span>
	</div>
		
	<h1>Kategorien</h1>

	<form id="formlist" name="formlist" action="Categorie" method="POST">
		#if($listerrors && $listerrors.size() > 0)
    		<vera-warn>
    			#foreach($error in $listerrors)
    				$error<br>
    			#end
    		</vera-warn>
		#end
		#if($resortQuestion)
        	<vera-confirm>
        		<strong>Soll die neue Kategorie '$!message.text($beanToAdd.name)' einsortiert werden?</strong><br>
				<input type="hidden" name="questionConfirmed" value="true"/>
				<input type="button" id="button.resortYes" value="Ja"/> &nbsp;
        		<input type="button" id="button.resortNo" value="Nein"/> &nbsp;
        	</vera-confirm>
    	#end
		
		<input type="hidden" name="limit" value="" />
		<input type="hidden" name="start" value="">
		#if($grants.isAdmin() || $grants.isPartialAdmin())
    		<input type="hidden" name="selectNone" value="true">
    		<input type="hidden" name="doInsert" value="true">
    		<input type="hidden" name="doUpdate" value="true">
    		<input type="hidden" name="doRemove" value="true">
    		<input type="hidden" name="modified" id="modified" value="false">
		#end
		#if($order)
		<input type="hidden" name="order" value="$order">
		#end
		#if($grants.isAdmin() || $grants.isPartialAdmin())
    		<input type="hidden" id="dosave" name="dosave" value="">
    		<input type="hidden" id="resort" name="resort" value="false">
		#end
		
		#if($grants.isAdmin() || $grants.isPartialAdmin())
			#foreach($bean in $list)
			<input type="hidden" name="list" value="$bean.id">
			#end
		#end
		
		<div class="textRight mandatoryText tabs">* = Pflichtfelder</div>
		
		<span class="inlineLabel" id="actionPanel">
			<strong>Markierte Kategorie(n)</strong>
			<input type="submit" name="remove" value="L&ouml;schen" class="button" title="Markierte Kategorie(n) l&ouml;schen" onclick="formlist.action='SaveCategories';return true;">
			
		</span>
		
		<table>
			<tr>
		#if($grants.isAdmin() || $grants.isPartialAdmin())
				<th class="smallCell textCenter"><input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren" #if($listselection.size() == $list.size()) checked#end/></th>
				<th class="smallCell textCenter">ID</th>
		#end
				<th>Bezeichnung*</th>
				<th>Kennzeichen</th>
				<th>Rang</th>
				<th>Veranstaltung(en)</th>
			</tr>
		
		#if($grants.isAdmin() || $grants.isPartialAdmin())
			<tr>
				<td class="textCenter"><input type="hidden" id="add-modified" name="add-modified" #if($beanToAdd) value="true" #else value="false" #end/><input type="checkbox" id="add-select" name="add-select" value="true" style="display: none;" ></td>
				<td class="textCenter"><input type="hidden" name="add-id" value=""><em>neu</em></td>
				<td><input type="text" name="add-name" id="add-name" maxlength="200" #if($beanToAdd) value="$!message.text($beanToAdd.name)" #else value="" #end onchange="setModified('add')"></td>
				<td>
					<select id="add-flags" name="add-flags" onchange="setModified('add')">
						<option value="0" #if($beanToAdd && $beanToAdd.flags && $beanToAdd.flags == 0) selected #end>Kategorie</option>
						<option value="1" #if($beanToAdd && $beanToAdd.flags && $beanToAdd.flags == 1) selected #end>Ereignis</option>
						<option value="99" #if($beanToAdd && $beanToAdd.flags && $beanToAdd.flags == 99) selected #end>Diplo. Corps</option>
					</select>
				</td>
				<td><input type="text" name="add-rank" id="add-rank" #if($beanToAdd) value="$!message.text($beanToAdd.rank)" #else value="" #end onchange="setModified('add')"></td>
				<td>
					<select id="add-event" name="add-event" onchange="setModified('add'); ">
					<option value="">F&uuml;r alle Veranstaltungen</option>
					#foreach($event in $allEvent)
						<option #if($beanToAdd && $beanToAdd.event && $beanToAdd.event == $event.id) selected#end value="$!event.id">$!message.plain($event.shortname)</option>
					#end
					</select>
				</td>
			</tr>
		#end
		
		#foreach($bean in $list)	
			<tr>
			#if($grants.isAdmin() || $grants.isPartialAdmin())
				<td class="textCenter"><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" id="${bean.id}-select" value="true"></td>
				<td class="textCenter"><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!{bean.id}</td>
				<td><input type="text" name="${bean.id}-name" id="${bean.id}-name" value="$!message.plain($bean.name)" onchange="setModified('$!bean.id')" #if(!($grants.isAdmin() || $grants.isPartialAdmin()))vera-disabled#end></td>
				<td>
					<select id="${bean.id}-flags" name="${bean.id}-flags" onchange="setModified('$!bean.id')">
						<option #if($bean.flags && $bean.flags == 0) selected#end value="0">Kategorie</option>
						<option #if($bean.flags && $bean.flags == 1) selected#end value="1">Ereignis</option>
						<option #if($bean.flags && $bean.flags == 99) selected#end value="99">Diplo. Corps</option>
					</select>
				</td>
				<td class="textCenter"><input type="text" name="${bean.id}-rank" id="${bean.id}-rank" value="$!message.text($bean.rank)" onchange="setModified('$!bean.id')" #if(! ($grants.isAdmin() || $grants.isPartialAdmin()))vera-disabled#end></td>
				<td>
					<select id="${bean.id}-event" name="${bean.id}-event" onchange="setModified('$!bean.id')" #if(! ( $grants.isAdmin() || $grants.isPartialAdmin() ))vera-disabled#end>
					<option value="">F&uuml;r alle Veranstaltungen</option>
					#foreach($event in $allEvent)
						<option #if($bean.event && $bean.event == $event.id) selected#end value="$!event.id">$!message.plain($event.shortname)</option>
					#end
					</select>
				</td>
			#else
				<td>$!message.plain($bean.name)</td>
				<td>
					#if($bean.flags && $bean.flags == 0)
						Kategorie
					#elseif($bean.flags && $bean.flags == 1)
						Ereignis
					#else
						Diplo. Corps
					#end
				</td>
				<td>$!message.plain($bean.rank)</td>
				<td>
					#set($found=false)
					#foreach($event in $allEvent)
						#if($bean.event && $bean.event == $event.id)#set($found=true)$!message.plain($event.shortname)#end
					#end
					#if(!$found)
						Für alle Veranstaltungen
					#end
				</td>
			#end
			</tr>
		#end
		#if ($listparam.count == 0)
            <tr>
				<td colspan="99">Es wurden keine Daten gefunden</td>
			</tr>
		#end
		#set($itemName = "Kategorien")
		#parse("inc/list-navi-new.vm")
		#parse("inc/list-direct-new.vm")
		</table>
		
		## introduced onclick form action change in order to allow all authenticated users to view the categories as per change request for version 1.2.0
		## cklein
		## 2008-02-21
			#if($grants.isAdmin() || $grants.isPartialAdmin())
				<div class="textRight marginTop10" id="buttonPanel-bottom">
					<input type="submit" name="save" value="Speichern" title="Speichern" class="mainButton" onclick="formlist.action='SaveCategories';return true;">
				</div>
			#end
	</form>
</div>

<script>
    $(function() {		
		$('#button\\.resortYes').click(function (e) {
			$('#resort').val('true');
			$('form')
				.append('<input type="hidden" name="save" value="true" />')
				.prop('action', 'SaveCategories')
				.submit();
		});
		$('#button\\.resortNo').click(function (e) {
			$('#resort').val('false');
			$('form')
				.append('<input type="hidden" name="save" value="true" />')
				.prop('action', 'SaveCategories')
				.submit();
		});
    });
</script>


#parse("inc/footer.vm")