/*
 * Grund-Design - BODY
 */
body {
	font-family: sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 1px 10px 0px 10px;
}
a, a:link, a:visited, a:active {
	font-family: sans-serif;
	color: #336699;
	text-decoration: underline;
}
a:hover {
	font-family: sans-serif;
	color: #000000;
	text-decoration: underline;
}

/*
 * Grund-Design - HEADER
 */
table.header {
	width: 100%;
	border-collapse: collapse;
}
td.logo1 {
	width: 150px;
	height: 70px;
	font-size: 11px;
	font-family: sans-serif;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
}
td.logo2 {
	height: 70px;
	font-size: 11px;
	font-family: sans-serif;
	color: #000000;
	background-color: #ffffff;
}
td.headerkennung {
	width: 150px;
	font-size: 11px;
	font-family: sans-serif;
	color: #ffffff;
	background-color: #153b71;
	text-align: center;
	border-right: 1px solid #ffffff;
}
td.headertitle {
	height: 30px;
	color: #ffffff;
	background-color: #153b71;
	vertical-align: bottom;
}
div.headertitle, strong.headertitle {
	display: block;
	padding: 0px 17px 5px 17px;
	color: #ffffff;
	font-size: 15px;
	font-family: Arial,Verdana,sans-serif;
	font-weight: bold;
}

/*
 * Grund-Design - CONTENT
 */
table.content {
	width: 100%;
	border-collapse: collapse;
}
td.menu {
	font-size: 11px;
	font-family: sans-serif;
	width: 160px;
	text-align: left;
	vertical-align: top;
}
div.menu {
	font-size: 11px;
	font-family: sans-serif;
	width: 150px;
	background-color: #f3f8ff;
}
td.content {
	font-size: 11px;
	font-family: sans-serif;
	text-align: left;
	vertical-align: top;
}
div.content {
	width: 99.5%;
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #f3f8ff;
	border-left: 1px solid #80A7E0;
	border-right: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
}
div.fixme1 {
	background-color: #ffffff;
}
div.fixme2 {
	background-color: #ffffff;
	padding: 3px 0px 10px 0px;
	border-top: 4px solid #336699;
}
div.fixme3 {
	background-color: #f3f8ff;
	padding: 10px;
	border: 1px solid #80A7E0;
	text-align: left;
}

/*
 * Grund-Design - FOOTER
 */
hr.footline {
	color: #336699;
	width: 99%;
	height: 4px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-top: 4px solid #336699;
	border-bottom: 1px none;
}

/*
 * Grund-Design - DIALOGE
 */
div.dialogInfo {
	position: absolute;
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 11px 13px 11px 13px;
	border: 2px solid #80A7E0;
	color: #000000;
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
}

div.dialogWarn {
	position: absolute;
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 11px 13px 11px 13px;
	border: 2px solid #ff0000;
	color: #000000;
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
}

/*
 * NAVIGATION
 */
div.menusection {
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px;
	padding: 3px 10px 6px 10px;
	border-bottom: 2px solid #80A7E0;
}
strong.menutitle {
	font-size: 11px;
	font-family: sans-serif;
	display: block;
	color: #000000;
	line-height: 200%;
	font-weight: bold;
}
a.menulink, a.menulink:link, a.menulink:visited, a.menulink:active, span.menulink {
	font-size: 11px;
	font-family: sans-serif;
	display: block;
	line-height: 160%;
	text-decoration: none;
}

/*
 * TABULARTOREN
 */
table.tab {
	width: 99.5%;
	margin: 8px 0px 0px 0px;
}
td.tableft {
	font-size: 11px;
	font-family: sans-serif;
	width: 8px;
	border-bottom: 1px solid #80A7E0;
}
td.tabright {
	font-size: 11px;
	font-family: sans-serif;
	border-left: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
}
td.tabactiv {
	width: 140px;
	font-size: 11px;
	line-height: 140%;
	font-weight: bold;
	font-family: sans-serif;
	color: #ffffff;
	background-color: #f3f8ff;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #80A7E0;
	border-left: 1px solid #80A7E0;
}
td.tabinactiv, td.tabdisabled {
	width: 140px;
	font-size: 11px;
	line-height: 140%;
	font-weight: bold;
	font-family: sans-serif;
	color: #ffffff;
	background-color: #d3d8df;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #80A7E0;
	border-left: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
}
span.tabactiv, a.tabactiv, a.tabactiv:link, a.tabactiv:visited, a.tabactiv:hover {
	width: 100%;
	font-size: 11px;
	line-height: 140%;
	font-weight: bold;
	font-family: sans-serif;
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	display: block;
	cursor: default;
}
span.tabinactiv, a.tabinactiv, a.tabinactiv:link, a.tabinactiv:visited {
	width: 100%;
	line-height: 140%;
	font-weight: bold;
	font-family: sans-serif;
	color: #336699;
	background-color: transparent;
	text-decoration: none;
	display: block;
}
a.tabinactiv:hover {
	color: #000000;
	background-color: transparent;
}
span.tabdisabled, a.tabdisabled, a.disabled:link, a.disabled:visited, a.tabdisabled:hover {
	width: 100%;
	font-size: 11px;
	line-height: 140%;
	font-weight: bold;
	font-family: sans-serif;
	color: #808080;
	background-color: transparent;
	text-decoration: none;
	display: block;
	cursor: default;
}
table.subtab {
	width: 100%;
	margin: 0px 0px 0px 0px;
}
td.subtableft {
	font-size: 11px;
	font-family: sans-serif;
	width: 7px;
	border-bottom: 1px solid #80A7E0;
}
td.subtabcenter {
	font-size: 11px;
	font-family: sans-serif;
	border-left: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
}
td.subtabright {
	font-size: 11px;
	font-family: sans-serif;
	width: 7px;
	border-left: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
}
td.subtab {
	width: 140px;
	font-size: 11px;
	line-height: 120%;
	font-weight: bold;
	font-family: sans-serif;
	color: #ffffff;
	background-color: #f3f8ff;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #80A7E0;
	border-left: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
}
span.subtab, a.subtab, a.subtab:link, a.subtab:visited, a.subtab:hover {
	width: 100%;
	font-size: 11px;
	line-height: 140%;
	font-weight: bold;
	font-family: sans-serif;
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	display: block;
}

/*
 * CONTENT
 */
div.contentsection {
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}
hr.contentsection {
	color: #c5d8f7;
	width: 100%;
	height: 1px;
	text-align: center;
	border-top: 1px solid #c5d8f7;
	border-bottom: 1px none;
}
fieldset.filter {
	width: 99.5%;
	border: 1px solid #80A7E0;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
fieldset.format {
	border: 1px solid #80A7E0;
	padding: 05px 05px 05px 05px;
}

/*
 * ÜBERSCHRIFTEN
 */
h1, .h1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	margin: 0px 0px 4px 0px;
	padding: 1px 0px 1px 0px;
	color: #000000;
	background-color: #e3e8ef;
}
h2, .h2 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	margin: 0px 0px 4px 0px;
	padding: 1px 0px 1px 0px;
	color: #000000;
	background-color: #e3e8ef;
}
h3, .h3 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	margin: 0px 0px 4px 0px;
	padding: 1px 0px 1px 0px;
	color: #000000;
	background-color: #e3e8ef;
}

/*
 * TABELLEN
 */
table.list {
	width: 100%;
	border: 1px solid #80A7E0;
	border-collapse: collapse;
}
tr.list1, td.list1 {
	background-color: #ffffff;
}
tr.list1info, td.list1info {
	background-color: #e0ffe0;
}
tr.list1warn, td.list1warn {
	background-color: #e0ffe0;
}
tr.list1error, td.list1error { /* ehemals list1hot */
	background-color: #fff0f0;
}
tr.list2, td.list2 {
	background-color: transparent;
}
tr.list2info, td.list2info {
	background-color: #d0f0d0;
}
tr.list2warn, td.list2warn {
	background-color: #d0f0d0;
}
tr.list2error, td.list2error { /* ehemals list2hot */
	background-color: #f0e0e0;
}
th.list, td.list, td.list1, td.list2, td.list1info, td.list1warn, td.list1error, td.list2info, td.list2warn, td.list2error {
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 1px 3px 1px 3px;
	border: 1px solid #80A7E0;
	color: #000000;
	text-align: left;
	vertical-align: middle;
}

table.listdyn {
	width: 100%;
	border-left: 1px solid #80A7E0;
	border-right: 1px solid #80A7E0;
	border-bottom: 1px solid #80A7E0;
	border-collapse: collapse;
}
th.listdyn, td.listdyn {
	font-size: 11px;
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 1px 3px 1px 3px;
	border-left: 1px solid #80A7E0;
	border-right: 1px solid #80A7E0;
	background-color: transparent;
	text-align: left;
	vertical-align: middle;
}
.listnavitext {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 4px 0px;
	background-color: transparent;
	cursor: default;
}
a.listnavilink, a.listnavilink:link, a.listnavilink:visited, a.listnavilink:active {
	width: 18px;
	float: left;
	margin: 0px 0px 0px 3px;
	padding: 3px 4px 3px 3px;
	border: 1px solid #80A7E0;
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
}
a.listnavilink:hover {
	width: 18px;
	float: left;
	margin: 0px 0px 0px 3px;
	padding: 3px 4px 3px 3px;
	border: 1px solid #80A7E0;
	background-color: #ffff80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
}
a.listnavilinkinactiv, a.listnavilinkinactiv:hover {
	width: 18px;
	float: left;
	margin: 0px 0px 0px 3px;
	padding: 3px 4px 3px 3px;
	border: 1px solid #808080;
	color: #808080;
	background-color: #E0E0E0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	cursor: default;
}
.listnavidirect a {
	padding: 0px 1px 0px 1px;
}

/*
 * FORMULARE
 */
table.form {
	width: 100%;
	border-collapse: collapse;
}
th.label, td.label {
	width: 160px;
	text-align: left;
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 11px;
}
th.value, td.value {
	text-align: left;
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 11px;
}
input.submit, input.button, input.cancel, input.reset {
	width: 120px;
	height: 20px;
	font-family: sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
	background-color: #ffffff;
	border-top: 2px solid #88aadd;
	border-left: 2px solid #88aadd;
	border-right: 2px solid #336699;
	border-bottom: 2px solid #336699;
}
input.buttondisabled {
	width: 120px;
	height: 20px;
	font-family: sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #808080;
	background-color: #ffffff;
	border-top: 2px solid #88aadd;
	border-left: 2px solid #88aadd;
	border-right: 2px solid #336699;
	border-bottom: 2px solid #336699;
}

input.id {
	width: 120px;
	font-family: sans-serif;
	font-size: 11px;
	color: #606060;
	background-color: #f0f0f0;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
input.text {
	width: 98%;
	font-family: sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
input.textdisabled {
	width: 98%;
	font-family: sans-serif;
	font-size: 11px;
	color: #606060;
	background-color: #f0f0f0;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
textarea.text {
	width: 98%;
	font-family: sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
textarea.textdisabled {
	width: 98%;
	font-family: sans-serif;
	font-size: 11px;
	color: #606060;
	background-color: #f0f0f0;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
input.int {
	width: 60px;
	font-family: sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
input.intdisabled {
	width: 60px;
	font-family: sans-serif;
	font-size: 11px;
	color: #606060;
	background-color: #f0f0f0;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
input.date {
	width: 80px;
	font-family: sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
input.datedisabled {
	width: 80px;
	font-family: sans-serif;
	font-size: 11px;
	color: #606060;
	background-color: #f0f0f0;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
select.date {
	font-family: sans-serif;
	font-size: 11px;
	text-align: right;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
}
select.datedisabled {
	font-family: sans-serif;
	font-size: 11px;
	text-align: right;
	color: #606060;
	background-color: #f0f0f0;
	border: 1px solid #336699;
}
input.checkbox {
}
input.checkboxdisabled {
}
input.radiobox {
}
input.radioboxdisabled {
}
select.combobox {
	font-family: sans-serif;
	font-size: 11px;
	width: 99%;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
}
select.comboboxdisabled {
	font-family: sans-serif;
	font-size: 11px;
	width: 99%;
	color: #808080;
	background-color: #ffffff;
	border: 1px solid #336699;
}
input.file {
	font-family: sans-serif;
	font-size: 11px;
	width: 98%;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #336699;
}
