## Popup zur Auswahl eines oder keines Arbeitsbereiches 
## cklein
## 2008-02-28

<html>

<head>
	<title>Arbeitsbereiche</title>
	<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all" />
	<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/style.css" media="all" />
	<script type="text/javascript" src="${paths.staticWeb}scripts/jquery.min.js"></script>
	<script type="text/javascript" src="${paths.staticWeb}scripts/utils.js"></script>
	<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-popup.js"></script>

	<script type="text/javascript">
		var showDeleteAllocate = function () {
    		var selectionOfOption = $('option[name$="nix"]:selected');	
    			if(selectionOfOption.length === 1) {
    				var msg ='<span>Wählen Sie bitte zunächst einen Arbeitsbereich aus.</span>';
					showWarning(msg);
    			}else {
    				#if( $count == 1 )
						showAllocateAssign('Wollen Sie diese Person bzw. diesen Gast den ausgewählten Arbeitsbereich zuordnen?',
						function () { // Ja
                           	var form = window.opener.document.forms[ "formlist" ];
                	       	 var input = window.document.createElement('input');
                	       	 input.type = 'hidden';
                	       	 input.name = 'workareaAssigned';
                	       	 input.value = 'assign';
                	       	 form.appendChild(input);
                	       	 form.submit();
						}, function () { //nein
							showSuccess('Es wurde kein Arbeitsbereich zugeordnet');
						});
        			#else
        				showAllocateAssign('Wollen Sie diesen Personen bzw. diesen G&auml;ste den ausgewählten Arbeitsbereich zuordnen?',
						function () { // Ja
							var form = window.opener.document.forms[ "formlist" ];
                	       	 var input = window.document.createElement('input');
                	       	 input.type = 'hidden';
                	       	 input.name = 'workareaAssigned';
                	       	 input.value = 'assign';
                	       	 form.appendChild(input);
                	       	 form.submit();
						}, function () { //nein
							showSuccess('Es wurden keine Arbeitsbereich zugeordnet');
						});
        			#end
    			};
		};
		var showDeleteAllocateRemove = function() {
			var selectionOfOption = $('option[name$="nix"]:selected');	
    			if(selectionOfOption.length === 1) {
    				var msg ='<span>Wählen Sie bitte zunächst einen Arbeitsbereich aus.</span>';
					showWarning(msg);
    			}else {
    				#if( $count == 1 )
						showAllocateRemove('Wollen Sie die Zuordnung dieser Person bzw. diesem Gast zum ausgewählten Arbeitsbereich aufheben?',
						function () { // Ja
                           	var form = window.opener.document.forms[ "formlist" ];
                	       	 var input = window.document.createElement('input');
                	       	 input.type = 'hidden';
                	       	 input.name = 'workareaAssigned';
                	       	 input.value = 'unassign';
                	       	 form.appendChild(input);
                	       	 form.submit();
						}, function () { //nein
							showSuccess('Es wurde kein Arbeitsbereich aufgehoben');
						});
        			#else
						showAllocateRemove('Wollen Sie die Zuordnung von ${count} Personen bzw. Gästen zum ausgewählten Arbeitsbereich aufheben?',
						function () { // Ja
							var form = window.opener.document.forms[ "formlist" ];
                	       	 var input = window.document.createElement('input');
                	       	 input.type = 'hidden';
                	       	 input.name = 'workareaAssigned';
                	       	 input.value = 'unassign';
                	       	 form.appendChild(input);
                	       	 form.submit();
						}, function () { //nein
							showSuccess('Es wurden keine Arbeitsbereich aufgehoben.');
						});
        			#end
    			};
		};
		
		// Funktion um ausgewählte Option : Zuweisen / Entfernen und Abbrechen zu überprüfen und dementspreche abfragen zu implementieren
		$(function () {
            $('#button\\.execute').click(function (e) {
                var selectText = $("input:button[name$='checkboxForSelection'] ").text();
				
				if (selectText == "Zuweisen") {
					showDeleteAllocate();
				}else if (selectText == "Entfernen") {
            		selectedActionRemove();
				}else if (selectText == "Abbrechen") {
					selectedActionCancel();
				}
			});
		});

		var oldState = { workareaId : null, actionName : null };

		function selected( elt )
		{
			window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentId" ].value = elt.options[ elt.selectedIndex ].value;
			window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentAction" ].value = "${assignmentAction}";
		}

		function restore()
		{
			window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentId" ].value = oldState.workareaId;
			window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentAction" ].value = oldState.actionName;
		}

		function initialize()
		{
			oldState.workareaId = window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentId" ].value;
			oldState.actionName = window.opener.document.forms[ "formlist" ].elements[ "workareaAssignmentAction" ].value;
		}

		function send()
		{
#if( $assignmentAction == "assign" )
#if( $count == 1 )
			##doit = confirm( "Wollen Sie diese Person bzw. diesen Gast dem ausgewählten Arbeitsbereich zuordnen?" );
			doit = true;
			
#else
			##doit = confirm( "Wollen Sie ${count} Personen bzw. Gäste dem ausgewählten Arbeitsbereich zuordnen?" );
			doit = true;
#end
#else
#if ( $count == 1 )
			##doit = confirm( "Wollen Sie die Zuordnung dieser Person bzw. diesem Gast zum ausgewählten Arbeitsbereich aufheben?" );
			doit = true;
#else
			##doit = confirm( "Wollen Sie die Zuordnung von ${count} Personen bzw. Gästen zum ausgewählten Arbeitsbereich aufheben?" );
			doit = true;
#end
#end
			if ( doit )
			{
				window.opener.document.forms[ "formlist" ].submit();
			}
		}
		
		function adjustSize()
		{
			var elt = document.getElementById( "workarea" );
			var minWidth = 400;
			var newWidth = elt ? elt.offsetWidth : minWidth;
			if ( newWidth < minWidth )
			{
				newWidth = minWidth;
			}
			if( window.innerWidth < newWidth )
			{
				// add fixed margins + paddings
				newWidth += 100;
			}
			window.resizeTo( newWidth, document.body.offsetHeight + 20 );
		}
	</script>
</head>

<body onload="adjustSize();" id="popUp">

<form>

<div class="contentBoxColored grayBorder">
		<h1>Wählen Sie einen Arbeitsbereich aus, welchen Sie 
	#if( $assignmentAction == "assign" )
		zuweisen
	#else
		entfernen
	#end
	    möchten:</h1>

	#if( $allWorkArea.size() > 0 )
		<label for="workarea">Arbeitsbereich</label>
		<select name="workarea" id="workarea" onChange="selected(this);">
		<option name="nix" value="">
	#if( $assignmentAction == "unassign" )
		<option name="Entfernen" value="0">Alle entfernen
	#end
		#foreach( $workarea in $allWorkArea )
		<option name="arbeitsbereich" value="${workarea.id}">$!message.plain(${workarea.name})
		#end
		</select>
	#else
	    Sie haben keine Arbeitsbereiche konfiguriert. Diese können Sie im Administrationsbereich unter dem Punkt <em>Arbeitsbereiche</em> definieren.
	#end

	<div class="textRight marginTop5" id="buttonPanel-bottom">
		<input type="button" name="checkboxForSelection" value="Abbrechen" onClick="restore();closePopup();">
		#if( $assignmentAction == "assign" && $allWorkArea.size() > 0 )
				<input type="button"  name="checkboxForSelection" value="Zuweisen" onClick="showDeleteAllocate();">
		#elseif ( $allWorkArea.size() > 0 )
				<input type="button"  name="checkboxForSelection" value="Entfernen" onClick="showDeleteAllocateRemove();">
		#end
	</div>
</div>
</form>

<vera-info>
	Sie haben ${count} Person(en) ausgewählt. Abhängig von der Anzahl
	der ausgewählten Personen kann die Aktion eine gewisse Zeit in Anspruch nehmen.
</vera-info>


</body>
</html>