#banner {
	height: 100px;
	background: none;
	border-top: 5px solid red;
	border-bottom: 5px solid red;
}

#bannerLeft {
	display: block;
	margin-left: 20px;
	margin-top: 40px;
	color: red;
	font-size: 16px;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:link {
	color: red;
}

a:visited  {
	color: red;
}

a:active, a:hover {
	color: red;
	text-decoration: underline;
}

#bodyColumn a {
	font-weight: bold;
}

#breadcrumbs a {
	color: red;
}

#breadcrumbs {
	color: #a0a0a0;
}
