#set($activeMenu = "Administration")
#set($title = "Stammdaten - Anrede: $!salutation.name")
#set($elementNameSex = "female")
#set($elementNameSingular = "Anrede")
#set($elementNamePlural = "Anreden")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="SalutationDoctype" method="POST">

    <div id="content_container">
    
    	<div id="breadcrumb marginBottom10" class="textRight">
    		<strong>Sie sind hier:</strong> <span><a href="index.html">Home</a> > Administration > Anreden</span>
    	</div>
    
    	<h1>Anreden</h1>
    
    	<span id="actionPanel" class="inlineLabel">
    		<strong>Markierte Anrede(n)</strong>
    		<input type="submit" name="remove" value="Löschen" title="Markierte Anreden löschen" />
    	</span>
		
		#if($listerrors.size() > 0)
        <vera-warn>
        	#foreach($error in $listerrors)
        		$error<br>
        	#end
        </vera-warn>
        #end
    
    
        <input type="hidden" name="id" value="$!salutation.id">
        <input type="hidden" name="start" value="">
        <input type="hidden" name="selectNone" value="true">
        <input type="hidden" name="doInsert" value="true">
        <input type="hidden" name="doUpdate" value="true">
        <input type="hidden" name="doRemove" value="true">
        <input type="hidden" name="limit" value="" />
    
        #foreach($bean in $list)
			<input type="hidden" name="list" value="$bean.id">
        #end
        <table>
        	<tr>
        		<th class="smallCell textCenter"><input type="checkbox" title="Alle (de)markieren" id="toggleAllSelect" name="toggleAllSelect"></th>
        		<th class="smallCell textCenter">ID</th>
        		<th>Bezeichnung</th>
        		<th>Dokumenttyp</th>
        	</tr>
        #if ($allDoctype.iterator().hasNext())
        	<tr>
        		<td><input type="hidden" id="add-modified" name="add-modified" value="false"><input type="checkbox" name="add-select" value="true"  style="display: none;"></td>
        		<td><input type="hidden" name="add-id" value=""><input type="hidden" name="add-salutation" value="$!salutation.id"><em>neu</em></td>
        		<td><input type="text" name="add-text" value=""  onchange="setModified('add')"></td>
        		<td>
        			<select id="add-doctype" name="add-doctype" onchange="setModified('add')">
        				#foreach($doctype in $allDoctype)
        				<option value="$doctype.id">$!message.text($doctype.name)</option>
        				#end
        			</select>
        		</td>
        	</tr>
        #end

		#foreach($bean in $list)
        	<tr>
        		<td><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true"></td>
        		<td><input type="hidden" name="${bean.id}-id" value="$!bean.id"><input type="hidden" name="${bean.id}-salutation" value="$!salutation.id">$!bean.id</td>
        		<td><input type="text" name="${bean.id}-text" value="$!message.text($bean.text)"  onchange="setModified('$!bean.id')"></td>
        		<td>
        			<input type="hidden" name="${bean.id}-doctype" value="$!bean.doctype">
        			<input type="text" name="${bean.id}-name" value="$!message.text($bean.name)"  class="textdisabled" vera-disabled>
        		</td>
        	</tr>
		#end
		#if ($listparam.count == 0)
            	<tr>
        			<td colspan="5">Keine Daten gefunden</td>
        		</tr>           	
        #end
        
        #set($itemName = "Anreden")
    				#parse("inc/list-navi-new.vm")
    				#parse("inc/list-direct-new.vm")
        </table>
    
    	<div class="textRight" id="buttonPanel-bottom">
    		<input type="submit" name="save" value="Speichern" title="Speichern" class="mainButton" />
    		<input type="button" name="save" value="Zurück" onclick="window.location.href='Salutation';" title="Zurück" class="mainButton" />
    	</div>
    
    

   
    </div>


</form>

#parse("inc/footer.vm")