<div>
	<div ng-if="success" class="alert alert-success" role="alert">
		<span class="glyphicon glyphicon-remove-sign">&nbsp;</span>
		{{success}}
	</div>

	<h2 class="form-signin-heading">{{'GENERIC_EVENTS'|translate}}</h2>
	<table class="table" >

		<tr class="active">
				<th>{{'GENERIC_DATE'|translate}}</th>
				<th>{{'GENERIC_EVENT'|translate}}</th>
				<th></th>
		</tr>

		<tr ng-repeat="event in events">
			<td><span>{{parseDate(event.datebegin) | date:'dd.MM.yyyy HH:mm'}}</span> 
			<span ng-if="event.dateend != null"> - {{parseDate(event.dateend) | date:'dd.MM.yyyy HH:mm'}}</span>
			</td>
			<td>{{event.shortname}}</td>
			<td class="button_column">
				<a href="#/register/{{event.hash}}">
					<input type="button" ng-if="!event.isRegistered" class="btn-custom" value="{{'PUBLIC_EVENTS_REGISTER_BUTTON'|translate}}"/>
				</a>
			</td>
		</tr>

	</table>
</div>