<div>
    <form class="form-inline" role="form" >
        <div class="form-group">
            <input id="directusername" name="directusername" type="text" class="form-control" placeholder="{{'GENERIC_USERNAME'|translate}}" ng-model="$parent.$parent.$parent.directusername" />
        </div>
        <div class="form-group">
            <input id="directpassword" name="directpassword" type="password" class="form-control" placeholder="{{'GENERIC_PASSWORD'|translate}}" ng-model="$parent.$parent.$parent.directpassword" />
        </div>
        <div class="form-group">
            <button ng-disabled="button" class="btn btn-custom" ng-click="direct_login()">{{'GENERIC_LOGIN'|translate}}</button>
        </div>
    </form>
</div>