<div class="container panel panel-body">
	<h2 class="form-signin-heading">{{'GENERIC_USER_ACCOUNT'|translate}}</h2>

	<form id="updateUserCoreData" name="updateUserCoreData" class="form-horizontal" role="form">
		<div ng-show="userHasNoEvents" class="alert alert-danger" role="alert">{{'USER_ACCOUNT_CORE_DATA_NO_EVENT'|translate}}</div>
		<div ng-if="success" class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-ok-sign">&nbsp;</span>
			{{success}}
		</div>

		<div ng-if="error" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-remove-sign">&nbsp;</span>
			{{error}}
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : ''">
			<label class="col-lg-4 control-label" for="salutation">{{'GENERIC_SALUTATION'|translate}}</label>
			<div class="col-lg-3">
				<select class="form-control" id="salutation" name="salutation" ng-model="salutation"
						ng-options="salutation as salutation.name for salutation in salutations" ng-disabled="userHasNoEvents" />
			</div>
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : ''">
			<label class="col-lg-4 control-label" for="title">{{'GENERIC_TITLE'|translate}}</label>
			<div class="col-lg-3">
				<input id="title" class="form-control" type="text" ng-model="person.title_a_e1" name="title" ng-readonly="userHasNoEvents" />
			</div>
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : (updateUserCoreData.firstName.$valid ? 'has-success' : 'has-error')">
			<label class="col-lg-4 control-label" for="firstName">{{'GENERIC_FIRSTNAME'|translate}}</label>
			<div class="col-lg-3">
				<input id="firstName" class="form-control" type="text" maxlength="35" ng-model="person.firstname_a_e1" name="firstName" required="" ng-readonly="userHasNoEvents" />

				<div ng-show="updateUserCoreData.$submitted || updateUserCoreData.firstName.$touched">
					<div class="help-block" ng-show="updateUserCoreData.firstName.$error.maxlength">{{'GENERIC_MESSAGE_FIRSTNAME_MAX'|translate}}</div>
					<div class="help-block" ng-show="updateUserCoreData.firstName.$error.required">{{'GENERIC_MESSAGE_EMPTY_FIELD'|translate}}</div>
				</div>
			</div>
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : (updateUserCoreData.lastName.$valid ? 'has-success' : 'has-error')">
			<label class="col-lg-4 control-label" for="lastName">{{'GENERIC_LASTNAME'|translate}}</label>
			<div class="col-lg-3">
				<input id="lastName" class="form-control" type="text" maxlength="35" ng-model="person.lastname_a_e1" name="lastName" required="" ng-readonly="userHasNoEvents" />

				<div ng-show="updateUserCoreData.$submitted || updateUserCoreData.lastName.$touched">
					<div class="help-block" ng-show="updateUserCoreData.lastName.$error.maxlength">{{'GENERIC_MESSAGE_LASTNAME_MAX'|translate}}</div>
					<div class="help-block" ng-show="updateUserCoreData.lastName.$error.required">{{'GENERIC_MESSAGE_EMPTY_FIELD'|translate}}</div>
				</div>
			</div>
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : (updateUserCoreData.birthday.$valid ? 'has-success' : 'has-error')">
			<label class="col-lg-4 control-label">{{'GENERIC_BIRTHDAY'|translate}}</label>
			<div class="col-lg-3">
				<md-datepicker id="birthday" name="birthday" ng-model="person.birthday_a_e1" md-placeholder="Enter date" md-max-date="maxBirthdayDate" ng-disabled="userHasNoEvents"></md-datepicker>
			</div>
		</div>

		<!-- Needs an extra <div> to show the error message in a new line -->
		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : (updateUserCoreData.birthday.$valid ? 'has-success' : 'has-error')">
			<label class="col-lg-4 control-label"></label>
			<div class="validation-messages" ng-messages="updateUserCoreData.birthday.$error">
				<div class="col-lg-4 help-block" ng-message="valid">{{'GENERIC_MESSAGE_NOT_A_DATE'|translate}}</div>
				<div class="col-lg-4 help-block"  ng-message="maxdate">{{'GENERIC_MESSAGE_NO_FUTURE_DATE'|translate}}</div>
			</div>
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : ''">
			<label class="col-lg-4 control-label" for="nationality">{{'GENERIC_NATIONALITY'|translate}}</label>
			<div class="col-lg-3">
				<input id="nationality" class="form-control" type="text" ng-model="person.nationality_a_e1" name="nationality" ng-readonly="userHasNoEvents" />
			</div>
		</div>

		<hr>
		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : ''">

			<label class="col-lg-4 control-label" for="languages">{{'GENERIC_LANGUAGES'|translate}}</label>
			<div class="col-lg-3">
				<input id="languages" class="form-control" type="languages" ng-model="person.languages_a_e1" name="languages" ng-readonly="userHasNoEvents" />
			</div>
		</div>

		<div class="form-group" ng-class="userHasNoEvents ? 'disabled' : ''">
			<label class="col-lg-4 control-label" for="gender">{{'GENERIC_GENDER'|translate}}</label>
			<div class="col-lg-3">
				<select class="form-control" id="gender" name="gender"
						ng-model="gender"
						ng-options="option.name | translate for option in genderOptions" ng-disabled="userHasNoEvents"></select>
			</div>
		</div>

		<div ng-show="!userHasNoEvents" class="form-group">
			<div class="col-lg-3 col-lg-offset-4">
				<button type="submit" class="btn btn-lg btn-primary btn-block btn-custom" ng-click="update_user_core_data()">
					{{'USER_ACCOUNT_CORE_DATA_UPDATE'|translate}}
				</button>
			</div>
		</div>
	</form>
</div>
