<div class="container panel panel-body">
    <form class="form-horizontal" role="form" ng-submit="resetPassword()" name="resetPasswordForm">
        <h2 class="form-rest-login-password-heading">{{'USER_PASSWORD_CHANGE'|translate}}</h2>

        <div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

        <div class="form-group" ng-class="resetPasswordForm.password.$valid ? 'has-success' : 'has-error'">
            <div class="col-lg-3 col-lg-offset-4">
                <input class="form-control" placeholder="{{'GENERIC_PASSWORD'|translate}}" type="password" ng-model="osiam.password" name="password" id="password" required="true"/>
            </div>
        </div>

        <div class="form-group" ng-class="resetPasswordForm.passwordRepeat.$valid ? 'has-success' : 'has-error'">
            <div class="col-lg-3 col-lg-offset-4">
                <input class="form-control" placeholder="{{'GENERIC_PASSWORD_CONFIRM'|translate}}" type="password" ng-model="osiam.passwordRepeat" name="passwordRepeat" id="passwordRepeat" required="true"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-4">
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-custom">
                    {{'USER_PASSWORD_CHANGE'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>