<div class="contentBoxColored grayBorder" id="eventTop">
	<div class="table width70">
		<div class="tableRow">
			<div class="tableCell width50 paddingBottom15">	
				<strong style="width:130px;">Veranstaltungs-ID:</strong> $!message.text($event.id)
			</div>
			<div class="tableCell width50">
				<strong>Beginn:</strong> $!message.date("DATE", $event.begin) #if($event-beginhastime)um $!message.date("TIME", $event.begin) Uhr#end									
			</div>
		</div>
		<div class="tableRow">
			<div class="tableCell width50">
				<strong style="width: 55px; vertical-align: inherit;">Name:</strong> <pre>$!message.textarea($event.eventname)</pre>
			</div>
			<div class="tableCell width50">
				<strong>Ende:</strong> $!message.date("DATE", $event.end) #if($event-endhastime)um $!message.date("TIME", $event.end) Uhr#end									
			</div>
		</div>
	</div>											
</div>