
#if($grants && $grants.isAuthenticated())
	<nav id="nav" class="gray-gradient grayBorder box-shadow marginBottom10">
		<ul>
			#if($grants.mayReadStandardFields() || $grants.mayReadRemarkFields())
                <li class="active">
    				<span>Personen</span>
    				<ul>
    					<li><a id="menu.overviewPerson" href="${paths.staticWeb}do/ShowPersonSearch?action=person">Personen&uuml;bersicht</a></li>
    					#if($grants.mayWrite())
        					<li><a id="menu.searchPerson" href="${paths.staticWeb}do/ShowPersonSearch?action=person&search=clear">Personensuche</a></li>
        					<li><a id="menu.newPerson" href="${paths.staticWeb}do/CreatePerson?action=person">Neue Person</a></li>
						#end
						#if($grants.isUser())
							#if($grants.mayWrite())
								<li><a href="${paths.staticWeb}do/ShowReplacePerson">Suchen &amp; Ersetzen</a></li>
            					<li><a href="${paths.staticWeb}do/PersonDuplicateSearch">Duplikatsuche</a></li>
							#end
							#if($grants.mayExport())
								<li><a href="${paths.staticWeb}do/ExportPersons">Personenexport</a></li>
							#end
							#if($grants.mayWrite())
								<li><a href="${paths.staticWeb}do/ImportPersons">Personenimport</a></li>
							#end
						#end
    				</ul>
    			</li>
    			<li>
    				<span>Veranstaltungen</span>
    				<ul>
    					<li><a id="menu.overviewEvent" href="${paths.staticWeb}do/ShowEventSearch?action=event">Veranstaltungs&uuml;bersicht</a></li>
    					#if($grants.mayWrite())
        					<li><a id="menu.searchEvent" href="${paths.staticWeb}do/ShowEventSearch?action=event">Veranstaltungssuche</a></li>
        					<li><a id="menu.newEvent" href="${paths.staticWeb}do/CreateEvent?action=event">Neue Veranstaltung</a></li>
						#end
						#if($grants.isUser())
        					<li><a href="${paths.staticWeb}do/ShowMailinglistList">Verteiler</a></li>
    						#if($grants.mayExport())
    							<li><a href="${paths.staticWeb}do/Statistik">Statistiken</a></li>
    						#end
						#end
    				</ul>
    			</li>
			#end
			<li>
				<span>Verwaltung</span>
				<ul>
					#if($grants.isUser())
						<li><a id="menu.userConfig" href="${paths.staticWeb}do/UserConfig">Einstellungen</a></li>
						#if(!$octopusConfig.personalConfig.proxy)
							<li><a id="menu.proxy" href="${paths.staticWeb}do/Proxy">Vertretungen</a></li>
						#end
					#elseif(!$octopusConfig.personalConfig.role)
						<li><a href="${paths.staticWeb}do/default">Rolle w&auml;hlen</a></li>
					#end
					<li><a id="menu.info" href="${paths.staticWeb}do/Info">Info</a></li>
				</ul>
			</li>
			#if($grants.isUser() || $grants.isSystemUser())
    			<li>
    				<span>Administration</span>
    				<ul>
						#if($grants.isAdmin() || $grants.isPartialAdmin())
							<li><a href="${paths.staticWeb}do/Location?start=0">Veranstaltungsorte</a></li>
						#end
						#if($grants.isAdmin())
							<li><a href="${paths.staticWeb}do/Doctype?start=0">Dokumenttypen</a></li>
						#end
						#if($grants.isUser())
							<li><a href="${paths.staticWeb}do/Categorie?start=0">Kategorien</a></li>
						#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
							<li><a href="${paths.staticWeb}do/Color">Farben</a></li>
						#end
						#if($grants.isAdmin())
							<li><a href="${paths.staticWeb}do/Salutation?start=0">Anreden</a></li>
						#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
        					<li><a href="${paths.staticWeb}do/Function?start=0&limit=5">Funktionen/Amtsbezeichnungen</a></li>
        					<li><a href="${paths.staticWeb}do/MailDraftList?start=0">E-Mail-Vorlagen</a></li>
        					<li><a href="${paths.staticWeb}do/MailOutboxList?start=0">E-Mail-Postausgang</a></li>
						#end
						#if($grants.isAdmin() || $grants.isSystemUser())
        					<li><a href="${paths.staticWeb}do/Orgunit?start=0">Mandanten</a></li>
        					<li><a href="${paths.staticWeb}do/AllUser?start=0">Benutzer</a></li>
						#end
						#if($grants.isAdmin())
							<li><a href="${paths.staticWeb}do/AllProxy?start=0">Stellvertretungen</a></li>
							<li><a href="${paths.staticWeb}do/ChangeLogReport">Reports</a></li>
						#elseif($grants.isPartialAdmin())
							<li><a href="${paths.staticWeb}do/OUUser?start=0">Benutzer</a></li>
							<li><a href="${paths.staticWeb}do/OUProxy?start=0">Stellvertretungen</a></li>
						#end
						#if($grants.isAdmin() || $grants.isPartialAdmin())
							<li><a href="${paths.staticWeb}do/Config">Programmeinstellungen</a></li>
						#end
    				</ul>
    			</li>
			#end
		</ul>
	</nav>
	
###else
##	
##	<div class="menusection">
##    ## semi fix here: the exception is also thrown when a user accesses parts of the application while not having the permissions to access these
##    #if( ! $status.exception.toString().contains( "de.tarent.octopus.security.TcSecurityException" ) && $status.exception && $octopusRequest.task != "ShowLogin" && $octopusRequest.task != "default" )
##    	<strong class="menutitle">Menü</strong>
##    	<a href="${paths.staticWeb}do/">Startseite</a>
##   #else
##    	<strong class="menutitle">Benutzer</strong>
##    	<a href="${paths.staticWeb}do/ShowLogin" target="_top" class="menulink">Anmelden</a>
##    #end
##    </div>
	
#end

