#if($listerrors && $listerrors.size() > 0)
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
	<ul style="margin: 0px 0px 0px -10px;">
	#foreach($error in $listerrors)
		<li style="margin: 5px 0px 0px -5px;">$error</li>
	#end
	</ul>
</div>
#end

<input type="hidden" name="doInsert" value="true">
<input type="hidden" name="doUpdate" value="true">
<input type="hidden" name="doRemove" value="true">

#foreach($bean in $list)
	<input type="hidden" name="list" value="$bean.id">
#end

<span id="actionPanel" class="inlineLabel">
	#if($grants.mayWrite())
    	Ausgewählte Einträge <input type="submit" name="remove" value="L&ouml;schen" title="markierte Eintr&auml;ge entfernen"/>
	#end
</span>
<div class="buttonPanel-top textRight floatRight marginBottom20">
	#if($grants.mayWrite())
    	<input type="submit" name="save" value="Speichern" class="mainButton"/>
	#end
</div>

<table>
	<tr>
		<th class="textCenter smallCell">
			#if($listparam.count > 0)
				<input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" #if($listselection.size() == $listparam.count) checked#end title="Alle (de)markieren" #if(!$grants.mayWrite()) disabled="true"#end/>
			#end
		</th>
		<th class="textCenter smallCell">ID</th>
		<th class="width90">Kategorien und Ereignisse</th>
		<th>Rang</th>
	</tr>
	<tr>
		<td class="textCenter smallCell">
			<input type="hidden" id="add-modified" name="add-modified" value="false"/>
		</td>
		<td class="textCenter smallCell">
			<input type="hidden" name="add-id" value=""/>
			<input type="hidden" name="add-person" value="$!person.id"/>
			<em>neu</em>
		</td>
		<td>
			<select id="add-categorie" name="add-categorie" style="width:100%;" onchange="setModified('add')" #if(!$grants.mayWrite()) disabled="true"#end>
				<option value="">Bitte w&auml;hlen sie</option>
				#foreach($categorie in $allCategorie)
					<option value="$!categorie.id">$!categorie.name</option>
				#end
			</select>
		</td>
		<td>
			<input type="text" name="add-rank" value="$!message.text($bean.rank)" class="small50px" onchange="setModified('add')" #if(!$grants.mayWrite()) disabled="true"#end/>
		</td>
	</tr>
	#foreach($bean in $list)
		<tr #if($bean.flags == 1)class="repeat"#end>
			<td class="textCenter smallCell">
				<input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"/>
				<input type="checkbox" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end #if(!$grants.mayWrite()) disabled="true"#end/>
			</td>
			<td>
				<input type="hidden" name="${bean.id}-id" value="$!bean.id"><input type="hidden" name="${bean.id}-person" value="$!bean.person"/>
				<input type="hidden" name="${bean.id}-categorie" value="$!bean.categorie"/>
				$!{bean.id}
			</td>
			<td>
				$!bean.name (#if($bean.flags == 99)Dipl.&nbsp;Corps#elseif($bean.flags == 1)Ereignis#else Kategorie#end)
            </td>
			<td>
				<input type="text" name="${bean.id}-rank" value="$!message.text($bean.rank)" class="small50px" onchange="setModified('$!bean.id')" #if(!$grants.mayWrite()) disabled="true"#end/>
			</td>
		</tr>
	#end
	
	#set($itemName = "Kategorien")
	#parse("inc/list-navi-new.vm")
	#parse("inc/list-direct-new.vm")
</table>


<div class="hinweis grayBorder marginBottom20 notBold">
	<strong>Hinweis:</strong>
	Bei gr&uuml;n hinterlegten Eintr&auml;gen handelt es sich um wiederkehrende Ereignisse.
</div>

#if ($listparam.count == 0)
	<br>Keine Daten gefunden.
#end

## Handler für SelectAll Toggling 
<script>
	$(function(){
        $('#toggleAllSelect').change(function(){
            if ($(this).is(':checked')) {
				navigateSelectAll();
            } else {
				navigateSelectNone();
            }
        });
    });
</script>


