<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
	tarent-octopus common config.xml
-->

<tcModuleConfig>
	<contentWorkerDeklaration>
		<worker
			name="CommonLoggingWorker"
			implementation="de.tarent.octopus.commons.CommonLoggingWorker"
			singleton="true"
			factory="annotation"/>
		<worker
			name="CommonWebWorker"
			implementation="de.tarent.octopus.commons.CommonWebWorker"
			singleton="true"
			factory="annotation"/>
	</contentWorkerDeklaration>
	
	<tasks>
		<task name="readLoggingProperties" access="public" groups="Administrator">
			<description>
				Load the java.util.logging from the content parameter
				"loggingConfigurationFile" or out of the module configuration
				with parameter key "loggingConfigurationFile".
			</description>
			<action name="readConfiguration" worker="CommonLoggingWorker" />
		</task>

		<task name="readOctopusConfigLogging" access="public" groups="Administrator">
			<description>
				Load the java.util.logging from the content parameter
				"loggingConfigurationFile" or out of the module configuration
				with parameter key "loggingConfigurationFile".
			</description>
			<action name="setAdditionalConfiguration" worker="CommonLoggingWorker" />
		</task>
	</tasks>
</tcModuleConfig>
