<form id="PersonForm" name="PersonForm" action="${paths.staticWeb}do/SavePersonDoctype" method="post">
<input type="hidden" name="id" value="$!person.id">

<input type="hidden" id="tab" name="tab" value = "$!{octopusRequest.tab}"/>
<input type="hidden" id="show" name="show" value = "$!{octopusRequest.show}"/>	
	
<input type="hidden" name="persondoctype-id" value="$!persondoctype.id">
<input type="hidden" name="persondoctype-person" value="$!persondoctype.person">
<input type="hidden" name="persondoctype-doctype" value="$!persondoctype.doctype">

	<h3>Dokumenttyp bearbeiten</h3>
	<div class="table width100 notBold">
		<div class="tableRow">
			<div class="tableCell width50 paddingBottom10">
				<strong>Dokument-ID</strong> $!message.text($persondoctype.doctype)
			</div>
			<div class="tableCell width50">
				<strong>Dokument-Name</strong> $!message.text($persondoctype.name)
			</div>
		</div>

		<div class="tableRow">
			<div class="tableCell width50">
				<label for="persondoctype-textfield">Freitextfeld</label>
				<textarea id="persondoctype-textfield" name="persondoctype-textfield" #if($grants.mayWrite())  #else class="textdisabled" vera-disabled #end>$!message.textarea($persondoctype.textfield)</textarea>
			</div>
			<div class="tableCell width50">
				<label for="persondoctype-textfieldPartner">Partner Freitextfeld</label>
				<textarea id="persondoctype-textfieldPartner" name="persondoctype-textfieldPartner" #if($grants.mayWrite())  #else class="textdisabled" vera-disabled #end>$!message.textarea($persondoctype.textfieldPartner)</textarea>
			</div>
		</div>
		<div class="tableRow">
		<div class="tableCell width50">
			<label for="persondoctype-textfieldJoin">Verbinder</label>
			<input type="text" id="persondoctype-textfieldJoin" maxlength="51" name="persondoctype-textfieldJoin" value="$!message.text($persondoctype.textfieldJoin)" #if($grants.mayWrite())  #else class="textdisabled" vera-disabled #end></textarea>
		</div>
	<div class="tableCell width50">
		<label for="persondoctype-addresstype">Anschrift</label>
		#if($grants.mayWrite())
    		<select id="persondoctype-addresstype" name="persondoctype-addresstype" >
    			<option value="1" #if($persondoctype.addresstype && $persondoctype.addresstype == 1) selected#end>$!message.text($!config.business)</option>
    			<option value="2" #if($persondoctype.addresstype && $persondoctype.addresstype == 2) selected#end>$!message.text($!config.private)</option>
    			<option value="3" #if($persondoctype.addresstype && $persondoctype.addresstype == 3) selected#end>$!message.text($!config.other)</option>
    		</select>
		#else
    		#if($persondoctype.addresstype && $persondoctype.addresstype == 1)
    			$!message.text($!config.business)
    		#elseif($persondoctype.addresstype && $persondoctype.addresstype == 2)
    			$!message.text($!config.private)
    		#elseif($persondoctype.addresstype && $persondoctype.addresstype == 3)
    			$!message.text($!config.other)
    		#end
		#end
	</div>
</div>

<div class="tableRow">
	<div class="tableCell width50">
		<label for="">Zeichensatz</label>
		#if($grants.mayWrite())
    		<select id="persondoctype-locale" name="persondoctype-locale" >
    			<option value="1" #if($persondoctype.locale && $persondoctype.locale == 1) selected#end>$!message.text($!config.latin)</option>
    			<option value="2" #if($persondoctype.locale && $persondoctype.locale == 2) selected#end>$!message.text($!config.extra1)</option>
    			<option value="3" #if($persondoctype.locale && $persondoctype.locale == 3) selected#end>$!message.text($!config.extra2)</option>
    		</select>
		#else
    		#if($persondoctype.locale && $persondoctype.locale == 1)
    			$!message.text($!config.latin)
    		#elseif($persondoctype.locale && $persondoctype.locale == 2)
    			$!message.text($!config.extra1)
    		#elseif($persondoctype.locale && $persondoctype.locale == 3)
    			$!message.text($!config.extra2)
    		#end
		#end
	</div>
	<div class="tableCell width50">&nbsp;</div>
	</div>
</div>
					
<span id="buttonPanel-bottom" class="textRight">
#if($action == "guest")
    #if($grants.mayWrite())
		<input type="submit" name="save" value="Dokumenttyp speichern" title="Dokumenttyp speichern" class="mainButton" />
    #end
    <input type="button" name="cancel" value="Zur&uuml;ck zur Dokumenttypenliste" title="Zur&uuml;ck zur Dokumenttypenliste" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/ShowPersonDoctypeList?id=$!person.id&selectNone=true';"/>
    #if($person)
        <input type="button" name="add" value="&Uuml;bernehmen" title="Gast direkt in G&auml;steliste &uuml;bernehmen" onclick="addToGuestList();" #if($grants.mayWrite()) class="mainButton" #else vera-disabled #end/>
        <input type="button" name="cancel" class="mainButton" value="Abbrechen" title="Abbrechen" onclick="window.location.href='AddPersonToEventList';" />
    #else
		<input type="button" name="cancel" class="mainButton" value="Abbrechen" title="Abbrechen" onclick="window.location.href='AddPersonToEventList';" />
    #end
#elseif($action == "host")
    #if($grants.mayWrite())
		<input type="submit" name="save" value="Dokumenttyp speichern" title="Dokumenttyp speichern" class="mainButton" />
    #end
    <input type="button" name="cancel" value="Zur&uuml;ck zur Dokumenttypenliste" title="Zur&uuml;ck zur Dokumenttypenliste" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/ShowPersonDoctypeList?id=$!person.id&selectNone=true';" />
    <input type="button" name="cancel" class="mainButton" value="Abbrechen" title="Abbrechen" onclick="window.location.href='${paths.staticWeb}do/SetHostToEventList';" />
#elseif($action == "event")
    #if($grants.mayWrite())
		<input type="submit" name="save" value="Dokumenttyp speichern" title="Dokumenttyp speichern" class="mainButton" />
	#end
#else
    #if($grants.mayWrite())
		<input type="submit" name="save" value="Dokumenttyp speichern" title="Dokumenttyp speichern" class="mainButton" />
    #end
	<input type="button" name="cancel" value="Zur&uuml;ck zur Dokumenttypenliste" title="Zur&uuml;ck zur Dokumenttypenliste" class="mainButton" onclick="window.location.href='${paths.staticWeb}do/ShowPersonDoctypeList?id=$!person.id&selectNone=true';" />
#end
				
</span>

</form>