<!-- Nur in Bearbeiten Sicht -->

#if($action == "guest")
		
	<div id="buttonPanel-top" class="textRight marginBottom10">
		#if($person && $person.id)
			<input type="button" name="add" value="In G&auml;steliste &uuml;bernehmen" title="Gast direkt in G&auml;steliste &uuml;bernehmen" class="mainButton" onclick="addToGuestList();">
		#end
		#if($grants.mayWrite())
			<input type="button" name="copy" class="mainButton" value="Person kopieren" onclick="if (checkModified()) { copyPerson(); }"/>
		#end
        <input type="button" name="export" class="mainButton"value="Etikett erzeugen" onclick="exportPerson('${paths.staticWeb}do/', '$!person.id');">
	</div>
	
#elseif($action == "host")
	
	<div id="buttonPanel-top" class="textRight marginBottom10">
        #if($person && $person.id)
			<input type="button" name="set" class="mainButton" value="&Uuml;bernehmen" title="Person direkt als Gastgeber &uuml;bernehmen" onclick="window.location.href='${paths.staticWeb}do/SetHostToEventDetail?hostid=$!person.id';">
		#end
		#if($grants.mayWrite())
			<input type="button" name="copy" class="mainButton" value="Person kopieren" onclick="if (checkModified()) { copyPerson(); }" />
		#end
        <input type="button" name="export" class="mainButton" value="Etikett erzeugen" onclick="exportPerson('${paths.staticWeb}do/', '$!person.id');">
    
        ## modified to provide a direct statistic button as per change request for version 1.2.0
        ## cklein
        ## 2008-03-14
        <input type="button" value="Statistik" class="mainButton" name="statistics" #if($person && $person.id) onclick="window.open( '${paths.staticWeb}do/StatistikExport?id=$!person.id' );" #else vera-disabled #end>
	</div>
	
#elseif($action == "event")
	
	<div id="buttonPanel-top" class="textRight marginBottom10">
		#if($grants.mayWrite())
			<input type="button" name="copy" class="mainButton" value="Person kopieren" onclick="if (checkModified()) { copyPerson(); }" />
		#end
        <input type="button" name="export" class="mainButton" value="Etikett erzeugen" onclick="exportPerson('${paths.staticWeb}do/', '$!person.id');">
    
        ## modified to provide a direct statistic button as per change request for version 1.2.0
        ## cklein
        ## 2008-03-14
        <input type="button" value="Statistik" class="mainButton" name="statistics"	#if($person && $person.id) onclick="window.open( '${paths.staticWeb}do/StatistikExport?id=$!person.id' );" #else vera-disabled #end>
	</div>
	
#else
	
	<div id="buttonPanel-top" class="textRight marginBottom10">
		#if($person && $person.id)
			#if($grants.mayWrite())
				<input type="button" name="copy" class="mainButton" value="Person kopieren" title="Aktuelle Person kopieren" onclick="if (checkModified()) { copyPerson(); }" />
			#end
			<input type="button" name="export" class="mainButton" value="Etikett erzeugen" title="Etikett f&uuml;r aktuelle Person erzeugen" onclick="exportPerson('${paths.staticWeb}do/', '$!person.id');">
        	#if($grants.mayWrite())
				<input type="button" name="event" class="mainButton" value="Einer Veranstaltung zuordnen" title="Aktuelle Person einer Veranstaltung zuordnen" onclick="if (checkModified()) { window.location.href='${paths.staticWeb}do/ShowEventSearch?action=addperson'; }"/>
        	
				<input type="button" name="remove" class="mainButton" value="Person l&ouml;schen" title="Aktuelle Person l&ouml;schen und zur Personenliste zur&uuml;ckkehren." onclick="if (checkModified()) { removePerson(); }" />
			#end
    	#end
    
        ## modified to disable the button in case that this is a new record
        ## modified to provide a direct statistic button as per change request for version 1.2.0
        ## cklein
        ## 2008-02-21
		#if($person && $person.id)
			<input type="button" value="Statistik" title="Statistik" name="statistics" class="mainButton" onclick="window.open( '${paths.staticWeb}do/StatistikExport?id=$!person.id' );">
		#end
	</div>
	
#end

<div id="peopleTop">
    <div class="table width100 marginBottom20">
        <div class="tableRow">
            <div class="tableCell width50">
                <div class="table width100">
                    <div class="tableRow">
                        <div class="tableCell width50">
                            <strong>Erfasst am / von</strong><br />
							#if($person.created)$!message.date("DATE", $person.created)#end #if($person.createdby)/ $!message.text($person.createdby)#end
                        </div>
                        <div class="tableCell width50">
                            <strong>Zuletzt geändert am / von</strong><br />
                            #if($person.changed)$!message.date("DATE", $person.changed)#end #if($person.changedby)/ $!message.text($person.changedby)#end
                        </div>
                    </div>
                    <div class="tableRow">
                        <div class="tableCell width50" id="showid">
                            <strong>Personen-ID</strong><br />#if($person.id)$!message.text($person.id)#end
                        </div>
                        <div class="tableCell width50"></div>
                    </div>
                </div>
            </div>

            <div class="tableCell">&nbsp;</div>

			
            <div class="tableCell width50">
                <div class="table width100">
                    <div class="tableRow">
                        <div class="tableCell">
							#if($doctype)
                                <strong>Freifeld-Vorschau f&uuml;r &quot;$!message.plain($doctype.name)&quot;</strong>
								#if($doctype.textfield)
									<textarea id="d8" name="freitextfeld" style="height:88px;" vera-disabled>$!message.textarea($doctype.textfield)</textarea>
								#elseif(!$person)
									<textarea id="d8" name="freitextfeld" style="height:88px;" vera-disabled></textarea>
								#else
									<textarea id="d8" name="freitextfeld" style="height:88px; color: #ff8080;" vera-disabled>Zu dieser Person wurde das entsprechende Vorschaufeld noch nicht erzeugt.</textarea>
								#end
							#else
                				<div class="info">
                        			Es wurde kein Dokumenttyp zur Vorschauanzeige konfiguriert.
                        			Dies ist &uuml;ber den Men&uuml;punkt Administration &gt; Programmeinstellungen m&ouml;glich.
                        		</div>
                			#end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
//In case the person detail view was called in the Event/Guest context ("Stammdaten bearbeiten"), we need to add the 
//the initial tab in order to redirect the user back to the given guest detail tab from any person tab.
function getGuestTabId(){
	var guestTabId = '';
	
	#if($action == "event")
		#if($octopusRequest.show && $octopusRequest.show == 'doctype') 
			guestTabId = '&show=doctype';
		#else
			guestTabId = '&tab=$octopusRequest.tab';	
		#end
	#end
	
	return guestTabId;
}
</script>

