<div class="container panel panel-body">
    <form class="form-horizontal" role="form" ng-submit="forgotPassword()" name="forgotPasswordForm">
        <h2 class="form-rest-login-password-heading">{{'USER_PASSWORD_RESET'|translate}}</h2>

        <div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

        <p>{{'USER_PASSWORD_RESET_TEXT'|translate}}</p>
        <br />

        <div class="form-group" ng-class="forgotPasswordForm.userName.$valid ? 'has-success' : 'has-error'">
            <div class="col-lg-3 col-lg-offset-4">
                <input class="form-control" placeholder="{{'GENERIC_USERNAME'|translate}}" type="text" ng-model="osiam.userName" name="userName" id="userName" required="true"/>

                <div ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.userName.$touched">
                    <div class="help-block" ng-show="forgotPasswordForm.userName.$error.required">{{'GENERIC_MESSAGE_EMPTY_FIELD'|translate}}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 col-lg-offset-4">
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-custom">
                    {{'USER_PASSWORD_RESET'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>
