<div ng-controller="LoginController" ng-switch on="user.authenticated" class="marginT10">
  <form class="form-inline" role="form" ng-controller="LoginController" ng-switch-when="false">
    <div class="form-group">
      <input id="directusername" name="directusername" type="text" class="form-control" placeholder="{{'GENERIC_USERNAME'|translate}}" ng-model="user.accountName" />
    </div>
    <div class="form-group">
      <input id="directpassword" name="directpassword" type="password" class="form-control" placeholder="{{'GENERIC_PASSWORD'|translate}}" ng-model="user.password" />
    </div>
    <div class="form-group">
      <button ng-disabled="button" class="btn btn-custom" ng-click="login()">{{'GENERIC_LOGIN'|translate}}</button>
    </div>
  </form>
  <form class="form-inline" role="form" ng-switch-when="true" >
    <div class="form-group">
      {{'GENERIC_LOGGED_AS'|translate}} {{user.displayName || user.accountName}}
    </div>
    <div class="form-group">
      <button class="btn btn-custom" ng-click="logout()">{{'GENERIC_LOGOUT'|translate}}</button>
    </div>
  </form>
</div>
