
<div ng-show="status == 42" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-remove-sign">&nbsp;</span>
    {{'REGISTER_USER_MESSAGE_NOT_YET_ACTIVATED_ERROR'|translate}}&nbsp;<a href="{{protocol}}://{{host}}:{{port}}{{suffix}}">{{'REGISTER_USER_MESSAGE_ACTIVATION_MAIL_SEND_AGAIN'|translate}}</a>
</div>

<div class="login-container">
    <h2 class="form-signin-heading">{{'LOGIN_TITLE'|translate}}</h2>
    <form class="form-signin" role="form" >
        <input id="j_username" name="j_username" type="text" class="form-control" placeholder="{{'GENERIC_USERNAME'|translate}}" ng-model="user.accountName" />
        <input id="j_password" name="j_password" type="password" class="form-control" placeholder="{{'GENERIC_PASSWORD'|translate}}" ng-model="user.password" />
        <button ng-disabled="button" class="btn btn-lg btn-primary btn-block btn-custom" ng-click="login()">{{'GENERIC_LOGIN'|translate}}</button>
    </form>
    <div class="container">
        <div class="col-md-12 text-center">
            <a href="#/forgotLogin" ng-click="no_messages(); cleanMessages();" >{{'USER_LOGIN_FORGOT'|translate}}</a>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="col-md-12 text-center">
            <a href="#/forgotPassword" ng-click="no_messages(); cleanMessages();" >{{'USER_PASSWORD_FORGOT'|translate}}</a>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="col-md-12 text-center">
            <a href="#/createAccount" ng-click="no_messages(); cleanMessages();" >{{'GENERIC_CREATE_ACCOUNT'|translate}}</a>
        </div>
    </div>
</div>
