<nav class="navbar navbar-custom navbar-lower btn-custom" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/event" ng-click="no_messages(); cleanMessages();">{{'GENERIC_EVENTS'|translate}}</a></li>
                <li class="active" >
	                <a href="#/veranstaltungen" ng-click="cleanMessages(); setNextPage('veranstaltungen');" >{{'USER_EVENTS_TITLE'|translate}}</a>
                </li>
                <li class="active">
	                <a href="#/kontaktdaten" ng-click="cleanMessages(); setNextPage('kontaktdaten');">{{'GENERIC_USER_ACCOUNT'|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
