<div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><h3>{{'GENERIC_EVENT' | translate}}: {{event.shortname}}</h3></h3>
        </div>

        <div class="panel-body">

        	<form class="form-horizontal" role="form">
		    	<div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>

                <div class="form-group">
                    <label for="start" class="col-lg-4 control-label">{{'USER_EVENTS_EDIT_STATUS_BEGIN_LABEL' | translate}}</label>

                    <div class="col-lg-4">
                        <div class="form-control-static" id="start" >{{parseDate(event.datebegin) | date:'dd.MM.yyyy HH:mm'}}</div>
                    </div>
                </div>

				<div class="form-group">
                    <label for="acceptance" class="col-lg-4 control-label">{{'USER_EVENTS_EDIT_STATUS_LABEL' | translate}}</label>
                    <div class="col-lg-4">
                        <select class="form-control" id="acceptance" ng-model="acceptance"
                                ng-options="option.name | translate for option in acceptanceOptions">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="noteToHost" class="col-lg-4 control-label">{{'USER_EVENTS_EDIT_STATUS_ADDITIONAL_INFO' | translate}}</label>

                    <div class="col-lg-4">
                        <textarea class="form-control" id="noteToHost" rows="3" ng-model="noteToHost" ></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4">
                        <button type="submit" class="btn btn-default" ng-click="update()">{{'GENERIC_SAVE' | translate}}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
