#set($title = "Stammdaten - Veranstaltungsorte")
#parse("inc/header.vm")	

<form id="formlist" name="formlist" action="Location" method="POST">
<input type="hidden" name="doInsert" value="true">
<input type="hidden" name="doUpdate" value="true">
<input type="hidden" name="doRemove" value="true">
<input type="hidden" name="start" value="">
<input type="hidden" name="selectAll" value="false">
<input type="hidden" name="selectNone" value="false">

<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
	<td class="tableft">&nbsp;</td>
	<td class="tabactiv"><span class="tabactiv">Veranstaltungsorte</span></td>
	<td class="tabright">&nbsp;</td>
</tr></table>

#openContent()
#openContentSection()

#if($listerrors.size() > 0)
<div style="margin: 10px 0px 10px 0px; padding: 10px 10px 10px 10px; background-color: #ffffff; border: 2px solid #ff0000;">
	#foreach($error in $listerrors)
		$error<br>
	#end
</div>
#end

#foreach($bean in $list)
<input type="hidden" name="list" value="$bean.id">
#end
<table class="list">
	<tr class="list1">
		<th class="list" style="width: 20px;">&nbsp;</th>
		<th class="list" style="width: 60px;">ID</th>
		<th class="list">Ort</th>
	</tr>
	<tr class="list2">
		<td class="list"><input type="hidden" id="add-modified" name="add-modified" value="false"><input type="checkbox" name="add-select" value="true" class="checkbox" style="display: none;"></td>
		<td class="list"><input type="hidden" name="add-id" value=""><em>neu</em></td>
		<td class="list"><input type="text" name="add-name" value="" class="text" onchange="setModified('add')"></td>
	</tr>
	#foreach($bean in $list)
	#if ($velocityCount % 2 == 1)
		#set($class = "list1")
	#else
		#set($class = "list2")
	#end
	<tr class="$class">
		<td class="list"><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true" class="checkbox" #if($listselection.indexOf($bean.id) != -1) checked#end></td>
		<td class="list"><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!bean.id</td>
		<td class="list"><input type="text" name="${bean.id}-name" value="$!message.text($bean.name)" class="text" onchange="setModified('$!bean.id')"></td>
	</tr>
	#end
</table>
#if ($listparam.count == 0)
	<br>Keine Daten gefunden.
#end

<div id="fixme" class="fixme1"><div class="fixme2"><div class="fixme3">

	#parse("inc/list-navi.vm")
	#parse("inc/list-direct.vm")

	<input type="submit" name="save" value="Speichern" class="submit"> &nbsp;
	<input type="submit" name="remove" value="L&ouml;schen" class="button" title="markierte Eintr&auml;ge entfernen"> &nbsp;

</div></div></div>

#closeContentSection()
#closeContent()

</form>

#parse("inc/footer.vm")