#set($activeMenu = "Verwaltung")
#set($title = "Hilfe - Info &uuml;ber VerA.web")
#parse("inc/header.vm")	

<div id="content_container">
    <form action="Main" method="POST">
    
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Verwaltung > Info</span>
    </div>
    
    <h1>Informationen zu VerA.Web</h1>
    
    
    #if($errors && $errors.size() > 0)
    <vera-warn>
    	#foreach($error in $errors)
    		$error<br>
    	#end
    	<br>
    	Es kann zu unerwarteten Fehlern kommen. Bitte wenden Sie sich an Ihren Administrator.
    </vera-warn>
    #end
    
    
    <h3>VerA.Web</h3>
    #if($properties)
    <table class="form">
    	<tr>
    		<td class="width10 bold">Version:</td>
    		<td>$properties.getString("version")</td>
    	</tr><tr>
    		<td class="width10 bold">Build:</td>
    		<td>$properties.getString("build")</td>
    	</tr>
    </table>
    <br>
    #else
    <p><i>Informationen nicht verf&uuml;gbar</i></p>
    #end
    
    <h3>Datenbank</h3>
    <table class="form">
    	<tr>
    		<td class="width10 bold">Version:</td>
    		<td>
    #if($config && $config.get("SCHEMA_VERSION"))
    			$config.get("SCHEMA_VERSION")
    #else
    			<i style="color: red;">nicht verf&uuml;gbar</i>
    #end
    		</td>
    	</tr><tr>
    		<td class="width10 bold">Zeichensatz:</td>
    		<td>
    #if($LC_CTYPE)
    			LC_CTYPE = $LC_CTYPE
    #else
    			<i style="color: red;">nicht verf&uuml;gbar</i>
    #end
    		</td>
    	</tr><tr>
    		<td class="width10 bold">&nbsp;</td>
    		<td>
    #if($LC_COLLATE)
    			LC_COLLATE = $LC_COLLATE
    #else
    			<i style="color: red;">nicht verf&uuml;gbar</i>
    #end
    		</td>
    	</tr>
    </table>
    <br>
    
    
    <h3>Benutzer</h3>
    
    <table class="form">
    	<tr>
    		<td class="width10 bold"">Login:</td>
    		<td>$!octopusConfig.personalConfig.userLogin</td>
    	</tr><tr>
    		<td class="width10 bold">Rolle:</td>
    		<td>
    #if($octopusConfig.personalConfig.role)
    			$octopusConfig.personalConfig.role
    #else
    			<i>nicht gew&auml;hlt</i>
    #end
    		</td>
    	</tr>
    	<tr>
    		<td class="width10 bold">Mandant:</td>
    		<td>
    #if($orgUnit.id != 0)
    			$orgUnit.name
    #else
    			<i>nicht gew&auml;hlt</i>
    #end
    		</td>
    	</tr>
    #if($octopusConfig.personalConfig.proxy)
    	<tr>
    		<td>vertreten durch:</td>
    		<td>$octopusConfig.personalConfig.proxy</td>
    	</tr>
    #end
    #if($octopusConfig.personalConfig.roles)
    	<tr>
    		<td>verf&uuml;gbare Rollen:</td>
    		<td>
     #foreach($gg in $octopusConfig.personalConfig.roles)
     $gg
     #end
    		</td>
    	</tr>
    #end
    	<tr>
    		<td class="width10 bold">Gruppen:</td>
    		<td>
    #foreach($gg in $octopusConfig.personalConfig.userGroups)
     $gg
    #end
    		</td>
    	</tr>
    	<tr>
    		<td class="width10 bold"">E-Mail:</td>
    		<td>
    #if($octopusConfig.personalConfig.userEmail)
    			$!octopusConfig.personalConfig.userEmail
    #else
    			<i>nicht verf&uuml;gbar</i>
    #end
    		</td>
    	</tr>
    </table>
    
    
    
    
    </form>
</div>
<!--
$responseParams
-->
#parse("inc/footer.vm")