<!DOCTYPE html>
<html lang="en" ng-app="onlineRegApp" flow-init>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{'BROWSER_TITLE'|translate}}</title>

		<!-- build:css css/site.css -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bower_components/bootstrapvalidator/dist/css/bootstrapValidator.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<!-- endbuild -->

	</head>
	<body>
	 	<div class="maincontainer"  ng-controller="DirectLoginController">
			<div ng-include src="'partials/header.html'"></div>
			<div ng-include src="'partials/navigation.html'"></div>

			<div class="container">
				<div ng-if="$parent.status != null">
					<div class="alert alert-{{$parent.status}}" role="alert">

						<span ng-if="$parent.status == 'danger'" class="glyphicon glyphicon-remove-sign">&nbsp;</span>
						<span ng-if="$parent.status == 'info'" class="glyphicon glyphicon-info-sign">&nbsp;</span>
						<span ng-if="$parent.status == 'success'" class="glyphicon glyphicon-ok-sign">&nbsp;</span>
						<span ng-if="$parent.status == 'warning'" class="glyphicon glyphicon-warning-sign">&nbsp;</span>
						{{$parent.messageContent}}
					</div>
				</div>

			<div ng-view></div>
			</div>
		</div>

		<!-- build:js js/site.js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="bower_components/momentjs/min/moment-with-locales.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
		<script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="bower_components/angular-translate/angular-translate.min.js"></script>
		<script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
		<script src="bower_components/flow.js/dist/flow.min.js"></script>
		<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		<script src="js/onlinereg.js"></script>
		<script src="js/controllers/delegationController.js"></script>
		<script src="js/controllers/directLoginController.js"></script>
		<script src="js/controllers/eventController.js"></script>
		<script src="js/controllers/freeVisitorController.js"></script>
		<script src="js/controllers/languageSelectController.js"></script>
		<script src="js/controllers/loginController.js"></script>
		<script src="js/controllers/mediaController.js"></script>
		<script src="js/controllers/pageNotFoundController.js"></script>
		<script src="js/controllers/registerController.js"></script>
		<script src="js/controllers/registerUserController.js"></script>
		<script src="js/controllers/resetPasswordController.js"></script>
		<script src="js/controllers/updateController.js"></script>
		<script src="js/controllers/veranstaltungsController.js"></script>
		<!-- endbuild -->

		<script>
			$(document).ready(function () {
				// VerA.web brand logo bar
				$('.navbar-lower').affix({
					offset: {top: 100}
				});
			});
		</script>
	</body>
</html>
