#set($activeMenu = "Administration")
#if($maildraft && $maildraft.id)
	#set($title = "E-Mail-Vorlage bearbeiten: $!message.text($maildraft.name)")
#else
	#set($title = "Neue E-Mail-Vorlage anlegen")
#end

#set($elementNameSex = "female")
#set($elementNameSingular = "Vorlage")
#set($elementNamePlural = "Vorlagen")
#parse("inc/header.vm")

<form id="formlist" name="formlist" action="" method="POST">
	<input type="hidden" name="save" value="true"/>

	<div id="content_container">
        <div id="breadcrumb" class="textRight marginBottom10">
            <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Administration > E-Mail-Vorlage</span>
        </div>
    
        <h1>E-Mail-Vorlage</h1>
    
        #if($maildraft.errors.size() > 0)
            <vera-warn>
            	#foreach($error in $maildraft.errors)
            		$!message.plain($error)<br>
            	#end
            </vera-warn>
        #end
    
    	<input type="hidden" name="maildraft-id" value="$!maildraft.id"/>
    	
    	<div class="textRight bold">* = Pflichtfelder</div>
    
        <table class="form">
			<tr>
            	<td class="bold width15"><label for="show-id">ID</label></td>
            	<td><input type="text" id="show-id" name="show-id" value="$!message.text($maildraft.id)" class="id" vera-disabled /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="maildraft-name">Name der Vorlage*</label></td>
            	<td><input type="text" id="maildraft-name" name="maildraft-name" value="$!message.text($maildraft.name)" /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="maildraft-subject">Betreff*</label></td>
            	<td><input type="text" id="maildraft-subject" name="maildraft-subject" value="$!message.text($maildraft.subject)" /></td>
            </tr>
			<tr>
            	<td class="bold"><label for="maildraft-text">Text*</label></td>
            	<td><textarea cols="50" rows="20" id="maildraft-text" class="width100" name="maildraft-text" >$!message.textarea($maildraft.text)</textarea></td>
            </tr>
			<tr>
            	<td class="bold"><label for="platzhalter">Platzhalter</label></td>
            	<td>
            		<div class="">
            			<select id="platzhalter" name="platzhalter" class="width15" >
            				<option value="firstname">Vorname</option>
            				<option value="lastname">Nachname</option>
            				<option value="salutation">Anrede</option>
            				<option value="title">Akad. Titel</option>
            				<option value="function">Amtsbez./Funktion</option>
            				<option value="company">Firma/Institution</option>
            				<option value="street">Stra&szlig;e</option>
            				<option value="zipcode">PLZ</option>
            				<option value="city">Ort</option>
            				<option value="country">Land</option>
            				<option value="poboxzipcode">Postfach-PLZ</option>
            				<option value="pobox">Postfach-Nummer</option>
            				<option value="suffix1">$!message.text($!config.suffix1)</option>
            				<option value="suffix2">$!message.text($!config.suffix2)</option>
            				<option value="phone">Telefon</option>
            				<option value="fax">Fax</option>
            				<option value="mobile">Mobil</option>
            				<option value="email">E-Mail</option>
            				<option value="url">www</option>
            			</select>
            				<input type="button" name="add" value="Hinzuf&uuml;gen" onclick="addPlatzhalter(this);"/>
            		</div>	
            	</td>
        	</tr>
        
            #if ($listparam.count == 0)
            	<tr><td colspan="2">Keine Daten gefunden.</td></tr>
            #end
        </table>


        <div id="buttonPanel-bottom" class="textRight marginTop10">
        	<input type="submit" name="submit" value="Speichern" title="Speichern" class="mainButton" /> 
        	<input type="button" name="cancel" value="Zur&uuml;ck zur Vorlagenliste" title="Zur&uuml;ck zur Vorlagenliste" class="mainButton" onclick="window.location.href='MailDraftList?selectNone=true';" />
        </div>
	</div>

</form>

<script type="text/javascript">
	function addPlatzhalter(s) {
		var sel = document.getElementById('platzhalter');
		var text = sel.options[sel.selectedIndex].value;
		if (text.length > 0) {
			insertAtCursor(document.getElementById('maildraft-text'), '<' + text + '>');
		}
	}
</script>

#parse("inc/footer.vm")