#set($activeMenu = "Verwaltung")
#set($title = "Verteilerliste: $!mailinglist.name")
#parse("inc/header.vm")

<script type="text/javascript">
<!--
function openNewEmail() {
	var check = confirm("E-Mail aus Verteiler erstellen?");
	if (check == true) {
#foreach ($address in $mailAddresses)
		window.location.href = "$!address";
#end
	}
}
//-->
</script>

<div id="content_container">
	<div id="breadcrumb" class="textRight">
		<strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Veranstaltungen > Verteiler</span>
	</div>

	<h1>Verteilerdetails: $!mailinglist.name</h1>

	<form id="formlist" name="formlist" action="ShowMailinglistDetail" method="POST">
		<input type="hidden" name="start" value="">
		<input type="hidden" name="selectAll" value="false">
		<input type="hidden" name="selectNone" value="false">
		<input type="hidden" name="doRemove" value="true">
		
		<input type="hidden" name="id" value="$!id">
		
		#foreach($bean in $list)
		<input type="hidden" name="list" value="$bean.id">
		#end
		
		<span class="inlineLabel" id="actionPanel">
			<strong>Markierte Adresse(n)</strong> <input type="submit" name="remove" value="L&ouml;schen" onclick="submit();" title="Markierte Adressen aus dem Verteiler l&ouml;schen" #if($grants.mayWrite()) class="mainButton" #else class="buttondisabled" disabled #end>		
        </span>
		
		<span id="buttonPanel_top" class="floatRight">
			<input type="button" name="send" value="Verteiler versenden" onclick="window.location.href='MailinglistWrite';" title="an alle Adressen versenden" #if($grants.mayReadStandardFields()) class="mainButton" #else class="buttondisabled" disabled #end>
		</span>
		
		<table>
			<tr>
				<th class="smallCell textCenter">&nbsp;</th>
				<th>Name</th>
				<th>Vorname</th>
				<th>Adresse</th>
			</tr>
			#foreach($bean in $list)
			<tr>
				<td class="textCenter"><input type="checkbox" name="${bean.id}-select" value="true" #if($listselection.indexOf($bean.id) != -1) checked#end></td>
				<td><input type="hidden" name="${bean.id}-id" value="$bean.id">$!bean.lastname</td>
				<td>$!bean.firstname</td>
				<td><a href="mailto:?bcc=$!bean.address">$!bean.address</a></td>
			</tr>
			#end
		</table>
		
	
		#if ($listparam.count == 0)
			<div class="contentBoxColored grayBorder marginBottom5"> 
				Es liegen keine Adressdaten für diesen Verteiler vor.
            </div>
		#end

	
		#parse("inc/list-navi.vm")
		#parse("inc/list-direct.vm")

		#if($grants.mayReadStandardFields())
			<span class="float:left">
				<a href="javascript:openNewEmail();">E-Mail-Client aufrufen</a>
			</span>
		#end

		<span class="floatRight">	
			<input type="button" name="cancel" value="Zur&uuml;ck zur Verteiler&uuml;bersicht"  onclick="window.location.href='ShowMailinglistList';" title="Zur&uuml;ck zur Verteiler&uuml;bersicht" class="mainButton">
		</span>
		
	</form>
    <div class="clear"></div>
</div>
<script type="text/javascript">
#if($maildispatchParams && $maildispatchParams.count)
#if($maildispatchParams.count == 0)
	alert('Es wurde keine E-Mail zum Versenden gespeichert.');
#elseif($maildispatchParams.count == 1)
	alert('Es wurde eine E-Mail zum Versenden gespeichert. Diese wird nun automatisch versendet.');
#else
	alert('Es wurden $maildispatchParams.count E-Mails zum Versenden gespeichert. Diese werden nun automatisch versendet.');
#end
#end
</script>

#parse("inc/footer.vm")