<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html>
	<head>
		<title>Firma/Institution ausw&auml;hlen</title>
		## Style
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/default.css" media="all">
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}styles/screen.css" media="screen,projection" title="Ausw&auml;rtiges Amt Intranet-Stil">
		## Utils
		<script type="text/javascript" src="${paths.staticWeb}scripts/utils.js"></script>
		## Tabs und Popups
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-tabs.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}scripts/dhtml-popup.js"></script>
		## Calendar
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/calendar.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/calendar-setup.js"></script>
		<script type="text/javascript" src="${paths.staticWeb}jscalendar/lang/calendar-de.js"></script>
		<link rel="stylesheet" type="text/css" href="${paths.staticWeb}jscalendar/calendar-win2k-cold-1.css" media="all">
		## Browser-Cache deaktivieren
		<meta http-equiv="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
	</head>
	<body>
		<form id="formlist" name="formlist" action="" method="post">
        <input type="hidden" name="start" value="">
        <input type="hidden" name="selectAll" value="false">
        <input type="hidden" name="selectNone" value="false">
		
		<table class="tab" border="0" cellspacing="0" cellpadding="0"><tr>
			<td class="tableft">&nbsp;</td>
		</tr></table>
		
		#openContent()
		#openContentSection()
			<strong>Bitte w&auml;hlen Sie eine Firma / Institution aus:</strong>
			
#foreach($bean in $list)
		#closeContentSection()
		<hr class="contentsection"/>
		#openContentSection()

## fixing issue 1525, consolidating display to a single display scheme
			<div style="cursor: pointer;" onclick="if (returnCompany('${paths.staticWeb}do/', '$bean.id')) closePopup();">
				#if($bean.company_a_e1.length() > 0)
						$!message.plain($bean.company_a_e1)
##				#elseif($bean.lastname_a_e1.length() > 0)
##					<a href="#">$!message.plain($bean.lastname_a_e1)</a>
				#else
					&nbsp;
				#end
			</div>
#end
		#closeContentSection()
		
		<hr class="contentsection"/>
		
		#openContentSection()

		#set($disableListSelect = true)
		#if ($listparam.count > 0)
			#parse("inc/list-navi.vm")
			#parse("inc/list-direct.vm")
		#else
			Keine Daten gefunden.<br><br>
		#end
		
		<div style="text-align: right;">
			<input type="button" value="Schlie&szlig;en"  class="cancel" onclick="closePopup();">
		</div>
		
		#closeContentSection()
		#closeContent()
		<br>
		</form>
	</body>
</html>