## $Id$
#set($title = "Anmelden als Stellvertreter.")
#parse("inc/header.vm")	

<div id="content_container">

    <form action="" method="post" target="_top">
    
    <h1>Stellvertretung</h1>
    
    #if($errors && $errors.size() > 0)
    <vera-warn>
    	#foreach($error in $errors)
    		$error<br>
    	#end
    	<br>
    	Es kann zu unerwarteten Fehlern kommen. Bitte wenden Sie sich an Ihren Administrator.
    </vera-warn>
    #end

	<div id="main_content" class="contentBoxColored grayBorder">
		<p>Bitte w&auml;hlen Sie die Rolle aus, die Sie vertreten möchten.</p>
		
		<div class="table width50">
			<div class="tableRow">
				<div class="tableCell"><label for="proxyFor">Benutzerrolle</label></div>
				<div class="tableCell">
					<select name="proxyFor" id="fieldMapping" >
                        #foreach($proxy in $list)
                        			<option value="$proxy.userRole">$proxy.userRole</option>
                        #end
                    </select>
				</div>
			</div>
			<div class="tableRow">
				<div class="tableCell"></div>
				<div class="tableCell">
					<input name="submit" type="submit" value="Vertreten" title="Vertreten" class="mainButton" />
				</div>
			</div>
		</div>
		
		
	</div>
    
    <input name="task" type="hidden" value="LoginAsProxy">
 
    </form>
</div>
<!--
$responseParams
-->
#parse("inc/footer.vm")