## $Id$
#if($proxiesFor == 'ou')
	#set($activeMenu = "Administration")
	#set($title = "Administration - alle Stellvertretungen im Mandanten")
#elseif($proxiesFor == 'all')
	#set($activeMenu = "Administration")
	#set($title = "Administration - alle Stellvertretungen")
#elseif($proxiesFor == 'self')
	#set($activeMenu = "Verwaltung")
	#set($title = "Verwaltung - pers&ouml;nliche Vertretungen")
#else
	#set($activeMenu = "Administration")
	#set($title = "Stellvertretungen")
#end
#set($elementNameSex = "female")
#set($elementNameSingular = "Vertretung")
#set($elementNamePlural = "Vertretungen")
#parse("inc/header.vm")	
<div id="content_container">
    <form id="formlist" name="formlist" action="$octopusRequest.task" method="POST">
    
    ## Dynamischer breadcrumb
    #if($activeMenu == "Administration")	
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Administration > Stellvertretungen</span>
    </div>
    #elseif($activeMenu == "Verwaltung")
    <div id="breadcrumb" class="textRight marginBottom10">
        <strong>Sie sind hier:</strong> <span><a href="${paths.staticWeb}do/" title="Zur Startseite">Home</a> > Verwaltung > Vertretungen</span>
    </div>	
    #end
    
    ## Dynamische Überschrift
    #if($activeMenu == "Verwaltung")
    <h1>Vertretungen</h1>
    
    #elseif($activeMenu == "Administration")
    <h1>Stellvertretungen</h1>
    
    #end
    
    
    
    
    #if($listerrors && $listerrors.size() > 0)
    <vera-warn>
    	#foreach($error in $listerrors)
    		$error<br>
    	#end
    </vera-warn>
    #end
    
    <input type="hidden" name="limit" value="">
    <input type="hidden" name="start" value="">
    <input type="hidden" name="selectNone" value="true">
    <input type="hidden" name="doInsert" value="true">
    <input type="hidden" name="doUpdate" value="true">
    <input type="hidden" name="doRemove" value="true">
    #if($order)
    <input type="hidden" name="order" value="$order">
    #end
    
    #foreach($bean in $list)
    <input type="hidden" name="list" value="$bean.id">
    #end
    <div class="contentBoxColored grayBorder marginBottom20">
        <h3 class="marginBottom10">Gültigkeitsfilter</h3>
    	<div class="inlineLabel">
        	<input type="radio" id="validityIgnore" name="proxiesValid" value="ignore" onclick="submit();" #if($proxiesValid && $proxiesValid=='ignore')checked#end><label for="validityIgnore"> alle Vertretungen</label>
        	<input type="radio" id="validityFuture" name="proxiesValid" value="future" onclick="submit();" #if((!$proxiesValid) || $proxiesValid=='future')checked#end><label for="validityFuture"> keine abgelaufenen Vertretungen</label>
        	<input type="radio" id="validityNow" name="proxiesValid" value="now" onclick="submit();" #if($proxiesValid && $proxiesValid=='now')checked#end><label for="validityNow"> nur aktuelle Vertretungen</label>
        </div>
    </div>
    
	<div class="textRight mandatoryText">* = Pflichtfelder</div>
	
    <span id="actionPanel" class="inlineLabel">
    	<strong >
    		Markierte Vertretung(en)
        </strong>
    	    <input type="submit" name="remove" value="L&ouml;schen" title="Markierte Vertretung(en) l&ouml;schen" class="" />
    </span>
    
    <table>
    	<tbody>
    	<tr>
    		<th class="textCenter smallCell">
    			<input type="checkbox" name="toggleAllSelect" id="toggleAllSelect" title="Alle (de)markieren" #if($listselection.size() == $list.size()) checked#end/>
    		</th>
    		<th class="textCenter smallCell">ID</th>
    #if($proxiesFor != 'self')
     #if($proxiesFor != 'ou')
    		<th><a href="?order=orgunit#if($proxiesValid)&proxiesValid=$proxiesValid#end">Mandant</a></th>
     #end
    		<th><a href="?order=userRole#if($proxiesValid)&proxiesValid=$proxiesValid#end">Rolle*</a></th>
    #end
    		<th><a href="?order=proxy#if($proxiesValid)&proxiesValid=$proxiesValid#end">Vertreter*</a></th>
    		<th class="textCenter width15"><a href="?order=validFrom#if($proxiesValid)&proxiesValid=$proxiesValid#end">G&uuml;ltig ab</a></th>
    		<th class="textCenter width15"><a href="?order=validTill#if($proxiesValid)&proxiesValid=$proxiesValid#end">G&uuml;ltig bis</a></th>
    	</tr>
    	<tr>
    		<td><input type="hidden" id="add-modified" name="add-modified" value="false"><input type="checkbox" name="add-select" value="true"  style="display: none;"></td>
    		<td><input type="hidden" name="add-id" value=""><em>neu</em></td>
    #if($proxiesFor != 'self')
     #if($proxiesFor != 'ou')
    		<td></td>
     #end
    		<td>
     #if($allUser)
    			<select id="add-user" name="add-user"  onchange="setModified('add')">
    				<option value="">Bitte ausw&auml;hlen</option>
      #foreach($user in $allUser)
    				<option value="$user.id">$!message.plain($user.name)</option>
      #end
    			</select>
     #else
    			<input type="text" name="add-user" value=""  onchange="setModified('add')">
     #end
    		</td>
    #else
    		<input type="hidden" name="add-user" value="$!octopusConfig.personalConfig.verawebId">
    #end
    		<td>
    #if($roleList)
    			<select id="add-proxy" name="add-proxy" onchange="setModified('add')">
    				<option value="">Bitte ausw&auml;hlen</option>
     #foreach($role in $roleList)
    				<option value="$role">$!message.plain($role)</option>
     #end
    			</select>
    #else
    			<input type="text" name="add-proxy" value="" onchange="setModified('add')">
    #end
    		</td>
    		<td class="textCenter">
    			<div class="calenderContainer">
    				<input type="text" name="add-validFrom" id="add-validFrom" value="" class="datepicker width80" onchange="setModified('add')">
    				<span id="show-add-from" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen"></span>
    				<script type="text/javascript">
    				    Calendar.setup({
    						inputField     :    "add-validFrom",
    						button         :    "show-add-from",
    						ifFormat       :    "%d.%m.%Y",
    						showsTime      :    false
    					});
    				</script>
    			</div>
    		</td>
    		<td class="textCenter">
    			<div class="calenderContainer">
    				<input type="text" name="add-validTill" id="add-validTill" value="" class="datepicker width80" onchange="setModified('add')">
    				<span id="show-add-till" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen"></span>
    				<script type="text/javascript">
    				    Calendar.setup({
    						inputField     :    "add-validTill",
    						button         :    "show-add-till",
    						ifFormat       :    "%d.%m.%Y",
    						showsTime      :    false
    					});
    				</script>
    			</div>
    		</td>
    	</tr>
    	#foreach($bean in $list)
    	<tr>
    		<td ><input type="hidden" id="${bean.id}-modified" name="${bean.id}-modified" value="false"><input type="checkbox" name="${bean.id}-select" value="true"></td>
    		<td ><input type="hidden" name="${bean.id}-id" value="$!bean.id">$!{bean.id}<input type="hidden" name="${bean.id}-user" value="$!bean.user"></td>
    #if($proxiesFor != 'self')
     #if($proxiesFor != 'ou')
    		<td >
      #if(!$bean.orgunit)
    			<i>no ou</i>
      #elseif(!$mapOrgUnit.get($bean.orgunit))
    			<i>ou unknown</i>
      #else
    			$!message.text($!mapOrgUnit.get($bean.orgunit).name)
      #end
    		</td>
     #end
    		<td ><input type="text" name="${bean.id}-userRole" value="$!message.text($bean.userRole)"  onchange="setModified('$!bean.id')" vera-disabled></td>
    #end
    		<td ><input type="text" name="${bean.id}-proxy" value="$!message.text($bean.proxy)"  onchange="setModified('$!bean.id')" vera-disabled></td>
    		<td class="textCenter">
    			<div class="calenderContainer">
    				<input type="text" name="${bean.id}-validFrom" id="${bean.id}-validFrom" value="$!message.date("DATE", $bean.validFrom)" class="datepicker width80" onchange="setModified('$!bean.id')">
    				<span id="show-${bean.id}-from" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen"></span>
    				<script type="text/javascript">
    				    Calendar.setup({
    						inputField     :    "${bean.id}-validFrom",
    						button         :    "show-${bean.id}-from",
    						ifFormat       :    "%d.%m.%Y",
    						showsTime      :    false
    					});
    				</script>
    			</div>
    		</td>
    		<td class="textCenter">
    			<div class="calenderContainer">
    				<input type="text" name="${bean.id}-validTill" id="${bean.id}-validTill" value="$!message.date("DATE", $bean.validTill)" class="datepicker width80" onchange="setModified('$!bean.id')">
    				<span id="show-${bean.id}-till" class="datepickerContainer"><img src="${paths.staticWeb}images/calendar.png" alt="Datum ausw&auml;hlen" title="Datum ausw&auml;hlen"></span>
    				<script type="text/javascript">
    				    Calendar.setup({
    						inputField     :    "${bean.id}-validTill",
    						button         :    "show-${bean.id}-till",
    						ifFormat       :    "%d.%m.%Y",
    						showsTime      :    false
    					});
    				</script>
    			</div>
    		</td>
    	</tr>
    	#end
    	
        	#set($itemName = "Vertreter")
        	#parse("inc/list-navi-new.vm")
        	#parse("inc/list-direct-new.vm")
        #if ($listparam.count == 0)
        	<tr><td colspan="5">Keine Daten gefunden.</td></tr>
        #end
    	</tbody>
    </table>
    
    
    
    
    <div id="buttonPanel-bottom" class="textRight marginTop10">
        <input type="submit" name="save" value="Speichern" title="Speichern" class="mainButton" />	
    </div>
    
    
    
    
    </form>
</div>

#parse("inc/footer.vm")