#if($grants && $grants.isAuthenticated())
 #if($grants.mayReadStandardFields() || $grants.mayReadRemarkFields())
<div class="menusection">
	<strong class="menutitle">Personen</strong>
  #if($grants.mayWrite())
	<a href="${paths.staticWeb}do/ShowPersonSearch?action=person&search=clear" class="menulink">Bearbeiten</a>
	<a href="${paths.staticWeb}do/CreatePerson?action=person" class="menulink">Neu</a>
  #else
	<a href="${paths.staticWeb}do/ShowPersonSearch?action=person" class="menulink">Anzeigen</a>
  #end
</div>

<div class="menusection">
	<strong class="menutitle">Veranstaltungen</strong>
  #if($grants.mayWrite())
	<a href="${paths.staticWeb}do/ShowEventSearch?action=event" class="menulink">Bearbeiten</a>
	<a href="${paths.staticWeb}do/CreateEvent?action=event" class="menulink">Neu</a>
  #else
	<a href="${paths.staticWeb}do/ShowEventSearch?action=event" class="menulink">Anzeigen</a>
  #end
</div>
 #end

 #if($grants.isUser())
<div class="menusection">
	<strong class="menutitle">Extras</strong>
  #if($grants.mayWrite())
	<a href="${paths.staticWeb}do/ShowReplacePerson" class="menulink">Suchen &amp; Ersetzen</a>
  #end
	<a href="${paths.staticWeb}do/ShowMailinglistList" class="menulink">Verteiler</a>
  #if($grants.mayExport())
	<a href="${paths.staticWeb}do/Statistik" class="menulink">Statistiken</a>
  #end
  #if($grants.mayWrite())
	<a href="${paths.staticWeb}do/ImportPersons" class="menulink">Personen-Import</a>
  #end
  #if($grants.mayExport())
	<a href="${paths.staticWeb}do/ExportPersons" class="menulink">Personen-Export</a>
  #end
</div>
 #end

 #if($grants.isAdmin() || $grants.isPartialAdmin())
<div class="menusection">
	<strong class="menutitle">Verwaltung</strong>
	<a href="${paths.staticWeb}do/Config" class="menulink">Einstellungen</a>
	<a href="${paths.staticWeb}do/Location?start=0" class="menulink">Veranstaltungsorte</a>
  #if($grants.isAdmin())
	<a href="${paths.staticWeb}do/Doctype?start=0" class="menulink">Dokumenttypen</a>
  #end
	<a href="${paths.staticWeb}do/Categorie?start=0" class="menulink">Kategorien</a>
	<a href="${paths.staticWeb}do/Color" class="menulink">Farben</a>
  #if($grants.isAdmin())
	<a href="${paths.staticWeb}do/Salutation?start=0" class="menulink">Anreden</a>
  #end
	<a href="${paths.staticWeb}do/Function?start=0&limit=5" class="menulink">Funktionen/Amtsbez.</a>
	<a href="${paths.staticWeb}do/MailDraftList?start=0" class="menulink">E-Mail-Vorlagen</a>
	<a href="${paths.staticWeb}do/MailOutboxList?start=0" class="menulink">E-Mail-Postausgang</a>
  #if($grants.isAdmin())
	<a href="${paths.staticWeb}do/Orgunit?start=0" class="menulink">Mandanten</a>
	<a href="${paths.staticWeb}do/AllUser?start=0" class="menulink">Benutzer</a>
	<a href="${paths.staticWeb}do/AllProxy?start=0" class="menulink">Stellvertretungen</a>
  #else
	<a href="${paths.staticWeb}do/OUUser?start=0" class="menulink">Benutzer</a>
	<a href="${paths.staticWeb}do/OUProxy?start=0" class="menulink">Stellvertretungen</a>
  #end
</div>
 #end

<div class="menusection">
	<strong class="menutitle">Benutzer</strong>
 #if($grants.isUser())
	<a href="${paths.staticWeb}do/UserConfig" class="menulink">Einstellungen</a>
  #if(!$octopusConfig.personalConfig.proxy)
	<a href="${paths.staticWeb}do/Proxy" class="menulink">Vertretungen</a>
  #end
 #elseif(!$octopusConfig.personalConfig.role)
	<a href="${paths.staticWeb}do/default" class="menulink">Rolle w&auml;hlen</a>
 #end
	<a href="${paths.staticWeb}do/logout" target="_top" class="menulink">Abmelden</a>
</div>

<div class="menusection">
	<strong class="menutitle">Hilfe</strong>
#if($config.helplink)
	<a href="${paths.staticWeb}$config.helplink" class="menulink" #if($config.helptarget) target="$config.helptarget" #end>Hilfe</a>
#else
	<span class="menulink" title="Die Hilfe wurde noch nicht hinterlegt." style="cursor: default;">Hilfe</span>
#end
	<a href="${paths.staticWeb}do/Info" class="menulink">Info</a>
</div>

#else

<div class="menusection">
	<strong class="menutitle">Benutzer</strong>
	<a href="${paths.staticWeb}do/ShowLogin" target="_top" class="menulink">Anmelden</a>
</div>
#end
